{% extends "_include/layout/guide/guide.njk" %}
{% import "_include/form/input.njk" as input %}

<!-- styles -->
{% block styles %}{% endblock %}

<!-- styles -->
{% block content %}
    <!-- [D]   -->
    <div class="guide full">
        <h1 class="guide-tit">Form - Input</h1>
        <!-- input -->
        <div class="guide-layer">
            <div class="guide-section">
                <h2 class="guide-section-tit">Textfiled</h2>

                <div>
                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">type=text</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.base(height="h32", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h36", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h40", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h44", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h48", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus ( active )</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.base(height="h32", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h36", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h40", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h44", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h48", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Filled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.base(height="h32", type="text", addClass="box-type", txt="input filled", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h36", type="text", addClass="box-type", txt="input filled", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h40", type="text", addClass="box-type", txt="input filled", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h44", type="text", addClass="box-type", txt="input filled", place="input placeholder") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h48", type="text", addClass="box-type", txt="input filled", place="input placeholder") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.base(height="h32", type="text", addClass="box-type", txt="input disabled", place="input placeholder", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h36", type="text", addClass="box-type", txt="input disabled", place="input placeholder", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h40", type="text", addClass="box-type", txt="input disabled", place="input placeholder", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h44", type="text", addClass="box-type", txt="input disabled", place="input placeholder", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.base(height="h48", type="text", addClass="box-type", txt="input disabled", place="input placeholder", state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="guide-flex ratio">
                        <div>
                            <div class="guide-desc-wrap">
                                <div class="guide-desc">width full</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio">
                                    <div>
                                        {{ input.base(width="full", height="h32", type="text", addClass="box-type", place="input placeholder") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- search -->
        <div class="guide-layer">
            <div class="guide-section">
                <h2 class="guide-section-tit">search</h2>

                <div>
                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">line</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus ( active )</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Filled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">error</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input error", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="error" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input error", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="error" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input error", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input error", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input error", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="error") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">warning</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input warning", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="warning" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input warning", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="warning" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input warning", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="warning") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input warning", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="warning") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input warning", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="warning") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">success</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input success", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="success" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input success", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="success" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input success", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="success") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input success", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="success") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input success", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="success") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">informational</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input informational", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="informational" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input informational", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="informational" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input informational", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="informational") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input informational", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="informational") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input informational", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="informational") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <div class="guide-desc-wrap">
                                <div class="guide-desc">width full</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio">
                                    <div>
                                        {{ input.icon(width="full", height="h32", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">line_round</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus ( active )</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Filled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <div class="guide-desc-wrap">
                                <div class="guide-desc">width full</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio">
                                    <div>
                                        {{ input.icon(width="full", height="h32", type="text", addClass="box-type", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">filled</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus ( active )</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Filled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <div class="guide-desc-wrap">
                                <div class="guide-desc">width full</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio">
                                    <div>
                                        {{ input.icon(width="full", height="h32", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">filled_round</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus ( active )</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", active="active", txt="input focus", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Filled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", txt="input filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled" ) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled", txt="input disabled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round", state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <div class="guide-desc-wrap">
                                <div class="guide-desc">width full</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio">
                                    <div>
                                        {{ input.icon(width="full", height="h32", type="text", addClass="box-type filled", place="input placeholder", icon={first: "ic-control-close-circle-fill", second: "ic-navigation-search-line" }, round="round") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Calendar -->
        <div class="guide-layer">
            <div class="guide-section">
                <h2 class="guide-section-tit">Calendar</h2>

                <div>
                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">line</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">error</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="readonly error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="readonly error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly error") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly error") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">filled</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 32</div>
                                <div class="guide-desc">H 36</div>
                                <div class="guide-desc">H 40</div>
                                <div class="guide-desc">H 44</div>
                                <div class="guide-desc">H 48</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Enabled / Hover</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled box-reverse calendar", active="active", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled box-reverse calendar", active="active", place="input placeholder", txt="calendar focus", icon={first: "ic-community-calendar-line"}, state="readonly") }}
                                    </div>
                                </div>
                            </div>
                            <div class="guide-state-wrap">
                                <div class="guide-state">Disabled</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h32", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="2021-04-20 ~ 2021-05-10", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h36", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="2021-04-20", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h40", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h44", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type filled box-reverse calendar", place="input placeholder", txt="calendar disabled", icon={first: "ic-community-calendar-line"}, state="disabled") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-flex ratio">
                        <div>
                            <h3 class="guide-section-stit">calendar</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 48 - 달력 한개 일때</div>
                                <div class="guide-desc">H 48 - 달력 한개 일때 기간선택</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-24", icon={first: "ic-community-calendar-line"}, state="readonly", year="2021", month="05", dialogLayer="dialog", dialogNum=1, firstNum=24) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-24 ~ 2021-04-27", icon={first: "ic-community-calendar-line"}, state="readonly", year="2021", month="05", dialogLayer="dialog", dialogNum=1, firstNum=24, lastNum=27) }}
                                    </div>
                                </div>
                            </div>

                            <div class="guide-desc-wrap" style="margin-top: 350px;">
                                <div class="guide-desc">H 48 - 달력 한개 일때 년도 선택</div>
                                <div class="guide-desc">H 48 - 달력 한개 일때 월 선택</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-state">Focus</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-24", icon={first: "ic-community-calendar-line"}, state="readonly", year="2021", dialogLayer="dialog", dialogNum=1, yearMode=true) }}
                                    </div>
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-04-24 ~ 2021-04-27", icon={first: "ic-community-calendar-line"}, state="readonly", year="2021", month="01", dialogLayer="dialog", dialogNum=1, monthMode=true) }}
                                    </div>
                                </div>
                            </div>

                            <div class="guide-desc-wrap" style="margin-top: 350px;">
                                <div class="guide-desc">H 48 - 달력 두개 일때 기간선택</div>
                            </div>

                            <div class="guide-state-wrap" style="margin-bottom: 350px;">
                                <div class="guide-state">Focus</div>
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ input.icon(height="h48", type="text", addClass="box-type box-reverse calendar", active="active", place="input placeholder", txt="2021-01-12 ~ 2022-03-10", icon={first: "ic-community-calendar-line"}, state="readonly", dialogLayer="dialog", year=["2021", "2022"], month=["01", "03"], dialogNum=2, firstNum=12, lastNum=10) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %}{% endblock %}