{% extends "_include/layout/guide/guide.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<div class="guide">
    <p class="tit"><b>Stove Typography Desktop</b></p>
    <p class="desc">
        <span class="line-through"><b>REM Font size</b> : html { font-size:16px; } 기본값으로 지정 요청 <br /></span>
        <b>REM Font size</b> : html { font-size:10px; } 기본값으로 지정 요청 <br />
        <b>Font-Size = REM</b> 단위로 관리 (부모html 폰트크기 상속) <br />
        <b>Letter-Spacing = EM</b> 단위로 관리 (윗뎁스 폰트 크기에 따른 자간 상속) <br />
        <b>Line-height =</b> 배수 단위로 관리 (1.2 , 1.5 , 1.6 등) <br />
        <b>Word-Break:Keep All</b> ← .Body 에 적용<br />
        <b>Letter-Spacing : -0.025em</b> ← .Body에 적용<br />
        <b>.is-hidden 추가</b> : Tag영역에 폰트를 숨김처리 할 수 있습니다.<br />
    </p>
    <table class="table table-col5">
        <caption>Lorem</caption>
        <thead>
            <tr>
                <th>구분</th>
                <th>폰트사이즈</th>
                <th>폰트스타일</th>
                <th>Line Height<br />(행간)</th>
                <th>Letter Spacing<br />(자간)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p class="stds-title1">T1</p>
                </td>
                <td>
                    54px <br />
                    - <br />
                    <span class="line-through">3.375REM <br /></span>
                    5.4REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-1.35) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title2">T2</p>
                </td>
                <td>
                    42px <br />
                    - <br />
                    4.2REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-1.05) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title3">T3</p>
                </td>
                <td>
                    32px <br />
                    - <br />
                    3.2REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-0.8) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title4">T4</p>
                </td>
                <td>
                    24px <br />
                    - <br />
                    2.4REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.6) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title5">T5</p>
                </td>
                <td>
                    20px <br />
                    - <br />
                    2.0REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                (-0.45) <br />
                - <br />
                (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title6">T6</p>
                </td>
                <td>
                    18px <br />
                    - <br />
                    1.8REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.4) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title7">T7</p>
                </td>
                <td>
                    16px <br />
                    - <br />
                    1.6REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.35) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-title8">T8</p>
                </td>
                <td>
                    14px <br />
                    - <br />
                    1.4REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.35) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-body1">Body1</p>
                    <p style="font-weight: bold;" class="stds-body1">Body1</p>
                </td>
                <td>
                    16px <br />
                    - <br />
                    1.6REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.4) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-body2">Body2</p>
                    <p style="font-weight: bold;" class="stds-body2">Body2</p>
                </td>
                <td>
                    15px <br />
                    - <br />
                    1.5REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.38) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-body3">Body3</p>
                    <p style="font-weight: bold;" class="stds-body3">Body3</p>
                </td>
                <td>
                    14px <br />
                    - <br />
                    1.4REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.35) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-body4">Body4</p>
                    <p style="font-weight: bold;" class="stds-body4">Body4</p>
                </td>
                <td>
                    13px <br />
                    - <br />
                    1.3REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.35) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-button1">Button-1</p>
                    <p style="font-weight: bold;" class="stds-button1">Button-1(Bold)</p>
                </td>
                <td>
                    15px <br />
                    - <br />
                    1.5REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.38) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-button2">Button-2</p>
                    <p style="font-weight: bold;" class="stds-button2">Button-2(Bold)</p>
                </td>
                <td>
                    13px <br />
                    - <br />
                    1.3REM <br />
                </td>
                <td>
                    Regular<br />
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.33) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-caption1">Caption 1</p>
                </td>
                <td>
                    13px <br />
                    - <br />
                    1.3REM <br />
                </td>
                <td>
                    Regular
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.33) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-caption2">Caption 2</p>
                </td>
                <td>
                    12px <br />
                    - <br />
                    1.2REM <br />
                </td>
                <td>
                    Regular
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-0.3) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-caption3">Caption 3</p>
                </td>
                <td>
                    11px <br />
                    - <br />
                    1.1REM <br />
                </td>
                <td>
                    Regular
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-0.28) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-chips1">Chips 1(Bold)</p>
                </td>
                <td>
                    13px <br />
                    - <br />
                    1.3REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.5</span>
                </td>
                <td>
                    (-0.33) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="stds-chips2">Chips 2(Bold)</p>
                </td>
                <td>
                    11px <br />
                    - <br />
                    1.1REM <br />
                </td>
                <td>
                    Bold
                </td>
                <td>
                    <span>1.4</span>
                </td>
                <td>
                    (-0.28) <br />
                    - <br />
                    (-0.025em) <br />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="example">
        <p class="stds-title1">Stove Typography Title 1</p>
        <p class="stds-title2">Stove Typography Title 2</p>
        <p class="stds-title3">Stove Typography Title 3</p>
        <p class="stds-title4">Stove Typography Title 4</p>
        <p class="stds-title5">Stove Typography Title 5</p>
        <p class="stds-title6">Stove Typography Title 6</p>
        <p class="stds-title7">Stove Typography Title 7</p>
        <p class="stds-title8">Stove Typography Title 8</p>

        <h1 class="stds-title1">Stove Typography Title 1</h1>
        <h2 class="stds-title2">Stove Typography Title 2</h2>
        <h3 class="stds-title3">Stove Typography Title 3</h3>
        <h4 class="stds-title4">Stove Typography Title 4</h4>
        <h5 class="stds-title5">Stove Typography Title 5</h5>
        <h6 class="stds-title6">Stove Typography Title 6</h6>
    </div>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}