{% extends "_include/layout/guide/guide.njk" %}

{% import "_include/module/board/board.njk" as board %}
{% import "_include/module/write/write.njk" as write %}
{% import "_include/module/write/write-ui.njk" as writeUi %}
   
<!-- styles -->
{% block styles %}
    <!-- [D] Swiper Library -->
    <link rel="stylesheet" href="/static/legacy/vendors/swiper/swiper.min.css"/>
    <script src="/static/legacy/vendors/swiper/swiper.min.js"></script>
{% endblock %}

<!-- styles -->
{% block content %}
<!-- [D]   -->
<div class="guide full">
    <h1 class="guide-tit">Write</h1>
    <p class="tit"><b>Stove Write Guide</b></p>
    <p class="desc">
    </p>
    
    <div class="board-wrap">
        <div class="board-top">
            {{ board.baseBoardTitle(boardTitle="글쓰기", titleBtn="display: none;", listOption="display: none;" ) }}
            {{ write.base() }}
        </div>
    </div>

    <p class="tit"><b>Stove Write UI</b></p>
    <p class="desc">Emoji</p>
    {{ writeUi.baseEmoji() }}
    <hr />
    <p class="desc">Attached File Write</p>
    {{ writeUi.baseAttachedFile( write="true" ) }}
    <hr />
    <p class="desc">Attached File Detail</p>
    {{ writeUi.baseAttachedFile( detail="true" ) }}

</div>

{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}