{% extends "src/layout/layout/layout.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<div class="layout-basic">
    <div class="margin-blue"></div>
    <div class="margin-blue"></div>
    <div>
        <h1>Stove Typography Heading 1</h1>
        <p style="margin-bottom: 32px;"> &lt;h1&gt;Stove Typography Heading 1&lt;/h1&gt;</p>

        <h2>Stove Typography Heading 2</h2>
        <p style="margin-bottom: 32px;"> &lt;h2&gt;Stove Typography Heading 2&lt;/h2&gt;</p>

        <h3>Stove Typography Heading 3</h3>
        <p style="margin-bottom: 32px;"> &lt;h3&gt;Stove Typography Heading 3&lt;/h3&gt;</p>

        <h4>Stove Typography Heading 4</h4>
        <p style="margin-bottom: 32px;"> &lt;h4&gt;Stove Typography Heading 4&lt;/h4&gt;</p>

        <h5>Stove Typography Heading 5</h5>
        <p style="margin-bottom: 32px;"> &lt;h5&gt;Stove Typography Heading 5&lt;/h5&gt;</p>

        <h6>Stove Typography Heading 6</h6>
        <p style="margin-bottom: 32px;"> &lt;h6&gt;Stove Typography Heading 6&lt;/h6&gt;</p>
    </div>
    
    <ul class="module-list list-basic">
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0 visited">
              <div class="subject-txt">
                <span class="subject-txt-event">
                  <span class="txt-event">[이벤트]</span>
                </span>
                <span class="subject-txt-update">
                  <span class="txt-update">[업데이트]</span>
                </span>
                <span class="subject-txt-notice">
                  <span class="txt-notice">[공지]</span>
                </span>
                바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
               
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
              <div class="subject-txt">
                바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
               
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
              <div class="subject-txt">
                바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
                Hace 59 minutos
                <span class="module-tooltip">
                    <span class="write-time-tooltip">2019-03-14 15:24(UTC +9)</span>
                </span>
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
              <div class="subject-txt">
              바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
              <div class="subject-txt">
              바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
               
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
              <div class="subject-txt">
              바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
              </div>
              <div class="subject-info">
                <span class="subject-info-count">[999+]</span>
              </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
               
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
      <li class="list-item">
        <div class="group">
          <div class="group-col group-subject">
            <a href="#" class="subject-icon0">
                <div class="subject-txt">
                바다에서 함께할 가족을 모집합니다. 최대케이스…게시물 제목이 여기에 표시됩니다.게시물 <span class="keyword">제목</span>이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다. 게시물 제목이 여기에 표시됩니다.게시물 제목이 여기에 표시됩니다.
                </div>
                <div class="subject-info">
                  <span class="subject-info-count">[999+]</span>
                </div>
            </a>
          </div>
          <div class="group-col group-user">
            <div class="module-profile">
                <a href="#">
                    <div class="profile-thumb">
                        <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                    </div>
                    <div class="profile-content">
                        <span href="#" class="profile-name">작성자아이디8자작성자아이디8자</span>
                    </div>
                </a>
            </div>
          </div>
          <div class="group-col group-time">
            <span class="time-date">
              Hace 59 minutos
               
            </span>
          </div>
          <div class="group-col group-view">
             <span class="count">999+</span>
          </div>
        </div>
      </li>
    </ul>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}