$fontColor: #2196f3;
$fontSize: 52px;

.title {
    color: $fontColor;
    font-size: $fontSize;
    text-align: center;
}

/* Font reset */
html {
    font-size: 16px;
    body {
        letter-spacing: -0.025em;
        word-break: keep-all;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
    h1 {
        font-size: 3.375rem;
    }
    h2 {
        font-size: 2.625rem;
    }
    h3 {
        font-size: 2.25rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h6 {
        font-size: 0.875rem;
    }
}

/* fonts by lang */
/* Korea */
:lang(ko) body,
:lang(ko) a,
:lang(ko) button,
:lang(ko) input,
:lang(ko) textarea,
:lang(ko) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel KR',
        'Noto Sans KR',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* Chinese zh */
:lang(zh) body,
:lang(zh) a,
:lang(zh) button,
:lang(zh) input,
:lang(zh) textarea,
:lang(zh) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel SC',
        'Noto Sans SC',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* Chinese zh-tw  */
:lang(zh-tw) body,
:lang(zh-tw) a,
:lang(zh-tw) button,
:lang(zh-tw) input,
:lang(zh-tw) textarea,
:lang(zh-tw) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel TC',
        'Noto Sans TC',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* Japan */
:lang(ja) body,
:lang(ja) a,
:lang(ja) button,
:lang(ja) input,
:lang(ja) textarea,
:lang(ja) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel JP',
        'Noto Sans JP',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* English */
:lang(en) body,
:lang(en) a,
:lang(en) button,
:lang(en) input,
:lang(en) textarea,
:lang(en) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Global',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* French  */
:lang(fr) body,
:lang(fr) a,
:lang(fr) button,
:lang(fr) input,
:lang(fr) textarea,
:lang(fr) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Global',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* PORTUGAL */
:lang(pt) body,
:lang(pt) a,
:lang(pt) button,
:lang(pt) input,
:lang(pt) textarea,
:lang(pt) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Global',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* Spanish */
:lang(es) body,
:lang(es) a,
:lang(es) button,
:lang(es) input,
:lang(es) textarea,
:lang(es) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Global',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* German */
:lang(de) body,
:lang(de) a,
:lang(de) button,
:lang(de) input,
:lang(de) textarea,
:lang(de) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Global',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* THAILAND */
:lang(ja) body,
:lang(ja) a,
:lang(ja) button,
:lang(ja) input,
:lang(ja) textarea,
:lang(ja) h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        'Intel Thai',
        'Noto Sans Thai',
        -apple-system,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji
}

/* Core Layout */
.layout .tablet,
.layout .mobile {
    display: none;
}

.layout {
    position: relative;
    display: flex;
    display: -webkit-flex;
    height: 100%;

    .layout-basic {
        position: relative;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 48px;

        .container {
            position: relative;
            flex: 1;
            overflow: auto;
        }

        /* 삭제 예정 */
        .margin-blue:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 100%;
            background: cyan;
        }

        .margin-blue:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 100%;
            background: cyan;
        }
    }
}

/* 임시 */
/* reset */
.module-list p {
    padding: 0;
    margin: 0;
}

.module-list a {
    text-decoration: none;
    color: #333;
}

/* search text bold */
.module-list .subject-txt p {
    display: inherit;
    line-height: 20px;
}

.module-list .subject-txt .keyword {
    color: #ff5000;
}

/* list 공통 S */
.module-list .list-item {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    -webkit-transition-duration: 0.15s;
    /* fade Animation */
    transition-duration: 0.15s;
}

.module-list .list-item:hover {
    background: #eee;
}

.module-list .group {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    border-collapse: collapse;
}

.module-list .group-col {
    display: table-cell;
    white-space: nowrap;
}

.module-list .subject-txt-event {
    display: inline-block;
    margin-right: 4px;
    font-size: 14px;
    color: #8045dd;
    font-weight: 700;
    line-height: 20px;
}

.module-list .subject-txt-update {
    display: inline-block;
    margin-right: 4px;
    font-size: 14px;
    color: #62ae7c;
    font-weight: 700;
    line-height: 20px;
}

.module-list .subject-txt-notice {
    display: inline-block;
    margin-right: 4px;
    font-size: 14px;
    color: #61aaff;
    font-weight: 700;
    line-height: 20px;
}

.module-list .subject-txt .subject-txt-pick {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

.module-list .subject-txt .subject-txt-pick .element-icon.ic-pick {
    margin: 2px 4px 2px 4px;
}

.module-list .subject-txt .element-icon.ic-list-reserve {
    margin: 5px 4px 0 0;
}

.module-list .subject-txt .element-icon.ic-list-transient {
    margin: 5px 4px 0 0;
}

.module-list .subject-txt .element-icon.ic-notice-reservation {
    margin: 5px 4px 0 0;
}

.module-list .group-subject .subject-txt .element-checkbox {
    margin-top: 2px;
    margin-right: 4px;
    height: 20px;
}

.module-list .subject-txt {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
}

.module-list .subject-txt.active {
    color: #999;
}

/* list 공통 E */

/* 리스트 선택 */
.module-list .list-select {
    height: 48px;
    padding: 11px 24px;
    background: #fafafa;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.module-list .list-select .element-checkbox {
    margin-top: 2px;
    margin-right: 8px;
}

.module-list .list-select .select-count {
    display: inline-block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: 700;
    color: #666;
    vertical-align: top;
}

.module-list .list-select .element-btn.btn-gray-line {
    float: right;
    min-width: 56px;
    font-weight: 400;
}

.module-list .list-select+.list-item {
    margin-top: -1px;
}

/* 리스트 선택 */

/* list-basic S */
/* body */
.module-list.list-basic {}

.module-list.list-basic a {
    display: initial;
    line-height: 20px;
}

.module-list.list-basic a.visited .subject-txt {
    color: #999;
}

.module-list.list-basic .group-subject {
    padding: 12px 26px 10px 0;
}

.module-list.list-basic .group-subject .element-checkbox {
    margin: 1px 4px 0 0;
}

.module-list.list-basic .subject-txt {
    line-height: 20px;
}

.module-list.list-basic .subject-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 0;
    line-height: 20px;
}

.module-list.list-basic .subject-info .subject-info-count {
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;
    color: #ff5000;
    line-height: 20px;
    margin-left: 4px;
}

.module-list.list-basic .subject-info .element-icon.ic-new {
    margin: 3px 2px 0 2px;
}

.module-list.list-basic .subject-icon6 .subject-txt {
    max-width: calc(100% - 164px);
}

.module-list.list-basic .subject-icon5 .subject-txt {
    max-width: calc(100% - 144px);
}

.module-list.list-basic .subject-icon4 .subject-txt {
    max-width: calc(100% - 124px);
}

.module-list.list-basic .subject-icon3 .subject-txt {
    max-width: calc(100% - 104px);
}

.module-list.list-basic .subject-icon2 .subject-txt {
    max-width: calc(100% - 84px);
}

.module-list.list-basic .subject-icon1 .subject-txt {
    max-width: calc(100% - 64px);
}

.module-list.list-basic .subject-icon0 .subject-txt {
    max-width: calc(100% - 46px);
}

.module-list.list-basic.admin .subject-icon6 .subject-txt {
    max-width: calc(100% - 184px);
}

.module-list.list-basic.admin .subject-icon5 .subject-txt {
    max-width: calc(100% - 164px);
}

.module-list.list-basic.admin .subject-icon4 .subject-txt {
    max-width: calc(100% - 144px);
}

.module-list.list-basic.admin .subject-icon3 .subject-txt {
    max-width: calc(100% - 124px);
}

.module-list.list-basic.admin .subject-icon2 .subject-txt {
    max-width: calc(100% - 104px);
}

.module-list.list-basic.admin .subject-icon1 .subject-txt {
    max-width: calc(100% - 84px);
}

.module-list.list-basic.admin .subject-icon0 .subject-txt {
    max-width: calc(100% - 68px);
}

.module-list.list-basic .group-user {
    width: 132px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 10px 0 10px 4px;
}

.module-list.list-basic .group-time {
    width: 128px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 13px 16px 13px 8px;
    text-align: center;
}

.module-list.list-basic .group-like {
    width: 46px;
    display: table-cell;
    vertical-align: top;
    padding-top: 13px;
    position: relative;
    padding-left: 5px;
    font-size: 12px;
    color: #999;
}

.module-list.list-basic .group-view {
    width: 54px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    font-size: 12px;
    color: #999;
    padding: 13px 0;
    text-align: center;
}

.module-list.list-basic .group-view .element-icon.ic-view {
    margin: 2px 4px 0 0;
}

.module-list.list-basic .group-view .count {
    display: inline-block;
    line-height: 20px;
    /* margin: 13px 0; */
}

.module-list.list-basic .group-new-user {
    width: 120px;
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.module-list.list-basic .subject-txt .subject-txt-preface {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.module-list.list-basic .group-cp {
    width: 40px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 0 5px;
}

.module-list.list-basic .group-cp a,
.module-list.list-basic .group-cp span {
    display: inline-block;
    font-size: 12px;
    color: #999;
}

/* module-profile */
.module-profile {
    position: relative;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}

.module-profile * {
    /* vertical-align: middle; */
}

.module-profile .profile-thumb {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    /* 임시 */
}

.module-profile .profile-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.module-profile .profile-thumb .element-icon {
    position: absolute;
    top: -2px;
    left: -6px;
}

.module-profile .profile-content {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
}

.module-profile .profile-content .mark {
    font-size: 13px;
    font-weight: 700;
    margin-right: 6px;
    float: left;
    line-height: 24px;
    vertical-align: top;
}

.module-profile .profile-content .mark.official {
    color: #05a2f1;
    font-weight: 400;
}

.module-profile .profile-content .mark.gm {
    color: #05a2f1;
    font-weight: 400;
}

.module-profile .profile-content .mark.cm {
    color: #00b94e;
    font-weight: 400;
}

.module-profile .profile-name {
    font-size: 13px;
    font-weight: normal;
    color: #666;
    text-align: left;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 96px;
    overflow: hidden;
    display: block;
}

.module-profile .profile-nick {
    color: #999;
}

.module-profile .write-time {
    position: relative;
    padding-left: 12px;
    margin-left: 4px;
    color: #999;
}

.module-profile .write-time:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 50%;
}

.module-profile .profile-tools {
    position: absolute;
    right: 0;
    top: 0;
}

.module-profile .write-time-tooltip {
    display: none;
    position: absolute;
    bottom: -32px;
    left: 50%;
    padding: 5px 12px;
    white-space: nowrap;
    line-height: 18px;
    color: #fff;
    background-color: #111;
    font-size: 12px;
    z-index: 11;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.module-profile .write-time-tooltip:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #111;
}

.module-profile .write-time-tooltip:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #111;
}

.module-profile .write-time:hover .write-time-tooltip {
    display: block;
}

.module-profile .module-dropdown {
    max-width: 172px;
    position: absolute;
    top: 24px;
    left: 32px;
}

.profile-tools .tools-item {
    display: none;
    position: absolute;
    right: 0;
    top: 26px;
    padding: 10px 12px;
    border: 1px solid #c2c2c2;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.profile-tools .tools-item .element-btn {
    display: block;
    width: 100%;
    height: 24px;
    font-size: 12px;
    text-align: left;
    color: #666;
    white-space: nowrap;
}

.profile-tools .tools-item .element-btn:hover {
    font-weight: 600;
    color: #111;
}

.profile-tools .btn-listinfo-more.active~.tools-item {
    display: block;
}

/* 날짜 */
.time-date {
    position: relative;
    padding-left: 0;
    /* margin: 13px 0; */
    font-size: 13px;
    color: #a0a0a0;
    display: inline-block;
    cursor: default;
    text-align: center;
    line-height: 20px;
    vertical-align: top;
}

.time-date .module-tooltip .write-time-tooltip {
    display: none;
}

.time-date:hover .module-tooltip .write-time-tooltip {
    display: block;
    top: 24px;
}

/* 기본 댓글 프로필 */
.module-profile.basicreply {}

.module-profile.basicreply .profile-thumb {
    width: 28px;
    height: 28px;
}

.module-profile.basicreply .profile-content {}

.module-profile.basicreply .profile-content:hover .profile-name {
    text-decoration: underline;
}

.module-profile.basicreply .profile-content .mark {
    line-height: 28px;
}

.module-profile.basicreply .profile-content .profile-name {
    width: auto;
    color: #666;
    margin-right: 4px;
    line-height: 28px;
    font-size: 13px;
}

.module-profile.basicreply .time-date {
    display: block;
    text-align: left;
}

.module-profile.basicreply .module-dropdown {
    top: 40px;
    left: 16px;
}

/* 카드형 작성자 프로필 */
.module-profile.card {}

.module-profile.card .profile-name {
    font-size: 12px;
    font-weight: normal;
    color: #333;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 154px;
    overflow: hidden;
    display: block;
}

/* 스레드형 작성자 프로필 */
.module-profile.threaduser {}

.module-profile.threaduser .profile-content {}

.module-profile.threaduser .profile-content:hover .profile-name {
    text-decoration: underline;
}

.module-profile.threaduser .profile-content .profile-name {
    color: #627bba;
    line-height: 24px;
    text-overflow: unset;
    white-space: unset;
    word-wrap: unset;
    width: auto;
    overflow: unset;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.module-profile.threaduser .time-date {
    line-height: 24px;
    margin-left: 16px;
}

.module-profile.threaduser .time-date::before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #999;
    display: block;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateX(-50%);
}

.module-profile.threaduser .module-dropdown {
    top: 22px;
    left: 0;
}

/* 스레드형 댓글 프로필 */
.module-profile.threadreply {}

.module-profile.threadreply .profile-content {
    display: block;
}

.module-profile.threadreply .profile-content:hover .profile-name {
    text-decoration: underline;
}

.module-profile.threadreply .profile-content .profile-name {
    color: #627bba;
    width: 118px;
    line-height: 24px;
    font-size: 13px;
}

.module-profile.threadreply .time-date {
    display: block;
    text-align: left;
}

.module-profile.threadreply .module-dropdown {
    top: 40px;
    left: 16px;
}

/* 웹진형 작성자 프로필 */
.module-profile.webzine {}

.module-profile.webzine a {
    display: inline-block !important;
}

.module-profile.webzine .profile-content {}

.module-profile.webzine .profile-content .profile-name {
    display: inline-block;
    color: #333;
    line-height: 24px;
    text-overflow: unset;
    white-space: unset;
    word-wrap: unset;
    width: auto;
    overflow: unset;
}

.module-profile.webzine .time-date {
    line-height: 24px;
    margin-left: 16px;
    font-size: 12px;
}

.module-profile.webzine .time-date::before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #999;
    display: block;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateX(-50%);
}

.module-profile.webzine .module-dropdown {
    top: 22px;
    left: 32px;
}

/* 비동기톡 작성자 프로필 */
.module-profile.talk {}

.module-profile.talk a {
    display: inline-block !important;
}

.module-profile.talk .profile-thumb {
    width: 28px;
    height: 28px;
}

.module-profile.talk .profile-content {
    line-height: 28px;
}

.module-profile.talk .profile-content .profile-name {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    text-overflow: unset;
    white-space: unset;
    word-wrap: unset;
    width: auto;
    overflow: unset;
    line-height: 28px;
}

.module-profile.talk .profile-content .mark {
    line-height: 28px;
}

.module-profile.talk .time-date {
    font-size: 13px;
    color: #999;
    margin-left: 8px;
    line-height: 28px;
}

.module-profile.talk .module-dropdown {
    top: 22px;
    left: 32px;
}

/* 상세보기 프로필 */
.module-profile.detail {
    line-height: normal;
}

.module-profile.detail .profile-content {
    line-height: normal;
}

.module-profile.detail .profile-content .mark {
    line-height: 28px;
}

.module-profile.detail .profile-content .profile-name {
    line-height: 28px;
    width: inherit;
}

.module-profile.detail .module-dropdown {
    display: block;
    padding: 0;
    font-size: 0;
    left: 0;
    color: unset;
}

.module-profile.detail .module-dropdown li {
    padding: 0;
    position: initial;
    display: inherit;
}

/* 반응형 */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* 삭제예정 */
    .layout .pc {
        display: none;
    }

    .layout .tablet {
        display: block;
    }

    .margin-blue {
        background: #0f6eff !important;
    }

    /* 삭제예정 */
    .module-list.list-basic .group-time {
        display: none;
    }
    .layout .layout-basic {
        padding: 0 32px;
    }

    .layout .layout-basic .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout .layout-basic .margin-blue:nth-child(2) {
        width: 32px;
    }

    .layout-information {
        padding: 0 32px;
    }

    .layout-information .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout-information .margin-blue:nth-child(2) {
        width: 32px;
    }

    .layout-s-one-rail .container .content-area {
        margin: 0 32px;
    }

    .layout-s-one-rail .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout-s-one-rail .margin-blue:nth-child(2) {
        width: 32px;
    }

    .layout-b-one-rail .container .content-area {
        margin: 0 32px;
    }

    .layout-b-one-rail .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout-b-one-rail .margin-blue:nth-child(2) {
        width: 32px;
    }

    .layout-two-rail .container .content-area {
        margin: 0 32px;
    }

    .layout-two-rail .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout-two-rail .margin-blue:nth-child(2) {
        width: 32px;
    }

    .layout-side-rail .container .content-area {
        margin: 0 32px;
    }

    .layout-side-rail .margin-blue:nth-child(1) {
        width: 32px;
    }

    .layout-side-rail .margin-blue:nth-child(2) {
        width: 32px;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 21pt;
    }

    h3 {
        font-size: 18pt;
    }

    h4 {
        font-size: 16pt;
    }

    h5 {
        font-size: 15pt;
    }

    h6 {
        font-size: 14pt;
    }

    /* 삭제예정 */
    .module-list.list-basic .group-time {
        display: none;
    }
    .module-list.list-basic .group-view {
        display: none;
    }

    .layout .pc {
        display: none;
    }

    .layout .mobile {
        display: block;
    }

    .margin-blue {
        background: #0f6eff !important;
    }

    /* 삭제예정 */
    .layout .layout-basic {
        padding: 0 16px;
    }

    .layout .layout-basic .margin-blue:nth-child(1) {
        width: 16px;
    }

    .layout .layout-basic .margin-blue:nth-child(2) {
        width: 16px;
    }

    .layout-information {
        padding: 0 16px;
    }

    .layout-information .margin-blue:nth-child(1) {
        width: 16px;
    }

    .layout-information .margin-blue:nth-child(2) {
        width: 16px;
    }

    .layout-information .container .nav-area {
        display: none;
    }

    .layout-s-one-rail .container .nav-area {
        display: none;
    }

    .layout-s-one-rail .container .content-area {
        margin: 0 16px;
    }

    .layout-s-one-rail .margin-blue:nth-child(1) {
        width: 16px;
        left: 0;
    }

    .layout-s-one-rail .margin-blue:nth-child(2) {
        width: 16px;
    }

    .layout-b-one-rail .container .nav-area {
        display: none;
    }

    .layout-b-one-rail .container .content-area {
        margin: 0 16px;
    }

    .layout-b-one-rail .margin-blue:nth-child(1) {
        width: 16px;
        left: 0;
    }

    .layout-b-one-rail .margin-blue:nth-child(2) {
        width: 16px;
    }

    .layout-two-rail .container .aside-area {
        display: none;
    }

    .layout-two-rail .container .nav-area {
        display: none;
    }

    .layout-two-rail .container .content-area {
        margin: 0 16px;
    }

    .layout-two-rail .margin-blue:nth-child(1) {
        width: 16px;
        left: 0;
    }

    .layout-two-rail .margin-blue:nth-child(2) {
        width: 16px;
    }

    .layout-side-rail .container .aside-area {
        display: none;
    }

    .layout-side-rail .container .nav-area {
        display: none;
    }

    .layout-side-rail .container .content-area {
        margin: 0 16px;
    }

    .layout-side-rail .margin-blue:nth-child(1) {
        width: 16px;
        left: 0;
    }

    .layout-side-rail .margin-blue:nth-child(2) {
        width: 16px;
        right: 0;
    }
}
@media screen and (min-width: 0px) and (max-width: 359px) {
    html h1 {
        font-size: 32pt;
    }

    html h1 {
        font-size: 21pt;
    }

    html h1 {
        font-size: 18pt;
    }

    html h1 {
        font-size: 16pt;
    }

    html h1 {
        font-size: 15pt;
    }

    html h1 {
        font-size: 14pt;
    }
    .layout .layout-basic {
        padding: 0 16px;
        height: fit-content;
    }
    .layout .layout-basic .margin-blue:nth-child(1),
    .layout .layout-basic .margin-blue:nth-child(2) {
        width: 16px;
    }
}