/* GNB */
.legacy-module-gnb {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 68px;
  min-width: 960px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  background: #111;
  line-height: 1;
}
.legacy-module-gnb .item-left {
  display: flex;
  align-items: center;
  flex: 1;
}
.legacy-module-gnb .item-right {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.legacy-module-gnb .gnb-menu {
  margin-left: 60px;
}
.legacy-module-gnb .gnb-menu .menu-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.legacy-module-gnb .gnb-menu .menu-item.is-active {
  color: #ff5000;
}
.legacy-module-gnb [class*='gnb-bi'] + [class*='gnb-bi'] {
  margin-left: 16px;
}
.legacy-module-gnb .gnb-menu .menu-item + .menu-item {
  margin-left: 40px;
}
.legacy-module-gnb .gnb-menu .menu-item.selected,
.legacy-module-gnb .gnb-menu .menu-item:focus {
  color: #ff5000;
}
.legacy-module-gnb .util-area {
  display: inline-flex;
  align-items: center;
}
.legacy-module-gnb .personal-area {
  margin-right: 24px;
}
.legacy-module-gnb .personal-area + .util-area {
  padding-left: 26px;
  position: relative;
}
.legacy-module-gnb .personal-area + .util-area:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  left: 0;
  top: calc(50% - 10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.legacy-module-gnb .item-right [class*='-area'] [class*='element-'] + [class*='element-'] {
  margin-left: 16px;
}
.legacy-module-gnb .util-area .legacy-module-profile {
  margin-left: 16px;
}
.legacy-module-gnb .util-area .legacy-element-icon.ic-fill-menu-s24-cfff:hover {
  background: url(../../images/svgnew/ic-fill-menu-s24-cff5000.svg) no-repeat;
}
.legacy-module-gnb .util-area .legacy-element-icon.ic-lang-s24-cfff:hover {
  background: url(../../images/svgnew/ic-lang-s24-cff5000.svg) no-repeat;
}
.legacy-module-gnb .util-area .legacy-element-icon.ic-bell-s24-cfff:hover {
  background: url(../../images/svgnew/ic-bell-s24-cff5000.svg) no-repeat;
}
.legacy-module-gnb .legacy-element-icon.ic-basket-s24-cfff:hover {
  background: url(../../images/svgnew/ic-basket-s24-cff5000.svg) no-repeat;
}

/*CUSTOM */
#stoveGnb.gnb-indie {
  background-color: #111;
}
#stoveGnb.gnb-indie .legacy-module-gnb {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  min-width: auto;
}
#stoveGnb.gnb-indie .legacy-module-gnb .gnb-menu {
  margin-left: 0;
}
#stoveGnb.gnb-indie a.legacy-element-icon {
  font-size: 0;
}
#stoveGnb.gnb-indie .gnb-menu {
  background-color: #111;
}
#stoveGnb.gnb-indie .gnb-text {
  color: #fff;
}

/*gnb-indie*/
.gnb-stove.gnb-indie {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #111;
  color: #fff;
}
.gnb-stove.gnb-indie:before {
  background-color: transparent;
}
.gnb-stove.gnb-indie .gnb-text {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-menu {
  background-color: #222;
}
.gnb-stove.gnb-indie .gnb-menu-link:hover .gnb-menu-text,
.gnb-stove.gnb-indie .gnb-menu-link:hover > span {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-menu-link {
  position: relative;
  color: #ccc;
  text-decoration: none;
}
.gnb-stove.gnb-indie .gnb-menu-link:hover,
.gnb-stove.gnb-indie .gnb-menu-link:active,
.gnb-stove.gnb-indie .gnb-menu-link:focus {
  background-color: #333;
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-menu-link.is-active {
  background-color: #333;
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-icon.is-globe {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_globe-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-globe:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_globe-orange.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-menu-all {
  position: relative;
  overflow: inherit;
  overflow: initial;
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_menu-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-menu-all:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_menu-orange.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-bell {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_bell-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-bell:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_bell-orange.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-user {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_user-gray.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-community {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_comm-white-gray.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-community:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_comm-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-plus {
  width: 20px;
  height: 20px;
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_plus-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-external-link {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_external-link-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-external-link:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_external-link-gray.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-depth-menu-link {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_depth-menu-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-icon.is-depth-menu-link:hover {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_depth-menu-gray.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-list.is-select .gnb-menu-link:hover:after {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_check-gray02.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-user {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_user-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-cart {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_cart-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-coupon {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_coupon-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-shield {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_shield-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-bell {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_bell-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-letter {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_letter-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-question {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_question-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-siren {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_siren-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-exit {
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_exit-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-menu-icon.icon-sc {
  left: 3px;
  background: url(https://static-cdn.onstove.com/0.0.11/img/gnb/icon_user-sc-white.svg) no-repeat 0 0;
}
.gnb-stove.gnb-indie .gnb-spacer::before {
  opacity: 0.07;
}
.gnb-stove.gnb-indie .gnb-user {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-cash-btn {
  background-color: #222;
  border: solid 1px #666;
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-cash-btn:hover,
.gnb-stove.gnb-indie .gnb-cash-btn:focus {
}
.gnb-stove.gnb-indie .gnb-notice {
  background-color: #222;
}
.gnb-stove.gnb-indie .gnb-notice-title {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-notice-footer {
  border-color: #333;
}
.gnb-stove.gnb-indie .gnb-notice-empty {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-tab-item {
  background-color: #333;
  border-color: #444;
  color: #fff;
  white-space: nowrap;
}
.gnb-stove.gnb-indie .gnb-tab-item.-active {
  background-color: #222;
  border-bottom-color: #222;
}
.gnb-stove.gnb-indie .gnb-text-list-item {
  border-color: #333;
}
.gnb-stove.gnb-indie .gnb-text-list-item:hover {
  background-color: #333;
}
.gnb-stove.gnb-indie .gnb-text-list-link {
  color: #ccc;
}
.gnb-stove.gnb-indie .gnb-text-list-link:hover .gnb-text-list-text {
  color: #fff;
}

.gnb-stove.gnb-indie .gnb-text-list-more {
  color: #999;
}
.gnb-stove.gnb-indie .gnb-text-list-more:hover {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-col > * {
  vertical-align: middle;
}
/* game group */
.gnb-stove.gnb-indie .gnb-col.col-center .gnb-text {
  font-size: 16px;
}
.gnb-stove.gnb-indie .gnb-col.col-right {
  width: 1%;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}
.gnb-stove.gnb-indie .col-right .gnb-game-group-inner .gnb-game-group-item:before {
  border-left: 1px solid #444;
}
.gnb-stove.gnb-indie .col-right .gnb-game-group-inner .gnb-game-group-item:last-child:before {
  border-left: 0;
}
.gnb-stove.gnb-indie .gnb-game-list.game-list-wrap .gnb-game-list-item:nth-child(n + 2):nth-child(12n + 1):before {
  /*border-left: 1px solid #444;*/
  background-color: #444;
}
.gnb-stove.gnb-indie .gnb-menu-list.lang-wrap .gnb-menu-item:nth-child(n + 2):nth-child(10n + 1):before {
  background-color: #444;
}
.gnb-stove.gnb-indie .gnb-game-group {
  background-color: #222;
  border-bottom: 1px solid #444;
}
.gnb-stove.gnb-indie .gnb-game-group-container {
}
.gnb-stove.gnb-indie .gnb-game-group-container:before {
  background-color: #414141;
  border-color: #4a4a4a;
}
.gnb-stove.gnb-indie .gnb-game-group-container .gnb-game-service-link {
  background-color: #2b2b2b;
}
.gnb-stove.gnb-indie .gnb-game-group-container .gnb-game-service-link .gnb-service-txt {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-game-group-item {
  border-color: #4a4a4a;
}
.gnb-stove.gnb-indie .gnb-game-group-title {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-game-list-item:hover {
  background-color: #333;
  border-color: #333;
}
.gnb-stove.gnb-indie .gnb-game-list-link {
  color: #ccc;
}
.gnb-stove.gnb-indie .gnb-game-list-item:hover .gnb-game-list-link,
.gnb-stove.gnb-indie .gnb-game-list-item:hover .gnb-game-list-link .gnb-game-list-text {
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-game-list-item:active,
.gnb-stove.gnb-indie .gnb-game-list-item::selection,
.gnb-stove.gnb-indie .gnb-game-list-item.selected {
  background-color: #2e2e2e;
  color: #fff;
}
.gnb-stove.gnb-indie .gnb-game-list-item:active .gnb-game-list-text,
.gnb-stove.gnb-indie .gnb-game-list-item.selected .gnb-game-list-text {
  color: #fff;
}
.gnb-stove.gnb-indie .logo-stove img {
  /*width: 88px;*/
}

.gnb-stove.gnb-indie .is-game-menu.game-all .gnb-game-group-inner:before {
  background-color: #444;
}
.gnb-stove.gnb-indie .gnb-user-link {
  color: #fff;
}
/* added*/
.gnb-stove.gnb-indie .gnb-col.col-left {
  padding: 0 36px 0 24px;
}
.gnb-stove.gnb-indie .gnb-col > *:first-child > a {
  margin: 0;
}
.gnb-stove.gnb-indie .gnb-title-service > a {
  margin: 0 0 0 16px;
}
.gnb-stove.gnb-indie .logo-stove img,
.gnb-stove.gnb-indie .gnb-title-service img {
  vertical-align: middle;
}
.gnb-stove.gnb-indie .gnb-col.col-right > * {
  margin: 0 8px;
}
.gnb-stove.gnb-indie .legacy-module-gnb {
  padding: 0 16px 0 24px;
}
.gnb-stove.gnb-indie .legacy-module-gnb .item-right {
  margin-left: 20px;
}
.gnb-stove.gnb-indie .legacy-module-gnb .personal-area {
  padding-right: 24px;
  margin-right: 0;
  position: relative;
}
.gnb-stove.gnb-indie .legacy-module-gnb .personal-area:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  right: 0;
  top: calc(50% - 10px);
  background-color: rgba(255, 255, 255, 0.1);
}
