@import "../../sass/_space.scss";

/* [D] 지워도 되는 CSS 예제로 사용한 CSS 입니다. */
.ex-sp-100 {
    height: $stds-spacing-100;
}
.ex-sp-200 {
    height: $stds-spacing-200;
}
.ex-sp-300 {
    height: $stds-spacing-300;
}
.ex-sp-400 {
    height: $stds-spacing-400;
}
.ex-sp-500 {
    height: $stds-spacing-500;
}
.ex-sp-600 {
    height: $stds-spacing-600;
}
.ex-sp-700 {
    height: $stds-spacing-700;
}
.ex-sp-800 {
    height: $stds-spacing-800;
}
.ex-sp-900 {
    height: $stds-spacing-900;
}
.ex-sp-1000 {
    height: $stds-spacing-1000;
}
.ex-sp-1100 {
    height: $stds-spacing-1100;
}
.ex-sp-1200 {
    height: $stds-spacing-1200;
}
.ex-sp-1300 {
    height: $stds-spacing-1300;
}
.ex-sp-1400 {
    height: $stds-spacing-1400;
}
.ex-sp-1500 {
    height: $stds-spacing-1500;
}
.ex-sp-1600 {
    height: $stds-spacing-1600;
}