{% import "_include/module/reply/reply.njk" as reply %}
{% import "_include/module/profile/profile.njk" as profile %}
{% import "_include/module/write/write-ui.njk" as writeUi %}
{% import "_include/form/button.njk" as btn %}
{% import "_include/form/dropdown.njk" as dropdown %}

{% macro detailHeader( title, viewOption, height="h40", boardLink, titleOption ) %}
    <div class="detail-header">
        {% if boardLink %}
            <button class="title-btn">자유게시판 <i class="ic-control-arrow-right-line"></i></button>
        {% else %}
            <p class="title-location"><span>%CP페이지명%</span><i class="midd-dot">·</i><span>%게시판명%</span> </p>
        {% endif %}
        <div class="info-wrap">
            <p class="title">{{ title }} <strong>[999]</strong></p>
            {% if titleOption %}
                <div class="info-wrap">
                    <div class="info-btn">
                        <button><i class="ic-sample"></i></button>
                        <!-- [D] active 추가하면 메뉴가 나옵니다.  -->
                        <div class="element-dropdown {{ height }}">
                            <button class="element-select-button ">
                                <i class="ic-sample"></i>
                            </button>
                            <div class="element-dropdown-layer absolute top">
                                <div class="element-dropdown-layer-inner">
                                    <select hidden="">
                                        <option value="1">상세보기 메뉴</option>
                                        <option value="2">상세보기 메뉴</option>
                                    </select>
                                    <button class="element-dropdown-button selected">상세보기 메뉴</button>
                                    <button class="element-dropdown-button">상세보기 메뉴</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="info-wrap">
            <div class="info">
                {{ profile.profileHorizontal ( viewOption, height="h40" ) }}
            </div>
            <div class="info-btn">
                <button><i class="ic-communication-translate-fill"></i></button>
                <!-- [D] active 추가하면 메뉴가 나옵니다.  -->
                <div class="element-dropdown {{ height }}">
                    <button class="element-select-button ">
                        <i class="ic-navigation-option-vertical-fill"></i>
                    </button>
                    <div class="element-dropdown-layer absolute top">
                        <div class="element-dropdown-layer-inner">
                            <select hidden="">
                                <option value="1">상세보기 메뉴</option>
                                <option value="2">상세보기 메뉴</option>
                            </select>
                            <button class="element-dropdown-button selected">상세보기 메뉴</button>
                            <button class="element-dropdown-button">상세보기 메뉴</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro detailContents(  ) %}
    <div class="detail-contents">
        <div class="fr-view">
            <p class="sub-tit">부제목 입력란이 이곳에 노출됩니다.</p>
            <p>
                로스트아크의 첫 번째 신규 직업인 창술사가 공개되었습니다. 
                첫 번째 신규직업인만큼 관심이 매우 컸는데요. 실제로 즐겨보니 타격감이 너무 좋았습니다. 
                소환사 하다가 창술사 하니 타격감 신세계!  그리고 업데이트와 함께 아크라시움 요구 개수도 줄이고, 
                점핑 이용권, 그리고 신규 유저 성장도 지원하면서 만렙 캐릭터의 아이템 성장까지 돕는 혜자게임이 되었습니다. 
            </p>
            <p>
                <img src="https://dummyimage.com/884x468/61d2ff/fff" alt="">로스트아크의 첫 번째 신규 직업인 창술사가 공개되었습니다.
            </p>
            <ul>
                <li>123</li>
                <li>456</li>
                <li>789</li>
            </ul>
            <ol>
                <li>123</li>
                <li>456</li>
                <li>789</li>
            </ol>
            <p>
                <strong>test</strong>
                <em>test2</em>
                <u>test3</u>
                <s>test4</s>
            </p>

            {{ writeUi.baseAttachedFile() }}

            <div class="section-hashtag">
                {{ btn.base(colorClass='bg-outline', sizeClass='size-chips32', txt='# 턴택', shapeClass='btn-round') }}
                {{ btn.base(colorClass='bg-outline', sizeClass='size-chips32', txt='# 심심할때좋은게임', shapeClass='btn-round') }}
                {{ btn.base(colorClass='bg-outline', sizeClass='size-chips32', txt='# 시물레이션', shapeClass='btn-round') }}
            </div>

            <div class="section-share">
                {{ btn.withIcon(colorClass='bg-outline', sizeClass='size-large', txt='999', withIcon='with-icon', iconClass='ic-community-like-line') }}
                {{ btn.withIcon(colorClass='bg-outline', sizeClass='size-large', txt='999', withIcon='with-icon', iconClass='ic-community-thumbs-up-line') }}
                {{ btn.withIcon(colorClass='bg-outline', sizeClass='size-large', txt='999', withIcon='with-icon', iconClass='ic-community-thumbs-down-line') }}
                {{ btn.onlyIcon(colorClass='bg-outline', sizeClass='size-large', txt='large', onlyIcon='only-icon', iconClass='ic-community-share-line') }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro detailBanner(  ) %}
    <div class="detail-banner">
        <img src="https://dummyimage.com/1200x140/61d2ff/fff" alt="banner image" />
    </div>
{% endmacro %}

{% macro detailFooterBase( dataText, viewOption ) %}
    <div class="detail-footer">
        <div class="header">
            <div class="container">
                <strong>댓글 999</strong>
                <button>
                    <i class="ic-navigation-alarm-disabled-line"></i>
                </button>
            </div>
            {{ dropdown.select(height="h40", selectButtonTxt="최신순", item=['item', 'item', 'item'], selectIcon="ic-community-oppose-fill", layer=true, pos="absolute", axis="top", active="", selected="selected") }}
        </div>
        <div class="contents">
            {{ reply.replyBase( option="false", replyS="false" ) }}
            {{ reply.replyBase( report="false", replyM="false" ) }}
            {{ reply.replyBase( option="false", replyL="false" ) }}
            {{ reply.replyBaseComments( replyPrev="false", option="false", replyS="false" ) }}
            {{ reply.replyBaseComments( option="false", replyM="false" ) }}
            {{ reply.replyBaseComments( option="false", replyL="false" ) }}
        </div>
        <div class="reply-write">
            {{ writeUi.baseReplyWrite( dataText ) }}
            {{ writeUi.baseReplyWriteNone( ) }}
        </div>
    </div>
{% endmacro %}

{% macro detailFooterThread( dataText, viewOption ) %}
    <div class="detail-footer">
        <div class="header">
            <div class="container">
                <strong>포스트 999</strong>
                <button>
                    <i class="ic-navigation-alarm-disabled-line"></i>
                </button>
            </div>
            {{ dropdown.select(height="h40", selectButtonTxt="최신순", item=['item', 'item', 'item'], selectIcon="ic-community-oppose-fill", layer=true, pos="absolute", axis="top", active="", selected="selected") }}
        </div>
        <div class="reply-write">
            {{ writeUi.baseReplyWrite( dataText ) }}
            {{ writeUi.baseReplyWriteNone( ) }}
        </div>
        <div class="contents">
            {{ reply.replyThread( option="false", replyS="false") }}
            {{ reply.replyThread( report="false", replyM="false", quotePurple="false" ) }}
            {{ reply.replyThread( forword="false", replyL="false", quotePurpleOpen="false" ) }}
            {{ reply.replyThreadComments( option="false", replyS="false" ) }}
            {{ reply.replyThreadComments( option="false", replyS="false", quoteBlue="false" ) }}
            {{ reply.replyThreadComments( option="false", replyS="false", quoteBlueOpen="false" ) }}
        </div>
    </div>
{% endmacro %}