{% macro profileHorizontal( profileInfo, viewOption ) %}
    <div class="module-profile">
        <div class="profile-img">
            <img src="/static/image/list/profile_demo.png" alt="">
        </div>
        <div class="profile-contents">
            <span class="profile-nickname">
                <span class="profile-mark gm">GN</span> STOVE 인디
            </span>
            <span class="profile-info">
                <span class="time">2020.06.25 23:04 (UTC+9)</span>
                <span class="info-option" style="{{ viewOption }}">
                    <i class="midd-dot">·</i>
                    <span class="view"><i class="ic-community-number-of-view-line"></i>999</span>
                </span>
            </span>
        </div>
    </div>
{% endmacro %}