@use "./mixin/mixin";
@use "./color";
@use "./space";
@use "./radius";

$elementBgcolor: (
    orange: color.$orange500,
    red: color.$tint_reda400,
    purple: color.$tint_purplea400,
    blue: color.$tint_bluea400,
    gray: color.$gray700,
);

@each $name, $color in $elementBgcolor {
    .element-badge {
        &.#{"" + $name + ""} {
            background-color: $color;
        }
    }
}

.element-badge {
    @include flex($type: inline-flex, $x: center, $y: center);
    color: color.$white;
    border-radius: radius.$radius-XS;
    &.round {
        border-radius: 99.9rem;
    }
}

.element-tooltip .tooltip-txt {
    @include flex($type: inline-flex, $x: center, $y: center);
    position: relative;
    white-space: nowrap;
    padding: space.$stds-spacing-4;
    border-radius: radius.$radius-XS;

    &.white {
        color: color.$white;
    }
}
/* arrow-top S */
.element-tooltip .tooltip-txt.arrow-tc:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-tc:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #111;
}
.element-tooltip .tooltip-txt.arrow-tl:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 12px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-tl:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 12px;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #111;
}
.element-tooltip .tooltip-txt.arrow-tr:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 12px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-tr:after {
    content: "";
    position: absolute;
    top: -3px;
    right: 12px;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #111;
}
/* arrow-top E */

/* arrow-bottom S */
.element-tooltip .tooltip-txt.arrow-bc:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-bc:after {
    /* content: ''; */
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #111;
}
.element-tooltip .tooltip-txt.arrow-bl:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 12px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-bl:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 12px;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #111;
}
.element-tooltip .tooltip-txt.arrow-br:before {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 12px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #111;
}
.element-tooltip .tooltip-txt.arrow-br:after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 12px;
    margin-left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #111;
}
/* arrow-bottom E */
