/* width = wNN */
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
}

/* height = hNN */
.h16 {
    height: 16px;
}
.h20 {
    height: 20px;
}
.h28 {
    height: 28px;
}
.h32 {
    height: 32px;
}
.h36 {
    height: 36px;
}
.h40 {
    height: 40px;
}
.h44 {
    height: 44px;
}
.h48 {
    height: 48px;
}
.h56 {
    height: 56px;
}