@import "./src/sass/mixin/responsive";
@import "./src/sass/color";

/* button */
/* 확인 후 삭제 예정
secondary 컬러값 틀림 확인 필요

$bg-secondary-btn: #353f54;
$bg-secondary-btn-hover: #455169;
$bg-secondary-btn-active: #222b3c;

gray 컬러값   확인 필요
$bg-gray-btn: #eaeaea;
$bg-gray-btn-hover: #fafafa;
$bg-gray-btn-active: #d5d5d5;
$bg-gray-btn-focus: #6e6e6e;
*/

/* 메인에서 씌이는 custom 버튼 _color.scss에 추가된 후 삭제 예정 */
$ui_button_gray_main_enabled: #f5f5f5;
$ui_button_gray_main_hover: #eaeaea;
$ui_button_gray_main_pressed: #d5d5d5;
$ui_button_gray_main_bg_focused: #f5f5f5;
$ui_button_gray_main_border1_focused: #6e6e6e;
$ui_button_gray_main_border2_focused: #ffffff;
$ui_button_gray_main_border3_focused: rgba(0,0,0,0.015);
$ui_button_gray_main_disabled: #eaeaea;

$bg_trans_btn: transparent;
$bg_trans_btn_hover: transparent;
$bg_trans_btn_active: transparent;
$bg_trans_btn_focus: transparent;

.element-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    font-size: 0;
    font-weight: 700;
    padding: 1px 23px 1px 22px;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    /*&:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
  }*/
    &.disabled,
    &:disabled {
        color: #cacaca !important;
    }
    &.disabled:focus,
    &:disabled:focus {
        box-shadow: none !important;
    }
}
.element-btn.btn-txt-b .btn-txt {
    font-weight: bold;
}
.element-btn.bg-trans .btn-txt {
    color: #3a3a3a;
}

.element-btn.size-xlarge.only-icon .stove-icon {
    width: 32px;
    height: 32px;
}
.element-btn.size-xlarge.only-icon .stove-icon::before {
    font-size: 32px;
}
.element-btn.size-xlarge.with-icon .stove-icon {
    width: 32px;
    height: 32px;
}
.element-btn.size-xlarge.with-icon .stove-icon::before {
    font-size: 32px;
}
.element-btn.size-large.only-icon .stove-icon,
.element-btn.size-large.with-icon .stove-icon,
.element-btn.size-medium.only-icon .stove-icon,
.element-btn.size-medium.with-icon .stove-icon,
.element-btn.size-small.only-icon .stove-icon,
.element-btn.size-small.with-icon .stove-icon {
    width: 24px;
    height: 24px;
}
.element-btn.size-large.only-icon .stove-icon::before,
.element-btn.size-large.with-icon .stove-icon::before,
.element-btn.size-medium.only-icon .stove-icon::before,
.element-btn.size-medium.with-icon .stove-icon::before,
.element-btn.size-small.only-icon .stove-icon::before,
.element-btn.size-small.with-icon .stove-icon::before {
    font-size: 24px;
}
.element-btn.size-xsmall.only-icon .stove-icon,
.element-btn.size-xsmall.with-icon .stove-icon {
    width: 20px;
    height: 20px;
}
.element-btn.size-xsmall.only-icon .stove-icon::before,
.element-btn.size-xsmall.with-icon .stove-icon::before {
    font-size: 20px;
}
.element-btn.size-chips32.only-icon .stove-icon,
.element-btn.size-chips32.with-icon .stove-icon,
.element-btn.size-chips28.only-icon .stove-icon,
.element-btn.size-chips28.with-icon .stove-icon {
    width: 16px;
    height: 16px;
}
.element-btn.size-chips32.only-icon .stove-icon::before,
.element-btn.size-chips32.with-icon .stove-icon::before,
.element-btn.size-chips28.only-icon .stove-icon::before,
.element-btn.size-chips28.with-icon .stove-icon::before {
    font-size: 16px;
}
.element-btn .stove-icon {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
    background-size: cover;
}
.element-btn .btn-txt {
    display: inline-block;
    color: inherit;
    /* width: 100%;
  width: calc(100% - 1px); */
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    vertical-align: middle;
}
.element-btn .btn-txt:hover {
    text-decoration: underline;
}
.element-btn.disabled .btn-txt:hover,
.element-btn:disabled .btn-txt:hover {
    text-decoration: none;
}

/* shape */
.element-btn.size-xlarge.btn-round {
    border-radius: 28px;
}
.element-btn.size-large.btn-round {
    border-radius: 24px;
}
.element-btn.size-medium.btn-round {
    border-radius: 22px;
}
.element-btn.size-small.btn-round {
    border-radius: 20px;
}
.element-btn.size-xsmall.btn-round {
    border-radius: 18px;
}
.element-btn.size-chips32.btn-round {
    border-radius: 16px;
}
.element-btn.size-chips28.btn-round {
    border-radius: 14px;
}

/* size */
.element-btn.size-xlarge {
    height: 56px;
    padding: 0 32px;
}
.element-btn.size-large {
    height: 48px;
    padding: 0 28px;
}
.element-btn.size-medium,
.element-btn.size-small {
    padding: 0 24px;
}
.element-btn.size-medium {
    height: 44px;
}
.element-btn.size-small {
    height: 40px;
}
.element-btn.size-xsmall {
    height: 36px;
    padding: 0 20px;
}
.element-btn.size-chips32 {
    height: 32px;
    padding: 0 16px;
}
.element-btn.size-chips28 {
    height: 28px;
    padding: 0 12px;
}
.element-btn.size-xlarge .btn-txt,
.element-btn.size-large .btn-txt,
.element-btn.size-medium .btn-txt,
.element-btn.size-small .btn-txt {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.38px;
}
.element-btn.size-xsmall .btn-txt,
.element-btn.size-chips32 .btn-txt,
.element-btn.size-chips28 .btn-txt {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.33px;
}

/* only icon */
.element-btn.only-icon {
    padding: 0 !important;
}
.element-btn.size-xlarge.only-icon {
    min-width: 56px;
}
.element-btn.size-large.only-icon {
    min-width: 48px;
}
.element-btn.size-medium.only-icon {
    min-width: 44px;
}
.element-btn.size-small.only-icon {
    min-width: 40px;
}
.element-btn.size-xsmall.only-icon {
    min-width: 36px;
}
.element-btn.size-chips32.only-icon {
    min-width: 32px;
}
.element-btn.size-chips28.only-icon {
    min-width: 28px;
}

/* with icon */
.element-btn.size-xlarge .stove-icon ~ .btn-txt,
.element-btn.size-large .stove-icon ~ .btn-txt,
.element-btn.size-medium .stove-icon ~ .btn-txt {
    padding-left: 8px;
}
.element-btn.size-xlarge .btn-txt ~ .stove-icon,
.element-btn.size-large .btn-txt ~ .stove-icon,
.element-btn.size-medium .btn-txt ~ .stove-icon {
    margin-left: 8px;
}
.element-btn.size-small .stove-icon ~ .btn-txt,
.element-btn.size-xsmall .stove-icon ~ .btn-txt,
.element-btn.size-chips32 .stove-icon ~ .btn-txt {
    padding-left: 4px;
}
.element-btn.size-small .btn-txt ~ .stove-icon,
.element-btn.size-xsmall .btn-txt ~ .stove-icon,
.element-btn.size-chips32 .btn-txt ~ .stove-icon {
    margin-left: 4px;
}
.element-btn.size-chips28 .stove-icon ~ .btn-txt {
    padding-left: 2px;
}
.element-btn.size-chips28 .btn-txt ~ .stove-icon {
    margin-left: 2px;
}

/* color */
.element-btn.bg-primary{
    // background-color: $ui_button_primary_enabled;
    // border: 2px solid $ui_button_primary_enabled;
    &:hover{
        // background-color: $ui_button_primary_hover;    
        // border: 2px solid $ui_button_primary_hover;
    }
    &:active{
        // background-color: $ui_button_primary_pressed;    
        // border: 2px solid $ui_button_primary_pressed;
    }
    &:focus {
        outline: none;
        // border: 2px solid $ui_button_primary_enabled;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        // background: $ui_button_primary_disabled;
        // border-color: $ui_button_primary_disabled;
    }
}
.element-btn.bg-secondary{
    // background-color: $ui_button_secondary_enabled;
    // border: 2px solid $ui_button_secondary_enabled;
    &:hover{
        // background-color: $ui_button_secondary_hover;    
        // border: 2px solid $ui_button_secondary_hover;
    }
    &:active{
        // background-color: $ui_button_secondary_pressed;    
        // border: 2px solid $ui_button_secondary_pressed;
    }
    &:focus {
        outline: none;
        // border: 2px solid $ui_button_secondary_enabled;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        // background: $ui_button_secondary_disabled;
        // border-color: $ui_button_secondary_disabled;
    }    
}
.element-btn.bg-gray{
    // background-color: $ui_button_gray_enabled;
    // border: 2px solid $ui_button_gray_enabled;
    color:#3a3a3a;
    &:hover{
        // background-color: $ui_button_gray_hover;    
        // border: 2px solid $ui_button_gray_hover;
    }
    &:active{
        // background-color: $ui_button_gray_pressed;    
        // border: 2px solid $ui_button_gray_pressed;
    }
    &:active {
        // background-color: $ui_button_03_pressed;
        // border: 2px solid $ui_button_03_pressed;
    }
    &:focus {
        outline: none;
        // background-color: $ui_button_gray_hover;    
        // border: 2px solid $ui_button_gray_pressed;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled {
        color: #cacaca;
        // background: $ui_button_gray_disabled;
        // border-color: $ui_button_gray_disabled;
    }    
}
.element-btn.bg-gray-main{
    background-color: $ui_button_gray_main_enabled;
    border: 1px solid $ui_button_gray_main_border3_focused;
    color:#3a3a3a;
    &:hover{
        background-color: $ui_button_gray_main_hover;    
        border: 1px solid $ui_button_gray_main_hover;
    }
    &:active{
        background-color: $ui_button_gray_main_pressed;    
        border: 1px solid $ui_button_gray_main_pressed;
    }
    &:active {
        background-color: $ui_button_inverse_f_pressed;
        border: 2px solid $ui_button_inverse_f_pressed;
    }
    &:focus {
        outline: none;
        background-color: $ui_button_gray_main_hover;    
        border: 1px solid $ui_button_gray_main_pressed;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        color: #cacaca;
        // background: $ui_button_gray_disabled;
        // border-color: $ui_button_gray_disabled;
    }    
}
.element-btn.bg-inverse{
    // background-color: $ui_button_inverse_enabled;
    // border: 2px solid $ui_button_inverse_enabled;
    color:#3a3a3a;
    &:hover{
        // background-color: $ui_button_inverse_hover;    
        // border: 2px solid $ui_button_inverse_hover;
    }
    &:active{
        // background-color: $ui_button_inverse_pressed;    
        // border: 2px solid $ui_button_inverse_pressed;
    }
    &:focus {
        outline: none;
        // background-color: $ui_button_inverse_bg_focused;    
        // border: 2px solid $ui_button_inverse_border_focused;
        box-shadow: inset 0 0 0 1px #bfbfbf;
    }
    &:disabled,
    &.disabled{
        // background: $ui_button_inverse_disabled;
        // border-color: $ui_button_inverse_disabled;
    }    
}
.element-btn.bg-outline{
    // background-color: $ui_button_outline_enabled;
    // border: 1px solid $ui_button_outline_border1_focused;
    color:#3a3a3a;
    &:hover{
        // background-color: $ui_button_outline_hover;    
        border: 1px solid #999;
    }
    &:active{
        // background-color: $ui_button_outline_pressed;    
        // border: 1px solid $ui_button_outline_border2_focused;
    }
    &:focus {
        outline: none;
        // background-color: $ui_button_outline_bg_focused;    
        // border: 1px solid $ui_button_outline_border3_focused;
        // box-shadow: inset 0 0 0 2px $ui_button_outline_border3_focused;
    }
    &:disabled,
    &.disabled{
        // background: $ui_button_outline_disabled;
        // border-color: $ui_button_outline_border4_focused;
    }
}
.element-btn.bg-ghost{
    // background-color: $ui_button_inverse_ghost_enabled;
    // border: 1px solid $ui_button_inverse_ghost_border1_focused;
    color: #fff;
    &:hover{
        // background-color: $ui_button_inverse_ghost_hover;    
        // border: 1px solid $ui_button_inverse_ghost_border1_focused;
    }
    &:active{
        // background-color: $ui_button_inverse_ghost_pressed;    
        // border: 1px solid $ui_button_inverse_ghost_border1_focused;
    }
    &:focus{
        outline: none;
        // background-color: $ui_button_inverse_ghost_bg_focused;    
        // border: 1px solid $ui_button_inverse_ghost_border1_focused;
        // box-shadow: inset 0 0 0 2px $ui_button_inverse_ghost_border1_focused;
    }
    &:disabled,
    &.disabled{
        // background: $ui_button_outline_disabled;
        // border-color: $ui_button_outline_disabled;
        & .btn-txt{
            color: #cacaca;
        }
    }
}

/* mobile */

/* mobile 360 */
@include mobile {
}
/* tablet 768 */
@include tablet {
}
/* desktopM 1280 */
@include desktopM {
}
/* desktopL 1440 */
@include desktopL {
}
/* desktopXL 1600 */
@include desktopXL {
}
/* desktop2XL 1920 */
@include desktop2XL {
}
