@import "./_color.scss";

/* button */
/* 확인 후 삭제 예정 
secondary 컬러값 틀림 확인 필요 

$bg-primary-btn : #fc6020;
$bg-primary-btn-hover : #fe763c;
$bg-primary-btn-active : #e14b12;

$bg-secondary-btn: #353f54;
$bg-secondary-btn-hover: #455169;
$bg-secondary-btn-active: #222b3c;

$bg-gray-btn: #eaeaea;
$bg-gray-btn-hover: #fafafa;
$bg-gray-btn-active: #d5d5d5;
$bg-gray-btn-focus: #6e6e6e;

$bg-inverse-btn: #fff;
$bg-inverse-btn-hover: #f5f5f5;
$bg-inverse-btn-active: #e0e0e0;
$bg-inverse-btn-focus: #fff;

$bg-ghost-btn: transparent;
$bg-ghost-btn-hover: transparent;
$bg-ghost-btn-active: transparent;
$bg-ghost-btn-focus: #d5d5d5;
*/
$bg-trans-btn: transparent;
$bg-trans-btn-hover: transparent;
$bg-trans-btn-active: transparent;
$bg-trans-btn-focus: transparent;

// _color.scss 에 컬러 추가되면 button-ghost-white 변수 삭제예정  
$ui-button-ghost-white-bg-enabled: transparent;
$ui-button-ghost-white-border-enabled: #fff;
$ui-button-ghost-white-bg-hover: rgba(#000000, $alpha: 0.05);
$ui-button-ghost-white-border-hover: #fff;
$ui-button-ghost-white-bg-pressed: rgba(#000000, $alpha: 0.1);
$ui-button-ghost-white-border-pressed: #fff;
$ui-button-ghost-white-bg-focused: rgba(#000000, $alpha: 0.08);
$ui-button-ghost-white-border-focused: #fff;
$ui-button-ghost-white-bg-disabled: transparent;
$ui-button-ghost-white-border-disabled: rgba(255, 255, 255, 0.2);

.element-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  font-weight: 700;
  padding: 1px 23px 1px 22px;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  /*&:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
  }*/
  &.disabled,
  &:disabled {
    color: #cacaca!important;
  }
  &.disabled:focus,
  &:disabled:focus{
    box-shadow: none!important;  
  }
}
.element-btn.size-xlarge.only-icon .stove-icon,
.element-btn.size-xlarge.with-icon .stove-icon{
    width: 24px;
    height: 24px;
}
.element-btn.size-xlarge.only-icon .stove-icon::before,
.element-btn.size-xlarge.with-icon .stove-icon::before{
    font-size: 24px;
}
.element-btn.size-large.only-icon .stove-icon,
.element-btn.size-large.with-icon .stove-icon,
.element-btn.size-medium.only-icon .stove-icon,
.element-btn.size-medium.with-icon .stove-icon,
.element-btn.size-small.only-icon .stove-icon,
.element-btn.size-small.with-icon .stove-icon{
    width: 20px;
    height: 20px;
}
.element-btn.size-large.only-icon .stove-icon::before,
.element-btn.size-large.with-icon .stove-icon::before,
.element-btn.size-medium.only-icon .stove-icon::before,
.element-btn.size-medium.with-icon .stove-icon::before,
.element-btn.size-small.only-icon .stove-icon::before,
.element-btn.size-small.with-icon .stove-icon::before{
    font-size: 20px;
}
.element-btn.size-xsmall.only-icon .stove-icon,
.element-btn.size-xsmall.with-icon .stove-icon{
    width: 16px;
    height: 16px;
}
.element-btn.size-xsmall.only-icon .stove-icon::before,
.element-btn.size-xsmall.with-icon .stove-icon::before{
    font-size: 16px;
}
.element-btn .stove-icon {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
    background-size: cover;
}
.element-btn .btn-txt {
  display: inline-block;
  color: inherit;
  /* width: 100%;
  width: calc(100% - 1px); */
  font-size: 15px;
  line-height: 24px;
  vertical-align: middle;
}
.element-btn.bg-gray .btn-txt {
    color: #3a3a3a;
}
.element-btn.bg-ghost .btn-txt {
    color: #3a3a3a;
}
.element-btn.bg-trans .btn-txt {
    color: #3a3a3a;
}
.element-btn.bg-gray.disabled .btn-txt,
.element-btn.bg-gray:disabled .btn-txt {
    color: #cacaca;
}

/* shape */
.element-btn.size-xlarge.btn-round {
    border-radius: 27px;
}
.element-btn.size-large.btn-round {
    border-radius: 24px;
}
.element-btn.size-medium.btn-round {
    border-radius: 20px;
}
.element-btn.size-small.btn-round {
    border-radius: 18px;
}
.element-btn.size-xsmall.btn-round {
    border-radius: 16px;
}

/* size */
.element-btn.size-xlarge {
    height: 56px;
}
.element-btn.size-large {
    height: 48px;
}
.element-btn.size-medium {
    height: 44px;
}
.element-btn.size-small {
    height: 40px;
}
.element-btn.size-xsmall {
    height: 36px;
}
.element-btn.size-chips32 {
    height: 32px;
}
.element-btn.size-chips28 {
    height: 28px;
}
.element-btn.size-xlarge .btn-txt,
.element-btn.size-large .btn-txt,
.element-btn.size-medium .btn-txt,
.element-btn.size-small .btn-txt {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.38px;
}
.element-btn.size-xsmall .btn-txt,
.element-btn.size-chips32 .btn-txt,
.element-btn.size-chips28 .btn-txt {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.33px;
}

/* only icon */
.element-btn.size-xlarge.only-icon{
    padding: 0;
    min-width: 56px;
}
.element-btn.size-large.only-icon{
    padding: 0;
    min-width: 48px;
}
.element-btn.size-medium.only-icon{
    padding: 0;
    min-width: 44px;
}
.element-btn.size-small.only-icon{
    padding: 0;
    min-width: 40px;
}
.element-btn.size-xsmall.only-icon{
    padding: 0;
    min-width: 36px;
}
.element-btn.only-icon .stove-icon{
    padding-left: 0;
}

/* with icon */
.element-btn.size-xlarge.with-icon{
    padding: 0 36px; 
}
.element-btn.size-large.with-icon{
    padding: 0 32px; 
}
.element-btn.size-medium.with-icon{
    padding: 0 28px; 
}
.element-btn.size-small.with-icon{
    padding: 0 24px; 
}
.element-btn.size-xsmall.with-icon{
   padding: 0 20px; 
}
.element-btn.size-xsmall.with-icon{
    padding: 0 16px; 
 }
 .element-btn.size-xsmall.with-icon{
    padding: 0 10px; 
 }
 .element-btn.size-xlarge .stove-icon ~ .btn-txt,
.element-btn.size-large .stove-icon  ~ .btn-txt,
.element-btn.size-medium .stove-icon ~ .btn-txt{
    padding-left: 8px;
}
.element-btn.size-xlarge .btn-txt ~ .stove-icon,
.element-btn.size-large .btn-txt ~ .stove-icon,
.element-btn.size-medium .btn-txt ~ .stove-icon{
    margin-left: 8px;
}
.element-btn.size-small .stove-icon  ~ .btn-txt,
.element-btn.size-xsmall .stove-icon ~ .btn-txt{
    padding-left: 4px;
}
.element-btn.size-medium .btn-txt ~ .stove-icon,
.element-btn.size-small .btn-txt ~ .stove-icon,
.element-btn.size-xsmall .btn-txt ~ .stove-icon{
    margin-left: 7px;
}

/* color */
.element-btn.bg-primary{
    background-color: $ui-button-primary-enabled;
    border: 2px solid $ui-button-primary-enabled;
    &:hover{
        background-color: $ui-button-primary-hover;    
        border: 2px solid $ui-button-primary-hover;
    }
    &:active{
        background-color: $ui-button-primary-pressed;    
        border: 2px solid $ui-button-primary-pressed;
    }
    &:focus{
        outline: none;
        border: 2px solid $ui-button-primary-enabled;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        background: $ui-button-primary-disabled;
        border-color: $ui-button-primary-disabled;
    }
}
.element-btn.bg-secondary{
    background-color: $ui-button-secondary-enabled;
    border: 2px solid $ui-button-secondary-enabled;
    &:hover{
        background-color: $ui-button-secondary-hover;    
        border: 2px solid $ui-button-secondary-hover;
    }
    &:active{
        background-color: $ui-button-secondary-pressed;    
        border: 2px solid $ui-button-secondary-pressed;
    }
    &:focus{
        outline: none;
        border: 2px solid $ui-button-secondary-enabled;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        background: $ui-button-secondary-disabled;
        border-color: $ui-button-secondary-disabled;
    }    
}
.element-btn.bg-gray{
    background-color: $ui-button-gray-enabled;
    border: 2px solid $ui-button-gray-enabled;
    color:#3a3a3a;
    &:hover{
        background-color: $ui-button-gray-hover;    
        border: 2px solid $ui-button-gray-hover;
    }
    &:active{
        background-color: $ui-button-gray-pressed;    
        border: 2px solid $ui-button-gray-pressed;
    }
    &:focus{
        outline: none;
        background-color: $ui-button-gray-hover;    
        border: 2px solid $ui-button-gray-pressed;
        box-shadow: inset 0 0 0 2px #fff;
    }
    &:disabled,
    &.disabled{
        background: $ui-button-gray-disabled;
        border-color: $ui-button-gray-disabled;
    }    
}
.element-btn.bg-inverse{
    background-color: $ui-button-inverse-enabled;
    border: 2px solid $ui-button-inverse-enabled;
    color:#3a3a3a;
    &:hover{
        background-color: $ui-button-inverse-hover;    
        border: 2px solid $ui-button-inverse-hover;
    }
    &:active{
        background-color: $ui-button-inverse-pressed;    
        border: 2px solid $ui-button-inverse-pressed;
    }
    &:focus{
        outline: none;
        background-color: $ui-button-inverse-bg-focused;    
        border: 2px solid $ui-button-inverse-border-focused;
        box-shadow: inset 0 0 0 1px #bfbfbf;
    }
    &:disabled,
    &.disabled{
        background: $ui-button-inverse-disabled;
        border-color: $ui-button-inverse-disabled;
    }    
}
.element-btn.bg-ghost{
    background-color: $ui-button-ghost-bg-enabled;
    border: 1px solid $ui-button-ghost-border-enabled;
    color: #3a3a3a;
    &:hover{
        background-color: $ui-button-ghost-bg-hover;    
        border: 1px solid $ui-button-ghost-border-hover;
    }
    &:active{
        background-color: $ui-button-ghost-bg-pressed;    
        border: 1px solid $ui-button-ghost-border-pressed;
    }
    &:focus{
        outline: none;
        background-color: $ui-button-ghost-bg-focused;    
        border: 1px solid $ui-button-ghost-border-focused;
        box-shadow: inset 0 0 0 1px #000;
    }
    &:disabled,
    &.disabled{
        /* transparent #e0e0e0 tortkd 색상 확인
        background: $ui-button-ghost-bg-disabled;
        border-color: $ui-button-ghost-border-disabled;
        */
        background: #eaeaea;
        border-color: #eaeaea;
        & .btn-txt{
            color: #cacaca;
        }
    }
}
.element-btn.bg-ghost-white{
    background-color: $ui-button-ghost-white-bg-enabled;
    border: 1px solid $ui-button-ghost-white-border-enabled;
    color: #fff;
    & .btn-txt{
        color: #fff;
    }
    &:hover{
        background-color: $ui-button-ghost-white-bg-hover;    
        border: 1px solid $ui-button-ghost-white-border-hover;
    }
    &:active{
        background-color: $ui-button-ghost-white-bg-pressed;    
        border: 1px solid $ui-button-ghost-white-border-pressed;
    }
    &:focus{
        outline: none;
        background-color: $ui-button-ghost-white-bg-focused;    
        border: 1px solid $ui-button-ghost-white-border-focused;
        box-shadow: inset 0 0 0 1px #fff;
    }
    &:disabled,
    &.disabled{
        background-color: $ui-button-ghost-white-bg-disabled;    
        border: 1px solid $ui-button-ghost-white-border-disabled;
        & .btn-txt{
            color: rgba(255, 255, 255, 0.6);
        }
    }
        
}
