@use "./mixin/mixin";
@use "./color";
@use "./helpers/z-index";
@use "./space";
@use "./font";
@use "./radius";

.module-dialog-calendar-wrap {
    @include mixin.flex {
        gap: 1px;
    }
}
.module-calendar {
    width: 31.6rem;
    box-shadow: -1px 0 0 color.$ui_border_contents;
    border: 1px solid color.$ui_border_contents;
    border-radius: radius.$radius-S;
    box-sizing: initial;
    &:first-child {
        box-shadow: none;
    }
    &.depth-2 {
        width: 63.2rem;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    .calendar-inner {
        position: relative;
        float: left;
        width: 31.6rem;
    }
    .calendar-inner:nth-child(2)::before {
        content: '';
        width: 0.1rem;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 1px solid color.$ui_border_contents;
    }
    .module-calendar-header {
        @include mixin.flexCenter;
        padding: 1.7rem 0;

        button {
            font-size: font.$stdsTitle4;
        }
        .calendar-tit {
            padding: 0 space.$stds-spacing-16;
            font-weight: font.$stdsWeightBold;
            font-size: font.$stdsTitle5;
            letter-spacing: font.$letterSpacing_5;
        }
    }

    .module-calendar-top,
    .module-calendar-tile,
    .module-calendar-day {
        @include mixin.flex($wrap: wrap);
    }

    .box {
        @include mixin.flexCenter;
        position: relative;
        cursor: pointer;
        color: color.$ui_text_02;
        width: 4.4rem;
        height: 3.6rem;

        button {
            font-size: inherit;
        }
    }

    .module-calendar-top {
        background-color: color.$ui_bg_base_gray50;

        .box {
            height: 2.8rem;
            color: color.$ui_text_03;
            font-size: font.$stdsBody4;
        }

        & + .module-calendar-day {
            margin: space.$stds-spacing-8 space.$stds-spacing-4;

        }
    }
    .module-calendar-day {
        .box {
            font-size: font.$stdsBody4;

            // sunday
            &:nth-child(7n + 1) {
                color: color.$ui_text_brand;
            }
            &::before {
                transform: translateY(-50%);
                content: "";
                width: 50%;
                height: calc(100% - #{space.$stds-spacing-4});
                position: absolute;
                right: 0;
                top: 50%;
            }
            &::after {
                transition: all 0.3s;
                transform: translate(-50%, -50%);
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0;
                height: 0;
                border-radius: 3.2rem;
                background-color: color.$interactive_03_hover;
            }
            @mixin iconSize {
                width: 3.2rem;
                height: 3.2rem;
            }
            &.selected {
                font-weight: font.$stdsWeightBold;
                color: color.$ui_text_white_01;
                &::after {
                    @include iconSize;
                    background-color: color.$interactive_01_enabled;
                }
            }
            
            &:hover {
                font-weight: font.$stdsWeightBold;

                &::after {
                    @include iconSize;
                }
            }

            &.first,
            &.last,
            &:active {
                font-weight: font.$stdsWeightBold;

                & > span {
                    color: color.$ui_text_white_01;
                }
                &::after {
                    @include iconSize;
                    background-color: color.$interactive_01_enabled;
                }
            }
            &.first {
                &::before {
                    background-color: color.$ui_bg_highlight;
                }
            }
            &.last {
                &::before {
                    right: initial;
                    left: 0;
                    background-color: color.$ui_bg_highlight;
                }
            }
            &.bridge {
                &::before {
                    width: 100%;
                    background-color: color.$ui_bg_highlight;
                }
            }

            & > span {
                position: relative;
                z-index: z-index.$zindex-tooltip;
            }
        }
    }

    .module-calendar-tile {
        padding: 0 $stds-spacing-4;
        .box {
            width: 7.7rem;
            height: 7.2rem;

            &::after {
                transition: all 0.3s;
                transform: translate(-50%, -50%);
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0;
                height: 0;
                background-color: color.$interactive_03_hover;
            }

            @mixin iconSize {
                width: 7.7rem;
                height: 4.8rem;
            }

            &:hover {
                font-weight: font.$stdsWeightBold;

                &::after {
                    @include iconSize;
                }
            }
            &.selected:active,
            &:active {
                font-weight: font.$stdsWeightBold;

                & > span {
                    color: color.$ui_text_white_01;
                }
                &::after {
                    @include iconSize;
                    background-color: color.$interactive_01_enabled;
                }
            }
            &.selected {
                font-weight: font.$stdsWeightBold;

                &::after {
                    @include iconSize;
                    background-color: color.$interactive_01_enabled;
                }
                span {
                    color: color.$ui_text_white_01;
                }
            }
            & > span {
                position: relative;
                z-index: z-index.$zindex-tooltip;
            }
        }
    }
}
