@use "./fonts/stds-font-mixin";
@use "./radius";
@use "./color";
@use "./font";
@use "./space";

$stds-checkbox-size-S: 1.6rem;
$stds-checkbox-size-M: 2rem;
$stds-checkbox-size-L: 2.4rem;

/* checkbox */
.element-checkbox {
    position: relative;
    display: inline-flex;
    &.checkbox-square {
        input[type='checkbox'] {
            position: relative;
            background: color.$ui_form_line_enabled;
            border: solid 1px color.$ui_form_line_enabled_border;
            border-radius: radius.$radius-XS;
            cursor: pointer;
        }
        
    }
    &.checkbox-round {
        input[type='checkbox'] {
            position: relative;
            background: color.$ui_form_line_enabled;
            border: solid 1px color.$ui_form_line_enabled_border;
            border-radius: radius.$Radius-50;
            cursor: pointer;
        }
    }
    input[type='checkbox'] {
        // -webkit-appearance: checkbox;
        // appearance: checkbox;
    }
    input[type='checkbox']:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-family: 'StoveFontIcon' !important;
        color: color.$ui_icon_white_enabled;
    }
    input[type='checkbox']:checked:after {
        content: "\e9f7";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-family: 'StoveFontIcon' !important;
        color: color.$ui_icon_white_enabled;
    }
    input[type='checkbox']:hover {
        background: color.$ui_form_line_hover;
        border: solid 1px color.$ui_form_line_hover_border;
        + .checkbox-label {
            color: color.$ui_text_02;
        }
    }
    input[type='checkbox']:disabled {
        background: color.$ui_form_line_disabled;
        border: solid 1px color.$ui_form_line_disabled_border;
        cursor: not-allowed;
        + label {
            cursor: not-allowed;
        }
        + .checkbox-label {
            color: color.$ui_text_disabled;
        }
    }
    input[type='checkbox']:checked {
        background: color.$ui_icon_brand_enabled;
        border: solid 1px color.$ui_icon_brand_enabled;
        + .checkbox-label {
            color: color.$ui_text_02;
        }
    }
    input[type='checkbox']:checked:hover {
        background: color.$ui_icon_brand_hover;
        border: solid 1px color.$ui_icon_brand_hover;
        + .checkbox-label {
            color: color.$ui_text_03;
        }
    }
    input[type='checkbox']:checked:disabled {
        background: color.$ui_icon_brand_disabled;
        border: solid 1px color.$ui_icon_brand_disabled;
        cursor: not-allowed;
        + label {
            cursor: not-allowed;
        }
        + .checkbox-label {
            color: color.$ui_text_disabled;
        }
    }
    label {
        display: none;
    }
    &.checkbox-text {
        label {
            display: inline-flex;
            color: color.$ui_text_03;
            cursor: pointer;
        }
    }
    &.h16 {
        &.checkbox-square {
            input[type='checkbox'] {
                width: $stds-checkbox-size-S;
                height: $stds-checkbox-size-S;
                border-radius: radius.$radius-XS;
            }
            
        }
        &.checkbox-round {
            input[type='checkbox'] {
                width: $stds-checkbox-size-S;
                height: $stds-checkbox-size-S;
                border-radius: radius.$Radius-50;
            }
        }
        &.checkbox-text {
            label {
                @include stdsBody4($weight: normal);
                margin-left: space.$stds-spacing-8;
            }
        }
        input[type='checkbox']:after {
            font-size: 1.2rem;
        }
        input[type='checkbox']:checked:after {
            font-size: 1.2rem;
        }
    }
    &.h20 {
        &.checkbox-square {
            input[type='checkbox'] {
                width: $stds-checkbox-size-M;
                height: $stds-checkbox-size-M;
                border-radius: radius.$radius-XS;
            }
            
        }
        &.checkbox-round {
            input[type='checkbox'] {
                width: $stds-checkbox-size-M;
                height: $stds-checkbox-size-M;
                border-radius: radius.$Radius-50;
            }
        }
        &.checkbox-text {
            label {
                @include stdsBody2($weight: normal);
                margin-left: space.$stds-spacing-12;
            }
        }
        input[type='checkbox']:after {
            font-size: 1.5rem;
        }
        input[type='checkbox']:checked:after {
            font-size: 1.5rem;
        }
    }
    &.h24 {
        &.checkbox-square {
            input[type='checkbox'] {
                width: $stds-checkbox-size-L;
                height: $stds-checkbox-size-L;
                border-radius: radius.$radius-XS;
            }
            
        }
        &.checkbox-round {
            input[type='checkbox'] {
                width: $stds-checkbox-size-L;
                height: $stds-checkbox-size-L ;
                border-radius: radius.$Radius-50;
            }
        }
        &.checkbox-text {
            label {
                @include stdsBody1($weight: normal);
                margin-left: space.$stds-spacing-12;
            }
        }
        input[type='checkbox']:after {
            font-size: 1.9rem;
        }
        input[type='checkbox']:checked:after {
            font-size: 1.9rem;
        }
    }
}








