/*
    [ ColorTree ]
        ♧Semantic
            ┣━━━ UI
            ┃    ┣━━━ Background
            ┃    ┣━━━ Border
            ┃    ┣━━━ Icon-Primary
            ┃    ┣━━━ Icon-Secondary
            ┃    ┣━━━ Icon-Tertiary
            ┃    ┣━━━ Icon-Quaternary
            ┃    ┣━━━ Icon-Inverse
            ┃    ┣━━━ Button-Primary
            ┃    ┣━━━ Button-Secondary
            ┃    ┣━━━ Button-Gray
            ┃    ┣━━━ Button-Outline
            ┃    ┣━━━ Button-Inverse
            ┃    ┣━━━ Input field
            ┃    ┣━━━ Font
            ┃    ┣━━━ Divider
            ┃    ┣━━━ Shadow
            ┃    ┣━━━ Overlays
            ┃    ┣━━━ Gradients
            ┃    ┗━━━ Skeleton
            ┗━━━ Interactive
                ┣━━━ Brand
                ┃    ┣━━━ Primary
                ┃    ┗━━━ Secondary
                ┗━━━ Gray
    -------------------------------------------------------
    -------------------------------------------------------
    [ UIColorDetail ]
        ♧UI
            ┣━━━ Background
            ┃    ┣━━━ Base
            ┃    ┣━━━ Navigation bar
            ┃    ┣━━━ Surface
            ┃    ┗━━━ Highlight
            ┣━━━ Border
            ┃    ┗━━━ on Thumbnail border
            ┣━━━ Icon-Primary, Icon-Secondary, Icon-Tertiary, Icon-Quaternary
            ┃    ┣━━━ Enabled
            ┃    ┣━━━ Hover
            ┃    ┣━━━ Pressed
            ┃    ┣━━━ Focused
            ┃    ┣━━━ Selected
            ┃    ┗━━━ Disabled
            ┣━━━ Icon-Inverse
            ┃    ┗━━━ Enabled
            ┣━━━ Button-Primary, Button-Secondary, Button-Gray, Button-Outline, Button-Inverse
            ┃    ┣━━━ Enabled
            ┃    ┣━━━ Hover
            ┃    ┣━━━ Pressed
            ┃    ┣━━━ Focused
            ┃    ┣━━━ Selected
            ┃    ┗━━━ Disabled
            ┣━━━ Input field
            ┃    ┣━━━ Enabled
            ┃    ┣━━━ Focused / Activated
            ┃    ┣━━━ Error
            ┃    ┣━━━ Warning
            ┃    ┣━━━ Success
            ┃    ┣━━━ Informational
            ┃    ┗━━━ Disabled
            ┣━━━ Font
            ┃    ┣━━━ Primary
            ┃    ┣━━━ Secondary
            ┃    ┣━━━ Tertiary
            ┃    ┣━━━ Quarternary
            ┃    ┣━━━ Brand
            ┃    ┣━━━ Inverse - Primary
            ┃    ┣━━━ Inverse - Secondary
            ┃    ┣━━━ Error
            ┃    ┣━━━ Warning
            ┃    ┣━━━ Success
            ┃    ┣━━━ Informational
            ┃    ┣━━━ Link
            ┃    ┣━━━ Link-visited
            ┃    ┣━━━ Placeholder
            ┃    ┗━━━ Disabled
            ┣━━━ Divider
            ┃    ┣━━━ Primary
            ┃    ┣━━━ Secondary
            ┃    ┗━━━ Tertiary
            ┣━━━ Shadow
            ┃    ┣━━━ shadow 01 Popover(dropdown), …
            ┃    ┣━━━ shadow 02 Toast popup, Card(hover), …
            ┃    ┣━━━ shadow 03 Alert
            ┃    ┗━━━ shadow 04 Popup
            ┣━━━ Overlays
            ┃    ┣━━━ Black
            ┃    ┃    ┣━━━ Default  - Thick / Basic / Thin
            ┃    ┃    ┣━━━ Blur 10  - Thick / Basic / Thin
            ┃    ┃    ┣━━━ Blur 20  - Thick / Basic / Thin
            ┃    ┃    ┗━━━ Blur 40  - Thick / Basic / Thin
            ┃    ┗━━━ White
            ┃         ┣━━━ Default  - Thick / Basic / Thin
            ┃         ┣━━━ Blur 10  - Thick / Basic / Thin
            ┃         ┣━━━ Blur 20  - Thick / Basic / Thin
            ┃         ┗━━━ Blur 40  - Thick / Basic / Thin
            ┣━━━ Gradients
            ┃    ┣━━━ Black
            ┃    ┃    ┣━━━ Bottom - 20%, 40%, 60%, 80%, 100%
            ┃    ┃    ┗━━━ Top - 20%, 40%, 60%, 80%, 100%
            ┃    ┗━━━ White
            ┃         ┣━━━ Bottom - 20%, 40%, 60%, 80%, 100%
            ┃         ┗━━━ Top - 20%, 40%, 60%, 80%, 100%
            ┗━━━ Skeleton
                ┣━━━ 1depth
                ┗━━━ 2depth
    -------------------------------------------------------
    -------------------------------------------------------
    [ InteractiveColorDetail ]
        ♧Brand
            ┗━━━ Primary, Secondary
                ┣━━━ Highlight
                ┣━━━ Enabled
                ┣━━━ Hover
                ┣━━━ Pressed
                ┣━━━ Focused
                ┣━━━ Selected
                ┗━━━ Disabled
        ♧Brand
            ┗━━━ Gray
                ┣━━━ Hover
                ┣━━━ Pressed
                ┣━━━ Focused
                ┗━━━ Selected
    -------------------------------------------------------
    -------------------------------------------------------
*/

/* color palette */
// primary
$orange50: #fff9f0;
$orange100: #ffe0c9;
$orange200: #ffc298;
$orange300: #fe9d6c;
$orange400: #fe763c;
$orange500: #fc6020;
$orange600: #f05417;
$orange700: #e14b12;
$orange800: #d2450f;
$orange900: #b63a0a;

$navy50: #e8f0ff;
$navy100: #ccd8ee;
$navy200: #abb9d2;
$navy300: #8c9dba;
$navy400: #7588a8;
$navy500: #5f7496;
$navy600: #506585;
$navy700: #40526e;
$navy800: #314058;
$navy900: #1e2c40;
$white_alpha5: rgba(#ffffff, $alpha: 0.05);
$white_alpha8: rgba(#ffffff, $alpha: 0.08);
$white_alpha10: rgba(#ffffff, $alpha: 0.1);
$white_alpha15: rgba(#ffffff, $alpha: 0.15);
$white_alpha20: rgba(#ffffff, $alpha: 0.2);
$white_alpha25: rgba(#ffffff, $alpha: 0.25);
$white_alpha30: rgba(#ffffff, $alpha: 0.3);
$white_alpha40: rgba(#ffffff, $alpha: 0.4);
$white_alpha50: rgba(#ffffff, $alpha: 0.5);
$white_alpha60: rgba(#ffffff, $alpha: 0.6);
$white_alpha70: rgba(#ffffff, $alpha: 0.7);
$white_alpha75: rgba(#ffffff, $alpha: 0.75);
$white_alpha80: rgba(#ffffff, $alpha: 0.8);
$white_alpha90: rgba(#ffffff, $alpha: 0.9);
$white: #ffffff;
$gray25: #fafafa;
$gray50: #f5f5f5;
$gray75: #eaeaea;
$gray100: #e0e0e0;
$gray150: #d5d5d5;
$gray200: #cacaca;
$gray300: #b3b3b3;
$gray400: #999999;
$gray500: #6e6e6e;
$gray600: #4c4c4c;
$gray700: #3a3a3a;
$gray800: #292929;
$gray900: #1a1a1a;
$bluegray50: #e4e6ec;
$bluegray100: #c1c4cd;
$bluegray200: #a0a4b1;
$bluegray300: #8b8f9c;
$bluegray400: #777b89;
$bluegray500: #656976;
$bluegray600: #545763;
$bluegray650: #464953;
$bluegray700: #3c3f48;
$bluegray750: #33363d;
$bluegray800: #2a2c33;
$bluegray850: #1f2128;
$bluegray900: #14151a;
$black_alpha5: rgba(#000000, $alpha: 0.05);
$black_alpha8: rgba(#000000, $alpha: 0.08);
$black_alpha10: rgba(#000000, $alpha: 0.1);
$black_alpha15: rgba(#000000, $alpha: 0.15);
$black_alpha20: rgba(#000000, $alpha: 0.2);
$black_alpha25: rgba(#000000, $alpha: 0.25);
$black_alpha30: rgba(#000000, $alpha: 0.3);
$black_alpha40: rgba(#000000, $alpha: 0.4);
$black_alpha50: rgba(#000000, $alpha: 0.5);
$black_alpha60: rgba(#000000, $alpha: 0.6);
$black_alpha70: rgba(#000000, $alpha: 0.7);
$black_alpha75: rgba(#000000, $alpha: 0.75);
$black_alpha80: rgba(#000000, $alpha: 0.8);
$black_alpha90: rgba(#000000, $alpha: 0.9);
$black: #000000;
$system_error: #e53935;
$system_warning: #ef9500;
$system_success: #43a047;
$system_info: #1e88e5;
$system_link: #457bef;
$system_link_visited: #9b54f6;
$tint_red50: #f9f1f2;
$tint_red100: #f1d2d1;
$tint_red200: #e8b4b6;
$tint_red300: #e19598;
$tint_red400: #da787f;
$tint_red500: #cb5967;
$tint_red600: #ae4855;
$tint_red700: #8e3846;
$tint_red800: #6f2a39;
$tint_red900: #52212d;
$tint_reda50: #fdf0f1;
$tint_reda100: #f6bab8;
$tint_reda200: #f2878a;
$tint_reda400: #ec3b47;
$tint_reda700: #ac0822;
$tint_orange50: #f6f0e7;
$tint_orange100: #f1dbc3;
$tint_orange200: #ecc7a5;
$tint_orange300: #e6b285;
$tint_orange400: #e09964;
$tint_orange500: #d77e45;
$tint_orange600: #b96436;
$tint_orange700: #984b2b;
$tint_orange800: #793b24;
$tint_orange900: #5b2d1c;
$tint_orangea50: #faf2e6;
$tint_orangea100: #f6d1aa;
$tint_orangea200: #f9b677;
$tint_orangea400: #f27d23;
$tint_orangea700: #b73700;
$tint_yellow50: #f8f5e8;
$tint_yellow100: #f1e9c3;
$tint_yellow200: #ecdea3;
$tint_yellow300: #e6d084;
$tint_yellow400: #e2bd65;
$tint_yellow500: #d9ab48;
$tint_yellow600: #b88c39;
$tint_yellow700: #986f2d;
$tint_yellow800: #7b5726;
$tint_yellow900: #5b3e1e;
$tint_yellowa50: #fcf8e7;
$tint_yellowa100: #f6e79d;
$tint_yellowa200: #f6dd79;
$tint_yellowa400: #ffb412;
$tint_yellowa700: #b77408;
$tint_lime50: #f3f6e7;
$tint_lime100: #e6f1c5;
$tint_lime200: #daeba6;
$tint_lime300: #c1da80;
$tint_lime400: #aaca60;
$tint_lime500: #93bc46;
$tint_lime600: #739e36;
$tint_lime700: #597c2b;
$tint_lime800: #425f22;
$tint_lime900: #2f411a;
$tint_limea50: #f6fae6;
$tint_limea100: #ddf1a1;
$tint_limea200: #d1eb83;
$tint_limea400: #9bca2e;
$tint_limea700: #4f8409;
$tint_green50: #eef6f1;
$tint_green100: #d6e9dc;
$tint_green200: #b3d7c2;
$tint_green300: #8bc3a2;
$tint_green400: #65ab7e;
$tint_green500: #4b9663;
$tint_green600: #3d7d4d;
$tint_green700: #306339;
$tint_green800: #244c2b;
$tint_green900: #17361f;
$tint_greena50: #edfaf2;
$tint_greena100: #beeecd;
$tint_greena200: #9ddcb7;
$tint_greena400: #2b9450;
$tint_greena700: #0f7021;
$tint_teal50: #ecf5f6;
$tint_teal100: #cae7e6;
$tint_teal200: #a3d2d6;
$tint_teal300: #7dbec3;
$tint_teal400: #5caab0;
$tint_teal500: #44949e;
$tint_teal600: #36777f;
$tint_teal700: #295d63;
$tint_teal800: #1d4448;
$tint_teal900: #152c2f;
$tint_teala50: #ebf9fa;
$tint_teala100: #b2ecea;
$tint_teala200: #64d8e3;
$tint_teala400: #2bb8c2;
$tint_teala700: #087582;
$tint_blue50: #eaf3f7;
$tint_blue100: #cae3f2;
$tint_blue200: #abd0eb;
$tint_blue300: #8dbce5;
$tint_blue400: #70a7de;
$tint_blue500: #5793d8;
$tint_blue600: #4474b8;
$tint_blue700: #355b9a;
$tint_blue800: #2c477a;
$tint_blue900: #22355c;
$tint_bluea50: #e9f6fb;
$tint_bluea100: #b1dcf7;
$tint_bluea200: #7ec5f8;
$tint_bluea400: #3191f0;
$tint_bluea700: #0047b9;
$tint_indigo50: #f1f4fa;
$tint_indigo100: #dde5f5;
$tint_indigo200: #bfcbee;
$tint_indigo300: #a0afe7;
$tint_indigo400: #7d8fd9;
$tint_indigo500: #5c6cc9;
$tint_indigo600: #4853a8;
$tint_indigo700: #373e8a;
$tint_indigo800: #282c6b;
$tint_indigo900: #20204d;
$tint_indigoa50: #f0f4fe;
$tint_indigoa100: #c4d6fa;
$tint_indigoa200: #92acfb;
$tint_indigoa400: #4163eb;
$tint_indigoa700: #0816a9;
$tint_dazzlingblue50: #f5f5fa;
$tint_dazzlingblue100: #e4e1f7;
$tint_dazzlingblue200: #cdc8ee;
$tint_dazzlingblue300: #b0adea;
$tint_dazzlingblue400: #9090de;
$tint_dazzlingblue500: #7175d0;
$tint_dazzlingblue600: #575fb1;
$tint_dazzlingblue700: #424b90;
$tint_dazzlingblue800: #313b71;
$tint_dazzlingblue900: #242d52;
$tint_dazzlingbluea50: #f4f4fe;
$tint_dazzlingbluea100: #cfc7fc;
$tint_dazzlingbluea200: #a89bfb;
$tint_dazzlingbluea400: #5252eb;
$tint_dazzlingbluea700: #1325af;
$tint_purple50: #f6f4f9;
$tint_purple100: #ebdff5;
$tint_purple200: #dac4eb;
$tint_purple300: #c7a6e6;
$tint_purple400: #ad88da;
$tint_purple500: #946bcd;
$tint_purple600: #7656af;
$tint_purple700: #5d4390;
$tint_purple800: #473472;
$tint_purple900: #332853;
$tint_purplea50: #f7f3fd;
$tint_purplea100: #dbbaf5;
$tint_purplea200: #ce9cf5;
$tint_purplea400: #944cec;
$tint_purplea700: #4814af;
$tint_magenta50: #f9f1f5;
$tint_magenta100: #f5dce9;
$tint_magenta200: #ebbed5;
$tint_magenta300: #e29dc6;
$tint_magenta400: #d27ab2;
$tint_magenta500: #c45da0;
$tint_magenta600: #a24987;
$tint_magenta700: #83386e;
$tint_magenta800: #662a58;
$tint_magenta900: #492141;
$tint_magentaa50: #fdf0f6;
$tint_magentaa100: #f5b7d7;
$tint_magentaa200: #f595c7;
$tint_magentaa400: #e440a8;
$tint_magentaa700: #a20c77;
$tint_pink50: #f9f0f3;
$tint_pink100: #f6dce2;
$tint_pink200: #edbfc9;
$tint_pink300: #e79db4;
$tint_pink400: #d97a9b;
$tint_pink500: #cd5d84;
$tint_pink600: #ab496f;
$tint_pink700: #8c385a;
$tint_pink800: #6e2948;
$tint_pink900: #4e2036;
$tint_pinka50: #fdf0f6;
$tint_pinka100: #fbc2d0;
$tint_pinka200: #fa92a9;
$tint_pinka400: #eb3e7a;
$tint_pinka700: #ab0949;

/* ColorVariable > Sementic color */
// Background
$ui_bg_base_white: $white;
$ui_bg_base_gray1: $gray25;
$ui_bg_base_gray2: $gray50;
$ui_bg_navigation_white: $white;
$ui_bg_navigation_gray: $gray900;
$ui_bg_surface_white: $white;
$ui_bg_surface_gray: $gray50;
$ui_bg_highlight: $orange50;

// Border
$ui_border_thumbnail: $black_alpha5;
$ui_border_contents: $black_alpha15;

// Icon_Brand
$ui_icon_brand_enabled: $orange500;
$ui_icon_brand_hover: $orange400;
$ui_icon_brand_pressed: $orange700;
$ui_icon_brand_focused: $orange500;
$ui_icon_brand_selected: $orange700;
$ui_icon_brand_disabled: $gray300;

// Icon_Primary
$ui_icon_01_enabled: $gray900;
$ui_icon_01_hover: $gray600;
$ui_icon_01_pressed: $black;
$ui_icon_01_focused: $gray900;
$ui_icon_01_selected: $orange500;
$ui_icon_01_disabled: $gray300;

// Icon_Secondary
$ui_icon_02_enabled: $gray700;
$ui_icon_02_hover: $gray500;
$ui_icon_02_pressed: $gray900;
$ui_icon_02_focused: $gray700;
$ui_icon_02_selected: $orange500;
$ui_icon_02_disabled: $gray300;

// Icon_Tertiary
$ui_icon_03_enabled: $gray500;
$ui_icon_03_hover: $gray300;
$ui_icon_03_pressed: $gray700;
$ui_icon_03_focused: $gray500;
$ui_icon_03_selected: $orange500;
$ui_icon_03_disabled: $gray300;

// Icon_Quaternary
$ui_icon_04_enabled: $gray400;
$ui_icon_04_hover: $gray200;
$ui_icon_04_pressed: $gray600;
$ui_icon_04_focused: $gray400;
$ui_icon_04_selected: $orange500;
$ui_icon_04_disabled: $gray200;

// Icon_Quinary
$ui_icon_05_enabled: $gray200;
$ui_icon_05_hover: $gray100;
$ui_icon_05_pressed: $gray400;
$ui_icon_05_focused: $gray200;
$ui_icon_05_selected: $orange500;
$ui_icon_05_disabled: $gray100;

// Icon_Inverse
$ui_icon_inverse_enabled: $white;
$ui_icon_inverse_hover: $white_alpha80;
$ui_icon_inverse_pressed: $white_alpha60;
$ui_icon_inverse_focused: $orange500;
$ui_icon_inverse_selected: $white_alpha90;
$ui_icon_inverse_disabled: $white_alpha40;

// Button_Primary
$ui_button_01_enabled: $orange500;
$ui_button_01_hover: $orange400;
$ui_button_01_pressed: $orange700;
$ui_button_01_focused: $orange500;
$ui_button_01_focused_border1: $white;
$ui_button_01_focused_border2: $orange500;
$ui_button_01_disabled: $gray75;

// Button_Secondary
$ui_button_02_enabled: $gray600;
$ui_button_02_hover: $gray500;
$ui_button_02_pressed: $gray700;
$ui_button_02_focused: $gray600;
$ui_button_02_focused_border1: $white;
$ui_button_02_focused_border2: $gray600;
$ui_button_02_disabled: $gray75;

// Button_Gray
$ui_button_03_enabled: $gray50;
$ui_button_03_hover: $gray75;
$ui_button_03_pressed: $gray150;
$ui_button_03_focused: $gray50;
$ui_button_03_focused_border1: $white;
$ui_button_03_focused_border2: $gray500;
$ui_button_03_disabled: $gray75;

// Button_Outline
$ui_button_04_enabled: $white;
$ui_button_04_enabled_border: $gray150;
$ui_button_04_hover: $gray50;
$ui_button_04_hover_border: $gray400;
$ui_button_04_pressed: $gray100;
$ui_button_04_pressed_border: $gray200;
$ui_button_04_focused: $white;
$ui_button_04_focused_border: $gray500;
$ui_button_04_disabled: $gray75;
$ui_button_04_disabled_border: $gray150;

// Button_Inverse
$ui_button_inverse_f_enabled: $white;
$ui_button_inverse_f_hover: $gray50;
$ui_button_inverse_f_pressed: $gray100;
$ui_button_inverse_f_focused: $white;
$ui_button_inverse_f_focused_border: $black_alpha25;
$ui_button_inverse_f_disabled: $gray75;

// Button_Inverse_ghost
$ui_button_inverse_g_enabled: transparent;
$ui_button_inverse_g_enabled_border: $white;
$ui_button_inverse_g_hover: $white_alpha20;
$ui_button_inverse_g_hover_border: $white;
$ui_button_inverse_g_pressed: $white_alpha10;
$ui_button_inverse_g_pressed_border: $white;
$ui_button_inverse_g_focused: $white_alpha20;
$ui_button_inverse_g_focused_border: $white;
$ui_button_inverse_g_disabled: transparent;
$ui_button_inverse_g_disabled_border: $white_alpha20;

// Form_Line
$ui_form_line_enabled: $white;
$ui_form_line_enabled_border: $gray150;
$ui_form_line_hover: $white;
$ui_form_line_hover_border: $gray500;
$ui_form_line_focused: $white;
$ui_form_line_focused_border: $gray500;
$ui_form_line_error: $white;
$ui_form_line_error_border: $system_error;
$ui_form_line_warning: $white;
$ui_form_line_warning_border: $system_warning;
$ui_form_line_success: $white;
$ui_form_line_success_border: $system_success;
$ui_form_line_informational: $white;
$ui_form_line_informational_border: $system_info;
$ui_form_line_disabled: $gray50;
$ui_form_line_disabled_border: $gray200;

// Form_Fill
$ui_form_fill_enabled: $gray50;
$ui_form_fill_hover: $gray75;
$ui_form_fill_focused: $gray75;
$ui_form_fill_error: $gray50;
$ui_form_fill_error_border: $system_error;
$ui_form_fill_warning: $gray50;
$ui_form_fill_warning_border: $system_warning;
$ui_form_fill_success: $gray50;
$ui_form_fill_success_border: $system_success;
$ui_form_fill_informational: $gray50;
$ui_form_fill_informational_border: $system_info;
$ui_form_fill_disabled: $gray50;

// Form_Inverse
$ui_form_inverse_enabled: $white_alpha20;
$ui_form_inverse_hover: $white_alpha30;
$ui_form_inverse_focused: $white_alpha30;
$ui_form_inverse_error: $white_alpha20;
$ui_form_inverse_error_border: $system_error;
$ui_form_inverse_warning: $white_alpha20;
$ui_form_inverse_warning_border: $system_warning;
$ui_form_inverse_success: $white_alpha20;
$ui_form_inverse_success_border: $system_success;
$ui_form_inverse_informational: $white_alpha20;
$ui_form_inverse_informational_border: $system_info;
$ui_form_inverse_disabled: $white_alpha20;

// Font
$ui_text_01: $gray900;
$ui_text_02: $gray700;
$ui_text_03: $gray500;
$ui_text_04: $gray400;
$ui_text_brand: $orange500;
$ui_text_inverse_01: $white;
$ui_text_inverse_02: $white_alpha60;
$ui_text_error: $system_error;
$ui_text_warning: $system_warning;
$ui_text_success: $system_success;
$ui_text_informational: $system_info;
$ui_text_link: $system_link;
$ui_text_link_visited: $system_link_visited;
$ui_text_placeholder: $gray200;
$ui_text_disabled: $gray300;

// Divider
$ui_divider_black_01: $black_alpha15;
$ui_divider_black_02: $black_alpha10;
$ui_divider_black_03: $black_alpha5;

// Divider_Inverse
$ui_divider_inverse_01: $white_alpha15;
$ui_divider_inverse_02: $white_alpha10;
$ui_divider_inverse_03: $white_alpha5;

// Shadow
$ui_shadow_01: $black_alpha5;
$ui_shadow_02: $black_alpha10;
$ui_shadow_03: $black_alpha15;
$ui_shadow_04: $black_alpha20;

// Overlays _ Black
$ui_overlay_b_d01: $black_alpha75;
$ui_overlay_b_d02: $black_alpha50;
$ui_overlay_b_d03: $black_alpha15;
$ui_overlay_b_b10_01: $black_alpha75;
$ui_overlay_b_b10_02: $black_alpha50;
$ui_overlay_b_b10_03: $black_alpha15;
$ui_overlay_b_b20_01: $black_alpha75;
$ui_overlay_b_b20_02: $black_alpha50;
$ui_overlay_b_b20_03: $black_alpha15;
$ui_overlay_b_b40_01: $black_alpha75;
$ui_overlay_b_b40_02: $black_alpha50;
$ui_overlay_b_b40_03: $black_alpha15;

// Overlays _ White
$ui_overlay_w_d01: $white_alpha75;
$ui_overlay_w_d02: $white_alpha50;
$ui_overlay_w_d03: $white_alpha15;
$ui_overlay_w_b10_01: $white_alpha75;
$ui_overlay_w_b10_02: $white_alpha50;
$ui_overlay_w_b10_03: $white_alpha15;
$ui_overlay_w_b20_01: $white_alpha75;
$ui_overlay_w_b20_02: $white_alpha50;
$ui_overlay_w_b20_03: $white_alpha15;
$ui_overlay_w_b40_01: $white_alpha75;
$ui_overlay_w_b40_02: $white_alpha50;
$ui_overlay_w_b40_03: $white_alpha15;

// Gradients _ Black
// $ui_gradients_b_b01: linear_gradient(to bottom, transparent 80%, #000000);
// $ui_gradients_b_b02: linear_gradient(to bottom, transparent 60%, #000000);
// $ui_gradients_b_b03: linear_gradient(to bottom, transparent 40%, #000000);
// $ui_gradients_b_b04: linear_gradient(to bottom, transparent 20%, #000000);
// $ui_gradients_b_b05: linear_gradient(to bottom, transparent 0, #000000);

// Skeleton
$ui_skeleton_white: $white;
$ui_skeleton_gray: $black_alpha5;

/* ColorVariable > InteractiveColor */
// Primary Color
$interactive_01_highlight: $orange50;
$interactive_01_enabled: $orange500;
$interactive_01_hover: $orange400;
$interactive_01_pressed: $orange700;
$interactive_01_focus: $orange500;
$interactive_01_selected: $orange600;
$interactive_01_disabled: $gray300;

// Secondary Color
$interactive_02_highlight: $navy50;
$interactive_02_enabled: $navy800;
$interactive_02_hover: $navy700;
$interactive_02_pressed: $navy900;
$interactive_02_focus: $navy800;
$interactive_02_selected: $navy900;
$interactive_02_disabled: $gray300;

// Gray
$interactive_03_hover: $black_alpha5;
$interactive_03_pressed: $black_alpha10;
$interactive_03_focused: $black_alpha8;
$interactive_03_selected: $black_alpha10;

/* color database */
/* colorDatabase > UI */
// Background
$colorDatabaseBackground: (
    ui_bg_base_white: $ui_bg_base_white,
    ui_bg_base_gray1: $ui_bg_base_gray1,
    ui_bg_base_gray2: $ui_bg_base_gray2,
    ui_bg_navigation_white: $ui_bg_navigation_white,
    ui_bg_navigation_gray: $ui_bg_navigation_gray,
    ui_bg_surface_white: $ui_bg_surface_white,
    ui_bg_surface_gray: $ui_bg_surface_gray,
    ui_bg_highlight: $ui_bg_highlight,
);

// Border
$colorDatabaseBorder: (
    ui_border_thumbnail: $ui_border_thumbnail,
    ui_border_contents: $ui_border_contents,
);

$colorDatabaseBrand: (
    ui_icon_brand_enabled: $orange500,
    ui_icon_brand_hover: $orange400,
    ui_icon_brand_pressed: $orange700,
    ui_icon_brand_focused: $orange500,
    ui_icon_brand_selected: $orange700,
    ui_icon_brand_disabled: $gray300,
);

// Icon_Primary
$colorDatabaseIconPrimary: (
    ui_icon_01_enabled: $gray900,
    ui_icon_01_hover: $gray600,
    ui_icon_01_pressed: $black,
    ui_icon_01_focused: $gray900,
    ui_icon_01_selected: $orange500,
    ui_icon_01_disabled: $gray300,
);

// Icon_Secondary
$colorDatabaseIconSecondary: (
    ui_icon_02_enabled: $gray700,
    ui_icon_02_hover: $gray500,
    ui_icon_02_pressed: $gray900,
    ui_icon_02_focused: $gray700,
    ui_icon_02_selected: $orange500,
    ui_icon_02_disabled: $gray300,
);

// Icon_Tertiary
$colorDatabaseIconTertiary: (
    ui_icon_03_enabled: $gray500,
    ui_icon_03_hover: $gray300,
    ui_icon_03_pressed: $gray700,
    ui_icon_03_focused: $gray500,
    ui_icon_03_selected: $orange500,
    ui_icon_03_disabled: $gray300,
);

// Icon_Quaternary
$colorDatabaseIconQuaternary: (
    ui_icon_04_enabled: $gray400,
    ui_icon_04_hover: $gray200,
    ui_icon_04_pressed: $gray600,
    ui_icon_04_focused: $gray400,
    ui_icon_04_selected: $orange500,
    ui_icon_04_disabled: $gray200,
);

// Icon_Quinary
$colorDatabaseIconQuinary: (
    ui_icon_05_enabled: $gray200,
    ui_icon_05_hover: $gray100,
    ui_icon_05_pressed: $gray400,
    ui_icon_05_focused: $gray200,
    ui_icon_05_selected: $orange500,
    ui_icon_05_disabled: $gray100,
);

// Icon_Inverse
$colorDatabaseIconInverse: (
    ui_icon_inverse_enabled: $white,
    ui_icon_inverse_hover: $white_alpha80,
    ui_icon_inverse_pressed: $white_alpha60,
    ui_icon_inverse_focused: $orange500,
    ui_icon_inverse_selected: $white_alpha90,
    ui_icon_inverse_disabled: $white_alpha40,
);

// Button_Primary
$colorDatabaseButtonPrimary: (
    ui_button_01_enabled: $orange500,
    ui_button_01_hover: $orange400,
    ui_button_01_pressed: $orange700,
    ui_button_01_focused: $orange500,
    ui_button_01_focused_border1: $white,
    ui_button_01_focused_border2: $orange500,
    ui_button_01_disabled: $gray75,
);

// Button_Secondary
$colorDatabaseButtonSecondary: (
    ui_button_02_enabled: $gray600,
    ui_button_02_hover: $gray500,
    ui_button_02_pressed: $gray700,
    ui_button_02_focused: $gray600,
    ui_button_02_focused_border1: $white,
    ui_button_02_focused_border2: $gray600,
    ui_button_02_disabled: $gray75,
);

// Button_Gray
$colorDatabaseButtonGray: (
    ui_button_03_enabled: $gray50,
    ui_button_03_hover: $gray75,
    ui_button_03_pressed: $gray150,
    ui_button_03_focused: $gray50,
    ui_button_03_focused_border1: $white,
    ui_button_03_focused_border2: $gray500,
    ui_button_03_disabled: $gray75,
);

// Button_Outline
$colorDatabaseButtonOutline: (
    ui_button_04_enabled: $white,
    ui_button_04_enabled_border: $gray150,
    ui_button_04_hover: $gray50,
    ui_button_04_hover_border: $gray400,
    ui_button_04_pressed: $gray100,
    ui_button_04_pressed_border: $gray200,
    ui_button_04_focused: $white,
    ui_button_04_focused_border: $gray500,
    ui_button_04_disabled: $gray75,
    ui_button_04_disabled_border: $gray150,
);

// Button_Inverse
$colorDatabaseButtonInverse: (
    ui_button_inverse_f_enabled: $white,
    ui_button_inverse_f_hover: $gray50,
    ui_button_inverse_f_pressed: $gray100,
    ui_button_inverse_f_focused: $white,
    ui_button_inverse_f_focused_border: $black_alpha25,
    ui_button_inverse_f_disabled: $gray75,
);

// Button_Inverse_ghost
$colorDatabaseButtonInverseGhost: (
    ui_button_inverse_g_enabled: transparent,
    ui_button_inverse_g_enabled_border: $white,
    ui_button_inverse_g_hover: $white_alpha20,
    ui_button_inverse_g_hover_border: $white,
    ui_button_inverse_g_pressed: $white_alpha10,
    ui_button_inverse_g_pressed_border: $white,
    ui_button_inverse_g_focused: $white_alpha20,
    ui_button_inverse_g_focused_border: $white,
    ui_button_inverse_g_disabled: transparent,
    ui_button_inverse_g_disabled_border: $white_alpha20,
);

// Form_Line
$colorDatabaseFormLine: (
    ui_form_line_enabled: $white,
    ui_form_line_enabled_border: $gray150,
    ui_form_line_hover: $white,
    ui_form_line_hover_border: $gray500,
    ui_form_line_focused: $white,
    ui_form_line_focused_border: $gray500,
    ui_form_line_error: $white,
    ui_form_line_error_border: $system_error,
    ui_form_line_warning: $white,
    ui_form_line_warning_border: $system_warning,
    ui_form_line_success: $white,
    ui_form_line_success_border: $system_success,
    ui_form_line_informational: $white,
    ui_form_line_informational_border: $system_info,
    ui_form_line_disabled: $gray50,
    ui_form_line_disabled_border: $gray200,
);

// Form_Fill
$colorDatabaseFormFill: (
    ui_form_fill_enabled: $gray50,
    ui_form_fill_hover: $gray75,
    ui_form_fill_focused: $gray75,
    ui_form_fill_error: $system_error,
    ui_form_fill_error_border: $gray50,
    ui_form_fill_warning: $system_warning,
    ui_form_fill_warning_border: $gray50,
    ui_form_fill_success: $system_success,
    ui_form_fill_success_border: $gray50,
    ui_form_fill_informational: $system_info,
    ui_form_fill_informational_border: $gray50,
    ui_form_fill_disabled: $gray50,
);

// Form_Inverse
$colorDatabaseFormInverse: (
    ui_form_inverse_enabled: $white_alpha20,
    ui_form_inverse_hover: $white_alpha30,
    ui_form_inverse_focused: $white_alpha30,
    ui_form_inverse_error: $white_alpha20,
    ui_form_inverse_error_border: $system_error,
    ui_form_inverse_warning: $white_alpha20,
    ui_form_inverse_warning_border: $system_warning,
    ui_form_inverse_success: $white_alpha20,
    ui_form_inverse_success_border: $system_success,
    ui_form_inverse_informational: $white_alpha20,
    ui_form_inverse_informational_border: $system_info,
    ui_form_inverse_disabled: $white_alpha20,
);

// Font
$colorDatabaseFont: (
    ui_text_01: $gray900,
    ui_text_02: $gray700,
    ui_text_03: $gray500,
    ui_text_04: $gray400,
    ui_text_brand: $orange500,
    ui_text_inverse_01: $white,
    ui_text_inverse_02: $white_alpha60,
    ui_text_error: $system_error,
    ui_text_warning: $system_warning,
    ui_text_success: $system_success,
    ui_text_informational: $system_info,
    ui_text_link: $system_link,
    ui_text_link_visited: $system_link_visited,
    ui_text_placeholder: $gray200,
    ui_text_disabled: $gray300,
);

// Divider
$colorDatabaseDivider: (
    ui_divider_black_01: $black_alpha15,
    ui_divider_black_02: $black_alpha10,
    ui_divider_black_03: $black_alpha5,
);
// Divider_Inverse
$colorDatabaseDividerInverse: (
    ui_divider_inverse_01: $white_alpha15,
    ui_divider_inverse_02: $white_alpha10,
    ui_divider_inverse_03: $white_alpha5,
);

// Shadow
$colorDatabaseShadow: (
    ui_shadow_01: $black_alpha5,
    ui_shadow_02: $black_alpha10,
    ui_shadow_03: $black_alpha15,
    ui_shadow_04: $black_alpha20,
);

// Overlays _ Black
$colorDatabaseOverlaysBlack: (
    ui_overlay_b_d01: $black_alpha75,
    ui_overlay_b_d02: $black_alpha50,
    ui_overlay_b_d03: $black_alpha15,
    ui_overlay_b_b10_01: $black_alpha75,
    ui_overlay_b_b10_02: $black_alpha50,
    ui_overlay_b_b10_03: $black_alpha15,
    ui_overlay_b_b20_01: $black_alpha75,
    ui_overlay_b_b20_02: $black_alpha50,
    ui_overlay_b_b20_03: $black_alpha15,
    ui_overlay_b_b40_01: $black_alpha75,
    ui_overlay_b_b40_02: $black_alpha50,
    ui_overlay_b_b40_03: $black_alpha15,
);
// Overlays _ White
$colorDatabaseOverlaysWhite: (
    ui_overlay_w_d01: $white_alpha75,
    ui_overlay_w_d02: $white_alpha50,
    ui_overlay_w_d03: $white_alpha15,
    ui_overlay_w_b10_01: $white_alpha75,
    ui_overlay_w_b10_02: $white_alpha50,
    ui_overlay_w_b10_03: $white_alpha15,
    ui_overlay_w_b20_01: $white_alpha75,
    ui_overlay_w_b20_02: $white_alpha50,
    ui_overlay_w_b20_03: $white_alpha15,
    ui_overlay_w_b40_01: $white_alpha75,
    ui_overlay_w_b40_02: $white_alpha50,
    ui_overlay_w_b40_03: $white_alpha15,
);

// Skeleton
$colorDatabaseSkeleton: (
    ui_skeleton_white: $white,
    ui_skeleton_gray: $black_alpha5,
);

/* colorDatabase >  InteractiveColor */
// Primary Color
$colorDatabasePrimaryColor: (
    interactive_01_highlight: $orange50,
    interactive_01_enabled: $orange500,
    interactive_01_hover: $orange400,
    interactive_01_pressed: $orange700,
    interactive_01_focus: $orange500,
    interactive_01_selected: $orange600,
    interactive_01_disabled: $gray300,
);

// Secondary Color
$colorDatabaseSecondaryColor: (
    interactive_02_highlight: $navy50,
    interactive_02_enabled: $navy800,
    interactive_02_hover: $navy700,
    interactive_02_pressed: $navy900,
    interactive_02_focus: $navy800,
    interactive_02_selected: $navy900,
    interactive_02_disabled: $gray300,
);

// Gray Color
$colorDatabaseGrayColor: (
    interactive_03_hover: $black_alpha5,
    interactive_03_pressed: $black_alpha10,
    interactive_03_focused: $black_alpha8,
    interactive_03_selected: $black_alpha10,
);

$colorList: (
    $colorDatabaseBackground,
    $colorDatabaseBorder,
    $colorDatabaseBrand,
    $colorDatabaseIconPrimary,
    $colorDatabaseIconSecondary,
    $colorDatabaseIconTertiary,
    $colorDatabaseIconQuaternary,
    $colorDatabaseIconQuinary,
    $colorDatabaseIconInverse,
    $colorDatabaseButtonPrimary,
    $colorDatabaseButtonSecondary,
    $colorDatabaseButtonGray,
    $colorDatabaseButtonOutline,
    $colorDatabaseButtonInverse,
    $colorDatabaseButtonInverseGhost,
    $colorDatabaseFormLine,
    $colorDatabaseFormFill,
    $colorDatabaseFormInverse,
    $colorDatabaseFont,
    $colorDatabaseDivider,
    $colorDatabaseDividerInverse,
    $colorDatabaseShadow,
    $colorDatabaseOverlaysBlack,
    $colorDatabaseOverlaysWhite,
    $colorDatabaseSkeleton,
    $colorDatabasePrimaryColor,
    $colorDatabaseSecondaryColor,
    $colorDatabaseGrayColor
);

/* Color palette Database */
$colorDatabasePalettePrimary: (
    orange50: $orange50,
    orange100: $orange100,
    orange200: $orange200,
    orange300: $orange300,
    orange400: $orange400,
    orange500: $orange500,
    orange600: $orange600,
    orange700: $orange700,
    orange800: $orange800,
    orange900: $orange900,
);

$colorDatabasePalette: (
    navy50: $navy50,
    navy100: $navy100,
    navy200: $navy200,
    navy300: $navy300,
    navy400: $navy400,
    navy500: $navy500,
    navy600: $navy600,
    navy700: $navy700,
    navy800: $navy800,
    navy900: $navy900,
    white_alpha5: $white_alpha5,
    white_alpha8: $white_alpha8,
    white_alpha10: $white_alpha10,
    white_alpha15: $white_alpha15,
    white_alpha20: $white_alpha20,
    white_alpha25: $white_alpha25,
    white_alpha30: $white_alpha30,
    white_alpha40: $white_alpha40,
    white_alpha50: $white_alpha50,
    white_alpha60: $white_alpha60,
    white_alpha70: $white_alpha70,
    white_alpha75: $white_alpha75,
    white_alpha80: $white_alpha80,
    white_alpha90: $white_alpha90,
    white: $white,
    gray25: $gray25,
    gray50: $gray50,
    gray75: $gray75,
    gray100: $gray100,
    gray150: $gray150,
    gray200: $gray200,
    gray300: $gray300,
    gray400: $gray400,
    gray500: $gray500,
    gray600: $gray600,
    gray700: $gray700,
    gray800: $gray800,
    gray900: $gray900,
    bluegray50: $bluegray50,
    bluegray100: $bluegray100,
    bluegray200: $bluegray200,
    bluegray300: $bluegray300,
    bluegray400: $bluegray400,
    bluegray500: $bluegray500,
    bluegray600: $bluegray600,
    bluegray650: $bluegray650,
    bluegray700: $bluegray700,
    bluegray750: $bluegray750,
    bluegray800: $bluegray800,
    bluegray850: $bluegray850,
    bluegray900: $bluegray900,
    black_alpha5: $black_alpha5,
    black_alpha8: $black_alpha8,
    black_alpha10: $black_alpha10,
    black_alpha15: $black_alpha15,
    black_alpha20: $black_alpha20,
    black_alpha25: $black_alpha25,
    black_alpha30: $black_alpha30,
    black_alpha40: $black_alpha40,
    black_alpha50: $black_alpha50,
    black_alpha60: $black_alpha60,
    black_alpha70: $black_alpha70,
    black_alpha75: $black_alpha75,
    black_alpha80: $black_alpha80,
    black_alpha90: $black_alpha90,
    black: $black,
    system_error: $system_error,
    system_warning: $system_warning,
    system_success: $system_success,
    system_info: $system_info,
    system_link: $system_link,
    system_link_visited: $system_link_visited,
    tint_red50: $tint_red50,
    tint_red100: $tint_red100,
    tint_red200: $tint_red200,
    tint_red300: $tint_red300,
    tint_red400: $tint_red400,
    tint_red500: $tint_red500,
    tint_red600: $tint_red600,
    tint_red700: $tint_red700,
    tint_red800: $tint_red800,
    tint_red900: $tint_red900,
    tint_reda50: $tint_reda50,
    tint_reda100: $tint_reda100,
    tint_reda200: $tint_reda200,
    tint_reda400: $tint_reda400,
    tint_reda700: $tint_reda700,
    tint_orange50: $tint_orange50,
    tint_orange100: $tint_orange100,
    tint_orange200: $tint_orange200,
    tint_orange300: $tint_orange300,
    tint_orange400: $tint_orange400,
    tint_orange500: $tint_orange500,
    tint_orange600: $tint_orange600,
    tint_orange700: $tint_orange700,
    tint_orange800: $tint_orange800,
    tint_orange900: $tint_orange900,
    tint_orangea50: $tint_orangea50,
    tint_orangea100: $tint_orangea100,
    tint_orangea200: $tint_orangea200,
    tint_orangea400: $tint_orangea400,
    tint_orangea700: $tint_orangea700,
    tint_yellow50: $tint_yellow50,
    tint_yellow100: $tint_yellow100,
    tint_yellow200: $tint_yellow200,
    tint_yellow300: $tint_yellow300,
    tint_yellow400: $tint_yellow400,
    tint_yellow500: $tint_yellow500,
    tint_yellow600: $tint_yellow600,
    tint_yellow700: $tint_yellow700,
    tint_yellow800: $tint_yellow800,
    tint_yellow900: $tint_yellow900,
    tint_yellowa50: $tint_yellowa50,
    tint_yellowa100: $tint_yellowa100,
    tint_yellowa200: $tint_yellowa200,
    tint_yellowa400: $tint_yellowa400,
    tint_yellowa700: $tint_yellowa700,
    tint_lime50: $tint_lime50,
    tint_lime100: $tint_lime100,
    tint_lime200: $tint_lime200,
    tint_lime300: $tint_lime300,
    tint_lime400: $tint_lime400,
    tint_lime500: $tint_lime500,
    tint_lime600: $tint_lime600,
    tint_lime700: $tint_lime700,
    tint_lime800: $tint_lime800,
    tint_lime900: $tint_lime900,
    tint_limea50: $tint_limea50,
    tint_limea100: $tint_limea100,
    tint_limea200: $tint_limea200,
    tint_limea400: $tint_limea400,
    tint_limea700: $tint_limea700,
    tint_green50: $tint_green50,
    tint_green100: $tint_green100,
    tint_green200: $tint_green200,
    tint_green300: $tint_green300,
    tint_green400: $tint_green400,
    tint_green500: $tint_green500,
    tint_green600: $tint_green600,
    tint_green700: $tint_green700,
    tint_green800: $tint_green800,
    tint_green900: $tint_green900,
    tint_greena50: $tint_greena50,
    tint_greena100: $tint_greena100,
    tint_greena200: $tint_greena200,
    tint_greena400: $tint_greena400,
    tint_greena700: $tint_greena700,
    tint_teal50: $tint_teal50,
    tint_teal100: $tint_teal100,
    tint_teal200: $tint_teal200,
    tint_teal300: $tint_teal300,
    tint_teal400: $tint_teal400,
    tint_teal500: $tint_teal500,
    tint_teal600: $tint_teal600,
    tint_teal700: $tint_teal700,
    tint_teal800: $tint_teal800,
    tint_teal900: $tint_teal900,
    tint_teala50: $tint_teala50,
    tint_teala100: $tint_teala100,
    tint_teala200: $tint_teala200,
    tint_teala400: $tint_teala400,
    tint_teala700: $tint_teala700,
    tint_blue50: $tint_blue50,
    tint_blue100: $tint_blue100,
    tint_blue200: $tint_blue200,
    tint_blue300: $tint_blue300,
    tint_blue400: $tint_blue400,
    tint_blue500: $tint_blue500,
    tint_blue600: $tint_blue600,
    tint_blue700: $tint_blue700,
    tint_blue800: $tint_blue800,
    tint_blue900: $tint_blue900,
    tint_bluea50: $tint_bluea50,
    tint_bluea100: $tint_bluea100,
    tint_bluea200: $tint_bluea200,
    tint_bluea400: $tint_bluea400,
    tint_bluea700: $tint_bluea700,
    tint_indigo50: $tint_indigo50,
    tint_indigo100: $tint_indigo100,
    tint_indigo200: $tint_indigo200,
    tint_indigo300: $tint_indigo300,
    tint_indigo400: $tint_indigo400,
    tint_indigo500: $tint_indigo500,
    tint_indigo600: $tint_indigo600,
    tint_indigo700: $tint_indigo700,
    tint_indigo800: $tint_indigo800,
    tint_indigo900: $tint_indigo900,
    tint_indigoa50: $tint_indigoa50,
    tint_indigoa100: $tint_indigoa100,
    tint_indigoa200: $tint_indigoa200,
    tint_indigoa400: $tint_indigoa400,
    tint_indigoa700: $tint_indigoa700,
    tint_dazzlingblue50: $tint_dazzlingblue50,
    tint_dazzlingblue100: $tint_dazzlingblue100,
    tint_dazzlingblue200: $tint_dazzlingblue200,
    tint_dazzlingblue300: $tint_dazzlingblue300,
    tint_dazzlingblue400: $tint_dazzlingblue400,
    tint_dazzlingblue500: $tint_dazzlingblue500,
    tint_dazzlingblue600: $tint_dazzlingblue600,
    tint_dazzlingblue700: $tint_dazzlingblue700,
    tint_dazzlingblue800: $tint_dazzlingblue800,
    tint_dazzlingblue900: $tint_dazzlingblue900,
    tint_dazzlingbluea50: $tint_dazzlingbluea50,
    tint_dazzlingbluea100: $tint_dazzlingbluea100,
    tint_dazzlingbluea200: $tint_dazzlingbluea200,
    tint_dazzlingbluea400: $tint_dazzlingbluea400,
    tint_dazzlingbluea700: $tint_dazzlingbluea700,
    tint_purple50: $tint_purple50,
    tint_purple100: $tint_purple100,
    tint_purple200: $tint_purple200,
    tint_purple300: $tint_purple300,
    tint_purple400: $tint_purple400,
    tint_purple500: $tint_purple500,
    tint_purple600: $tint_purple600,
    tint_purple700: $tint_purple700,
    tint_purple800: $tint_purple800,
    tint_purple900: $tint_purple900,
    tint_purplea50: $tint_purplea50,
    tint_purplea100: $tint_purplea100,
    tint_purplea200: $tint_purplea200,
    tint_purplea400: $tint_purplea400,
    tint_purplea700: $tint_purplea700,
    tint_magenta50: $tint_magenta50,
    tint_magenta100: $tint_magenta100,
    tint_magenta200: $tint_magenta200,
    tint_magenta300: $tint_magenta300,
    tint_magenta400: $tint_magenta400,
    tint_magenta500: $tint_magenta500,
    tint_magenta600: $tint_magenta600,
    tint_magenta700: $tint_magenta700,
    tint_magenta800: $tint_magenta800,
    tint_magenta900: $tint_magenta900,
    tint_magentaa50: $tint_magentaa50,
    tint_magentaa100: $tint_magentaa100,
    tint_magentaa200: $tint_magentaa200,
    tint_magentaa400: $tint_magentaa400,
    tint_magentaa700: $tint_magentaa700,
    tint_pink50: $tint_pink50,
    tint_pink100: $tint_pink100,
    tint_pink200: $tint_pink200,
    tint_pink300: $tint_pink300,
    tint_pink400: $tint_pink400,
    tint_pink500: $tint_pink500,
    tint_pink600: $tint_pink600,
    tint_pink700: $tint_pink700,
    tint_pink800: $tint_pink800,
    tint_pink900: $tint_pink900,
    tint_pinka50: $tint_pinka50,
    tint_pinka100: $tint_pinka100,
    tint_pinka200: $tint_pinka200,
    tint_pinka400: $tint_pinka400,
    tint_pinka700: $tint_pinka700,
);

/*
    -------------------------------------------------------
    -------------------------------------------------------

        ♧ColorCssType
            ┣━━━ background	(button, overlay, gradient, hover, pressed, focused, disabled)
            ┣━━━ border	(Thumbnail, hover, pressed, focused, disabled)
            ┣━━━ color (icon, hover, pressed, focused, disabled)
            ┗━━━ box-shadow (shadow)

    -------------------------------------------------------
    -------------------------------------------------------
*/

/* mixin */
@mixin cssGnerator($data, $css) {
    @each $name, $color in $data {
        .#{"" + $name + ""} {
            #{$css}: $color;
            @content;
        }
    }
}
@mixin dataCssGnerator($data, $css) {
    @each $type in $data {
        @each $name, $color in $type {
            .#{"" + $name + ""} {
                #{$css}: $color;
                @content;
            }
        }
    }
}
