@use "./color";
@use "./font";
@use "./space";

/* XL 1600 */
.module-detail {
    position: relative;
    padding: space.$stds-spacing-40 space.$stds-spacing-56;
    background: color.$white;
    .detail-header {
        border-bottom: 1px solid color.$ui_divider_black_02;
        /* title-btn = 시스템 단위가 적용 되어있지않음 */
        .title-btn {
            display: flex;
            align-items: center;
            font-size: font.$stdsBody2;
            color: color.$ui_text_03;
            margin-bottom: space.$stds-spacing-12;
            i {
                font-size: 1.6rem;
                color: color.$ui_icon_01_enabled;
            }
        }
        .title-location {
            @include stdsBody2($weight: normal);
            color: color.$ui_text_brand;
            margin-bottom: space.$stds-spacing-12;
            span {
                color: color.$ui_text_03;
            }
            .midd-dot {
                color: color.$ui_text_03;
                padding: 0 space.$stds-spacing-8;
            }
        }
        .title {
            @include stdsTitle3();
            color: color.$ui_text_01;
            margin-bottom: space.$stds-spacing-40;
            flex: 1;
            strong {
                color: color.$ui_text_brand;
                margin-left: space.$stds-spacing-8;
            }
        }
        .info-wrap {
            display: flex;
            .info {
                flex: 1;
                margin-bottom: space.$stds-spacing-24;
                .nick {
                    .profile-link {
                        .profile-img {
                            width: space.$stds-spacing-40;
                            height: space.$stds-spacing-40;
                        }
                    }
                }
            }
            .info-btn {
                display: flex;
                align-items: baseline;
                button {
                    i {
                        font-size: 2rem;
                        color: color.$ui_icon_05_enabled;
                    }
                    &:hover {
                        i {
                            color: color.$ui_icon_05_hover;
                        }
                    }
                    &:focus,
                    &:focus-within {
                        i {
                            color: color.$ui_icon_05_focused;
                        }
                    }
                    &.active {
                        i {
                            color: color.$ui_icon_05_focused;
                        }
                    }
                }
                .element-dropdown {
                    margin-left: space.$stds-spacing-12;
                    .element-dropdown-layer {
                        right: 0;
                    }
                }
            }
        }
    }
    .detail-contents {
        padding: space.$stds-spacing-40 0 space.$stds-spacing-48;
        .sub-tit {
            @include stdsTitle5();
            color: color.$ui_text_01;
            padding-bottom: space.$stds-spacing-32;
        }
        .module-write-ui {
            margin-top: space.$stds-spacing-24;
        }
        .section-hashtag {
            margin-top: space.$stds-spacing-32;
            font-size: 0;
            .element-btn {
                margin: 0 space.$stds-spacing-8 space.$stds-spacing-8 0;
                .btn-txt {
                    line-height: 2rem;
                    font-weight: normal;
                }
            }
        }
        .section-share {
            text-align: center;
            font-size: 0;
            margin-top: space.$stds-spacing-64;
            .element-btn {
                margin-left: space.$stds-spacing-8;
                &:first-of-type {
                    margin-left: 0;
                }
                &:active,
                &:focus,
                &:focus-within {
                    .ic-community-like-line {
                        color: color.$ui_icon_01_focused;
                    }
                    .ic-community-thumbs-up-line {
                        color: color.$tint_red400;
                    }
                    .ic-community-thumbs-down-line {
                        color: color.$tint_blue500;
                    }
                }
            }
        }
    }
    .detail-banner {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .detail-footer {
        margin-top: space.$stds-spacing-48;
        .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-bottom: space.$stds-spacing-16;
            .container {
                display: flex;
                strong {
                    @include stdsTitle5();
                    color: color.$ui_text_01;
                }
                button {
                    i {
                        font-size: 2rem;
                        color: color.$ui_icon_05_enabled;
                        margin: 0.3rem 0 0 space.$stds-spacing-8;
                    }
                    &:hover {
                        i {
                            color: color.$ui_icon_01_hover;
                        }
                    }
                    &:focus,
                    &:focus-within {
                        i {
                            color: color.$ui_icon_01_focused;
                        }
                    }
                }
            }
            &+.contents {
                padding-top: 0;
            }
        }
        .reply-write {
            position: relative;
        }
        .contents {
            position: relative;
            padding-top: space.$stds-spacing-20;
            &+.reply-write {
                margin-top: space.$stds-spacing-20;
            }
        }
    }
    .pagination {
        padding: space.$stds-spacing-36 0;
    }
}

/* M 1280 ~ 1599 */
@media (min-width: 1280px) and (max-width: 1599px) {
    .module-detail {
        padding: space.$stds-spacing-40 space.$stds-spacing-32;
    }
}

/* S 768 ~ 1279 */
@media (min-width: 768px) and (max-width: 1279px) {
    .module-detail {
        padding: space.$stds-spacing-24 space.$stds-spacing-32;
        .detail-header {
            .title-btn {
                @include stdsBody3();
                margin-bottom: space.$stds-spacing-8;

                i {}
            }

            .title-location {
                @include stdsBody3();
                margin-bottom: space.$stds-spacing-8;

                .midd-dot {
                    padding: 0 space.$stds-spacing-4;
                }
            }

            .title {
                @include stdsTitle4();
                margin-bottom: space.$stds-spacing-28;

                strong {}
            }

            .info-wrap {
                .info {
                    .nick {
                        .profile-link {
                            .profile-img {
                                width: space.$stds-spacing-40;
                                height: space.$stds-spacing-40;
                            }
                        }
                    }
                }

                .info-btn {
                    i {
                        &:hover {}
                    }

                    .element-dropdown {
                        .element-dropdown-layer {}
                    }
                }
            }
        }
        .detail-contents {
            padding: space.$stds-spacing-32 0 space.$stds-spacing-48;

            .sub-tit {
                padding-bottom: space.$stds-spacing-24;
            }

            .module-write-ui {}

            .section-hashtag {
                margin-top: space.$stds-spacing-24;

                .element-btn {
                    .btn-txt {}
                }
            }

            .section-share {
                display: none;
            }
        }
        .detail-footer {
            .header {
                padding-bottom: space.$stds-spacing-12;

                .container {
                    strong {
                        @include stdsTitle6();
                    }

                    button {
                        .ic-navigation-alarm-disabled-line {}

                        &:hover {
                            .ic-navigation-alarm-disabled-line {}
                        }

                        &:focus,
                        &:focus-within {
                            .ic-navigation-alarm-disabled-line {}
                        }
                    }
                }

                &+.contents {}
            }

            .reply-write {}

            .contents {
                padding-top: space.$stds-spacing-20;

                &+.reply-write {}
            }
        }
    }
}

/* XS 0 ~ 767 */
@media (max-width: 767px) {
    .module-detail {
        padding: space.$stds-spacing-24 space.$stds-spacing-16;
        .detail-header {
            .title-btn {
                @include stdsBody3();
                margin-bottom: space.$stds-spacing-8;

                i {}
            }

            .title-location {
                @include stdsBody3();
                margin-bottom: space.$stds-spacing-8;

                .midd-dot {
                    padding: 0 space.$stds-spacing-4;
                }
            }

            .title {
                @include stdsTitle4();
                margin-bottom: space.$stds-spacing-28;

                strong {}
            }

            .info-wrap {
                .info {
                    .nick {
                        .profile-link {
                            .profile-img {
                                width: space.$stds-spacing-40;
                                height: space.$stds-spacing-40;
                            }
                        }
                    }
                }

                .info-btn {
                    i {
                        &:hover {}
                    }

                    .element-dropdown {
                        .element-dropdown-layer {}
                    }
                }
            }
        }
        .detail-contents {
            padding: space.$stds-spacing-32 0 space.$stds-spacing-48;

            .sub-tit {
                padding-bottom: space.$stds-spacing-24;
            }

            .module-write-ui {}

            .section-hashtag {
                margin-top: space.$stds-spacing-24;

                .element-btn {
                    .btn-txt {}
                }
            }

            .section-share {
                display: none;
            }
        }
        .detail-footer {
            .header {
                padding-bottom: space.$stds-spacing-12;

                .container {
                    strong {
                        @include stdsTitle6();
                    }

                    button {
                        .ic-navigation-alarm-disabled-line {}

                        &:hover {
                            .ic-navigation-alarm-disabled-line {}
                        }

                        &:focus,
                        &:focus-within {
                            .ic-navigation-alarm-disabled-line {}
                        }
                    }
                }

                &+.contents {}
            }

            .reply-write {}

            .contents {
                padding-top: space.$stds-spacing-20;

                &+.reply-write {}
            }
        }
    }
}