@use "./mixin/mixin";
@use "./mixin/dialog";
@use "./mixin/dimmed";
@use "./helpers/z-index";
@use "./color";
@use "./font";
@use "./space";

.module-dimmed {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    z-index: z-index.$zindex-modal-backdrop;
    background: color.$black_alpha50;
    &.absolute {
        position: absolute;
    }
    .layout-sidebar {
        width: $stds-breakpoint-xs;
        height: 100%;
        background: #fff;
        position: fixed;
        transition: transform .4s ease-in-out;
        z-index: $zindex-modal;
        -webkit-overflow-scrolling: touch;
        &.sidebar-left {
            transform: translateX(-100%);
            left: 0;
        }
        &.sidebar-right {
            transform: translateX(0);
            right: 0;
        }
    }
    &.is-opened {
        display: block;
        .layout-sidebar {
            &.sidebar-left {
                transform: translateX(0);
            }
            &.sidebar-right {
                transform: translateX(0);
            }
        }
    }
    .dimmed {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: color.$black_alpha50;
        z-index: $zindex-modal-backdrop;
    }
}

.module-dialog {
    @include dialog.dialogLayer {
        min-width: 200px;
    }
    $dialogSize: (
        dialog-size-s: 328px,
        dialog-size-m: 440px,
        dialog-size-l: 664px,
        dialog-size-full: 100%,
    );
    @each $name, $value in $dialogSize {
        &.#{"" + $name + ""} {
            @if $name == dialog-size-full {
                min-width: map-get($dialogSize, dialog-size-l);
                width: $value;
            } @else {
                width: $value;
            }
        }
    }
    z-index: z-index.$zindex-modal;
    &.pos-center {
        @include dialog.dialogPos(
            $top: 50%,
            $left: 50%,
            $bottom: null,
            $right: null
        );
    }
    &.pos-top {
        // @include dialog.dialogPos(
        //     $top: 80px,
        //     $left: 50%,
        //     $bottom: null,
        //     $right: null,
        //     $y: 0
        // );
    }
    .module-dialog-inner {
        padding: space.$stds-spacing-40 space.$stds-spacing-24
            space.$stds-spacing-32;
    }
    .layer-flex {
        @include mixin.flex($x: center);
    }
    // dialog align
    $dialogAlign: (
        align-left: left,
        align-right: right,
        align-center: center,
    );
    @each $name, $value in $dialogAlign {
        .#{"" + $name + ""} {
            text-align: $value;
        }
        &.pos-left {
            // @include dialogPos(
            //     $top: 0,
            //     $left: 0,
            //     $bottom: 0,
            //     $right: null,
            //     $x: 0,
            //     $y: 0
            // );
        }
        &.pos-right {
            // @include dialogPos(
            //     $top: 0,
            //     $left: null,
            //     $bottom: 0,
            //     $right: 0,
            //     $x: 0,
            //     $y: 0
            // );
        }
    }

    .module-dialog-header {
        @include mixin.flex($y: center);
        min-height: 3.5rem;
        border-bottom: 1px solid color.$ui_divider_black_02;
        padding: 14px 64px 14px space.$stds-spacing-24;
        font-size: 18px;
        font-weight: bold;
        color: color.$ui_text_01;
        line-height: font.$stdsLineHeightM;
        letter-spacing: -0.45px;

        & + .module-dialog-inner {
            padding: space.$stds-spacing-24;
        }
    }
    .module-dialog-title {
        padding-bottom: space.$stds-spacing-16;
        font-size: 16px;
        font-weight: bold;
        color: color.$ui_text_01;
        line-height: font.$stdsLineHeightL;
        letter-spacing: -0.4px;
    }
    .module-dialog-content {
        color: color.$ui_text_02;
        line-height: font.$stdsLineHeightM;
    }
    .module-dialog-btns {
        @include mixin.flexCenter;
        padding-bottom: space.$stds-spacing-32;

        button {
            margin-right: space.$stds-spacing-8;

            &:last-of-type {
                margin-right: 0;
            }
        }
        button .btn-txt {
            font-weight: bold;
            font-size: 13px;

            &:hover {
                text-decoration: initial;
            }
        }
    }
    .module-dialog-footer {
        border-top: 1px solid color.$ui_divider_black_02;
        padding: space.$stds-spacing-16 space.$stds-spacing-24
            space.$stds-spacing-32;
        color: color.$ui_text_03;
    }
    .module-dialog-close {
        position: absolute;
        right: 20px;
        top: 16px;
        font-size: 20px;
        color: color.$ui_text_03;

        &::after {
            transition: all 0.3s;
            transform: translate(-50%, -50%);
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            background-color: color.$black_alpha5;
            border-radius: 36px;
        }

        &:hover {
            &::after {
                width: 36px;
                height: 36px;
            }
        }
    }
}
