@use "./fonts/stds-font-mixin";

/* stds Title 1rem = 10px */
/* Title */
$stdsTitle1: 5.4rem;
$stdsTitle2: 4.2rem;
$stdsTitle3: 3.2rem;
$stdsTitle4: 2.4rem;
$stdsTitle5: 2rem;
$stdsTitle6: 1.8rem;
$stdsTitle7: 1.6rem;
$stdsTitle8: 1.4rem;

/* Body */
$stdsBody1: 1.6rem;
$stdsBody2: 1.5rem;
$stdsBody3: 1.4rem;
$stdsBody4: 1.3rem;

/* Button */
$stdsButton1: 1.5rem;
$stdsButton2: 1.3rem;

/* Caption */
$stdsCaption1: 1.3rem;
$stdsCaption2: 1.1rem;

/* Chips */
$stdsChips1: 1.3rem;
$stdsChips2: 1.1rem;

/* Font-weight */
$stdsWeightBold: bold;
$stdsWeightNormal: normal;

/* stds letter-spacing */
$letterSpacing: -0.025em;
$letterSpacing_5: -0.05rem;

/* line-height */
$stdsLineHeightL: 1.6;
$stdsLineHeightM: 1.5;
$stdsLineHeightS: 1.4;