@import "./mixin/_font.scss";

/* stds Title 1rem = 10px */
/* Title */
$stdsTitle1: 5.4rem;
$stdsTitle2: 4.2rem;
$stdsTitle3: 3.2rem;
$stdsTitle4: 2.4rem;
$stdsTitle5: 1.8rem;
$stdsTitle6: 1.6rem;
$stdsTitle7: 1.4rem;

/* Body */
$stdsBody1: 1.6rem;
$stdsBody2: 1.5rem;
$stdsBody3: 1.4rem;

/* Button */
$stdsButton1: 1.5rem;
$stdsButton2: 1.3rem;

/* Caption */
$stdsCaption1: 1.3rem;
$stdsCaption2: 1.2rem;
$stdsCaption3: 1.1rem;

/* Chips */
$stdsChips1: 1.3rem;
$stdsChips2: 1.1rem;

/* Font-weight */
$stdsWeightBold : bold;
$fontWeightNormal : normal;

/* stds letter-spacing */
$letterSpacing: -0.025em;

/* line-height */
$stdsLineHeightL: 1.6;
$stdsLineHeightM: 1.5;
$stdsLineHeightS: 1.4;

/* title */
.stds-title1 {
    @include stdsTitle1;
}
.stds-title2 {
    @include stdsTitle2;
}
.stds-title3 {
    @include stdsTitle3;
}
.stds-title4 {
    @include stdsTitle4;
}
.stds-title5 {
    @include stdsTitle5;
}
.stds-title6 {
    @include stdsTitle6;
}
.stds-title7 {
    @include stdsTitle7;
}

/* Body */
.stds-body1 {
    @include stdsBody1($weight: normal);
}
.stds-body2 {
    @include stdsBody2($weight: normal);
}
.stds-body3 {
    @include stdsBody3($weight: normal);
}

/* Button */
.stds-button1 {
    @include stdsButton1($weight: normal);
}
.stds-button2 {
    @include stdsButton2($weight: normal);
}

/* Caption */
.stds-caption1 {
    @include caption1;
}
.stds-caption2 {
    @include caption2;
}
.stds-caption3 {
    @include caption3;
}

/* Chips */
.stds-chips1 {
    @include chips1;
}
.stds-chips2 {
    @include chips2;
}

/* Font reset */
html {
    font-size: 10px;
}

body {
    letter-spacing: $letterSpacing;
    word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $stdsWeightBold;
    letter-spacing: $letterSpacing;
}

h1.is-hidden,
h2.is-hidden,
h3.is-hidden,
h4.is-hidden,
h5.is-hidden,
h6.is-hidden {
    font-size: 0;
    text-indent: -99999px;
}

/* fonts by lang */
/* Korea */
:lang(ko) body,
:lang(ko) a,
:lang(ko) button,
:lang(ko) input,
:lang(ko) textarea,
:lang(ko) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel KR', $noto: 'Noto Sans KR');
}

/* Chinese zh */
:lang(zh) body,
:lang(zh) a,
:lang(zh) button,
:lang(zh) input,
:lang(zh) textarea,
:lang(zh) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel SC', $noto: 'Noto Sans SC');
}

/* Chinese zh-tw  */
:lang(zh-tw) body,
:lang(zh-tw) a,
:lang(zh-tw) button,
:lang(zh-tw) input,
:lang(zh-tw) textarea,
:lang(zh-tw) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel TC', $noto: 'Noto Sans TC');
}

/* Japan */
:lang(ja) body,
:lang(ja) a,
:lang(ja) button,
:lang(ja) input,
:lang(ja) textarea,
:lang(ja) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel JP', $noto: 'Noto Sans JP');
}

/* English */
:lang(en) body,
:lang(en) a,
:lang(en) button,
:lang(en) input,
:lang(en) textarea,
:lang(en) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Global', $noto: null);
}

/* French  */
:lang(fr) body,
:lang(fr) a,
:lang(fr) button,
:lang(fr) input,
:lang(fr) textarea,
:lang(fr) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Global', $noto: null);
}

/* Portugal */
:lang(pt) body,
:lang(pt) a,
:lang(pt) button,
:lang(pt) input,
:lang(pt) textarea,
:lang(pt) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Global', $noto: null);
}

/* Spanish */
:lang(es) body,
:lang(es) a,
:lang(es) button,
:lang(es) input,
:lang(es) textarea,
:lang(es) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Global', $noto: null);
}

/* German */
:lang(de) body,
:lang(de) a,
:lang(de) button,
:lang(de) input,
:lang(de) textarea,
:lang(de) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Global', $noto: null);
}

/* Thailand */
:lang(th) body,
:lang(th) a,
:lang(th) button,
:lang(th) input,
:lang(th) textarea,
:lang(th) h1,
h2,
h3,
h4,
h5,
h6 {
    @include sdtxFamily($inter: 'Intel Thai', $noto: 'Noto Sans Thai');
}