@import "~/src/sass/mixin/responsive";
@import "~/src/sass/hidden";

/*@import "./_hidden.scss";*/
$ui-button-pagination-enabled: #6e6e6e;
$ui-button-pagination-hover : #fc6020;

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 28px 0 45px;
    background-color: #28282c;
    color: #fff;
}
.footer .footer-container{
    width: 1140px;
}
.footer > *{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}
.footer .footer-notice-link{
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
.footer .footer-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 17px 0;
    padding: 16px 0;
    border-top:1px solid rgba(255, 255, 255, 0.1);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-nav a{
    margin-right: 24px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.footer .footer-nav a:first-child{
    margin-left: 0;
}

.footer-nav .footer-nav-rating {
    /*position: relative;
    padding-left: 12px;
    margin-left: 12px;*/
    display: inline-block;
    
}
.footer-nav .footer-nav-rating:hover .rating-game {
    visibility: visible;
}
.footer-nav .rating-game {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    height: 0;
    margin: 0 auto;
    z-index: 1;
    transform: translate(-50%, 0%);
    /*  white-space: nowrap;*/
}
.footer-nav .rating-game .module-tab.tab-vertical {
    height: 0;
    display: flex;
    justify-content: center;
}
.footer-nav .rating-game .tab-content::after {
    content: '';
    display: block;
    clear: both;
}
.footer-nav .rating-img {
    float: left;
    padding: 18px 16px;
    margin-right: -28px;
}
.footer-nav .rating-info {
    float: left;
    padding: 5px 28px 0 28px;
}
.footer-nav .rating-info table {
    border-collapse: collapse;
    width: 100%;
}
.footer-nav .rating-info table::after {
    content: '';
    display: block;
    clear: both;
}
.footer-nav .rating-info tbody {
    float: left;
}
.footer-nav .rating-info tr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-nav .rating-info tr:first-child {
    border-top: none;
}
.footer-nav .rating-info th,
.footer-nav .rating-info td {
    padding: 8px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    line-height: 1;
}
.footer-nav .rating-info th {
    opacity: 0.6;
}
.footer .footer-address{
}
.footer .footer-address a {
    color: rgba(255, 255, 255, 0.6);
}
.footer .copy{
    margin-top: 16px;
}
.footer .channing-info{
    color: rgba(255, 255, 255, 0.6);
}
.footer .footer-logo{
    margin-top: 25px;
}

/* tab 세로형 확인 */
.module-tab.tab-vertical {
}
.module-tab.tab-vertical::after {
  content: '';
  display: block;
  clear: both;
}
.module-tab.tab-vertical .color-apple {
  background-color: #44a342;
}
.module-tab.tab-vertical .color-blue {
  background-color: #4369b1;
}
.module-tab.tab-vertical .color-yellow {
  background-color: #f9b846;
}
.module-tab.tab-vertical .color-red {
  background-color: #a31639;
}
.module-tab.tab-vertical .color-orange {
  background-color: #f68120;
}
.module-tab.tab-vertical .color-green {
  background-color: #8fc320;
}
.module-tab.tab-vertical .tab-nav {
    float: left;
    width: 32px; /*스타일 따라 변경 가능*/
    height: auto; /*스타일 따라 변경 가능*/
    margin-right: -1px;
    /*background-color: #f1f1f1; /*스타일 따라 변경 가능*/
}
.module-tab.tab-vertical .tab-links {
    display: block;
    width: 100%;
    height: 48px;
    outline: none;
    /*padding: 16px 8px; /*스타일 따라 변경 가능*/
    /*-webkit-transition: 0.3s; /*스타일 따라 변경 가능*/
    /*transition: 0.3s; /*스타일 따라 변경 가능*/
    /*background-color: inherit; /*스타일 따라 변경 가능*/
    /*color: black; /*스타일 따라 변경 가능*/
    /*text-align: left; /*스타일 따라 변경 가능*/
    /*font-size: 17px; /*스타일 따라 변경 가능*/
}
.module-tab.tab-vertical .tab-links:hover {
    /*background-color: #ddd; /*스타일 따라 변경 가능*/
}
.module-tab.tab-vertical .tab-links.active {
    /*background-color: #ccc; /*스타일 따라 변경 가능*/
}
.module-tab.tab-vertical .tab-content {
    display: none;
    float: left;
    width: auto; /*스타일 따라 변경 가능*/
    height: 96px; /*스타일 따라 변경 가능*/
    border-top-right-radius: 4px; /*스타일 따라 변경 가능*/
    border-bottom-right-radius: 4px; /*스타일 따라 변경 가능*/
    /*border-left: none; /*스타일 따라 변경 가능*/
    /*color: #fff; /*스타일 따라 변경 가능*/
    /*background: #ccc; /*스타일 따라 변경 가능*/
}

/* 게임이용등급 - 디자인 확인 필요*/
/* mobile */

/* mobile 360 */
@include mobile {
    .footer-container {
        width: 100%;
        padding: 0 32px;
    }
    .module-tab.tab-vertical .tab-content{
        display: flex;
        flex-direction: column;
    }
    
    .rating-img > img {
        width: 26px;
    }
}
/* tablet 768 */
@include tablet {
    .footer-container{
        padding: 0 32px;
    }
}
/* desktopM 1280 */
@include desktopM {

}
/* desktopL 1440 */
@include desktopL {

}
/* desktopXL 1600 */
@include desktopXL {
}
/* desktop2XL 1920 */
@include desktop2XL {

}
