/* [D] 개발에 반영되면 안되는 Scss입니다. */
:root {
    font-size: small;
}
.guide {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;

    .tit {
        font-size: 28px;
        color: #333;
        padding-bottom: 16px;
        margin-top: 60px;
        :first-of-type {
            margin-top: 0;
        }
    }
    .tit2 {
        font-size: 22px;
        color: #333;
        padding-bottom: 16px;
        margin-top: 50px;
        :first-of-type {
            margin-top: 0;
        }
    }
    .desc {
        font-size: 16px;
        line-height: 26px;
        color: #666;
        padding-bottom: 16px;
    }
    .line-through {
        text-decoration: line-through;
    }
    .underline {
        text-decoration: underline;
    }

    /* Example */
    .example {
        width: 100%;
        margin: 48px 0;
    }

    /* Guide table */
    .table {
        width: 100%;
        caption {
            display: none;
        }
        thead {
            background-color: #f4f4f4;
            font-size: 14px;
            color: #333;
            font-weight: bold;
            padding: 16px 0;
            tr th {
                padding: 16px 0;
                vertical-align: middle;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #eff5fc;
                td {
                    font-size: 1.4rem;
                    color: #333;
                    padding: 20px 0;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
        &.table-col1 thead tr th {
            width: 100%;
        }
        &.table-col2 thead tr th {
            width: 50%;
        }
        &.table-col3 thead tr th {
            width: 33.33%;
        }
        &.table-col4 thead tr th {
            width: 25%;
        }
        &.table-col5 thead tr th {
            width: 20%;
        }
    }

    /* Space */
    .ex-space {
        width: 100%;
        opacity: 0.1;
        background-color: #0f6eff;
    }

    /* Icon */
    .ex-icon {
        font-size: 0;

        .view {
            display: inline-block;
            width: 33%;
            margin-bottom: 32px;

            .stove-icon {
                font-size: 32px;
                display: block;
                text-align: center;
                margin-bottom: 8px;
            }

            .name {
                font-size: 1.2rem;
                display: block;
                text-align: center;
            }
        }

        .desc {
            padding: 16px 0;
        }
    }

    /* style */
    &.full {
        width: 90%;
    }
    .guide-tit {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 4px solid #eaeaea;
        font-size: 30px;

        &::before {
            content: "📒";
            margin-right: 8px;
        }
    }
    .guide-layer {
        padding: 20px;
    }
    .guide-section {
        margin-bottom: 50px;

        .guide-section-tit {
            margin-bottom: 20px;
            font-size: 18px;

            &::before {
                content: "🌼";
                margin-right: 5px;
            }

            & + div {
                padding: 0 20px;
            }
        }

        .guide-section-stit {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eaeaea;
            font-size: 14px;

            &::before {
                content: "📌";
                margin-right: 5px;
            }
        }
    }
    .guide-flex {
        @include flex;
        flex: 1;

        &.gap {
            gap: 40px;
        }

        &.ratio {
            & > * {
                flex: 1;
            }
        }
    }

    .guide-desc-wrap {
        @include flex;
        margin-bottom: 8px;
        padding-left: 20%;
        color: #666;
        gap: 40px;

        & > div {
            flex: 1;
        }
    }

    .guide-state-wrap {
        @include flex;
        padding: 10px 0;

        .guide-state {
            width: 20%;
            padding: 8px 0;
            color: #1e88e5;
        }
    }
}
