/* [D] 개발에 반영되면 안되는 Scss입니다. */
.guide {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    .tit {
        font-size: 28px;
        color: #333;
        padding-bottom: 16px;
        margin-top: 60px;
        :first-of-type {
            margin-top: 0;
        }
    }
    .desc {
        font-size: 16px;
        line-height: 26px;
        color: #666;
        padding-bottom: 16px;
    }

    /* Guide Style */
    p {
        font-size: 1.6rem;
    }
    .line-through {
        text-decoration: line-through;
    }
    .underline {
        text-decoration: underline;
    }

    /* Example */
    .example {
        width: 100%;
        margin: 48px 0;
    }
    .example h1, h2, h3, h4, h5, h6 {
        margin-bottom: 16px;
    }

    /* Guide table */
    .table {
        width: 100%;
        caption {
            display: none;
        }
        thead {
            background-color: #f4f4f4;
            font-size: 14px;
            color: #333;
            font-weight: bold;
            padding: 16px 0;
            tr th {
                padding: 16px 0;
                vertical-align: middle;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #eff5fc;
                td {
                    font-size: 1.4rem;
                    color: #333;
                    padding: 20px 0;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
    
    /* Table Col */
    .table.table-col1 thead tr th {
        width: 100%;
    }
    .table.table-col2 thead tr th {
        width: 50%;
    }
    .table.table-col3 thead tr th {
        width: 33.33%;
    }
    .table.table-col4 thead tr th {
        width: 25%;
    }
    .table.table-col5 thead tr th {
        width: 20%;
    }

    /* Color */
    .ex-color {
        width: 100%;        
        .palettes {
            div {
                position: relative;
                width: 100%;
                height: 46px;
                background: red;
                span {
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);
                    font-size: 16px;
                    &.white {
                        color: white;
                    }
                    &.black {
                        color: black;
                    }
                }
            }
        }
    }

    /* Space */
    .ex-space {
        width: 100%;
        opacity: 0.1;
        background-color: #0f6eff;
    }
}