@use "./mixin/mixin";
@use "./color";
@use "./space";

$dropdown-default-space: 0 space.$stds-spacing-16;

.element-input {
    padding: $dropdown-default-space;
    color: color.$gray500;
}

.element-input.active,
.element-input-icon.active .element-input,
.element-input:focus {
    color: color.$gray700;
}

.element-input-icon {
    @include mixin.flex($type: inline-flex, $y: center);
    position: relative;
    padding-right: space.$stds-spacing-16;

    .element-input-wrap {
        @include mixin.flex($y: center);
        position: relative;
        flex: 1 100%;
        height: 100%;

        input {
            width: 100%;
            height: 100%;

            @at-root .element-input-icon {
                &.box-reverse {
                    input {
                        padding: 0;
                    }
                }
            }
        }
    }
    & > button {
        color: color.$gray500;
        margin-right: 0.8rem;

        &.ic-control-close-circle-fill {
            color: color.$ui_text_04;
            display: none;
        }
        &.ic-navigation-search-line {
            color: color.$ui_text_03;
        }

        &:last-of-type {
            margin-right: 0;
        }

        // &:hover {
        //     color: color.$gray200;
        // }
    }

    &.disabled,
    &:hover {
        button {
            &.ic-navigation-search-line {
                color: color.$gray300;
            }
        }
    }

    &.active,
    &:focus-within {
        button {
            &.ic-navigation-search-line {
                color: color.$ui_text_02;
            }
        }
    }
    &.active {
        button {
            color: color.$ui_icon_02_focused;

            &.ic-control-close-circle-fill {
                display: block;
            }
        }
    }

    &.round {
        border-radius: 99.9rem;
    }

    &.filled {
        border: 1px solid transparent;
        background-color: color.$ui_form_fill_enabled;

        &.active,
        &:focus-within,
        &:hover {
            background-color: color.$ui_form_fill_hover;
        }
        &.active,
        &:focus-within {
            border: 1px solid color.$gray500;
        }
    }

    // state colors
    @each $name, $color in color.$elementState {
        &.#{"" + $name + ""} {
            border-color: $color;
            border-width: 2px;

            button {
                color: $color !important;
            }
        }
    }

    &.box-reverse {
        padding-left: space.$stds-spacing-16;
    }
    &.readonly {
        &,
        * {
            &::selection {
                user-select: none;
            }
        }
    }
    &.calendar {
        &,
        input {
            cursor: pointer;
        }
    }
    .ic-community-calendar-line {
        margin-top: 1px;
    }
}
