@import "./_space.scss";
@import "./_mixin.scss";



.layout {
    position: relative;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    .layout-basic {
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0 16px;
        overflow-x: hidden;
        .container {
            position: relative;
            flex: 1;
            overflow: auto;
        }
    }
    .layout-information {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0 auto;
        .container {
            position: relative;
            display: flex;
            flex: 1;
            overflow: auto;
            height: 100%;
            .nav-area {
                display: flex;
                flex: none;
                width: 224px;
                margin-right: $stds-spacing-400;
            }
            .content-area {
                display: flex;
                flex: 1;
                overflow: auto;
                width: 994px;
            }
        }
    }
    .layout-s-one-rail {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        .container {
            position: relative;
            display: flex;
            flex: 1;
            overflow: auto;
            height: 100%;
            .nav-area {
                display: flex;
                flex: none;
                width: 80px;
            }
            .content-area {
                display: flex;
                flex: 1;
                overflow: auto;
                width: 1104px;
                margin: 0 $stds-spacing-1200;
            }
        }
    }
    .layout-b-one-rail {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        .container {
            position: relative;
            display: flex;
            flex: 1;
            overflow: auto;
            height: 100%;
            .nav-area {
                display: flex;
                flex: none;
                width: 240px;
            }
            .content-area {
                display: flex;
                flex: 1;
                overflow: auto;
                width: 944px;
                margin: 0 $stds-spacing-1200;
            }
        }
    }
    .layout-two-rail {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        .container {
            position: relative;
            display: flex;
            flex: 1;
            overflow: auto;
            height: 100%;
            .aside-area {
                display: flex;
                flex: none;
                width: 80px;
            }
            .nav-area {
                display: flex;
                flex: none;
                width: 240px;
            }
            .content-area {
                display: flex;
                flex: 1;
                overflow: auto;
                width: 864px;
                margin: 0 $stds-spacing-1200;
            }
        }
    }
    .layout-side-rail {
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        .container {
            position: relative;
            display: flex;
            flex: 1;
            overflow: auto;
            height: 100%;
            .aside-area {
                position: relative;
                display: flex;
                flex: none;
                width: 80px;
            }
            .nav-area {
                position: relative;
                display: flex;
                flex: none;
                width: 320px;
            }
            .content-area {
                position: relative;
                display: flex;
                flex: 1;
                overflow: auto;
                width: 784px;
                margin: 0 $stds-spacing-1200;
            }
        }
    }
}

/* mobile */
@include mobile {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-400;
        }
    } 
}
/* tablet */
@include tablet {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-800;
        }
    } 
}
/* desktopM */
@include desktopM {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-1200;
        }
    } 
}
/* desktopL */
@include desktopL {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-1300;
        }
    }
}
/* desktopXL */
@include desktopXL {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-1300;
        }
    }    
}
/* desktop2XL */
@include desktop2XL {
    .layout {
        .layout-basic {
            max-width: 100%;
            margin: 0 $stds-spacing-1300;
        }
    }
}

