@import "./helpers/z-index";
@import "./mixin/responsive";
@import "./responsive";
@import "./font";
@import "./color";
@import "./space";
@import "./mixin/mixin";

.layout-navigation {
    display: none;
    order: 2;
    height: 4.8rem;
    flex: 0 1 100%;
    background: $white;
    &.is-active {
        display: block;
    }
}

.mobule-navigation {
    height: 4.8rem;
    flex: 0 1 100%;
    padding: $stds-spacing-12 $stds-spacing-16;
    background: $white;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
    &.is-fixed-depth0 {
        position: fixed;
        top: $stds-fixed-depth0;
        width: 100%;
        z-index: $zindex-fixed;
    }
    &.is-fixed-depth1 {
        position: fixed;
        top: $stds-fixed-depth1;
        width: 100%;
        z-index: $zindex-fixed;
    }
    &.is-fixed-depth2 {
        position: fixed;
        top: $stds-fixed-depth2;
        width: 100%;
        z-index: $zindex-fixed;
    }
    &.is-fixed-depth3 {
        position: fixed;
        top: $stds-fixed-depth3;
        width: 100%;
        z-index: $zindex-fixed;
    }
    .container {
        display: flex;
        max-width: 100%;
        height: 2.4rem;
        .nav-btn {
            width: 2.4rem;
            height: 2.4rem;
            i {
                font-size: 2.4rem;
                // color: $ui_icon_primary_enabled;
            }
            &.align-left {
                margin-right: 2rem;
            }
            &.align-right {
                margin-left: 2rem;
            }
        }
        .nav-text-btn {
            font-size: 1.5rem;
            color: $ui-text-03;
            flex: none;
            &.align-left {
                margin-right: 2rem;
            }
            &.align-right {
                margin-left: 2rem;
            }
            &.is-active {
                color: $ui_text_brand;
                font-weight: $stdsWeightBold;
            }
        }
        .contents {
            width: 100%;
            line-height: 2.4rem;
            flex-wrap: nowrap;
            flex-basis: auto;
            @include ellipsis($line: 1);
            word-break: break-word;
            &.menu {
                display: flex;
                flex-wrap: nowrap;
            }
            button {
                &.item {
                    @include ellipsis($w: auto, $line: 1);
                    margin-left: 2.8rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    &.is-active {
                        border-bottom: 2px solid $gray900;
                    }
                }
            }
            .item {
                font-size: 1.5rem;
                color: $ui-text-03;
                margin-left: $stds-spacing-8;
                &:first-child {
                    margin-left: 0;
                }
                &.is-active {
                    color: $ui-text-02;
                    font-weight: $stdsWeightBold;
                }
                .ic-control-arrow-right-line {
                    color: #cacaca;
                }
            }
        }
    }
}

/* mobile 0 */
@include mobile-end {}
/* mobile 360 */
@include mobile {}
/* tablet 768 */
@include tablet {}
/* desktopSM 768 */
// @include desktopSM {
//     $stds-fixed-depth2: 6.8rem;
//     $stds-fixed-depth3: 13.6rem;

//     .layout-navigation {
//         height: $stds-fixed-depth2;
//         padding: 2.2rem 1.6rem;
//         &.is-fixed-depth1 {
//             top: $stds-fixed-depth1;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth2 {
//             top: $stds-fixed-depth2;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth3 {
//             top: $stds-fixed-depth3;
//             z-index: $zindex-fixed;
//         }
//     }
// }
/* desktopM 1280 */
// @include desktopM {
//     $stds-fixed-depth2: 6.8rem;
//     $stds-fixed-depth3: 13.6rem;

//     .layout-navigation {
//         height: $stds-fixed-depth2;
//         padding: 2.2rem 1.6rem;
//         &.is-fixed-depth1 {
//             top: $stds-fixed-depth1;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth2 {
//             top: $stds-fixed-depth2;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth3 {
//             top: $stds-fixed-depth3;
//             z-index: $zindex-fixed;
//         }
//     }
// }
/* desktopL 1440 */
// @include desktopL {
//     $stds-fixed-depth2: 6.8rem;
//     $stds-fixed-depth3: 13.6rem;
    
//     .layout-navigation {
//         height: $stds-fixed-depth2;
//         padding: 2.2rem 1.6rem;
//         &.is-fixed-depth1 {
//             top: $stds-fixed-depth1;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth2 {
//             top: $stds-fixed-depth2;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth3 {
//             top: $stds-fixed-depth3;
//             z-index: $zindex-fixed;
//         }
//     }
// }
/* desktopXL 1600 */
// @include desktopXL {
//     $stds-fixed-depth2: 6.8rem;
//     $stds-fixed-depth3: 13.6rem;
    
//     .layout-navigation {
//         height: $stds-fixed-depth2;
//         padding: 2.2rem 1.6rem;
//         &.is-fixed-depth1 {
//             top: $stds-fixed-depth1;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth2 {
//             top: $stds-fixed-depth2;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth3 {
//             top: $stds-fixed-depth3;
//             z-index: $zindex-fixed;
//         }
//     }
// }
/* desktop2XL 1920 */
// @include desktop2XL {
//     $stds-fixed-depth2: 6.8rem;
//     $stds-fixed-depth3: 13.6rem;
    
//     .layout-navigation {
//         height: $stds-fixed-depth2;
//         padding: 2.2rem 1.6rem;
//         &.is-fixed-depth1 {
//             top: $stds-fixed-depth1;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth2 {
//             top: $stds-fixed-depth2;
//             z-index: $zindex-fixed;
//         }
//         &.is-fixed-depth3 {
//             top: $stds-fixed-depth3;
//             z-index: $zindex-fixed;
//         }
//     }
// }  