@import "./helpers/hidden";
@import "./space";
@import "./radius";
@import "./color";
@import "./fonts/stds-font-mixin";

/* pagenation */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $stds-spacing-12 0;
    @include stdsBody3($weight: normal);
    color: $ui_text_02;
    text-align: center;
}
.pagination .stove-icon {
    vertical-align: middle;
}
.pagination .stove-icon.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: $ui_icon_03_disabled;
}
.pagination .pagination-num {
    display: inline-block;
}
/* a Tag */
.pagination a {
    position: relative;
    display: inline-block;
    min-width: $stds-spacing-32;
    height: $stds-spacing-32;
    line-height: $stds-spacing-32;
    padding: 0 $stds-spacing-12;
    color: $ui_text_02;
    border-radius: $Radius-50;
    box-sizing: border-box;
}
.pagination a.stove-icon{
    padding: 0;
}
.pagination-num a.num-first:hover,
.pagination-num a.num-last:hover{
    background-color: transparent;
}
.pagination a:hover::after {
    content: '';
    width: 100%;
    height: $stds-spacing-32;
    border-radius: $Radius-50;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination a:hover::after {
    z-index: 2;
    background-color: $interactive_03_hover;
}
.pagination a:active::after {
    z-index: 2;
    color: $ui_icon_03_pressed;
    background-color: $interactive_03_focused;
}
.pagination a:hover span,
.pagination a:active span,
.pagination a.active span{
    position: relative;
    z-index: 3;
}
.pagination a.stove-icon:hover::before {
    color: $ui_icon_03_hover;
}
.pagination a.stove-icon:active::before {
    color: $ui_icon_03_pressed;
}
.pagination a.stove-icon::before{
    position: relative;
    z-index: 3;
}
.pagination a.stove-icon .text-hidden{
    @include text-hidden;
}
.pagination a.active{
    color: $ui_text_white_01;
    font-weight: bold;
}
.pagination a.active {
    pointer-events: none;
}
.pagination a.active:after{
    content: '';
    width: 100%;
    height: $stds-spacing-32;
    border-radius: $Radius-50;
    display: block;
    background-color: $interactive_01_enabled;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button tag */
.pagination button {
    position: relative;
    display: inline-block;
    min-width: $stds-spacing-32;
    height: $stds-spacing-32;
    line-height: $stds-spacing-32;
    padding: 0 $stds-spacing-12;
    color: $ui_text_02;
    border-radius: $Radius-50;
    box-sizing: border-box;
}
.pagination button.stove-icon{
    padding: 0;
}
.pagination-num button.num-first:hover,
.pagination-num button.num-last:hover{
    background-color: transparent;
}
.pagination button:hover::after {
    content: '';
    width: 100%;
    height: $stds-spacing-32;
    border-radius: $Radius-50;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination button:hover::after,
.pagination button:active::after{
    z-index: 2;
}
.pagination button:active::after,
.pagination button:focus::after {
    background-color: $interactive_03_focused;
}
.pagination button:hover span,
.pagination button:active span,
.pagination button.active span{
    position: relative;
    z-index: 3;
}
.pagination button.stove-icon:hover::before {
    color: $interactive_03_hover;
}
.pagination button.stove-icon:hover::after {
    background-color: $interactive_03_hover;
}
.pagination button.stove-icon:active::before {
    color: $ui_icon_03_pressed;
}
.pagination button.stove-icon:active::after {
    background-color: $interactive_03_focused;
}
.pagination button.stove-icon::before{
    position: relative;
    z-index: 3;
}
.pagination button.stove-icon .text-hidden{
    @include text-hidden;
}
.pagination button.active{
    color: $ui_text_white_01;
    font-weight: bold;
}
.pagination button.active {
    pointer-events: none;
}
.pagination button.active:after{
    content: '';
    width: 100%;
    height: $stds-spacing-32;
    border-radius: $Radius-50;
    display: block;
    background-color: $interactive_01_enabled ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*pagination-bullet*/
.pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-bullet .bullet-list{
    display: inline-block;
    background-color: $interactive_01_disabled;
}
.pagination-bullet.size-m .bullet-list{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0 $stds-spacing-6;
}
.pagination-bullet.size-m .bullet-list.bullet-active{
    width: $stds-spacing-28;
    background-color: $interactive_01_enabled;
}
.pagination-bullet.size-s .bullet-list{
    width: $stds-spacing-6;
    height: $stds-spacing-6;
    border-radius: 0.3rem;
    margin: 0 $stds-spacing-4;
}
.pagination-bullet.size-s .bullet-list.bullet-active{
    width: $stds-spacing-16;
    background-color: $interactive_01_enabled;
}
.pagination-bullet .bullet-list span{
    @include text-hidden;
}

@media (max-width: 768px) {
    .pagination {
        .pagination-num {
            max-width: 256px;
            a:nth-child(n+6) {
                display: none;
            }
            button:nth-child(n+6) {
                display: none;
            }            
        }
        .stove-icon.ic-control-double-arrow-left-line,
        .stove-icon.ic-control-double-arrow-right-line {
            display: none;
        }
    }
}