@import "./helpers/hidden";

$ui-button-pagination-enabled: #6e6e6e;
$ui-button-pagination-hover : #fc6020;

/* pagenation */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    width: 100%;
    line-height: normal;
    font-size: 16px;
    text-align: center;
}
.pagination .stove-icon {
    vertical-align: middle;
    margin: 0 2.5px;
}
.pagination .pagination-num {
    display: inline-block;
    padding: 0 17.5px;
}
.pagination .pagination-num {

}
.pagination .pagination-num .num-first span:last-child  {
    padding-right: 10.5px;
}
.pagination .pagination-num .num-last span:first-child {
    padding-left: 10.5px;
}
.pagination a {
    position: relative;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
    color: $ui-button-pagination-enabled;
    border-radius: 18px;
    box-sizing: border-box;
}
.pagination a.stove-icon{
    padding: 0;
}
.pagination-num a.num-last span:first-child{
    padding-right:17.5px;
}
.pagination-num a.num-first span:last-child{
    padding-left:17.5px;
}
.pagination-num a.num-first:hover,
.pagination-num a.num-last:hover{
    background-color: transparent;
}
.pagination a:hover::after {
    content: '';
    width: 100%;
    height: 24px;
    border-radius: 12px;
    display: block;
    background-color: #eaeaea;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination a:hover::after,
.pagination a:active::after{
    z-index: 2;
}
.pagination a:hover span,
.pagination a:active span{
    position: relative;
    z-index: 3;
}
.pagination a.stove-icon::before{
    position: relative;
    z-index: 3;
}
.pagination a.stove-icon .text-hidden{
    @include text-hidden;
}
.pagination .num-first:hover::after,
.pagination .num-last:hover::after{
    content: none!important;
}
.pagination a:active,
.pagination a.active{
    color: $ui-button-pagination-hover;
    font-weight: 700;
}
.pagination a.active {
    pointer-events: none;
}

/*pagination-bullet*/
.pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-bullet .bullet-list{
    display: inline-block;
    background-color: #cacaca;    
}
.pagination-bullet.size-m .bullet-list{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 6px;
}
.pagination-bullet.size-m .bullet-list.bullet-active{
    width: 26px;
    background-color: $ui-button-pagination-hover;
}
.pagination-bullet.size-s .bullet-list{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 0 4px;
}
.pagination-bullet.size-s .bullet-list.bullet-active{
    width: 16px;
    background-color: $ui-button-pagination-hover;
}
.pagination-bullet .bullet-list span{
    @include text-hidden;
}

