@use "./font";
@use "./color";
@use "./space";
@use "./mixin/mixin";

.module-profile {
    display: flex;
    &.profile-hidden {
        pointer-events: none;
        .profile-contents {
            display: flex;
            line-height: 2rem;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            margin-right: space.$stds-spacing-16;
        }
    }
    .profile-img {
        display: flex;
        width: space.$stds-spacing-40;
        height: space.$stds-spacing-40;
        border-radius: space.$stds-spacing-20;
        margin-right: space.$stds-spacing-8;
    }
    .profile-contents {
        display: flex;
        line-height: 2rem;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        margin-right: space.$stds-spacing-16;
        .profile-nickname {
            display: flex;
            @include stdsBody3($weight: bold);
            color: color.$ui_text_02;
            @include ellipsis($line: 1);
            word-break: break-word;
        }
        .profile-info {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .profile-mark {
        @include stdsBody3($weight: bold);
        color: color.$ui_text_02;
        margin-right: space.$stds-spacing-4;
        vertical-align: middle;
        &.gm {
            color: color.$system_info;
        }
        &.cm {
            color: color.$system_success;
        }
        &.official {
            color: color.$system_info;
        }
        &.writer {
            @include caption2();
            color: color.$orange500;
            border: 1px solid color.$orange500;
            border-radius: 1rem;
            padding: 0 space.$stds-spacing-8;
        }
    }
    .time {
        display: inline-flex;
        @include caption1();
        color: color.$ui_text_04;
    }
    .info-option {
        
        display: flex;
        .midd-dot {
            vertical-align: top;
            vertical-align: middle;
            font-size: font.$stdsCaption1;
            padding: 0 space.$stds-spacing-4;
        }

        .view {
            display: flex;
            align-items: center;
            font-size: font.$stdsCaption1;
            color: color.$ui_text_04;
            i {
                font-size: 1.6rem;
                color: #999;
                margin-right: space.$stds-spacing-4;
            }
        }
    }
}