@use "./font";
@use "./color";
@use "./space";
@use "./mixin/mixin";

.module-profile {
    display: flex;
    &.profile-hidden {
        pointer-events: none;
        .profile-contents {
            display: flex;
            line-height: 2rem;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            margin-right: 1.6rem;
            .profile-nickname {
                display: flex;
                font-size: font.$stdsBody3;
                font-weight: font.$stdsWeightBold;
                color: color.$ui_text_04;
                display: -webkit-box;
                @include ellipsis($line: 1);
                word-break: break-word;
            }
        }
    }
    .profile-img {
        display: flex;
        width: 4rem;
        height: 4rem;
        margin-right: space.$stds-spacing-8;
    }
    .profile-contents {
        display: flex;
        line-height: 2rem;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        margin-right: 1.6rem;
        .profile-nickname {
            display: flex;
            font-size: font.$stdsBody3;
            font-weight: font.$stdsWeightBold;
            color: color.$ui_text_02;
            display: -webkit-box;
            @include ellipsis($line: 1);
            word-break: break-word;
        }
        .profile-info {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .profile-mark {
        font-size: font.$stdsBody3;
        font-weight: font.$stdsWeightBold;
        color: color.$ui_text_02;
        margin-right: 0.4rem;
        vertical-align: top;
        &.gm {
            color: color.$system_info;
        }
        &.cm {
            color: color.$system_success;
        }
        &.official {
            color: color.$system_info;
        }
        &.writer {
            font-size: 1.1rem !important;
            color: color.$orange500;
            border: 0.1rem solid color.$orange500;
            border-radius: 1rem;
            padding: 0 0.8rem;
        }
    }
    .time {
        display: inline-flex;
        font-size: font.$stdsCaption1;
        color: color.$ui_text_04;
    }
    .info-option {
        display: flex;
        .midd-dot {
            vertical-align: top;
            vertical-align: middle;
            font-size: font.$stdsCaption1;
            padding: 0 space.$stds-spacing-4;
        }

        .view {
            display: flex;
            align-items: center;
            font-size: font.$stdsCaption1;
            color: color.$ui_text_04;
            i {
                font-size: 1.6rem;
                color: #999;
                margin-right: space.$stds-spacing-4;
            }
        }
    }
}