// Desktop
$stds-breakpoint-2xl: 1920px;
$stds-breakpoint-xl: 1600px;
$stds-breakpoint-l: 1440px;
$stds-breakpoint-m: 1280px;
$stds-breakpoint-sm: 1024px;

// Tablet
$stds-breakpoint-s: 768px;

// Mobile
$stds-breakpoint-xs: 360px;

// header fixed
// 0
$stds-fixed-depth0: 0;
// 1
$stds-fixed-depth1: 4.8rem;
// 2
$stds-fixed-depth2: 9.6rem;
// 3
$stds-fixed-depth3: 14.4rem;