// Desktop
$stds-breakpoint-2xl: 1920px;
$stds-breakpoint-xl: 1600px;
$stds-breakpoint-l: 1440px;
$stds-breakpoint-m: 1280px;
$stds-breakpoint-sm: 1024px;

// Tablet
$stds-breakpoint-s: 768px;

// Mobile
$stds-breakpoint-xs: 360px