@import "~/src/sass/mixin/mixin";
@import "~/src/sass/space";

.element-select {
    @include boxType($width: 100%, $height: 48px, $size: 16px);

    a,
    button {
        color: inherit;
    }

    .element-select-button {
        @include flex($y: center);
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        padding: 0 $stds-spacing-16;
        cursor: pointer;
    }

    select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.dark {
    .element-select {
        background-color: $dark-ui-input-bg-enabled;
        border-color: $dark-ui-input-border-enabled;
        color: $dark-ui-text-03;
    }
}
