@use "./helpers/z-index";
@use "./color";

.layout-sidebar {
    width: $stds-breakpoint-xs;
    height: 100%;
    background: #fff;
    position: fixed;
    transition: transform 0.4s ease-in-out;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    &.sidebar-left {
        transform: translateX(-100%);
        left: 0;
    }
    &.sidebar-right {
        transform: translateX(0);
        right: 0;
    }
}
.is-opened {
    display: block;
    .layout-sidebar {
        &.sidebar-left {
            transform: translateX(0);
        }
        &.sidebar-right {
            transform: translateX(0);
        }
    }
}
.dimmed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: color.$black50;
    z-index: z-index.$zindex-modal-backdrop;
}
