/* space */
$stds-spacing-50: 2px;
$stds-spacing-100: 4px;
$stds-spacing-200: 8px;
$stds-spacing-300: 12px;
$stds-spacing-400: 16px;
$stds-spacing-500: 20px;
$stds-spacing-600: 24px;
$stds-spacing-700: 28px;
$stds-spacing-800: 32px;
$stds-spacing-900: 36px;
$stds-spacing-1000: 40px;
$stds-spacing-1100: 44px;
$stds-spacing-1200: 48px;
$stds-spacing-1300: 52px;
$stds-spacing-1400: 56px;
$stds-spacing-1500: 60px;
$stds-spacing-1600: 64px;
$stds-spacing-1700: 80px;
$stds-spacing-1800: 120px;
$stds-spacing-1900: 200px;