@use "./radius";
@use "./color";
@use "./font";
@use "./space";

.element-switch {
    position: relative;
    display: inline-block;
    .switch-input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switch-round {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color.$interactive_02_enabled;        
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            content: "";
            position: absolute;
            background-color: color.$ui_bg_surface_white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
    input:hover + .switch-round {
        background-color: color.$interactive_02_hover;
    }
    input:disabled + .switch-round {
        background-color: color.$interactive_02_disabled;
        cursor: not-allowed;
    }
    input:disabled:hover + .switch-round {
        background-color: color.$interactive_02_hover;
        cursor: not-allowed;
    }
    input:checked + .switch-round {
        background-color: color.$interactive_01_enabled;
    }
    input:checked:disabled + .switch-round {
        background-color: color.$ui_button_01_enabled;
        opacity: 0.5;
        cursor: not-allowed;
    }
    input:checked:hover + .switch-round {
        background-color: color.$ui_button_01_hover;
    }
    input:checked + .switch-round:before {}
    &.h24 {
        width: 4.4rem;
        height: 2.4rem;
        .switch-round {
            border-radius: 1.4rem;
            &:before {
                top: 0.4rem;
                left: 0.4rem;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: radius.$Radius-50;
            }
        }
        input:checked + .switch-round:before {
            -webkit-transform: translateX(2rem);
            -ms-transform: translateX(2rem);
            transform: translateX(2rem);
        }
    }
    &.h28 {
        width: 5.2rem;
        height: 2.8rem;
        .switch-round {
            border-radius: 1.4rem;
            &:before {
                top: 0.4rem;
                left: 0.4rem;
                width: 2rem;
                height: 2rem;
                border-radius: radius.$Radius-50;
            }
        }
        input:checked + .switch-round:before {
            -webkit-transform: translateX(2.4rem);
            -ms-transform: translateX(2.4rem);
            transform: translateX(2.4rem);
        }
    }
    &.h32 {
        width: 6rem;
        height: 3.2rem;
        .switch-round {
            border-radius: 1.6rem;
            &:before {
                top: 0.4rem;
                left: 0.4rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: radius.$Radius-50;
            }
        }
        input:checked + .switch-round:before {
            -webkit-transform: translateX(2.8rem);
            -ms-transform: translateX(2.8rem);
            transform: translateX(2.8rem);
        }
    }
}