@use "./font";
@use "./color";
@use "./space";
@use "./radius";
@use "./mixin/mixin";
@use "./helpers/hidden";

/* emoji */
/* reset */
.module-write-ui {
    /* 이모지 깨진다는 이슈부분 확인하고 추가하기 */
    &.emoji {
        position: relative;
        width: 33.4rem;
        height: auto;
        border: 1px solid #6e6e6e;
        box-sizing: border-box;
        background-color: #fff;
        .swiper-nav-container {
            position: relative;
            width: 100%;
            height: space.$stds-spacing-44;
            padding: 0 space.$stds-spacing-44;
            background-color: color.$ui_bg_surface_gray25;
            border-bottom: 1px solid #efefef;
            overflow: hidden;
            .swiper-wrapper {
                position: absolute;
                top: 0;
                left: space.$stds-spacing-44;
                height: space.$stds-spacing-44;
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                width: space.$stds-spacing-44;
                height: space.$stds-spacing-44;
                font-size: 2rem;
                color: color.$ui_icon_03_enabled;
                background-image: none;
                background-color: color.$ui_bg_surface_gray25;
                z-index: 10;
                &:hover {
                    color: color.$ui_icon_03_focused;
                }
                &::after {
                    content: none;
                }
            }
            .swiper-button-prev {
                left: 0;
                border-right: 1px solid color.$ui_divider_black_02;
                &.swiper-button-disabled {
                    opacity: 1;
                    color: color.$ui_icon_03_disabled;
                }
            }
            .swiper-button-next {
                right: 0;
                border-left: 1px solid color.$ui_divider_black_02;
                &.swiper-button-disabled {
                    opacity: 1;
                    color: color.$ui_icon_03_disabled;
                }
            }
            .swiper-slide {
                overflow: hidden;
            }
            .swiper-slide-thumb-active {
                 .slider-img {
                    border-radius: radius.$radius-S;
                    background: #ccc;
                    img {
                        top: -35px;
                    }
                }
            }
            .slider-img {
                position: relative;
                width: 3.5rem;
                height: 3.5rem;
                margin-top: space.$stds-spacing-4;
                overflow: hidden;
                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .slider-caption {
                @include text-hidden();
            }
        }
        .swiper-container {
            height: 17.2rem;
            padding: 0 space.$stds-spacing-16;
            margin-top: space.$stds-spacing-16;
            .swiper-slide {
                width: 100%;
                height: auto;
                display: inline-block;
                .blind {
                    font-size: 0;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &:last-child() {
                    margin-bottom: 0;
                }
            }
        }
        .emoji-title {
            @include ellipsis($line: 1);
            word-break: break-word;
            font-size: 12px;
            font-weight: font.$stdsWeightNormal;
            color: #666;
            margin-bottom: space.$stds-spacing-8;
        }
        .emoji-contents {
            overflow: hidden;
            font-size: 0;
            padding-bottom: 15px;
            li {
                display: inline-block;
                list-style: none;
                margin-right: 2rem;
                margin-bottom: space.$stds-spacing-6;
                &:nth-child(4n) {
                    margin-right: 0;
                }
                & > a {
                    display: block;
                    width: 6rem;
                    height: 6rem;
                    img {
                        width: 100%;
                        position: unset;
                        top: unset;
                        left: unset;
                    }
                }
            }
        }
    }
    &.attached-file {
        position: relative;
        border: 0.1rem solid color.$ui_border_contents;
        .attached-file-header {
            position: relative;
            display: flex;
            padding: space.$stds-spacing-12 space.$stds-spacing-24;
            background-color: color.$ui_bg_base_gray50;
            .attach-file-title {
                display: flex;
                flex: 1;
                font-size: font.$stdsBody2;
                color: color.$ui_text_02;
                align-items: center;
                margin-right: 1.6rem;
                i {
                    padding: space.$stds-spacing-8;
                    font-size: 2rem;
                    border-radius: 50%;
                    color: color.$white;
                    background-color: color.$tint_dazzlingbluea400;
                    margin-right: space.$stds-spacing-12;
                }
                strong {
                    color: color.$ui_text_brand;
                    margin: 0 space.$stds-spacing-4 0 0;
                }
            }
            .attach-file-size {
                display: flex;
                align-items: center;
                font-size: font.$stdsBody4;
                .counter {
                    color: color.$ui_text_brand;
                }
                .total {
                    position: relative;
                    padding-left: space.$stds-spacing-8;
                    color: color.$ui_text_04;
                    &::before {
                        content: '/';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -0.1px;
                        color: color.$ui_text_04;
                    }
                }
            }
            .attach-file-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                .ic-community-oppose-fill {
                    font-size: font.$stdsBody4;
                    color: color.$ui_icon_03_enabled;
                    &:hover {
                        color: color.$ui_icon_03_hover;
                    }
                    &:focus,
                    &:visited {
                        color: color.$ui_icon_03_focused;
                    }
                }
                &.active {
                    .ic-community-oppose-fill {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .attached-file-contents {
            position: relative;
            ul {
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                li {
                    position: relative;
                    display: flex;
                    flex-wrap: nowrap;
                    padding: space.$stds-spacing-16 space.$stds-spacing-24;
                    border-top: 0.1rem solid color.$ui_divider_black_02;
                    :first-of-type {
                        border-top: 0;
                    }
                    .file-name {
                        flex: 1;
                        @include ellipsis($line: 1);
                        word-break: break-word;
                        font-size: font.$stdsBody3;
                        color: color.$ui_text_03;
                        margin-right: space.$stds-spacing-24;
                    }
                    .file-info {
                        display: flex;
                    }
                    .file-size {
                        font-size: font.$stdsBody4;
                        color: color.$ui_text_03;
                        margin-right: space.$stds-spacing-8;
                    }
                    .file-btn {
                        i {
                            font-size: 16px;
                            color: color.$ui_icon_01_enabled;
                        }
                    }
                }
            }
        } 
        .attached-file-footer {
            display: flex;
            position: relative;
            padding: space.$stds-spacing-16 space.$stds-spacing-24;
            border-top: 0.1rem solid color.$ui_divider_black_02;
            .size {
                flex: 1;
                font-size: font.$stdsBody4;
                color: color.$ui_text_04;
                margin-right: space.$stds-spacing-16;
            }
            .delete {
                font-size: font.$stdsBody4;
                color: color.$ui_text_03;
                i {
                    margin-left: space.$stds-spacing-8;
                }
            }
        }
    }
    &.reply-write {
        position: relative;
        border-bottom: 0;
        box-sizing: border-box;
        .reply-write-edit {
            min-height: 12rem;
            font-size: font.$stdsBody3;
            color: color.$ui_text_02;
            padding: 0;
            outline: none;
            background-color: color.$ui_button_05_enabled;
            border: 0.1rem solid color.$ui_button_05_enabled_border;
            &[contentEditable='true']:empty:not(:focus):before {
                content: attr(data-text);
                font-size: font.$stdsBody3;
                color: color.$ui_text_disabled;
                cursor: pointer;
            }
            &:focus,
            &:focus-within {
                border: 0.1rem solid color.$ui_button_05_focused_border;
            }
            &:hover {
                border: 0.1rem solid color.$ui_button_05_hover_border;
            }
            .fr-box {
                border: 0 !important;
            }
        }
        .write-setting-area {
            position: relative;
            padding: $stds-spacing-20 $stds-spacing-24;
            border-left: 1px solid $ui_divider_black_02;
            border-right: 1px solid $ui_divider_black_02;
            border-bottom: 0.1rem solid color.$ui_button_05_enabled_border;
            box-sizing: border-box;
            background: $ui_bg_surface_gray25;
            .write-setting-section {
                .setting-area-header {
                    position: relative;
                    padding: $stds-spacing-12 0;
                    display: flex;
                    flex: 1;
                    &:first-of-type {
                        padding-top: 0;
                    }
                    .byte {
                        display: flex;
                        align-items: center;
                        font-size: font.$stdsBody4;
                        font-weight: font.$stdsWeightNormal;
                        color: $ui_text_04;
                        .byte-count {
                            color: $ui_text_brand;
                        }
                    }
                }
                .setting-area-body {
                    position: relative;
                    .element-checkbox {}
                    .flex-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: $stds-spacing-16;
                        &:first-of-type {
                            margin-top: 0;
                        }
                        .element-checkbox {
                            margin: $stds-spacing-6 $stds-spacing-24 $stds-spacing-6 0;
                        }
                        .element-input-icon.calendar {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                        .element-dropdown {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .setting-title {
                    flex: 1;
                    font-size: font.$stdsBody2;
                    font-weight: font.$stdsWeightBold;
                    color: $ui_text_02;
                    & span {
                        color: $ui_text_brand;
                    }
                }
                .setting-desc {
                    font-size: font.$stdsBody4;
                    font-weight: font.$stdsWeightNormal;
                    color: $ui_text_04;
                    margin-top: $stds-spacing-12;
                }
            }
        }
        .reply-write-tool {
            display: flex;
            //border: 0.1rem solid color.$ui_button_05_enabled_border;
            //border-top: 0;
            .tool-icon-btn {
                position: relative;
                flex: 1;
                height: 3.9rem;
                border: 1px solid color.$ui_button_05_enabled_border;
                border-top: 0;
                // border-left: 0.1rem solid color.$ui_button_05_enabled_border;
                // border-bottom: 0.1rem solid color.$ui_button_05_enabled_border;
                box-sizing: border-box;
                background-color: color.$white;
                button {
                    position: relative;
                    width: 3.9rem;
                    height: 3.9rem;
                    i {
                        font-size: 2.4rem;
                        color: color.$ui_icon_03_enabled;
                    }
                    .emoji-pos {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }
                .byte {
                    position: absolute;
                    top: 0.9rem;
                    right: space.$stds-spacing-12;
                    font-size: font.$stdsBody3;
                    color: color.$ui_text_disabled;
                }
            }
            .tool-btn {
                display: flex;
                align-items: center;
                margin-top: -0.1rem;
                margin-left: -0.1rem;
                .element-btn {
                    border-radius: 0;
                    //margin-right: -0.1rem;
                    &:last-of-type {
                        margin-right: 0;
                        border: 0;
                    }
                }
            }
        }
        &.write-none {
            display: flex;
            background-color: color.$ui_form_line_enabled;
            border: 1px solid color.$ui_form_line_enabled_border;
            box-sizing: border-box;
            width: 100%;
            height: 16rem;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                font-size: font.$stdsBody2;
                color: color.$ui_text_03;
                a {
                    color: color.$ui_text_brand;
                }
            }
        }
    }
    &.timeline-meta {
        .container {
            display: flex;
            justify-content: stretch;
            align-items: flex-start;
            flex-direction: inherit;
            flex-wrap: nowrap;
            background-color: $ui_form_line_enabled;
            border: 1px solid $ui_border_contents;
            box-sizing: border-box;
            .image {
                position: relative;
                display: flex;
                flex: 1;
                max-width: 24.2rem;
                min-width: 24.2rem;
                overflow: hidden;
                .inner {
                    @include ratio($ratio-4-3);
                }
            }
            .contents {
                padding: $stds-spacing-24;
                .title-location {
                    @include stdsBody3($weight: normal);
                    color: $ui_text_04;
                    margin-bottom: $stds-spacing-8;
                }
                .title {
                    @include stdsTitle7();
                    color: $ui_text_01;
                    margin-bottom: $stds-spacing-4;
                }
                .detail-contents {
                    margin-bottom: $stds-spacing-12;
                    div {
                        @include stdsBody3($weight: normal);
                        @include ellipsis($w: 100%, $line: 2);
                        color: $ui_text_02;
                    }
                }
                .module-profile {
                    .profile-img {
                        width: $stds-spacing-20;
                        height: $stds-spacing-20;
                    }
                    .profile-mark {
                        font-weight: $stdsWeightNormal;
                        line-height: inherit;
                        height: $stds-spacing-20;
                    }
                    .profile-contents {
                        line-height: inherit;
                        height: $stds-spacing-20;
                        .profile-nickname {
                            @include stdsBody3($weight: normal);
                            color: $ui_text_04;
                        }
                    }
                }
            }
            &.none {
                align-items: center;
                .image {
                    background-color: $ui_bg_base_gray50;
                    border-right: 1px solid $ui_border_thumbnail;
                }
                .contents {
                    @include stdsTitle7();
                    color: $ui_text_04;
                    margin: 0;
                }
            }
            .ic-limit-color-160 {
                display: block;
                width: 16rem;
                height: 16rem;
                margin: 0 auto;
                background-image: url(~/static/icon/icon/exception/ic-limit-color-160.svg);
                background-size: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* Desktop (max-width: 768px) */
@media (max-width: 768px) {
    .module-write-ui {
        &.reply-write {
            .reply-write-tool {
                display: block;
                border-bottom: 1px solid $ui_divider_black_02;
                .tool-icon-btn {}
                .tool-btn {
                    margin-top: 0;
                    margin-left: 0;
                    border-left: 1px solid #d5d5d5;
                    border-right: 1px solid #d5d5d5;
                    .element-btn {
                        flex: 1;
                        width: 50%;
                        margin: 0;
                        border: 0;
                        border-right: 1px solid $ui_divider_black_02;
                        .btn-txt {
                            @include ellipsis($line: 1);
                            display: block;
                        }
                        &:last-of-type {
                            border-right: 0;
                        }
                    }
                }
            }
        }
        &.timeline-meta {
            .container {
                flex-direction: column-reverse;
                .image {
                    max-width: 100%;
                    min-width: 100%;
                }
                .contents {
                    padding: $stds-spacing-24 $stds-spacing-24 $stds-spacing-16;
                }
                &.none {
                    flex-direction: inherit;
                    align-items: center;
                    .image {
                        position: relative;
                        display: flex;
                        flex: 1;
                        max-width: 24.2rem;
                        min-width: 13.2rem;
                        overflow: hidden;
                        .inner {
                            @include ratio($ratio-4-3);
                        }
                    }
                    .contents {
                        padding: 0 $stds-spacing-24;
                    }
                }
                .ic-limit-color-160 {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}