@use "./font";
@use "./mixin/mixin";

.module-write {
    .write-header {
        margin-top: $stds-spacing-16;
        .element-dropdown {
            display: inline-flex;
            width: 24rem;
            margin-left: $stds-spacing-12;
            &:first-of-type {
                margin-left: 0;
            }
        }
        .element-input {
            width: 100%;
            margin-top: $stds-spacing-12;
        }
    }
    .write-contents {
        margin-top: $stds-spacing-12;
        // 글쓰기 영역
        .write-edit-area {
            min-height: 42rem;
            height: 100%;
        }
        .write-contents-area {
            min-height: 5.2rem;
            padding: $stds-spacing-12 $stds-spacing-24;
            border: 1px solid $ui_divider_black_02;
            border-top: 0;
            box-sizing: border-box;
            // 이미지 등록 영역
            .write-image-area {
                text-align: right;
                p {
                    display: inline-block;
                    vertical-align: top;
                    @include stdsBody3;
                    color: $ui_text_03;
                    padding: $stds-spacing-4 $stds-spacing-8 0 0;
                }
            }
            .write-tag-area {
                text-align: left;
                p {
                    display: inline-block;
                    vertical-align: top;
                    @include stdsBody2;
                    color: $ui_text_04;
                    padding: $stds-spacing-4 $stds-spacing-8 0 0;
                }
                .element-btn {
                    margin: 0 $stds-spacing-8 $stds-spacing-8 0;
                    .btn-txt {
                        font-weight: $stdsWeightNormal;
                    }
                }
            }
        }
        .write-setting-area {
            position: relative;
            padding: $stds-spacing-20 $stds-spacing-24;
            border: 1px solid $ui_divider_black_02;
            border-top: 0;
            box-sizing: border-box;
            background: $ui_bg_surface_gray25;
            .write-setting-section {
                .setting-area-header {
                    position: relative;
                    padding: $stds-spacing-12 0;
                    display: flex;
                    flex: 1;
                    &:first-of-type {
                        padding-top: 0;
                    }
                    .byte {
                        display: flex;
                        align-items: center;
                        font-size: font.$stdsBody4;
                        font-weight: font.$stdsWeightNormal;
                        color: $ui_text_04;
                        .byte-count {
                            color: $ui_text_brand;
                        }
                    }
                }
                .setting-area-body {
                    position: relative;
                    .element-checkbox {}
                    .flex-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: $stds-spacing-16;
                        &:first-of-type {
                            margin-top: 0;
                        }
                        .element-checkbox,
                        .element-radio {
                            margin: $stds-spacing-6 $stds-spacing-24 $stds-spacing-6 0;
                        }
                        .element-input-icon.calendar {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                        .element-dropdown {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .setting-title {
                    flex: 1;
                    @include stdsBody2($weight: bold);
                    color: $ui_text_02;  
                    margin-right: $stds-spacing-16;
                    & span {
                        color: $ui_text_brand;  
                    }
                }
                .setting-desc {
                    @include stdsBody4($weight: normal);
                    color: $ui_text_04;
                    margin-top: $stds-spacing-12;
                }
            }
        }
    }
    .write-footer {
        display: flex;
        margin-top: $stds-spacing-20;
        justify-content: space-between;
        .footer-align-left {
            .element-btn {
                margin-left: $stds-spacing-12;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
        .footer-align-right {
            .element-btn {
                margin-left: $stds-spacing-12;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

/* Desktop (max-width: 768px) */
@media (max-width: 768px) {
    .module-write {
        .write-header {
            margin: 0;
            padding: 1.6rem;
            .element-dropdown {
                display: inline-flex;
                width: 100%;
                margin-left: 0;
                margin-top: 0.8rem;
                &:first-of-type {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            .element-input {
                width: 100%;
                margin-top: 0.8rem;
            }
        }
        .write-contents {
            margin-top: 0;
            .write-edit-area {}
            .write-contents-area {
                .write-image-area {
                    p {

                    }
                }
                .write-tag-area {
                    p {}
                    .element-btn {
                        max-width: 46%;
                        .btn-txt {
                            @include ellipsis($line: 1);
                            display: inline-block;
                            word-break: break-word;
                        }
                    }
                }
            }
            .write-setting-area {
                .write-setting-section {
                    .setting-area-header {
                        position: relative;
                        padding: $stds-spacing-12 0;
                        &:first-of-type {
                            padding-top: 0;
                        }
                    }
                    .setting-area-body {
                        .element-checkbox {}
                        .flex-wrap {
                            &:first-of-type {
                                margin-top: 0;
                            }
                            .element-checkbox,
                            .element-radio {
                                margin: $stds-spacing-6 $stds-spacing-24 $stds-spacing-6 0;
                                display: inline-flex;
                                flex-wrap: wrap;
                                width: 100%;
                            }
                            .element-input-icon.calendar {
                                width: 30%;
                                margin: $stds-spacing-6 $stds-spacing-8 $stds-spacing-6 0;
                                &:first-of-type {
                                    margin-right: 0;
                                }
                            }
                            .element-dropdown {
                                width: 30%;
                                margin: $stds-spacing-6 $stds-spacing-8 $stds-spacing-6 0;
                                &:first-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .setting-title {
                        & span {}
                    }
                    .setting-desc {}
                }
            }
        }
        .write-footer {
            display: flex;
            margin: $stds-spacing-24 $stds-spacing-16;
            justify-content: space-between;
            .footer-align-left {
                display: none;
            }
            .footer-align-right {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .element-btn {
                    width: 100%;
                    margin-left: $stds-spacing-16;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}