@use "./font";
@use "./mixin/mixin";

.module-write {
    .write-header {
        margin-top: $stds-spacing-16;
        .element-dropdown {
            display: inline-flex;
            width: 24rem;            
            margin-left: $stds-spacing-12;
            &:first-of-type {
                margin-left: 0;
            }
        }
        .element-input {
            width: 100%;
            margin-top: $stds-spacing-12;
        }
    }
    .write-contents {
        margin-top: $stds-spacing-12;
        // 글쓰기 영역
        .write-edit-area {
            height: 42rem;
        }
        .write-contents-area {
            min-height: 5.6rem;
            padding: 1.2rem 2.4rem;
            border: 0.1px solid $ui_divider_black_02;
            border-top: 0;
            box-sizing: border-box;
            // 이미지 등록 영역
            .write-image-area {
                text-align: right;
                p {
                    display: inline-block;
                    font-size: font.$stdsBody3;
                    color: $ui_text_03;
                    padding-right: $stds-spacing-8;
                }
            }
            .write-tag-area {
                text-align: left;
                p {
                    display: inline-block;
                    font-size: font.$stdsBody2;
                    color: $ui_text_04;
                    padding-right: $stds-spacing-8;
                    line-height: $stds-spacing-32;
                }
                .element-btn {
                    margin: 0 $stds-spacing-8 $stds-spacing-8 0;
                }
            }
        }
        .write-setting-area {
            position: relative;
            padding: $stds-spacing-20 $stds-spacing-24;
            border: 1px solid $ui_divider_black_02;
            border-top: 0;
            box-sizing: border-box;
            background: $ui_bg_surface_gray25;
            .write-setting-section {
                .setting-area-header {
                    position: relative;
                    padding: $stds-spacing-12 0;
                    display: flex;
                    flex: 1;
                    &:first-of-type {
                        padding-top: 0;
                    }
                    .byte {
                        display: flex;
                        align-items: center;
                        font-size: font.$stdsBody4;
                        font-weight: font.$stdsWeightNormal;
                        color: $ui_text_04;
                        .byte-count {
                            color: $ui_text_brand;
                        }
                    }
                }
                .setting-area-body {
                    position: relative;
                    .element-checkbox {}
                    .flex-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: $stds-spacing-16;
                        &:first-of-type {
                            margin-top: 0;
                        }
                        .element-checkbox {
                            margin: $stds-spacing-6 $stds-spacing-24 $stds-spacing-6 0;
                        }
                        .element-input-icon.calendar {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                        .element-dropdown {
                            width: 20%;
                            margin-right: $stds-spacing-8;
                            &:first-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .setting-title {
                    flex: 1;
                    font-size: font.$stdsBody2;
                    font-weight: font.$stdsWeightBold;
                    color: $ui_text_02;  
                    margin-right: 1.6rem;
                    & span {
                        color: $ui_text_brand;  
                    }
                }
                .setting-desc {
                    font-size: font.$stdsBody4;
                    font-weight: font.$stdsWeightNormal;
                    color: $ui_text_04;
                    margin-top: $stds-spacing-12;
                }
            }
        }
    }
    .write-footer {
        display: flex;
        margin-top: $stds-spacing-20;
        justify-content: space-between;
        .footer-align-left {
            .element-btn {
                margin-left: $stds-spacing-12;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
        .footer-align-right {
            .element-btn {
                margin-left: $stds-spacing-12;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

/* 정리 할 내용 */
/* write-form 영향도 받는 fr-view S */
.write-form .fr-wrapper.show-placeholder {
    box-shadow: none !important;
    /* border: 1px solid #dbdbdb !important; */
    border-radius: 0 !important;
}

.write-form .fr-wrapper.show-placeholder .fr-element {
    /* border: 1px solid #dbdbdb !important; */
    padding: 16px;
}

.write-form .fr-toolbar.fr-ltr.fr-desktop.fr-top.fr-basic {
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-top: 1px solid #dbdbdb !important;
    border-left: 1px solid #dbdbdb !important;
    border-right: 1px solid #dbdbdb !important;
}

.write-form .fr-box {
    border: 1px solid #ddd !important;
}

.write-form .fr-toolbar.fr-ltr.fr-desktop.fr-top.fr-basic {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #ddd;
}

.write-form .fr-box .fr-wrapper {
    box-shadow: none !important;
    border: 0 !important;
}

.write-form .fr-box .fr-wrapper .fr-element {}

.write-form .fr-box .fr-wrapper .fr-element.fr-view {}

.write-form .fr-element.fr-view>p {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

.write-form .fr-view .module-editor {
    margin: 20px 0 !important;
}

.write-form .fr-view .module-editor ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.write-form .fr-view .module-editor ul li {
    list-style: none;
}

.write-form .fr-view .module-editor ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.write-form .fr-view .module-editor ol li {
    list-style: none;
}

.write-form .fr-view ul {
    padding-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style: disc;
}

.write-form .fr-view ul li {
    list-style: disc;
}

.write-form .fr-view ol {
    padding-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style-type: decimal;
}

.write-form .fr-view ol li {
    list-style: decimal;
}

.write-form .fr-view strong {
    font-weight: 700;
}

.write-form .fr-view em {
    font-style: italic;
}

.write-form .fr-view u {
    text-decoration: underline;
}

.write-form .fr-view s {
    text-decoration: line-through;
}

.write-form .fr-view blockquote {
    border-left: solid 2px #5e35b1;
    margin-left: 0;
    padding-left: 5px;
    color: #5e35b1;
}

.write-form .fr-view hr {
    clear: both;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    page-break-after: always;
}

/* write-form 영향도 받는 fr-view E */

/* detail-content 영향도 받는 fr-view S */
.detail-content .fr-element.fr-view>p {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

.detail-content .fr-view .module-editor ul {
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.detail-content .fr-view .module-editor ul li {
    list-style: none !important;
}

.detail-content .fr-view .module-editor ol {
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.detail-content .fr-view .module-editor ol li {
    list-style: none !important;
}

.detail-content .fr-view .module-editor.editor-survey {
    width: 480px;
}

.detail-content .fr-element.fr-view>p {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

.detail-content .fr-view ul {
    padding-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style: disc;
}

.detail-content .fr-view ul li {
    list-style: disc;
}

.detail-content .fr-view ol {
    padding-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style-type: decimal;
}

.detail-content .fr-view ol li {
    list-style: decimal;
}

.detail-content .fr-view strong {
    font-weight: 700;
}

.detail-content .fr-view em {
    font-style: italic;
}

.detail-content .fr-view u {
    text-decoration: underline;
}

.detail-content .fr-view s {
    text-decoration: line-through;
}

.detail-content .fr-view blockquote {
    border-left: solid 2px #5e35b1;
    margin-left: 0;
    padding-left: 5px;
    color: #5e35b1;
}

.detail-content .fr-view hr {
    clear: both;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    page-break-after: always;
}

.detail-content .video-wrap .fr-view .fr-video {
    position: unset !important;
}

.detail-content .fr-view .fr-video {
    position: unset !important;
}

.detail-content .fr-view .module-editor.editor-join {
    margin: 0;
    padding: 0;
    border: 0;
    background: inherit;
    position: unset;
    z-index: inherit;
}

/* detail-content 영향도 받는 fr-view E */

/* module-write 영향도 받는 fr-view S */
.module-write .fr-view .img-wrap img {
    max-width: 100% !important;
}

/* module-write 영향도 받는 fr-view E */

/* reply-txt 영향도 받는 fr-view S */
.reply-txt .fr-view p {
    font-size: 13px;
    color: #333;
    line-height: 22px;
    word-break: break-word;
}

.reply-txt .video-wrap .fr-view .fr-video {
    position: static !important;
}

.reply-txt .fr-view .fr-video {
    position: static !important;
}

/* reply-txt 영향도 받는 fr-view E */



/* Desktop (max-width: 768px) */
@media (max-width: 768px) {
    .module-write {
        .write-header {
            margin: 0;
            padding: 1.6rem;
            .element-dropdown {
                display: inline-flex;
                width: 100%;
                margin-left: 0;
                margin-top: 0.8rem;
                &:first-of-type {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            .element-input {
                width: 100%;
                margin-top: 0.8rem;
            }
        }
        .write-contents {
            margin-top: 0;
            .write-edit-area {}
            .write-contents-area {
                .write-image-area {
                    p {

                    }
                }
                .write-tag-area {
                    p {}
                    .element-btn {
                        max-width: 46%;
                        .btn-txt {
                            @include ellipsis($line: 1);
                            display: inline-block;
                            word-break: break-word;
                        }
                    }
                }
            }
            .write-setting-area {
                .write-setting-section {
                    .setting-area-header {
                        position: relative;
                        padding: $stds-spacing-12 0;
                        &:first-of-type {
                            padding-top: 0;
                        }
                    }
                    .setting-area-body {
                        .element-checkbox {}
                        .flex-wrap {
                            &:first-of-type {
                                margin-top: 0;
                            }
                            .element-checkbox {
                                margin: $stds-spacing-6 $stds-spacing-24 $stds-spacing-6 0;
                                display: inline-flex;
                                flex-wrap: wrap;
                                width: 100%;
                            }
                            .element-input-icon.calendar {
                                width: 30%;
                                margin: $stds-spacing-6 $stds-spacing-8 $stds-spacing-6 0;
                                &:first-of-type {
                                    margin-right: 0;
                                }
                            }
                            .element-dropdown {
                                width: 30%;
                                margin: $stds-spacing-6 $stds-spacing-8 $stds-spacing-6 0;
                                &:first-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .setting-title {
                        & span {}
                    }
                    .setting-desc {}
                }
            }
        }
        .write-footer {
            display: flex;
            margin: $stds-spacing-24 $stds-spacing-16;
            justify-content: space-between;
            .footer-align-left {
                display: none;
            }
            .footer-align-right {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .element-btn {
                    width: 100%;
                    margin-left: $stds-spacing-16;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}