<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOVE Core UI</title>
    <link rel="stylesheet" href="{{ staticUrl }}/static/core/css/layouts/guide.css">
</head>
<body>
<p class="guide-title">STOVE Core UI</p>
<!-- test -->
<div class="guide-content container">
  <div class="page-category">
    <input id="all" type="radio" name="category" checked>
    <label for="all" data-filter="*">All</label>
     
    <input id="elements" type="radio" name="category">
    <label for="elements" data-filter="[data-value=elements]">Elements</label>

    <input id="modules" type="radio" name="category">
    <label for="modules" data-filter="[data-value=modules]">Modules</label>

    <input id="partials" type="radio" name="category">
    <label for="partials" data-filter="[data-value=partials]">Partials</label>
   
   <input id="fonts" type="radio" name="category">
    <label for="fonts" data-filter="[data-value=fonts]">Fonts</label>

    <input id="layout" type="radio" name="category">
    <label for="layout" data-filter="[data-value=layout]">Layout</label>
  </div>
  <ul class="page-list grid">
  </ul>
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script id="template-list-item" type="text/template">
  <li class="page-list-item element-item" data-value="@filter">
    <a href="@url">
      <div class="item-left">
        <em class="tit">@title</em>
        <span class="path">@url</span>
      </div>
      <div class="item-sub">
        <span>Developer</span>
        <em class="developer">@developer</em>
      </div>
      <div class="item-sub">
        <span>Designer</span>
        <em class="designer">@designer</em>
      </div>
    </a>
  </li>
</script>

<script>
(function () {
    
  var data = [
    {
      name: 'Core Fonts',
      path: 'core/core-fonts/index.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core Button',
      path: 'core/views/elements/core-button.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout Basic',
      path: 'core/views/layouts/layout-basic.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout Information',
      path: 'core/views/layouts/layout-information.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout S One Rail',
      path: 'core/views/layouts/layout-s-one-rail.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout B One Rail',
      path: 'core/views/layouts/layout-b-one-rail.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout Two Rail',
      path: 'core/views/layouts/layout-two-rail.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [PC] Layout Side Rail',
      path: 'core/views/layouts/layout-side-rail.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [AOS] Layout Basic',
      path: 'core/views/layouts/layout-aos.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [IOS] Layout Basic',
      path: 'core/views/layouts/layout-ios.html',
      developer: '이원호',
      designer: '디자인팀'
    },
    {
      name: 'Core [Tablet] Layout Basic',
      path: 'core/views/layouts/layout-tablet.html',
      developer: '이원호',
      designer: '디자인팀'
    }
  ];

  window.addEventListener('DOMContentLoaded', function() {
    var templateHtml = document.getElementById("template-list-item").innerHTML;
    var listHtml = "";

    for (var item of data) {
      filter = item.path.split('/')[1];
      listHtml += templateHtml.replace(/@filter/g, filter)
                              .replace(/@url/g, item.path)
                              .replace(/@title/g, item.name)
                              .replace(/@developer/g, item.developer)
                              .replace(/@designer/g, item.designer);
    }
    document.querySelector(".page-list").innerHTML = listHtml;

    var iso = new Isotope( '.grid', {
      itemSelector: '.element-item',
      layoutMode: 'vertical'
    });

    var category = document.querySelector(".page-category");
    category.addEventListener('click', function(event) {
      if ( !matchesSelector( event.target, 'label' ) ) {
        return;
      }
      var filterValue = event.target.getAttribute('data-filter');
      iso.arrange({ filter: filterValue });
    });
  });
})();
</script>    
</body>
</html>
