/* textfield */
.lagarcy-element-input.input-base {
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  font-size: 14px;
  line-height: 18px;
}
.lagarcy-element-input.input-base:focus {
  color: #333;
}
.lagarcy-element-input.input-base.base-sm {
  height: 36px;
  font-size: 13px;
  line-height: 18px;
}
.lagarcy-element-input.input-base.base-xs {
  height: 32px;
  font-size: 13px;
  line-height: 18px;
  padding: 0 12px;
}
.lagarcy-element-input.input-base.base-square {
  border-radius: 0;
}
.lagarcy-element-input.input-base.input-check {
  border-color: #069fee !important;
  background: #f4fbff !important;
}
.lagarcy-element-input.input-base.input-error {
  border-color: #ff5000;
  background: #fff5f1;
}
/* input용 datepicker */
.lagarcy-element-input.input-datepicker {
  position: relative;
  display: inline-block;
  width: 46%;
  vertical-align: top;
}
.lagarcy-element-input.input-datepicker div input {
  width: 100%;
  height: 32px;
  padding: 1px 32px 1px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
  color: #333;
}
.lagarcy-element-input.input-datepicker div input:disabled {
  color: #666;
  background: #fafafa;
}
.lagarcy-element-input.input-datepicker div .lagarcy-element-icon.ic-calendar {
  position: absolute;
  top: 6px;
  right: 8px;
}

/* select */
.lagarcy-element-select.select-base {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /* z-index: 50; */
}

.lagarcy-element-select.select-base .btn-txt .lagarcy-element-icon.ic-download-wh {
  margin-top: 2px;
  margin-left: -2px;
}
.lagarcy-element-select.select-base .lagarcy-module-dialog.lagarcy-dialog-size-install {
  position: absolute;
  z-index: 21;
}
.lagarcy-element-select.select-base.disabled .lagarcy-element-btn.btn-orange-gd.size-48 {
  background: #e7e7e7 !important;
  cursor: no-drop;
}
.lagarcy-element-select.select-base > .lagarcy-element-btn {
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 10;
}
.lagarcy-element-select.select-base.base-square .btn-select {
  border-radius: 0;
}
.lagarcy-element-select.select-base select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
}
.lagarcy-element-select.select-base .lagarcy-module-dropdown {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 424px;
  overflow-y: auto;
  display: table;
}
.lagarcy-element-select.select-base.arr-right .lagarcy-module-dropdown {
  left: auto;
}
.lagarcy-element-select.select-base.arr-left .lagarcy-module-dropdown {
  right: auto;
}
.lagarcy-element-select.select-base.active .lagarcy-module-dropdown {
  display: block;
}
.lagarcy-element-select.select-base .lagarcy-element-btn.size-48 ~ .lagarcy-module-dropdown {
  top: 40px;
}
.lagarcy-element-select.select-base.base-sm .btn-select {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-weight: normal;
  color: #333;
  vertical-align: top;
}
.lagarcy-element-select.select-base.base-sm .btn-select .btn-txt {
  font-size: 13px;
  line-height: 26px;
}
.lagarcy-element-select.select-base.select-txt .btn-select {
  border: 0 none;
  padding: 0 20px 0 10px;
}
.lagarcy-element-select.select-base.select-txt .btn-select:hover {
  background: inherit;
}
.lagarcy-element-select.select-base.select-txt .lagarcy-element-btn.btn-select:after {
  right: 0;
}
.lagarcy-element-select.select-base.select-txt .lagarcy-module-dropdown .lagarcy-element-btn {
  padding: 0 16px;
}
.lagarcy-element-select.select-base.select-calendar:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  width: 20px;
  height: 20px;
  background: url(../../images/svg/ic-calendar.svg);
  background-size: cover;
}
.lagarcy-element-select.select-base.select-calendar .lagarcy-element-input {
  min-width: 124px;
  padding-right: 24px;
  font-weight: 700;
}
.lagarcy-element-select.select-base.select-time .btn-select {
  min-width: 134px;
  height: 32px;
  padding: 1px 23px 1px 12px;
  vertical-align: top;
}
.lagarcy-element-select.select-base.select-time .lagarcy-element-btn .btn-txt {
  font-size: 13px;
  color: #333;
}

/* checkbox */
.lagarcy-element-checkbox {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.lagarcy-element-checkbox .checkbox-input {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  display: none;
}
.lagarcy-element-checkbox .checkbox-input ~ label {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  cursor: pointer;
  overflow: hidden;
}
.lagarcy-element-checkbox .checkbox-input ~ label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url(../../images/svg/ic-checkbox.svg) no-repeat;
  background-size: cover;
}
.lagarcy-element-checkbox .checkbox-input:checked ~ label:before {
  background: url(../../images/svg/ic-checkbox-active.svg) no-repeat;
  background-size: cover;
}
.lagarcy-element-checkbox .checkbox-input:checked:disabled ~ label:before {
  background: url(../../images/svg/ic-checkbox-active.svg) no-repeat;
  background-size: cover;
  cursor: no-drop;
}
.lagarcy-element-checkbox .checkbox-input:disabled ~ label:before {
  background: url(../../images/svg/ic-checkbox-disabled.svg) no-repeat;
  background-size: cover;
  cursor: no-drop;
}
.lagarcy-element-checkbox .checkbox-input ~ label.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.lagarcy-element-checkbox.sm .checkbox-input {
  width: 12px;
  height: 12px;
}
.lagarcy-element-checkbox.sm .checkbox-input ~ label {
  height: 16px;
  padding-left: 18px;
  font-size: 12px;
  line-height: 15px;
}
.lagarcy-element-checkbox.sm .checkbox-input ~ label:before {
  width: 12px;
  height: 12px;
}
.lagarcy-element-checkbox.sm .checkbox-input ~ label.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
}

/* checkbox round */
.lagarcy-element-checkbox-round {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.lagarcy-element-checkbox-round.is-hidden {
  pointer-events: none;
}
.lagarcy-element-checkbox-round.is-hidden .checkbox-input-round {
  display: none;
}
.lagarcy-element-checkbox-round.is-hidden .checkbox-input-round ~ label {
  padding-left: 0;
}
.lagarcy-element-checkbox-round.is-hidden .checkbox-input-round ~ label:before {
  content: none;
}
.lagarcy-element-checkbox-round::-ms-check {
  border: 0;
}
.lagarcy-element-checkbox-round .checkbox-input-round {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
}
.lagarcy-element-checkbox-round .checkbox-input-round ~ label {
  position: relative;
  display: inline-block;
  height: 20px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  cursor: pointer;
  /* overflow: hidden; */
}
.lagarcy-element-checkbox-round .checkbox-input-round ~ label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url(../../images/svg/ic-checkbox-round.svg) no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.lagarcy-element-checkbox-round .checkbox-input-round:checked ~ label:before {
  background: url(../../images/svg/ic-checkbox-round-active.svg) no-repeat;
  background-size: cover;
}
.lagarcy-element-checkbox-round .checkbox-input-round:checked:disabled ~ label:before {
  background: url(../../images/svg/ic-checkbox-round-active.svg) no-repeat;
  background-size: cover;
  cursor: no-drop;
}
.lagarcy-element-checkbox-round .checkbox-input-round:disabled ~ label:before {
  background: url(../../images/svg/ic-checkbox-round-disabled.svg) no-repeat;
  background-size: cover;
  cursor: no-drop;
}
.lagarcy-element-checkbox-round .checkbox-input-round ~ label.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.lagarcy-element-checkbox-round.sm .checkbox-input-round {
  width: 12px;
  height: 12px;
}
.lagarcy-element-checkbox-round.sm .checkbox-input-round ~ label {
  height: 16px;
  padding-left: 18px;
  font-size: 12px;
  line-height: 17px;
}
.lagarcy-element-checkbox-round.sm .checkbox-input-round ~ label:before {
  width: 12px;
  height: 12px;
}
.lagarcy-element-checkbox-round.sm .checkbox-input-round ~ label.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
}
.lagarcy-element-checkbox-round.image-img .checkbox-input-round ~ label {
  line-height: 36px;
  height: 36px;
  vertical-align: middle;
}
.lagarcy-element-checkbox-round.image-img img {
  width: 36px;
  height: 36px;
  margin: 0 7px 0 3px;
}
.lagarcy-element-checkbox-round.image-img .checkbox-input-round ~ label:before {
  top: 10px;
}

/* checkbox -custom type*/
.lagarcy-element-check.check-custom {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lagarcy-element-check.check-custom.type-block {
  display: block;
}
.lagarcy-element-check.check-custom.rounded,
.lagarcy-element-check.check-custom.rounded .checkmark {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lagarcy-element-check.check-custom.circle,
.lagarcy-element-check.check-custom.circle .checkmark {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.lagarcy-element-check.check-custom.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
/* hide the browser's devault-checkbox*/
.lagarcy-element-check.check-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*create a custom checkbox*/
.lagarcy-element-check.check-custom .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-sizing: border-box;
}
/*on mouse-over, add a grey background-color*/
.lagarcy-element-check.check-custom input ~ .checkmark {
  background-color: white;
  border: 1px solid #d0d0d0;
}
/*when the checkbox is checked, add a blue background*/
.lagarcy-element-check.check-custom input:checked ~ .checkmark {
  background-color: #ff5000;
  border: 1px solid #ff5000;
}

.lagarcy-element-check.check-custom input:disabled ~ .checkmark {
  background-color: #e7e7e7;
}
/*create the checkmark/indicator (hidden when not checked)*/
.lagarcy-element-check.check-custom .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/*show the checkmark when checked*/
.lagarcy-element-check.check-custom input:checked ~ .checkmark:after {
  display: block;
}
/*style the checkmark/indicator */
.lagarcy-element-check.check-custom .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* size16 */
.lagarcy-element-check.check-custom.size16 {
  padding-left: 16px;
  width: 16px;
  height: 16px;
}
.lagarcy-element-check.check-custom.size16 .checkmark {
  height: 16px;
  width: 16px;
}
/* size20 = default size */
/* size24 */
.lagarcy-element-check.check-custom.size24 {
  padding-left: 24px;
  width: 24px;
  height: 24px;
}
.lagarcy-element-check.check-custom.size24 .checkmark {
  height: 24px;
  width: 24px;
}
/* size28 */
.lagarcy-element-check.check-custom.size28 {
  padding-left: 28px;
  width: 28px;
  height: 28px;
}
.lagarcy-element-check.check-custom.size28 .checkmark {
  height: 28px;
  width: 28px;
}
/* size32 */
.lagarcy-element-check.check-custom.size32 {
  padding-left: 32px;
  width: 32px;
  height: 32px;
}
.lagarcy-element-check.check-custom.size32 .checkmark {
  height: 32px;
  width: 32px;
}

/* radio */
.lagarcy-element-radio {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
.lagarcy-element-radio .radio-input {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  visibility: hidden;
}
.lagarcy-element-radio .radio-input ~ label {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 22px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  overflow: hidden;
}
.lagarcy-element-radio .radio-input ~ label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url(../../images/svg/ic-checkbox-round.svg) no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.lagarcy-element-radio .radio-input:checked ~ label:before {
  background: url(../../images/svg/ic-radio-active.svg) no-repeat;
  background-size: cover;
}
.lagarcy-element-radio .radio-input:disabled ~ label:before {
  background: url(../../images/svg/ic-radio-disabled.svg) no-repeat;
  background-size: cover;
}
.lagarcy-element-radio .radio-input ~ label.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.lagarcy-element-radio.image-img .radio-input ~ label {
  line-height: 36px;
  height: 36px;
  vertical-align: middle;
}
.lagarcy-element-radio.image-img img {
  width: 36px;
  height: 36px;
  margin: 0 7px 0 3px;
}
.lagarcy-element-radio.image-img .radio-input ~ label:before {
  top: 10px;
}
.lagarcy-element-radio.sm .radio-input {
  width: 12px;
  height: 12px;
}
.lagarcy-element-radio.sm .radio-input ~ label {
  height: 16px;
  padding-left: 18px;
  font-size: 12px;
  line-height: 17px;
}
.lagarcy-element-radio.sm .radio-input ~ label:before {
  width: 12px;
  height: 12px;
}
.lagarcy-element-radio.sm .radio-input ~ label.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
}
.lagarcy-element-radio.image-img .radio-input {
  top: 10px;
}

/*element checkbox type-toggle*/
.lagarcy-element-toggle {
  height: 18px;
}
.lagarcy-element-toggle .txt {
  display: inline-block;
  font-size: 13px;
  color: #666;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 8px;
}
.lagarcy-element-toggle .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}
.lagarcy-element-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.lagarcy-element-toggle .slider {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 18px;
  border-radius: 9px;
  right: 0;
  left: 0;
  background-color: #b4b8c8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lagarcy-element-toggle .slider:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  left: 2px;
  top: calc(50% - 7px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.lagarcy-element-toggle input:checked + .slider {
  background-color: #ff5000;
}
.lagarcy-element-toggle input:checked + .slider:before {
  background-color: #fff;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  border: 0;
}
.lagarcy-element-toggle input:focus + .slider {
}

/*checkbox has Frame */
.list-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 198px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 10px;
  vertical-align: top;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
}
.list-checkbox .lagarcy-element-check.check-custom {
  margin-bottom: 0;
  padding: 0 0 0 28px;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  font-weight: 700;
}
.list-checkbox .lagarcy-element-check.check-custom .checkmark {
  top: calc(50% - 10px);
}
.list-checkbox .lagarcy-element-check.check-custom .txt {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
}
.list-checkbox.show-tooltip:hover .checkbox-tooltip {
  display: block;
}
.list-checkbox .checkbox-tooltip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  /*border:1px solid #999;*/
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.list-checkbox .checkbox-tooltip p {
  font-size: 13px;
  line-height: 19px;
  color: #333;
}

/*checkbox list*/
.checkbox-list .item-list {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.checkbox-list .item-list .lagarcy-element-check.check-custom {
  font-size: 13px;
  color: #666;
}
.checkbox-list .item-list .lagarcy-element-check + .lagarcy-element-btn {
  margin-left: 8px;
}

/* checkbox -custom type*/
.lagarcy-element-check {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lagarcy-element-check.type-block {
  display: block;
}
.lagarcy-element-check,
.lagarcy-element-check .checkmark {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lagarcy-element-check .checkmark:focus,
.lagarcy-element-check .checkmark:active {
  border: 0;
  outline: 0;
}
.lagarcy-element-check.circle,
.lagarcy-element-check.circle .checkmark {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.lagarcy-element-check.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.lagarcy-element-check.blind:focus,
.lagarcy-element-check.blind:active {
  border: 0;
  outline: 0;
}

/*checkbox has Frame */
.list-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 198px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 10px;
  vertical-align: top;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
}
.list-checkbox .lagarcy-element-check {
  margin-bottom: 0;
  padding: 0 0 0 28px;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  font-weight: 700;
}
.list-checkbox .lagarcy-element-check .checkmark {
  top: calc(50% - 10px);
}
.lagarcy-element-check.circle input ~ .checkmark {
  background: url(../../images/svgnew/ic-radio-check-s20-cccc.svg) no-repeat;
  border: none;
}

.list-checkbox .lagarcy-element-check .txt {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
}
.list-checkbox.show-tooltip:hover .checkbox-tooltip {
  display: block;
}
.list-checkbox .checkbox-tooltip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px;
  /*border:1px solid #999;*/
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.list-checkbox .checkbox-tooltip p {
  font-size: 13px;
  line-height: 19px;
  color: #333;
}

/*TYPE TAG*/
.lagarcy-element-check.type-tag {
  font-size: 12px;
  color: #333;
  padding: 0 12px;
  line-height: 32px;
}
.lagarcy-element-check.type-tag .txt {
  display: block;
  height: 32px;
}
.lagarcy-element-check.type-tag .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
.lagarcy-element-check.type-tag input ~ .checkmark {
  background-color: transparent;
  border: 1px solid #d0d0d0;
}
.lagarcy-element-check.type-tag input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #ff5000;
}
.lagarcy-element-check.type-tag input:checked + .txt-item {
  color: #ff5000;
}
.lagarcy-element-check.type-tag input ~ .checkmark:after,
.lagarcy-element-check.type-tag input ~ .checkmark:before {
  content: none;
}
.lagarcy-element-check.type-tag:hover input ~ .checkmark,
.lagarcy-element-check.type-tag:focus input ~ .checkmark,
.lagarcy-element-check.type-tag.is-focus input ~ .checkmark {
  background-color: transparent;
}
.lagarcy-element-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  outline-offset: 1px;
  -webkit-appearance: checkbox;
  right: 0; /*firefox issue 해결*/
}
.lagarcy-element-check .checkmark {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-sizing: border-box;
}
/* size-16 */
.lagarcy-element-check.size-16 {
  padding-left: 24px;
}
.lagarcy-element-check.size-16 .checkmark {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
}
.lagarcy-element-check.size-16.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
}
/* size-24 */
.lagarcy-element-check.size-24 .checkmark {
  width: 24px;
  height: 24px;
}
.lagarcy-element-check.size-24.blind {
  padding-left: 24px;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.lagarcy-element-check:hover input ~ .checkmark,
.lagarcy-element-check:focus input ~ .checkmark,
.lagarcy-element-check.is-focus input ~ .checkmark {
  background-color: #fff;
  /* border: 1px solid #999; */
  border: none;
}
.lagarcy-element-check:hover input ~ .checkmark:before,
.lagarcy-element-check:focus input ~ .checkmark:before,
.lagarcy-element-check.is-focus input ~ .checkmark:before {
  /* border-color: #999; */
  border: none;
}
.lagarcy-element-check input ~ .checkmark {
  background-color: white;
  border: 1px solid #d0d0d0;
}
.lagarcy-element-check input:checked ~ .checkmark {
  background: url(../../images/svgnew/ic-radio-check-s20-active.svg) no-repeat;
  border: none;
}
.lagarcy-element-check input:disabled ~ .checkmark {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
}
.lagarcy-element-check input:disabled ~ .checkmark:before {
  content: none;
}
.lagarcy-element-check input:disabled:checked ~ .checkmark {
  background-color: #ccc;
  border: 1px solid #ccc;
}
.lagarcy-element-check .checkmark:before {
  content: none;
  position: absolute;
  display: block;
  left: calc(50% - 3px);
  top: calc(50% - 6px);
  width: 4px;
  height: 8px;
  border: solid #ccc;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* 
.lagarcy-element-check .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.lagarcy-element-check input:checked ~ .checkmark:after {
  display: block;
}
.lagarcy-element-check input:checked ~ .checkmark:before {
  content: none;
}
.lagarcy-element-check .checkmark:after {
  left: calc(50% - 3px);
  top: calc(50% - 6px);
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 
*/

.lagarcy-element-radio.type-img {
  padding-left: 0;
  margin-bottom: 0;
  width: 132px;
  height: 136px;
  box-sizing: border-box;
  cursor: pointer;
}
.lagarcy-element-radio input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.lagarcy-element-radio.type-img input:checked ~ .checkmark {
  background-color: #fff;
  border: 4px solid #9681ff;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.lagarcy-element-radio.type-img.non-recomm input:checked ~ .checkmark {
  background-color: #fff;
  border: 4px solid #72adff;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.lagarcy-element-radio.type-img:hover input ~ .checkmark {
  border: 4px solid #9681ff;
}
.lagarcy-element-radio.type-img.non-recomm:hover input ~ .checkmark {
  border: 4px solid #72adff;
}
.lagarcy-element-radio.type-img input ~ .checkmark b {
  font-size: 12px;
  color: #333;
  line-height: 18px;
  margin-top: 9px;
  font-weight: normal;
}
.lagarcy-element-radio.type-img input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
}
.lagarcy-element-radio.type-img .checkmark {
  top: calc(50% - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
