/*lagarcy-pagination*/
.lagarcy-pagination {
  display: table;
  padding: 14px 0;
  width: 100%;
  line-height: normal;
  font-size: 14px;
  text-align: center;
}
.lagarcy-pagination .lagarcy-element-icon {
  vertical-align: middle;
  margin: 0 2px;
}
.lagarcy-pagination .lagarcy-pagination-num {
  display: inline-block;
  padding: 0 14px;
  margin-top: -2px;
  vertical-align: middle;
}
.lagarcy-pagination .lagarcy-pagination-num .num-first span {
  padding-left: 4px;
}
.lagarcy-pagination .lagarcy-pagination-num .num-last span {
  padding-right: 4px;
}

.lagarcy-pagination a,
.lagarcy-pagination i {
  display: inline-block;
  padding: 3px 4px 4px;
}
.lagarcy-pagination a.active,
.lagarcy-pagination i.active {
  min-width: 24px;
  color: #ff5000;
  font-weight: 700;
  pointer-events: none;
}

.lagarcy-pagination .lagarcy-element-icon::after {
  content: none !important;
}
.lagarcy-pagination a {
  display: inline-block;
  min-width: 24px;
  color: #333;
  border-radius: 18px;
  position: relative;
}
.lagarcy-pagination a span {
  position: inherit;
  z-index: 1;
}
.lagarcy-pagination a:hover::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: block;
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.lagarcy-pagination a.num-first:hover::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: block;
  background: #f5f5f5;
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translate(0, -50%);
  z-index: 0;
}
.lagarcy-pagination a.num-last:hover::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: block;
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: initial;
  right: 4px;
  transform: translate(0, -50%);
  z-index: 0;
}

/* btnMore-lagarcy-pagination */
.btn-more-lagarcy-pagination {
  display: table;
  padding: 16px 0;
  width: 100%;
  line-height: normal;
  font-size: 14px;
  text-align: center;
}
.btn-more-lagarcy-pagination .lagarcy-element-icon.ic-arrow-down-16 {
  margin-right: 0;
  margin-left: 4px;
}

/* loading-lagarcy-pagination  */
.loaging-lagarcy-pagination {
  display: table;
  padding: 14px 0;
  width: 100%;
  line-height: normal;
  font-size: 14px;
  text-align: center;
}
.icon-loading-spin {
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* calendar-lagarcy-pagination */
.calendar-lagarcy-pagination {
  display: table;
  width: 100%;
  line-height: normal;
  font-size: 14px;
  text-align: center;
}
.calendar-lagarcy-pagination .dissable {
  background-color: #efefef;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.4;
}
.calendar-lagarcy-pagination .calendar {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  vertical-align: top;
  outline: none;
}
.calendar-lagarcy-pagination .calendar input {
  width: 80px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  border: 0;
  text-align: center;
  cursor: pointer;
}
.calendar-lagarcy-pagination .calendar input::placeholder {
  color: #333;
}
.calendar-lagarcy-pagination .calendar .lagarcy-element-icon {
  margin: 2px 0 0 0;
}
.calendar-lagarcy-pagination .lagarcy-element-icon.ic-direction-left-s20-c666:hover {
  background: url(../../images/svgnew/ic-direction-left-s20-cddd.svg) no-repeat;
}
.calendar-lagarcy-pagination .lagarcy-element-icon.ic-direction-right-s20-c666:hover {
  background: url(../../images/svgnew/ic-direction-right-s20-cddd.svg) no-repeat;
}
