/*module-view*/
.lagarcy-module-view {
}
.lagarcy-module-detail-view {
  box-sizing: border-box;
  padding: 36px 48px 0;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view {
  padding: 24px 32px 32px;
  border: 1px solid #d5d9dc;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view .detail-header {
  padding: 0 0 16px 0;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view .detail-header .board-info-tool {
  right: 0;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view .detail-content {
  padding: 24px 0 0;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view .detail-footer {
  padding: 0;
}
.layout.layout-base .section-content.thread .lagarcy-module-detail-view .detail-footer .reply-tool .tool-btn button {
  margin-right: 4px;
}

/*detail-header*/
.detail-header {
  position: relative;
  padding: 0 0 24px;
  border-bottom: 1px solid #e7e7e7;
}
.detail-header.thread {
}
.detail-header .board-info-tool {
  position: absolute;
  top: 0;
  right: 0;
}
.detail-header .board-info-tool .lagarcy-module-dropdown {
  position: absolute;
  right: 0;
}
.detail-header .board-info-tool button .report {
  white-space: nowrap;
  font-size: 13px;
  color: #999;
}
.detail-header .board-info-tool button .lagarcy-element-icon {
  margin: 3px;
}
.detail-header .board-info-tool button .lagarcy-element-icon.ic-fill-option-horizonta-s24-c999:hover {
  background: url(../../images/svgnew/ic-fill-option-horizonta-s24-c666.svg) no-repeat;
}
.detail-header .detail-category {
  margin-bottom: 6px;
}
.detail-header .detail-category span {
  color: #666;
  font-size: 14px;
}
.detail-header .detail-category .category-title {
}
.detail-header .detail-category .category-board {
  position: relative;
}
.detail-header .detail-category .category-board::before {
  content: '·';
  margin-left: 6px;
  margin-right: 6px;
}
.category-dropdown {
  float: right;
  position: relative;
  font-size: 0;
  margin-top: 5px;
}
.category-dropdown .lagarcy-module-dropdown.status {
  top: 20px;
  right: 0;
}
.category-dropdown.active button .ic-direction-down-s16-c999 {
  background: url(../../images/svgnew/ic-direction-down-s16-c666.svg) no-repeat;
}
.category-dropdown.active .ic-fill-globe-circle-s16-c999 {
  background: url(../../images/svgnew/ic-fill-globe-circle-s16-c666.svg) no-repeat;
}
.category-dropdown.active .ic-fill-user-s16-c999 {
  background: url(../../images/svgnew/ic-fill-user-s16-c666.svg) no-repeat;
}
.category-dropdown.active .ic-lock-default-s16-c999 {
  background: url(../../images/svgnew/ic-lock-default-s16-c666.svg) no-repeat;
}

.category-dropdown button:hover .ic-direction-down-s16-c999 {
  background: url(../../images/svgnew/ic-direction-down-s16-c666.svg) no-repeat;
}
.category-dropdown:hover .ic-fill-globe-circle-s16-c999 {
  background: url(../../images/svgnew/ic-fill-globe-circle-s16-c666.svg) no-repeat;
}
.category-dropdown:hover .ic-fill-user-s16-c999 {
  background: url(../../images/svgnew/ic-fill-user-s16-c666.svg) no-repeat;
}
.category-dropdown:hover .ic-lock-default-s16-c999 {
  background: url(../../images/svgnew/ic-lock-default-s16-c666.svg) no-repeat;
}

.detail-header .detail-tit {
  width: calc(100% - 64px);
  display: inline-block;
  font-size: 0;
  margin-bottom: 30px;
}
.detail-header .detail-txt {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  line-height: normal;
}
.detail-header > .detail-list {
  position: relative;
  height: 30px;
}
.detail-header .detail-count {
  color: #ff5000;
  font-weight: 700;
  margin-left: 4px;
}
.detail-header > .detail-list > ul {
  display: table;
}
.detail-header > .detail-list > ul > li {
  position: relative;
  display: table-cell;
  padding: 0 8px;
  font-size: 14px;
  color: #999;
  vertical-align: middle;
  line-height: 28px;
  height: 30px;
}
.detail-header .detail-list li:first-child {
  padding-left: 0;
}
.detail-header .detail-list li:after {
  content: '';
  position: absolute;
  top: 15px;
  /* top: 56%;
  transform: translateY(-50%); */
  right: -1px;
  width: 3px;
  height: 3px;
  background-color: #ccc;
  border-right: 3px;
}
.detail-header .detail-list li.detail-nick .lagarcy-module-profile .profile-name {
  width: auto;
}
.detail-header .detail-list :last-child:after {
  display: none;
}
.detail-header .detail-list .detail-category {
  color: #333;
  padding-left: 0;
}
.detail-header .detail-list .detail-ranking::after {
  content: none;
}
.detail-header .detail-list .lagarcy-element-icon.ic-view-s16-c999 {
  margin-top: 7px;
  margin-right: 4px;
}
/*detail-content*/
.detail-content {
  padding: 30px 0 0;
  font-size: 14px;
  line-height: normal;
  color: #333;
}
.detail-content .lagarcy-module-editor {
  margin: 20px 0;
}
.detail-content .sub-tit {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  padding: 0 0 20px;
}
.detail-content p {
  /*padding:15px 0;*/
  line-height: normal;
}
.detail-content .contents-note .lagarcy-element-icon {
  vertical-align: middle;
}
.detail-content img {
  max-width: 100%;
  margin: 4px 0;
}
.detail-module-share {
  padding: 28px 0 32px;
  text-align: center;
}
.detail-module-share .lagarcy-element-btn {
  margin: 0 4px;
  border-radius: 24px;
  padding: 1px 32px;
}
.detail-module-share .lagarcy-element-btn.size-48 .btn-txt {
  line-height: 26px;
}
.lagarcy-module-profile-box {
  position: relative;
  /* margin-bottom: 46px; */
  padding: 20px 23px;
  border: 1px solid #d5d9dc;
}
.lagarcy-module-profile-box .profile-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}
.lagarcy-module-profile-box .profile-link .lagarcy-element-btn.btn-gray-line {
  padding: 1px 16px 1px 24px;
}
.lagarcy-module-profile-box .profile-link .lagarcy-element-btn .btn-txt .lagarcy-element-icon.ic-arrow-next-sm {
  margin-top: 1px;
  margin-right: 0;
  margin-left: 16px;
}
.lagarcy-module-profile-box .profile-write-num {
  color: #acacac;
  font-size: 13px;
}
.lagarcy-module-profile-box .lagarcy-module-profile {
  display: table;
}
.lagarcy-module-profile-box .lagarcy-module-profile .profile-content {
  padding-left: 12px;
}
.lagarcy-module-profile-box .lagarcy-module-profile .profile-thumb,
.lagarcy-module-profile-box .lagarcy-module-profile .profile-content {
  display: table-cell;
  vertical-align: middle;
}
.lagarcy-module-profile-box .lagarcy-module-profile .profile-name {
  width: auto;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
/* detail-footer */
.detail-footer {
  /* padding: 0 24px; */
}
.detail-footer .detail-footer-hashtag {
  margin-top: 24px;
  font-size: 0;
}
.detail-footer .detail-footer-hashtag .lagarcy-element-btn.btn-round.btn-gray-line.size-30 {
  margin-bottom: 8px;
  margin-right: 8px;
}
.detail-footer .detail-footer-hashtag .lagarcy-element-btn.btn-round.btn-gray-line.size-30 .btn-txt {
  font-size: 13px;
  line-height: 16px;
}
.detail-footer .detail-module-share {
  padding: 56px 0 0;
  font-size: 0;
}
.detail-footer .detail-module-share .lagarcy-element-btn {
  border-radius: 6px;
}
.detail-footer .detail-module-share .lagarcy-element-btn.btn-cycle {
  border-radius: 6px !important;
}
.detail-footer .detail-module-share .lagarcy-element-btn .btn-txt {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #666;
}
.detail-footer .detail-module-share .lagarcy-element-btn .btn-txt .lagarcy-element-icon.ic-like-line {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.lagarcy-module-profile-box .profile-thumb {
  vertical-align: middle;
}
.lagarcy-module-profile-box.activity-box {
  padding: 16px;
}
/*module-actions*/
.lagarcy-module-footer {
  position: relative;
}
.detail-footer .comment-tool {
  margin-bottom: 25px;
}
