{% import "_include/layout/head/head.njk" as headLink %}
{% import "_include/layout/scroll/scroll.njk" as scroll %}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{ headLink.base(tit="Stove Core UI") }}
  {% block styles %}{% endblock %}
</head>
<!-- STOVE Layout System -->
<!-- [D] basic / information / s-one-rail / b-one-rail /two-rail /side-rail -->
<!-- [D] layout에 아래 class를 적용하면 다음과 같은 Size가 적용 됩니다. -->
<!-- .lc-xl = $stds-breakpoint-xl = 1600px -->
<!-- .lc-l = $stds-breakpoint-l = 1440px; -->
<!-- .lc-m = $stds-breakpoint-m = 1280px; -->
<!-- [D] 브라우저 정책 추가 시 is-gnb-banner 클래스를 추가 해 주세요. [미적용]  -->
<body class="layout is-scroll">
  {% block gnb %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

  {% block dialog %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
<!-- [D] 공통으로 사용하는 scroll -->
{{ scroll.scrollBase() }}
</html>