{% import "_include/layout/head/head.njk" as headLink %}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{ headLink.base(tit="Stove Core UI") }}
  {% block styles %}{% endblock %}
</head>
<!-- STOVE Layout System -->
<!-- basic / information / s-one-rail / b-one-rail /two-rail /side-rail -->
<!-- [D] 브라우저 정책 추가 시 is-gnb-banner 클래스를 추가 해 주세요.  -->
<body class="layout">
  {% block gnb %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}

  {% block dialog %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>