{% import "_include/module/board/board.njk" as board %}
{% import "_include/form/dropdown.njk" as dropdown %}
{% import "_include/form/input.njk" as input %}
{% import "_include/form/button.njk" as btn %}
{% import "_include/form/checkbox.njk" as checkbox %}
{% import "_include/module/write/attach.njk" as attach %}
{% import "_include/module/profile/profile.njk" as profile %}

<!-- Emoji -->
{% macro baseEmoji() %}
<div class="module-write-ui emoji">
  <div id="emojiNavSwiper" class="swiper-nav-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/icon-clock.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">clock</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/icon-emoji.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">emoji</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/bread/icon_bread_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">bread</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/denis/icon_denis_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">denis</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/dough/icon_dough_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">dough</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/dragon/icon_dragon_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">dragon</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/panda/icon_panda_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">panda</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/pepe/icon_pepe_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">pepe</div>
      </div>
      <div class="swiper-slide">
        <div class="slider-img">
            <img src="/static/legacy/images/emoji/rave3d/icon_rave3d_60.png" alt="emoji slide image">
        </div>
        <div class="slider-caption">rave3d</div>
      </div>
    </div>
    <button class="swiper-button-prev"><i class="ic-control-arrow-left-line"></i></button>
    <button class="swiper-button-next"><i class="ic-control-arrow-right-line"></i></button>
  </div>
  <div id="emojiSwiper" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <!-- [D] 동적 삽입 필요 -->
        </div>
        <div class="swiper-slide">
            <!-- [D] 동적 삽입 필요 -->
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">브레드</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/01.png" alt="bread speaker">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/02.png" alt="bread basic">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/03.png" alt="bread horror">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/04.png" alt="bread hello">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/05.png" alt="bread sweep">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/06.png" alt="bread sleepy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/07.png" alt="bread wonder">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/bread/08.png" alt="bread embarassed">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">데니스</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/01.png" alt="denis speaker">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/02.png" alt="denis guitar">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/03.png" alt="denis happy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/04.png" alt="denis embarassed">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/05.png" alt="denis hello 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/06.png" alt="denis shy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/07.png" alt="denis hello 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/denis/08.png" alt="denis shower">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">도우</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/01.png" alt="dough embarassed">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/02.png" alt="dough angry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/03.png" alt="dough basic">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/04.png" alt="dough hungry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/05.png" alt="dough eating">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/06.png" alt="dough sleepy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/07.png" alt="dough want">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dough/08.png" alt="dough sad">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">드레곤</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/01.png" alt="dragon basic">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/02.png" alt="dragon smile">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/03.png" alt="dragon wink">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/04.png" alt="dragon love">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/05.png" alt="dragon happy 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/06.png" alt="dragon happy 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/07.png" alt="dragon cry 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/08.png" alt="dragon cry 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/09.png" alt="dragon disappoint">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/10.png" alt="dragon busy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/11.png" alt="dragon embarrassed 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/12.png" alt="dragon embarrassed 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/13.png" alt="dragon angry 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/14.png" alt="dragon angry 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/15.png" alt="dragon devil">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/16.png" alt="dragon laugh 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/17.png" alt="dragon laugh 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/dragon/18.png" alt="dragon laugh 03">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">판다</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/01.png" alt="panda fun 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/02.png" alt="panda happy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/03.png" alt="panda wink">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/04.png" alt="panda birth">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/05.png" alt="panda love">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/06.png" alt="panda happy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/07.png" alt="panda sad 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/08.png" alt="panda cry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/09.png" alt="panda sad 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/10.png" alt="panda sick">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/11.png" alt="panda embarrassed 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/12.png" alt="panda aghast">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/13.png" alt="panda angry 01">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/14.png" alt="panda angry 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/15.png" alt="panda devil">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/16.png" alt="panda good">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/17.png" alt="panda laugh">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/18.png" alt="panda embarrassed 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/19.png" alt="panda fun 02">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/panda/20.png" alt="panda laugh 02">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">페페</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/01.png" alt="pepe angry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/02.png" alt="pepe attention">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/03.png" alt="pepe bell">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/04.png" alt="pepe embarassed">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/05.png" alt="pepe hellow">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/06.png" alt="pepe angry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/07.png" alt="pepe exahausted">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/pepe/08.png" alt="pepe run">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <p class="emoji-title">레이브3D</p>
            <ul class="emoji-contents">
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/01.png" alt="rave3d sad">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/02.png" alt="rave3d laugh">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/03.png" alt="rave3d surprise">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/04.png" alt="rave3d chu">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/05.png" alt="rave3d angry">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/06.png" alt="rave3d sunglass">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/07.png" alt="rave3d sleep">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/08.png" alt="rave3d smile">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/09.png" alt="rave3d celebrate">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/10.png" alt="rave3d sick">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/11.png" alt="rave3d heart">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/12.png" alt="rave3d frozen">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/13.png" alt="rave3d hot">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/14.png" alt="rave3d shy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/15.png" alt="rave3d embarrassed">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/16.png" alt="rave3d cryout">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/17.png" alt="rave3d hahaha">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/18.png" alt="rave3d twincle">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/19.png" alt="rave3d depressed">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/20.png" alt="rave3d confused">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/21.png" alt="rave3d joy">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/22.png" alt="rave3d prim">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/23.png" alt="rave3d merong">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/24.png" alt="rave3d chuchu">
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <img src="/static/legacy/images/emoji/rave3d/25.png" alt="rave3d glad">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  <script>
    var emojiNavSwiper = new Swiper('#emojiNavSwiper', {
      allowTouchMove: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      spaceBetween: 0,
      slidesPerView: 7,
      watchSlidesVisibility: true,
      watchSlidesProgress: true
    });
    var emojiSwiper = new Swiper('#emojiSwiper', {
      direction: 'vertical',
      slidesPerView: 'auto',
      initialSlide: 2,
      freeMode: true,
      scrollbar: {
          el: '.swiper-scrollbar'
      },
      mousewheel: true,
      thumbs: {
          swiper: emojiNavSwiper
      }
    });
  </script>
</div>
{% endmacro %}

<!-- Attached File -->
{% macro baseAttachedFile() %}
<div class="module-write-ui attached-file write">
  <div class="attached-file-header">
    <p class="attach-file-title">
        <i class="ic-community-attach-file-line"></i>
        첨부 된 파일<strong>NN</strong>개
    </p>
    <p class="attach-file-size">
      <span class="counter">119KB</span>
      <span class="total">1024MB</span>
    </p>
  </div>
  <div class="attached-file-contents">
    <ul>
      <li>
        <p class="file-name">페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html페어리 테일 페어리 테일 페어리 테일 페어리 테일.html</p>
        <span class="file-info">
          <span class="file-size">200KB</span>
          <button type="button" class="file-btn"><i class="ic-control-close-line"></i></button>
          <button type="button" class="file-btn"><i class="ic-object-download-line"></i></button>
        </span>
      </li>
      <li>
        <span class="file-name">KakaoTalk_Photo_2021-03-23-11-22-22.png</span>
        <span class="file-info">
          <span class="file-size">200KB</span>
          <button type="button" class="file-btn"><i class="ic-control-close-line"></i></button>
        </span>
      </li>
      <li>
        <span class="file-name">스크린샷 2021-03-23 오전 10.48.28.jpg</span>
        <span class="file-info">
          <span class="file-size">200KB</span>
          <button type="button" class="file-btn"><i class="ic-control-close-line"></i></button>
        </span>
      </li>
    </ul>
  </div>
  <div class="attached-file-footer">
    <p class="size">최대 100MB까지 첨부할 수 있습니다. (한 파일당 최대 50MB)</p>
    <button type="button" class="delete">전체삭제<i class="ic-control-close-line"></i></button>
  </div>
</div>
{% endmacro %}

<!-- Reply Write -->
{% macro baseReplyWrite( dataText ) %}
<div class="module-write-ui reply-write">
    <div class="reply-write-edit" contenteditable="true" data-text="{{ dataText }}"></div>
    <!-- [D] 글쓰기 이미지 설정 영역 -->
    <div class="write-setting-area">
        <!-- 대표이미지 등록  -->
        <div class="write-setting-section">
            <div class="setting-area-header">
                <p class="setting-title">첨부된 이미지 / 동영상 <span>%N%개</span></p>
                <div class="byte">
                    <span class="byte-count">119KB</span><span class="byte-total">/ 1024MB</span>
                </div>
            </div>
            <div class="setting-area-body">
                {{ attach.base( attachItem=['attachItem', 'attachItem', 'attachItem', 'attachItem'], cbDefault="false" ) }}
                <p class="setting-desc">체크된 이미지는 대표 이미지로 보여집니다.</p>
            </div>
        </div>
    </div>
    <div class="reply-write-tool">
        <div class="tool-icon-btn">
            <button>
                <i class="ic-community-attach-emoji-line"></i>
                <div class="emoji-pos">
                    <!-- emoji UI를 넣어주세요. -->
                </div>
            </button>
            <button>
                <i class="ic-media-image-image-line"></i>
            </button>
            <button>
                <i class="ic-community-attach-video-line"></i>
            </button>
            <button>
                <i class="ic-community-attach-quotation-line"></i>
            </button>
            <div class="byte">
                <span class="byte-count">1000</span>
                <span class="byte-total">/	1000</span>
            </div>
        </div>
        <div class="tool-btn">
            {{ btn.base(colorClass='bg-outline', sizeClass='size-small', txt='취소') }}
            <!-- [D] disabled 속성을 넣으면 비활성화 됩니다. -->
            {{ btn.base(colorClass='bg-secondary', sizeClass='size-small', txt='등록', state='' ) }}
        </div>
    </div>
</div>
{% endmacro %}

<!-- Reply WriteNone -->
{% macro baseReplyWriteNone( ) %}
<div class="module-write-ui reply-write write-none">
    <p>댓글을 작성하시려면 <a href="">로그인</a> 해주세요.</p>
</div>
{% endmacro %}

<!-- Timeline Meta UI -->
{% macro TimelineMeta( contents, contentsNone, imageWrap, imageNone ) %}
<div class="module-write-ui timeline-meta">
    {% if contents %}
        <div class="container">
            {% if imageWrap %}
            <div class="image">
                <div class="inner">
                    <img src="https://dummyimage.com/240x180/0099ff/fff" alt="card image">
                </div>
            </div>
            {% elif imageNone %}
            <div class="image">
                <div class="inner">
                    <img src="https://dummyimage.com/240x180/999999/fff" alt="card image">
                </div>
            </div>
            {% endif %}
            <div class="contents">
                <p class="title-location">
                    <span>%CP페이지명%</span>
                    <i class="midd-dot">·</i>
                    <span>%게시판명%</span>
                </p>
                <p class="title">동물의 숲 공포영화 ‘돈 피크’</p>
                <div class="detail-contents">
                    <div class="fr-view">
                        부제목 입력란이 이곳에 노출됩니다. 암콜이랑 황보 나왔네요 암콜은 셋팅도 빡셀텐데.. 언제 키우게 될련지 아 그리고 친추 해주실 수 있는 분들은 닉 적어주시면 걸겠습니다! 다음 신캐역시 게임운영팀에서 잘 만들어주시길 기대합니다!
                    </div>
                </div>
                {{ profile.profileHorizontalMin() }}
            </div>
        </div>
    {% elif contentsNone %}
        <div class="container none">
            <div class="image">
                <div class="inner">
                    <i class="ic-limit-color-160"></i>
                    {# <img src="https://dummyimage.com/240x180/999/fff" alt="card image"> #}
                </div>
            </div>
            <div class="contents">
                <p class="detail-contents">게시물이 삭제되었거나 접근할 수 없는 상태입니다.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endmacro %}