{% import "_include/module/board/board.njk" as board %}
{% import "_include/form/dropdown.njk" as dropdown %}
{% import "_include/form/input.njk" as input %}
{% import "_include/form/button.njk" as btn %}

{% macro base(  ) %}
<div class="module-write">
  <div class="write-header">
    {{ dropdown.select(
      width="full", 
      height="h44", 
      addClass="box-type", 
      selectButtonTxt="카테고리 선택", 
      selectIcon="ic-community-oppose-fill"
      ) 
    }}
    {{ dropdown.select(
      width="full", 
      height="h44", 
      addClass="box-type", 
      selectButtonTxt="말머리 선택", 
      selectIcon="ic-community-oppose-fill"
      ) 
    }}
    {{ input.base(
      height="h44", 
      type="text", 
      addClass="box-type", 
      place="제목을 입력해주세요."
      ) 
    }}
  </div>
  <div class="write-contents">
    <!-- [D] 에디터를 넣어서 개발 해 주세요. style값은 제거 해 주세요. -->
    <div class="write-edit-area" style="border: 1px solid #dbdbdb; box-sizing: border-box;">에디터 삽입 영역</div>
    <!-- [D] 글쓰기 버튼 영역 -->
    <div class="write-contents-area">
      <div class="write-image-area">
        <p>대표이미지 별도 등록</p>
        {{ btn.base(colorClass='bg-outline', sizeClass='size-chips32', txt='이미지 선택', shapeClass='btn-round') }}
      </div>
    </div>
    <!-- [D] 글쓰기 설정 영역 -->
    <div class="write-setting-area">
      <div class="write-setting-section">
        <div class="setting-area-header">
          <p class="setting-tit">대표이미지 별도 등록</p>
        </div>
        <div class="setting-area-body">
          <div class="attach-image">
            <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
            </button>
            {{ btn.base(colorClass='bg-primary', sizeClass='size-chips28', txt='삭제', shapeClass='btn-round') }}
          </div>
        </div>
      </div>

      {# <div class="write-setting-section">
          <div class="setting-section-header">
          <p class="tit">첨부된 이미지 / 동영상 <span class="orange">%N%개</span></p>
          <p class="desc">체크된 이미지는 대표 이미지로 보여집니다.</p>
          </div>
          <div class="setting-section-body">
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          <div class="attach-image">
              <span class="element-icon ic-select" style="">pick</span>
              <button class="image-area">
              <img src="https://dummyimage.com/60x60/0099ff/fff" alt="attach image">
              </button>
              <button class="image-close">
              <span class="element-icon ic-close-square" style="">pick</span>
              </button>
          </div>
          </div>
      </div>
      <div class="write-setting-section">
          <div class="setting-section-header">
          <p class="tit">공지사항 등록</p>
          </div>
          <div class="setting-section-body">
          <span class="element-checkbox ">
              <input type="checkbox" name="" id="check1" class="checkbox-input" checked="">
              <label for="check1">메인 및 전체 게시판</label>
          </span>
          <span class="element-checkbox ">
              <input type="checkbox" name="" id="check2" class="checkbox-input">
              <label for="check2">메인만</label>
          </span>
          <span class="element-checkbox ">
              <input type="checkbox" name="" id="check3" class="checkbox-input">
              <label for="check3">현재 선택된 게시판만</label>
          </span>
          <div class="element-select select-base select-time ">
              <button class="element-btn btn-select btn-gray-line  ">
              <span class="btn-txt">공지</span>
              </button>
              <select name="">
                  <option value="">type1</option>
                  <option value="">type2</option>
                  <option value="">type3</option>
              </select>
          </div>
          </div>
      </div>
      <div class="write-setting-section">
          <div class="setting-section-header">
              <p class="tit">공개 설정</p>
          </div>
          <div class="setting-section-body">
              
              <span class="element-radio ">
              <input type="radio" name="radio1" id="radio7" class="radio-input" checked="">
              <label for="radio7">나만 보기</label>
              </span>

                            
              <span class="element-radio ">
              <input type="radio" name="radio1" id="radio8" class="radio-input">
              <label for="radio8">친구 공개</label>
              </span>

                            
              <span class="element-radio ">
              <input type="radio" name="radio1" id="radio8" class="radio-input" disabled="">
              <label for="radio8">전체 공개</label>
              </span>

          </div>
      </div>
      <div class="write-setting-section">
          <div class="setting-section-header">
          <p class="tit">예약 게시 설정</p>
          </div>
          <div class="setting-section-body">
          <span class="element-checkbox ">
              <input type="checkbox" name="" id="check1" class="checkbox-input" checked="">
              <label for="check1">예약 게시 사용</label>
          </span>
          <!-- [D] datepicker용 달력 input / 넣을 수 있는 요소 placeholder readonly disabled -->
          <div class="element-input input-datepicker">
              <div>
                  <input type="text" value="" class="element-input input-base " placeholder="2019.03.20">
                  <span class="element-icon ic-calendar" style="">calendar</span>
              </div>
          </div>
          <div class="element-select select-base select-time ">
              <button class="element-btn btn-select btn-gray-line  ">
              <span class="btn-txt">00시</span>
              </button>
              <select name="">
                  <option value="">type1</option>
                  <option value="">type2</option>
                  <option value="">type3</option>
              </select>
          </div>
          <div class="element-select select-base select-time ">
              <button class="element-btn btn-select btn-gray-line  ">
              <span class="btn-txt">00시</span>
              </button>
              <select name="">
                  <option value="">type1</option>
                  <option value="">type2</option>
                  <option value="">type3</option>
              </select>
          </div>
          <p class="desc">예약 설정한 카드는 내활동 &gt; 작성한 카드 &gt; 편집중인 카드 탭에서 확인할 수 있습니다.</p>
          </div>
      </div>
      <div class="write-setting-section">
          <div class="setting-section-header">
          <p class="tit">추천 대상 설정</p>
          </div>
          <div class="setting-section-body">
          <span class="element-checkbox ">
              <input type="checkbox" name="" id="check1" class="checkbox-input" checked="">
              <label for="check1">추천 게시물 대상 제외</label>
          </span>
          <p class="desc">위 항목에 체크하면 운영자가 이 게시물을 추천 게시물 대상에서 제외합니다. 설정이 반영되는 시간까지 최대 30분이 소요될 수 있습니다.</p>
          </div>
      </div>
       #}
      <div class="byte">
        <span class="byte-count">119KB</span>
        <span class="byte-total">/ 1024MB</span>
      </div>
  </div>

  </div>
  <div class="write-footer">
  
  </div>
</div>
{% endmacro %}

