{% macro base(statusClass, txt, width, height) %}
<span class="lagarcy-element-badge {{ statusClass}}"
    style="{% if width %}width:{{ width }};{% endif %}{% if height %}height:{{ height }}{% endif %}">{{ txt }}</span>
{% endmacro %}
