{% import "lagarcy/elements/icon.njk" as icon %}
{% import "lagarcy/elements/btn.njk" as btn %}
{% import "lagarcy/elements/dropdown.njk" as dropdown %}
{% macro checkbox(hasFrame, isShowTooltip, id, txt, name, state, sizeClass, statusClass, noTxt, shapeClass, etcClass, slot, typeTag) %}
  {% if hasFrame %}
    <div class="list-checkbox{% if isShowTooltip %} show-tooltip{% endif %} {{ etcClass }}">
      <label class="lagarcy-element-check{% if noTxt %} blind{% endif %} {{ shapeClass }} {{ etcClass }} {{ sizeClass }} {{ statusClass }}">
        <span class="txt">{{ txt }}</span>
        <input type="checkbox" {{ state }}>
        <span class="checkmark"></span>
      </label>
      {% if isShowTooltip %}
        <div class="checkbox-tooltip">
          <p>게임명이깁니다게임명이깁니다
          게임명이깁니다게임명이깁니다
          게임명이깁니다게임명이깁니다
          게임명이깁니다
        </p>
        </div>
      {% endif %}
    </div>
  {% else %}
    <label for="{{ id }}" class="lagarcy-element-check{% if typeTag %} type-tag{% endif %}{% if noTxt %} blind{% endif %} {{ shapeClass }} {{ etcClass }} {{ sizeClass }} {{ statusClass }}">
      {% if typeTag %}
      {% else %}{{ txt }}
      {% endif %}
      <input type="checkbox" id="{{ id }}" name="{{ name }}" {{ state }}>
      {% if typeTag %}
        <span class="txt-item">{{ txt }}</span>{% endif %}
      <span class="checkmark"></span>
    </label>
  {% endif %}
{% endmacro %}

{% macro radio(id, txt, name, state, sizeClass, noTxt, shapeClass, etcClass) %}
  <label for="{{ id }}" class="lagarcy-element-radio {% if noTxt %}blind{% endif %} {{ shapeClass }} {{ etcClass }} {{ sizeClass }}">{{ txt }}
    <input type="radio" name="{{ name }}" id="{{ id }}" {{ state }} >
    <span class="checkmark"></span>
  </label>
{% endmacro %}

{% macro radioImg(id, txt, name, state, contTxt, iconClass, iconTxt, nonRecomm) %}
  <label for="{{ id }}" class="lagarcy-element-radio type-img{% if nonRecomm %} non-recomm{% endif %}">
    <input type="radio" name="{{ name }}" id="{{ id }}" {{ state }}>
    <span class="checkmark">
      {{ icon.base(txt=iconTxt,class=iconClass) }}
      <b>{{ contTxt }}</b>
    </span>
  </label>
{% endmacro %}

{% macro select(txt, state, disabled, sizeClass, isOpen, btnColorClass) %}
  <div class="lagarcy-element-select select-base {{ state }}{% if isOpen %} selected{% endif %}">
    {% if btnColorClass %}
      {{ btn.base(sizeClass=sizeClass, shapeClass="btn-select", colorClass=btnColorClass, txt=txt) }}
    {% else %}
      {{ btn.base(sizeClass=sizeClass, shapeClass="btn-select", colorClass="btn-transparent", txt=txt) }}
    {% endif %}
    <select name="">
      <option value="">인기순</option>
      <option value="">판매량순</option>
      <option value="">평가순</option>
      <option value="">출시순</option>
    </select>
    {% if isOpen %}
      {{ dropdown.base(isVisible=true) }}
    {% else %}
      {{ dropdown.base() }}
    {% endif %}
  </div>
{% endmacro %}

<!-- [S] default Input -->
{% macro text(inputSize, txt, value, placeholder, hasType, alignRight) %}
  <div class="lagarcy-element-input{% if hasType %} {{ hasType }}{% endif %}{% if alignRight %} align-right{% endif %}" style="{{ inputSize }}">
    <input type="text" value="{{ value }}" placeholder="{{ placeholder }}"/>
  </div>
{% endmacro %}