{% extends "src/layout/index/index.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- content -->
{% block content %}
<div class="layout-basic" style="background: rgba(255, 130, 0, 0.2);">
    <div class="margin-blue"></div>
    <div class="margin-blue"></div>
    <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Layout Basic</b> <br>
        width: 1200px; <br>
        padding: 48px; <br>
    </p><p>
    </p><p class="tablet" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Tablet</b>
    </p>
    <p class="mobile" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Mobile</b>
    </p>    
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}