@import "~/src/sass/button";

/* guide button */
.guide.guide-button {
    width: 1000px;
    margin: 0 auto;
}
.ex-button {
}
.ex-button > ul > li{
    padding-bottom: 15px;
    vertical-align: top;
}
.ex-button > ul > li > *{
    margin-right:5px;
}
.ex-button .list-tit{
    position: relative;
    margin-top: 16px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    color:#666;
}
.ex-button .list-tit:after{
    content: '';
    clear: both;
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    background-color: #666;
}
