{% import "_include/partial/gnb-side/gnb-side.njk" as gnbSide %}

{% macro base(stateClass) %}
<div class="module-dimmed {{ stateClass }}">
 {{ gnbSide.base(posClass="pos-right", sidebarAlign="sidebar-right") }}
 <div class="dimmed"></div>
</div>
{% endmacro %} 