{% extends "_include/layout/guide/guide.njk" %}
{% import "_include/element/badge.njk" as badge %}

<!-- styles -->
{% block styles %}{% endblock %}
<!-- styles -->

{% block content %}
    <!-- [D]   -->
    <div class="guide full">
        <h1 class="guide-tit">Radio</h1>

        <!-- dropdown -->
        <div class="guide-layer">
            <div class="guide-section">
                <h2 class="guide-section-tit">Badge</h2>

                <div>
                    <div class="guide-flex ratio gap">
                        <div>
                            <h3 class="guide-section-stit">Fill</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 28</div>
                                <div class="guide-desc">H 20</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ badge.base(height="h28", txt="NEW", bgColor="orange") }}
                                        {{ badge.base(height="h28", txt="SALE", bgColor="red") }}
                                        {{ badge.base(height="h28", txt="UPDATE", bgColor="purple") }}
                                        {{ badge.base(height="h28", txt="VR", bgColor="blue") }}
                                        {{ badge.base(height="h28", txt="DEMO", bgColor="gray") }}
                                        {{ badge.base(height="h28", txt="DLC", bgColor="gray") }}
                                    </div>
                                    <div>
                                        {{ badge.base(height="h20", txt="NEW", bgColor="orange") }}
                                        {{ badge.base(height="h20", txt="SALE", bgColor="red") }}
                                        {{ badge.base(height="h20", txt="UPDATE", bgColor="purple") }}
                                        {{ badge.base(height="h20", txt="VR", bgColor="blue") }}
                                        {{ badge.base(height="h20", txt="DEMO", bgColor="gray") }}
                                        {{ badge.base(height="h20", txt="DLC", bgColor="gray") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="guide-section-stit">Fill_round</h3>

                            <div class="guide-desc-wrap">
                                <div class="guide-desc">H 16</div>
                            </div>

                            <div class="guide-state-wrap">
                                <div class="guide-flex ratio gap">
                                    <div>
                                        {{ badge.base(height="h16", round="round", txt="9", bgColor="orange") }}
                                        {{ badge.base(height="h16", round="round", txt="99", bgColor="orange") }}
                                        {{ badge.base(height="h16", round="round", txt="99+", bgColor="orange") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %}{% endblock %}