/* Font */
/* [S] KR */
@font-face {
  font-family: 'Spoqa Han Sans Neo KR';
  font-style: normal;
  font-weight: normal;
  src: url(./eot/SpoqaHanSansNeo-Regular.eot) format('eot'),
    url(./otf/SpoqaHanSansNeo-Regular.otf) format('otf'),
    url(./woff/SpoqaHanSansNeo-Regular.woff) format('woff'),
    url(./woff2/SpoqaHanSansNeo-Regular.woff2) format('woff2');
  font-display: fallback;
  /* src: url(https://static-cdn-dev.onstove.com/0.0.1/font/kr/woff2/InterKR-Regular.woff2) format('woff2'), 
  url(https://static-cdn-dev.onstove.com/0.0.1/font/kr/woff/InterKR-Regular.woff) format('woff'); */
}
@font-face {
  font-family: 'Spoqa Han Sans Neo KR';
  font-style: normal;
  font-weight: bold;
  src: url(./eot/SpoqaHanSansNeo-Bold.eot) format('eot'),
    url(./otf/SpoqaHanSansNeo-Bold.otf) format('otf'),
    url(./woff/SpoqaHanSansNeo-Bold.woff) format('woff'),
    url(./woff2/SpoqaHanSansNeo-Bold.woff2) format('woff2');
  font-display: fallback;  
  /* src: url(https://static-cdn-dev.onstove.com/0.0.1/font/kr/woff2/InterKR-Bold.woff2) format('woff2'),
   url(https://static-cdn-dev.onstove.com/0.0.1/font/kr/woff/InterKR-Bold.woff) format('woff'); */
}
/* [E] KR */
