{% extends "src/view/_include/layout/guide/guide.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<div class="guide">
    <p class="tit"><b>Stove Spacing</b></p>
    <p class="desc">
        폰트 단위인 rem이나 em을 사용할때, x1.5의 배율을 가진 디바이스를 고려했을 때 8의 배수를 사용하는 것을 권장하지만, 디테일한 UI 디자인을 위해 4의 배수의 가이드를 제공합니다.
    </p>

    <table class="table table-col3">
        <caption>Lorem</caption>
        <thead>
            <tr>
                <th>4Point</th>
                <th>Thickness</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    4px
                </td>
                <td>
                    <div class="ex-space ex-sp-100"></div>
                </td>
                <td>
                    $stds-spacing-100
                </td>
            </tr>
            <tr>
                <td>
                    8px
                </td>
                <td>
                    <div class="ex-space ex-sp-200"></div>
                </td>
                <td>
                    $stds-spacing-200
                </td>
            </tr>
            <tr>
                <td>
                    12px
                </td>
                <td>
                    <div class="ex-space ex-sp-300"></div>
                </td>
                <td>
                    $stds-spacing-300
                </td>
            </tr>
            <tr>
                <td>
                    16px
                </td>
                <td>
                    <div class="ex-space ex-sp-400"></div>
                </td>
                <td>
                    $stds-spacing-400
                </td>
            </tr>
            <tr>
                <td>
                    20px
                </td>
                <td>
                    <div class="ex-space ex-sp-500"></div>
                </td>
                <td>
                    $stds-spacing-500
                </td>
            </tr>
            <tr>
                <td>
                    24px
                </td>
                <td>
                    <div class="ex-space ex-sp-600"></div>
                </td>
                <td>
                    $stds-spacing-600
                </td>
            </tr>
            <tr>
                <td>
                    28px
                </td>
                <td>
                    <div class="ex-space ex-sp-700"></div>
                </td>
                <td>
                    $stds-spacing-700
                </td>
            </tr>
            <tr>
                <td>
                    32px
                </td>
                <td>
                    <div class="ex-space ex-sp-800"></div>
                </td>
                <td>
                    $stds-spacing-800
                </td>
            </tr>
            <tr>
                <td>
                    36px
                </td>
                <td>
                    <div class="ex-space ex-sp-900"></div>
                </td>
                <td>
                    $stds-spacing-900
                </td>
            </tr>
            <tr>
                <td>
                    40px
                </td>
                <td>
                    <div class="ex-space ex-sp-1000"></div>
                </td>
                <td>
                    $stds-spacing-1000
                </td>
            </tr>
            <tr>
                <td>
                    44px
                </td>
                <td>
                    <div class="ex-space ex-sp-1100"></div>
                </td>
                <td>
                    $stds-spacing-1100
                </td>
            </tr>
            <tr>
                <td>
                    48px
                </td>
                <td>
                    <div class="ex-space ex-sp-1200"></div>
                </td>
                <td>
                    $stds-spacing-1200
                </td>
            </tr>
            <tr>
                <td>
                    52px
                </td>
                <td>
                    <div class="ex-space ex-sp-1300"></div>
                </td>
                <td>
                    $stds-spacing-1300
                </td>
            </tr>
            <tr>
                <td>
                    56px
                </td>
                <td>
                    <div class="ex-space ex-sp-1400"></div>
                </td>
                <td>
                    $stds-spacing-1400
                </td>
            </tr>
            <tr>
                <td>
                    60px
                </td>
                <td>
                    <div class="ex-space ex-sp-1500"></div>
                </td>
                <td>
                    $stds-spacing-1500
                </td>
            </tr>
            <tr>
                <td>
                    64px
                </td>
                <td>
                    <div class="ex-space ex-sp-1600"></div>
                </td>
                <td>
                    $stds-spacing-1600
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}