/* checkbox -custom type*/
.legacy-element-check {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.legacy-element-check.type-block {
  display: block;
}
.legacy-element-check,
.legacy-element-check .checkmark {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.legacy-element-check .checkmark:focus,
.legacy-element-check .checkmark:active {
  border: 0;
  outline: 0;
}
.legacy-element-check.circle,
.legacy-element-check.circle .checkmark {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.legacy-element-check.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.legacy-element-check.blind:focus,
.legacy-element-check.blind:active {
  border: 0;
  outline: 0;
}
/*TYPE TAG*/
.legacy-element-check.type-tag {
  font-size: 12px;
  color: #333;
  padding: 0 12px;
  line-height: 32px;
}
.legacy-element-check.type-tag .txt {
  display: block;
  height: 32px;
}
.legacy-element-check.type-tag .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
.legacy-element-check.type-tag input ~ .checkmark {
  background-color: transparent;
  border: 1px solid #d0d0d0;
}
.legacy-element-check.type-tag input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #ff5000;
}
.legacy-element-check.type-tag input:checked + .txt-item {
  color: #ff5000;
}
.legacy-element-check.type-tag input ~ .checkmark:after,
.legacy-element-check.type-tag input ~ .checkmark:before {
  content: none;
}
.legacy-element-check.type-tag:hover input ~ .checkmark,
.legacy-element-check.type-tag:focus input ~ .checkmark,
.legacy-element-check.type-tag.is-focus input ~ .checkmark {
  background-color: transparent;
}
.legacy-element-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  outline-offset: 1px;
  -webkit-appearance: checkbox;
  right: 0; /*firefox issue 해결*/
}
.legacy-element-check .checkmark {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-sizing: border-box;
}
/* size-16 */
.legacy-element-check.size-16 {
  padding-left: 24px;
}
.legacy-element-check.size-16 .checkmark {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
}
.legacy-element-check.size-16.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
}
/* size-24 */
.legacy-element-check.size-24 .checkmark {
  width: 24px;
  height: 24px;
}
.legacy-element-check.size-24.blind {
  padding-left: 24px;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.legacy-element-check:hover input ~ .checkmark,
.legacy-element-check:focus input ~ .checkmark,
.legacy-element-check.is-focus input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #999;
}
.legacy-element-check:hover input ~ .checkmark:before,
.legacy-element-check:focus input ~ .checkmark:before,
.legacy-element-check.is-focus input ~ .checkmark:before {
  border-color: #999;
}
.legacy-element-check input ~ .checkmark {
  background-color: white;
  border: 1px solid #d0d0d0;
}
.legacy-element-check input:checked ~ .checkmark {
  background-color: #ff5000;
  border: 1px solid #ff5000;
}
.legacy-element-check input:disabled ~ .checkmark {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
}
.legacy-element-check input:disabled ~ .checkmark:before {
  content: none;
}
.legacy-element-check input:disabled:checked ~ .checkmark {
  background-color: #ccc;
  border: 1px solid #ccc;
}
.legacy-element-check .checkmark:before {
  content: none;
  position: absolute;
  display: block;
  left: calc(50% - 3px);
  top: calc(50% - 6px);
  width: 4px;
  height: 8px;
  border: solid #ccc;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.legacy-element-check .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.legacy-element-check input:checked ~ .checkmark:after {
  display: block;
}
.legacy-element-check input:checked ~ .checkmark:before {
  content: none;
}
.legacy-element-check .checkmark:after {
  left: calc(50% - 3px);
  top: calc(50% - 6px);
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* radio - custom type*/
.legacy-element-radio {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.legacy-element-radio.type-block {
  display: block;
}
.legacy-element-radio.blind {
  padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
}
/* TYPE IMG*/
.legacy-element-radio.type-img {
  padding-left: 0;
  margin-bottom: 0;
  width: 132px;
  height: 136px;
  box-sizing: border-box;
}
.legacy-element-radio.type-img .checkmark {
  top: calc(50% - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.legacy-element-radio.type-img input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
}
.legacy-element-radio.type-img input:checked ~ .checkmark {
  background-color: #fff;
  border: 4px solid #9681ff;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.legacy-element-radio.type-img.non-recomm input:checked ~ .checkmark {
  border-color: #72adff;
}
.legacy-element-radio.type-img .checkmark:after {
  content: none;
}
.legacy-element-radio.type-img input ~ .checkmark b {
  font-size: 12px;
  color: #333;
  line-height: 18px;
  margin-top: 9px;
  font-weight: normal;
}
/* size-16 */
.legacy-element-radio.size-16.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
}
.legacy-element-radio.size-16 {
  padding-left: 24px;
}
.legacy-element-radio.size-16 .checkmark {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
}
.legacy-element-radio.size-16.blind {
  padding-left: 16px;
  width: 16px;
  height: 16px;
  font-size: 0;
}

.legacy-element-radio.size-16 .checkmark:after {
  left: calc(50% - 3px);
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
}
/* size-24 */
.legacy-element-radio.size-24.blind {
  padding-left: 24px;
  width: 24px;
  height: 24px;
  font-size: 0;
}

.legacy-element-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.legacy-element-radio .checkmark {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-sizing: border-box;
}
.legacy-element-radio:hover input ~ .checkmark,
.legacy-element-radio:focus input ~ .checkmark,
.legacy-element-radio.is-focus input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #999;
}
.legacy-element-radio input ~ .checkmark {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.legacy-element-radio input:checked ~ .checkmark {
  background-color: #ff5000;
  border: 1px solid #ff5000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.legacy-element-radio input:disabled ~ .checkmark {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
}
.legacy-element-radio input:disabled:checked ~ .checkmark {
  background-color: #ccc;
  border: 1px solid #ccc;
}
.legacy-element-radio .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.legacy-element-radio input:checked ~ .checkmark:after {
  display: block;
}
.legacy-element-radio .checkmark:after {
  left: calc(50% - 4px);
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

/*checkbox has Frame */
.list-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 198px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 10px;
  vertical-align: top;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
}
.list-checkbox .legacy-element-check {
  margin-bottom: 0;
  padding: 0 0 0 28px;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  font-weight: 700;
}
.list-checkbox .legacy-element-check .checkmark {
  top: calc(50% - 10px);
}
.list-checkbox .legacy-element-check .txt {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
}
.list-checkbox.show-tooltip:hover .checkbox-tooltip {
  display: block;
}
.list-checkbox .checkbox-tooltip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px;
  /*border:1px solid #999;*/
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.list-checkbox .checkbox-tooltip p {
  font-size: 13px;
  line-height: 19px;
  color: #333;
}

/*checkbox list*/
.checkbox-list .item-list {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.checkbox-list .item-list .legacy-element-check {
  font-size: 13px;
  color: #666;
}
.checkbox-list .item-list .legacy-element-check + .legacy-element-btn {
  margin-left: 8px;
}

/* select */
.legacy-element-select.select-base {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /* z-index: 50; */
}

.legacy-element-select.select-base .btn-txt .legacy-element-icon.ic-download-wh {
  margin-top: 2px;
  margin-left: -2px;
}
.legacy-element-select.select-base .legacy-module-dialog.legacy-dialog-size-install {
  position: absolute;
  z-index: 21;
}
.legacy-element-select.select-base.disabled .legacy-element-btn.btn-orange-gd.size-48 {
  background: #e7e7e7 !important;
  cursor: no-drop;
}
.legacy-element-select.select-base > .legacy-element-btn {
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 10;
}
.legacy-element-select.select-base.base-square .btn-select {
  border-radius: 0;
}
.legacy-element-select.select-base select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
}
.legacy-element-select.select-base .legacy-module-dropdown {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  max-height: 424px;
  overflow-y: auto;
}
.legacy-element-select.select-base.selected .legacy-module-dropdown {
  display: block;
}

/*input default*/
.legacy-element-input {
  display: inline-block;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  box-sizing: border-box;
}
.legacy-element-input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  box-sizing: border-box;
  text-align: left;
}
.legacy-element-input.align-right input {
  text-align: right;
}

.legacy-element-radio.type-img.non-recomm:hover input ~ .checkmark {
  border: 4px solid #72adff;
}
.legacy-element-radio.type-img:hover input ~ .checkmark {
  border: 4px solid #9681ff;
}
