{% import "_include/module/list/list.njk" as list %}

{% macro base(style, img, boardTitle, noti, boardList) %}
    <div class="board-wrap" style="{{ style }}">
        <div class="board-top">
            <div class="board-list-wrap">
                {% if boardList %}
                    {% for item in boardList %}
                        <div class="indie-horizontal-list">
                            {{ list.horizontalBoard(
                                img= item.img,
                                listTitle= item.listTitle,
                                listTxt= item.listTxt,
                                listFront= item.listFront,
                                class= item.class,
                                nickActive= item.nickActive,
                                timeActive= item.timeActive,
                                fileType= item.fileType,
                                state= item.state
                            ) }}

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="list-empty">가장 먼저 게시물을 등록해보세요.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro type(style, img, boardTitle, noti, boardList, tab) %}
    <div class="board-wrap" style="{{ style }}">
        <div class="board-top">

            {% if tab %}
                <div class="board-select-wrap">
                    <div class="board-select-inner">
                        <button class="active">전체보기</button>
                        <button>리뷰&amp;공략</button>
                        <button>제안&amp;버그 제보</button>
                        <button>자유 주제</button>
                        <button>창작자 소식</button>
                    </div>
                </div>
            {% endif %}

            <div class="board-list-wrap">
                {% if boardList %}
                    {% for item in boardList %}
                        <div class="indie-horizontal-list">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="list-empty">가장 먼저 게시물을 등록해보세요.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro baseBoardTitle(style, boardTitle, noti) %}
    <div class="board-wrap" style="{{ style }}">
        <div class="board-top">
            <div class="board-tit">
                <div>
                    <strong>
                        {{ boardTitle }}
                    </strong>
                    <button>
                        {% if noti %}
                            <i class="ic-navigation-alarm-line"></i>
                            <span class="element-tooltip">
                                <span class="tooltip-txt gray700 white">
                                알림이 설정 되었습니다.
                            </span>
                            </span>
                        {% else %}
                            <i class="ic-navigation-alarm-disabled-line"></i>
                            <span class="element-tooltip">
                                <span class="tooltip-txt gray700 white">
                                알림이 해제 되었습니다.
                            </span>
                            </span>
                        {% endif %}
                    </button>
                </div>

                <div class="list-control-wrap">
                    <div class="line">
                        <div class="element-checkbox h20 checkbox-square checkbox-text">
                            <input class="checkbox-input" type="checkbox" id="checkbox-01" name="" value="">
                            <label class="checkbox-label" for="checkbox-01">공지 숨기기</label>
                        </div>
                    </div>
                    <div class="list-read-type line">
                        <button class="ic-community-view-thread-fill active"></button>
                        <button class="ic-community-view-list-fill"></button>
                        <button class="ic-community-view-webzine-fill"></button>
                        <button class="ic-community-view-card-fill"></button>
                    </div>
                    <div class="element-dropdown h32 active">
                        <button class="element-select-button">
                            <span class="element-select-txt">최신순</span>
                            <i class="element-select-icon ic-community-oppose-fill"></i>
                        </button>
                        <div class="element-dropdown-layer absolute top left">
                            <div class="element-dropdown-layer-inner">
                                <select hidden="">
                                    <option value="1">최신순</option>
                                    <option value="2">오래된 순</option>
                                </select>
                                <button class="element-dropdown-button">
                                    최신순
                                </button>
                                <button class="element-dropdown-button">
                                    오래된 순
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="element-btn bg-primary size-chips28 with-icon">
                        <span class="stove-icon ic-community-write-fill"></span>
                        <span class="btn-txt">글쓰기</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro baseBoardNotice(style) %}
    <div class="board-wrap" style="{{ style }}">
        <div class="board-top">
            <div class="board-notice">
                <div class="board-notice-list">
                    <a href="#" class="link">
                        <strong class="system-link">[공지]</strong>
                        <span class="txt">STOVE 인디에서 인디 게임 활성화를 위해 준비한 '유저 리뷰어'를 소개합니다! 최대 케이스입니다.</span>

                        <span class="comment-num">[999]</span>
                        <i class="new ic-badge-new-fill"></i>
                    </a>

                    <div class="list-info-wrap">
                        <div class="nick">
                            <div class="element-dropdown h40">
                                <button class="element-select-button">
                                    <strong class="system-info">OFFICAL</strong>
                                    관리자아이디8자
                                </button>

                                <div class="element-dropdown-layer absolute top left">
                                    <div class="element-dropdown-layer-inner">
                                        <select hidden="">
                                            <option value="1">인디 타임라인 보기</option>
                                            <option value="2">작성글 보기</option>
                                        </select>
                                        <button class="element-dropdown-button">
                                            인디 타임라인 보기
                                        </button>
                                        <button class="element-dropdown-button">
                                            작성글 보기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="date">2020.06.25</div>
                        <div class="view-num">
                            <i class="ic-community-number-of-view-line"></i>
                            999
                        </div>
                    </div>
                </div>
                <div class="board-notice-list">
                    <a href="#" class="link">
                        <strong class="system-success">[이벤트]</strong>
                        <span class="txt">게임 개발을 하고 계신가요? 스토브 인디 유저분들께 공개해보세요! </span>
                        <span class="comment-num">[999]</span>
                    </a>
                    <div class="list-info-wrap">
                        <div class="nick">
                            <div class="element-dropdown h40">
                                <button class="element-select-button ">
                                    <strong class="system-success">CM</strong>
                                    관리자아이디8자
                                </button>
                                <div class="element-dropdown-layer absolute top left">
                                    <div class="element-dropdown-layer-inner">
                                        <select hidden="">
                                            <option value="1">인디 타임라인 보기</option>
                                            <option value="2">작성글 보기</option>
                                        </select>
                                        <button class="element-dropdown-button">
                                            인디 타임라인 보기
                                        </button>
                                        <button class="element-dropdown-button">
                                            작성글 보기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="date">2020.06.25</div>
                        <div class="view-num">
                            <i class="ic-community-number-of-view-line"></i>
                            999
                        </div>
                    </div>
                </div>
                <div class="board-notice-list">
                    <a href="#" class="link">
                        <strong class="system-link-visited">[업데이트]</strong>
                        <span class="txt">게임 개발을 하고 계신가요? 스토브 인디 유저분들께 공개해보세요!</span>
                        <span class="comment-num">[999]</span>
                    </a>
                    <div class="list-info-wrap">
                        <div class="nick">
                            <div class="element-dropdown h40 active">
                                <button class="element-select-button ">
                                    <strong class="system-info">GM</strong>
                                    관리자아이디8자
                                </button>

                                <div class="element-dropdown-layer absolute top left">
                                    <div class="element-dropdown-layer-inner">
                                        <select hidden="">
                                            <option value="1">인디 타임라인 보기</option>
                                            <option value="2">작성글 보기</option>
                                        </select>
                                        <button class="element-dropdown-button">
                                            인디 타임라인 보기
                                        </button>
                                        <button class="element-dropdown-button">
                                            작성글 보기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="date">2020.06.25</div>
                        <div class="view-num">
                            <i class="ic-community-number-of-view-line"></i>
                            999
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro baseBoardSelect(style) %}
   <div class="board-wrap" style="{{ style }}">
        <div class="board-top">
            <div class="board-select-wrap">
                <div class="board-select-inner">
                    <button class="active">전체보기</button>
                    <button>리뷰&amp;공략</button>
                    <button>제안&amp;버그 제보</button>
                    <button>자유 주제</button>
                    <button>창작자 소식</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}