{% import "src/view/lagarcy/elements/icon.njk" as icon %}
{% import "src/view/lagarcy/elements/btn.njk" as btn %}

{% macro base(hasBtn, isDialog) %}
  <div class="lagarcy-module-amount{% if isDialog %} type-dialog{% endif %}">
    <div class="item-left">
      <div class="item-amount">
        <p class="tit-txt">상품 금액 합계</p>
        <strong class="original">₩ 10,000</strong>
      </div>
      <div class="item-amount coupon">
        <p class="tit-txt">쿠폰 할인 합계</p>
        <strong class="coupon">₩ 5,000</strong>
      </div>
      <div class="item-amount sum">
        <p class="tit-txt">결제 금액</p>
        <strong class="price">₩ 5,000</strong>
      </div>
    </div>
    {% if hasBtn %}
      <div class="item-right">
        {{ btn.base(typeClass="btn-cart",colorClass="btn-orange",txt="구매하기") }}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro sum() %}
  <div class="lagarcy-module-sum">
    <span class="discount-sum">(쿠폰 할인 합계 : - ₩ 5,000) </span>
    <b class="tit-txt">상품 금액 합계</b>
    <strong class="sum">₩ 25,000</strong>
  </div>
{% endmacro %}