{% import "src/view/lagarcy/elements/profile.njk" as profile %}

{% block styles %}
  <link rel="stylesheet" href="{{ staticUrl }}/static/css/elements/btn.css">
  <link rel="stylesheet" href="{{ staticUrl }}/static/css/elements/icon.css">
  <link rel="stylesheet" href="{{ staticUrl }}/static/css/elements/pagination.css">
{% endblock %}

{% macro pagination() %}
  <div class="pagination">
    <a href="#" class="lagarcy-element-icon ic-prev-circle-s24-c999" style="">처음</a>
    <a href="#" class="lagarcy-element-icon ic-direction-left-circle-s24-c999" style="">이전</a>
    <span class="pagination-num">
      <a class="num-first" href="#">
        <span>1</span>
        <span>...</span>
      </a>
      <a href="#">
        <span>1</span></a>
      <a href="#">
        <span>2</span></a>
      <a href="#">
        <span>3</span></a>
      <a href="#">
        <span>4</span></a>
      <a class="active">
        <span>5</span></a>
      <a href="#">
        <span>6</span></a>
      <a href="#">
        <span>7</span></a>
      <a href="#">
        <span>8</span></a>
      <a href="#">
        <span>9</span></a>
      <a class="num-last" href="#">
        <span>...</span>
        <span>999</span></a>
    </span>
    <a href="#" class="lagarcy-element-icon ic-direction-right-circle-s24-c999" style="">다음</a>
    <a href="#" class="lagarcy-element-icon ic-next-circle-s24-c999" style="">마지막</a>
  </div>
{% endmacro %}

{% macro btnMorePagination() %}
  <div class="btn-more-pagination">
    <a href="#" class="lagarcy-element-btn text-btn16">
      <span class="btn-txt">더보기<span class="lagarcy-element-icon ic-arrow-down-16"></span></span>
    </a>
  </div>
{% endmacro %}

{% macro loagingPagination() %}
  <div class="loaging-pagination">
    <span class="lagarcy-element-icon ic-img-loading-s24 icon-loading-spin" style="width:24px;height:24px">ic-img-loading-s24</span>
  </div>
{% endmacro %}

{% macro calendarPagination() %}
  <div class="calendar-pagination">
    <a href="#" class="lagarcy-element-icon ic-direction-left-s20-c666 dissable" style="">이전</a>
    <span class="calendar">
      <input type="text" placeholder="2020.05.15" readonly="readonly" autocomplete="off">
      <span class="lagarcy-element-icon ic-calender-s16-c333"></span>
    </span>
    <a href="#" class="lagarcy-element-icon ic-direction-right-s20-c666" style="">다음</a>
  </div>
{% endmacro %}