{% import "src/view/lagarcy/elements/input.njk" as input %}

{% macro tab(is1st, is2nd, is3rd, is1stText, is2ndText, is3rdText) %}
  <div class="lagarcy-module-tabs">
    <button type="button" class="tab-item {% if is1st %}active{% endif %}">{{ is1stText }}</button>
    <button type="button" class="tab-item {% if is2nd %}active{% endif %}">{{ is2ndText }}</button>
    <button type="button" class="tab-item {% if is3rd %}active{% endif %}">{{ is3rdText }}</button>
  </div>
{% endmacro %}

{% macro btnWithCheck() %}
  <div class="lagarcy-module-tabs type-btn">
    {{ input.checkbox(id="check00", name="checkbox1", txt="전체선택", sizeClass="tab-item") }}
    <button type="button" class="tab-item">선택삭제</button>
  </div>
{% endmacro %}