{% import "src/view/lagarcy/elements/dropdown.njk" as dropdown %}

{% macro toolbarBasic() %}
  <ul class="toolbar">
    <!-- [D] 활성화 시 .active 새로운 글에는 .new - 사용안함 -->
    <li class="active">
      <a href="#">
        <span>소식 모아보기</span></a>
    </li>
    <li class="">
      <a href="#">
        <span>타임라인</span></a>
    </li>
    <li class="">
      <a href="#">
        <span>게임</span></a>
    </li>
    <li class="">
      <a href="#">
        <span class="lagarcy-element-icon ic-fill-option-horizontal-s24-c999">ic-fill-option-horizontal-s24-c999</span>
      </a>
      <ul class="lagarcy-module-dropdown" style="display:none">
        <li class="active">
          <button type="button" class="lagarcy-element-btn btn-square">
            <span class="btn-txt">구매내역</span>
            <span class="lagarcy-element-icon ic-shortcut-square-s14-c999">ic-shortcut-square-s14-c999</span>
          </button>
        </li>
        <li>
          <button type="button" class="lagarcy-element-btn btn-square">
            <span class="btn-txt">STOVE 캐시</span>
            <span class="lagarcy-element-icon ic-shortcut-square-s14-c999">ic-shortcut-square-s14-c999</span>
          </button>
        </li>
        <li>
          <button type="button" class="lagarcy-element-btn btn-square">
            <span class="btn-txt">쿠폰함</span>
            <span class="lagarcy-element-icon ic-shortcut-square-s14-c999">ic-shortcut-square-s14-c999</span>
          </button>
        </li>
        <li>
          <button type="button" class="lagarcy-element-btn btn-square">
            <span class="btn-txt">회원정보</span>
            <span class="lagarcy-element-icon ic-shortcut-square-s14-c999">ic-shortcut-square-s14-c999</span>
          </button>
        </li>
      </ul>
    </li>
    <!--
    <a href="#" class="write-btn">
      <span class="lagarcy-element-icon ic-write-s24-active" style="">ic-write-s24-active</span>
    </a>
    -->
  </ul>
{% endmacro %}

{% macro toolbarBasicCommunity() %}
  <ul class="toolbar-community">
    <span class="lagarcy-element-icon ic-title-user-sm" style="">ic-title-user-sm</span>
    <!--
      <span class="lagarcy-element-icon ic-title-community-sm" style="">ic-title-community-sm</span>
      <span class="lagarcy-element-icon ic-title-user-sm" style="">ic-title-user-sm</span>
    -->
    <button class="btn-close">
      <span class="lagarcy-element-icon ic-close-s20-c333" style="">ic-close-s20-c333</span></button>
  </ul>
{% endmacro %}