{% macro select(width, height, boxType, selectButtonTxt, selectIcon, item, layer, pos, axis, active, state) %}
    <div class="element-dropdown {{ width }} {{ height }} {{ active }}">
        <button class="element-select-button {{ boxType }}" {{ state }}>
            <span class="element-select-txt">{{ selectButtonTxt }}</span>
            <i class="element-select-icon {{ selectIcon }}"></i>
        </button>

        {% if layer %}
            <div class="element-dropdown-layer {{ pos }} {{ axis }}">
                <select hidden>
                    {% for i in item %}
                        <option value="{{ loop.index }}">{{ i }}</option>
                    {% endfor %}
                </select>
                {% for i in item %}
                    <button class="element-dropdown-button">
                        {{ i }}{{ loop.index }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}