<!-- [D] extends에  staticUrl, static 등으로 변경해도 안나옵니다. -->
<!-- ../../에 경로를 직접줘도 에러가 나옵니다. -->
<!-- 참고한 가이드는 다음과 같습니다 -->
<!-- https://www.npmjs.com/package/simple-nunjucks-loader  -->
{% extends "{{ staticUrl }}/src/layout/guide.njk" %}

{# {% import "elements/icon.njk" as icon %} #}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
폰트
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}