{% extends "{{ staticUrl }}/src/layout/guide.njk" %}

{# {% import "elements/icon.njk" as icon %} #}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
폰트
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}