@import "~/src/sass/mixin/responsive";
@import "~/src/sass/color";

html {
    @include dataCssGnerator($colorList, background-color);
    @include cssGnerator($colorDatabasePalette, background-color);
    @include cssGnerator($colorDatabasePalettePrimary, background-color);
}

.guide {
    width: 95%;

    .demo-color-wrap {
        background-color: #ddd;
        padding: 20px;

        .demo-color-bx {
            height: 320px;
            background: rgb(250, 250, 250);

            & > div {
                @include flexCenter;
                width: 100%;
                height: 100%;

                & > div {
                    @include flex($x: flex-start);
                    width: 220px;
                    height: 140px;
                    margin: 0 5px;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 10px;

                    &.txt-white {
                        color: #fff;
                    }

                    &.txt-black {
                        color: #000;
                    }

                    .css-type {
                        opacity: 0.7;
                        letter-spacing: 1px;
                        font-size: 14px;
                    }

                    .category {
                        font-size: 13px;
                    }

                    .class-name {
                        margin-top: 10px;
                    }
                }
            }

            &.small {
                & > div {
                    & > div {
                        width: 150px;
                        flex: none;
                    }
                }
            }

            .demo-dark {
                & > div {
                    color: #fff;
                }
            }
        }
    }
    .palette-list {
        @include flex($wrap: wrap);
        & > li {
            @include flex;
            width: 100px;
            height: 100px;
            color: rgb(0, 0, 0);
        }
    }
}
