/* Font reset */
html {
    font-size: 16px;
}
body {
    letter-spacing: -0.025em;
    word-break: keep-all;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 3.375rem;
}
h2 {
    font-size: 2.625rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.125rem;
}
h6 {
    font-size: 0.875rem;
}

/* fonts by lang */
:lang(ko) body,
:lang(ko) a,
:lang(ko) button,
:lang(ko) input,
:lang(ko) textarea {
  font-family: 'Intel KR', 'Noto Sans KR';
}

:lang(zh) body,
:lang(zh) a,
:lang(zh) button,
:lang(zh) input,
:lang(zh) textarea {
  font-family: sans-serif, AppleSDGothicNeo, SimSun, NSimSun, FangSong;
}

:lang(ja) body,
:lang(ja) a,
:lang(ja) button,
:lang(ja) input,
:lang(ja) textarea {
  font-family: AppleSDGothicNeo, Yu Gothic, Meiryo, sans-serif;
}

:lang(th) body,
:lang(th) a,
:lang(th) button,
:lang(th) input,
:lang(th) textarea {
  font-family: 'Sarabun', tahoma, Open Sans, sans-serif;
}