/* Project에서 따로 수정하면 안되는 CSS입니다. */
/* 수정이 필요하면 마크업 담당자에게 문의 부탁드립니다. */

/* Core Layout */
.layout {
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 100%;
}
.layout .tablet,
.layout .mobile {
  display: none;
}

/* [S] layout-basic */
.layout-basic {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 48px;
}
.layout-basic .container {
  position: relative;
  flex: 1;
  overflow: auto;
}
/* 삭제 예정 */
.layout-basic .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-basic .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
/* [E] layout-basic */

/* [S] layout-information */
.layout-information {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 48px;
}
.layout-information .container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
}
.layout-information .container .nav-area {
  display: flex;
  flex: none;
  width: 224px;
  margin-right: 16px;
}
.layout-information .container .content-area {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 994px;
}
/* 삭제 예정 */
.layout-information .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-information .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
/* [E] layout-information */

/* [S] layout-s-one-rail */
.layout-s-one-rail {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}
.layout-s-one-rail .container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
}
.layout-s-one-rail .container .nav-area {
  display: flex;
  flex: none;
  width: 80px;
}
.layout-s-one-rail .container .content-area {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 1104px;
  margin: 0 48px;
}
/* 삭제 예정 */
.layout-s-one-rail .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 80px;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-s-one-rail .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
/* [E] layout-s-one-rail */

/* [S] layout-b-one-rail */
.layout-b-one-rail {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}
.layout-b-one-rail .container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
}
.layout-b-one-rail .container .nav-area {
  display: flex;
  flex: none;
  width: 240px;
}
.layout-b-one-rail .container .content-area {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 944px;
  margin: 0 48px;
}
/* 삭제 예정 */
.layout-b-one-rail .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 240px;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-b-one-rail .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
/* [E] layout-b-one-rail */

/* [S] layout-two-rail */
.layout-two-rail {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}
.layout-two-rail .container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
}
.layout-two-rail .container .aside-area {
  display: flex;
  flex: none;
  width: 80px;
}
.layout-two-rail .container .nav-area {
  display: flex;
  flex: none;
  width: 240px;
}
.layout-two-rail .container .content-area {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 864px;
  margin: 0 48px;
}
/* 삭제 예정 */
.layout-two-rail .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 320px;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-two-rail .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: cyan;
}
/* [E] layout-two-rail */

/* [S] layout-side-rail */
.layout-side-rail {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}
.layout-side-rail .head {
  margin-bottom: 60px;
}
.layout-side-rail .container {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
}
.layout-side-rail .container .aside-area {
  position: relative;
  display: flex;
  flex: none;
  width: 80px;
}
.layout-side-rail .container .nav-area {
  position: relative;
  display: flex;
  flex: none;
  width: 320px;
}
.layout-side-rail .container .content-area {
  position: relative;
  display: flex;
  flex: 1;
  overflow: auto;
  width: 784px;
  margin: 0 48px;
}
/* 삭제 예정 */
.layout-side-rail .container .aside-area .element-btn.btn-orange {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: unset;
  color: black;
  border: 0;
  padding: 0;
  font-style: italic;
}
.layout-side-rail .container .content-area .element-btn.btn-orange {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layout-side-rail .container .nav-area .element-btn.btn-orange {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: yellowgreen;
  color: #fff;
  border: 1px solid yellowgreen;
}
.layout-side-rail .margin-blue:nth-child(1) {
  position: absolute;
  top: 0;
  left: 80px;
  width: 48px;
  height: 100%;
  background: cyan;
}
.layout-side-rail .margin-blue:nth-child(2) {
  position: absolute;
  top: 0;
  right: 320px;
  width: 48px;
  height: 100%;
  background: cyan;
}

.layout-side-rail .container .aside-area .module-profile {}
.layout-side-rail .container .aside-area .module-profile .profile-thumb {
  display: none;
}
.layout-side-rail .container .aside-area .module-profile .profile-content .mark {
  display: none;
}
.layout-side-rail .container .aside-area .module-profile .profile-name {
  width: 80px;
}
.layout-side-rail .container .content-area .module-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layout-side-rail .container .content-area .module-profile .profile-thumb {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
.layout-side-rail .container .content-area .module-profile .profile-content .mark {
  font-size: 20px;
  float: inherit;
}
.layout-side-rail .container .content-area .module-profile .profile-name {
  font-size: 20px;
  width: 120px;
  margin: 0 auto;
}

/* [E] layout-side-rail */

/* 반응형 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* 삭제예정 */
  .layout .pc {
    display: none;
  }
  .layout .tablet {
    display: block;
  }
  .margin-blue {
    background: #0f6eff !important;
  }
  /* 삭제예정 */
  .layout-basic {
    padding: 0 32px;
  }
  .layout-basic .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-basic .margin-blue:nth-child(2) {
    width: 32px;
  }

  .layout-information {
    padding: 0 32px;
  }
  .layout-information .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-information .margin-blue:nth-child(2) {
    width: 32px;
  }

  .layout-s-one-rail .container .content-area {
    margin: 0 32px;
  }
  .layout-s-one-rail .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-s-one-rail .margin-blue:nth-child(2) {
    width: 32px;
  }

  .layout-b-one-rail .container .content-area {
    margin: 0 32px;
  }
  .layout-b-one-rail .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-b-one-rail .margin-blue:nth-child(2) {
    width: 32px;
  }

  .layout-two-rail .container .content-area {
    margin: 0 32px;
  }
  .layout-two-rail .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-two-rail .margin-blue:nth-child(2) {
    width: 32px;
  }

  .layout-side-rail .container .content-area {
    margin: 0 32px;
  }
  .layout-side-rail .margin-blue:nth-child(1) {
    width: 32px;
  }
  .layout-side-rail .margin-blue:nth-child(2) {
    width: 32px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  h1 {
    font-size: 32pt;
  }
  h2 {
      font-size: 21pt;
  }
  h3 {
      font-size: 18pt;
  }
  h4 {
      font-size: 16pt;
  }
  h5 {
      font-size: 15pt;
  }
  h6 {
      font-size: 14pt;
  }
  /* 삭제예정 */
  .layout .pc {
    display: none;
  }
  .layout .mobile {
    display: block;
  }
  .margin-blue {
    background: #0f6eff !important;
  }
  /* 삭제예정 */
  .layout-basic {
    padding: 0 16px;
  }
  .layout-basic .margin-blue:nth-child(1) {
    width: 16px;
  }
  .layout-basic .margin-blue:nth-child(2) {
    width: 16px;
  }

  .layout-information {
    padding: 0 16px;
  }
  .layout-information .margin-blue:nth-child(1) {
    width: 16px;
  }
  .layout-information .margin-blue:nth-child(2) {
    width: 16px;
  }
  .layout-information .container .nav-area {
    display: none;
  }

  .layout-s-one-rail .container .nav-area {
    display: none;
  }
  .layout-s-one-rail .container .content-area {
    margin: 0 16px;
  }
  .layout-s-one-rail .margin-blue:nth-child(1) {
    width: 16px;
    left: 0;
  }
  .layout-s-one-rail .margin-blue:nth-child(2) {
    width: 16px;
  }

  .layout-b-one-rail .container .nav-area {
    display: none;
  }
  .layout-b-one-rail .container .content-area {
    margin: 0 16px;
  }
  .layout-b-one-rail .margin-blue:nth-child(1) {
    width: 16px;
    left: 0;
  }
  .layout-b-one-rail .margin-blue:nth-child(2) {
    width: 16px;
  }

  .layout-two-rail .container .aside-area {
    display: none;
  }
  .layout-two-rail .container .nav-area {
    display: none;
  }
  .layout-two-rail .container .content-area {
    margin: 0 16px;
  }
  .layout-two-rail .margin-blue:nth-child(1) {
    width: 16px;
    left: 0;
  }
  .layout-two-rail .margin-blue:nth-child(2) {
    width: 16px;
  }

  .layout-side-rail .container .aside-area {
    display: none;
  }
  .layout-side-rail .container .nav-area {
    display: none;
  }
  .layout-side-rail .container .content-area {
    margin: 0 16px;
  }
  .layout-side-rail .margin-blue:nth-child(1) {
    width: 16px;
    left: 0;
  }
  .layout-side-rail .margin-blue:nth-child(2) {
    width: 16px;
    right: 0;
  }
}
