/* module-profile */
.module-profile {
  position: relative;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.module-profile * {
  /* vertical-align: middle; */
}
.module-profile a {
    display: inline-block;
}
.module-profile .profile-thumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.module-profile .profile-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}
.module-profile .profile-thumb .element-icon {
  position: absolute;
  top: -2px;
  left: -6px;
}
.module-profile .profile-content {
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
}
.module-profile .profile-content .mark {
  font-size: 14px;
  font-weight: 700;
  margin-right: 6px;
  float: left;
  line-height: inherit;
  vertical-align: top;
}
.module-profile .profile-content .mark.official {
  color: #05a2f1;
}
.module-profile .profile-content .mark.gm {
  color: #05a2f1;
}
.module-profile .profile-content .mark.cm {
  color: #00b94e;
}
.module-profile .profile-name {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  text-align: left;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 96px;
  overflow: hidden;
  display: block;
}
.module-profile .profile-nick {
  color: #999;
}
.module-profile .write-time {
  position: relative;
  padding-left: 12px;
  margin-left: 4px;
  color: #999;
}
.module-profile .write-time:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background-color: #ccc;
  border-radius: 50%;
}
.module-profile .profile-tools {
  position: absolute;
  right: 0;
  top: 0;
}
.module-profile .write-time-tooltip {
  display: none;
  position: absolute;
  bottom: -32px;
  left: 50%;
  padding: 5px 12px;
  white-space: nowrap;
  line-height: 18px;
  color: #fff;
  background-color: #111;
  font-size: 12px;
  z-index: 11;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.module-profile .write-time-tooltip:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -2px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #111;
}
.module-profile .write-time-tooltip:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 50%;
  margin-left: -1px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #111;
}
.module-profile .write-time:hover .write-time-tooltip {
  display: block;
}
.module-profile .module-dropdown {
  max-width: 172px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.profile-tools .tools-item {
  display: none;
  position: absolute;
  right: 0;
  top: 26px;
  padding: 10px 12px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.profile-tools .tools-item .element-btn {
  display: block;
  width: 100%;
  height: 24px;
  font-size: 12px;
  text-align: left;
  color: #666;
  white-space: nowrap;
}
.profile-tools .tools-item .element-btn:hover {
  font-weight: 600;
  color: #111;
}
.profile-tools .btn-listinfo-more.active ~ .tools-item {
  display: block;
}
/* 날짜 */
.time-date {
  position: relative;
  padding-left: 0;
  /* margin: 13px 0; */
  font-size: 13px;
  color: #a0a0a0;
  display: inline-block;
  cursor: default;
  text-align: center;
  line-height: 20px;
  vertical-align: top;
}
.time-date .module-tooltip .write-time-tooltip {
  display: none;
}
.time-date:hover .module-tooltip .write-time-tooltip {
  display: block;
  top: 24px;
}