{% macro base(tit) %}
  <title>{{tit}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Reset.css -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <!-- layout.css -->
  <!-- UI.css -->
  <link rel="stylesheet" href="/static/icon/stove-font-icon.css">
  <link rel="stylesheet" href="/static/scroll/perfect-scrollbar.css">
  <script src="/static/scroll/perfect-scrollbar.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/unescaped-markup/prism-unescaped-markup.min.css" integrity="sha512-g33HCZ23fueSK96JEeoy9DelAlu7Ry5mtxqLk+zlEiPj7NIpFI6T9mybOvQxjBN50FALFDCviMXiLqWJcFwzaA==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/unescaped-markup/prism-unescaped-markup.min.js" integrity="sha512-HLGEkAJpy4x6+5YvKMTlo7Xyz2MgA/+4nJEsIOaM9b+LjLDvpsay+0EpUmSNVeopbCaT5Fptwhbc0y+pUFBPqg==" crossorigin="anonymous"></script>
{% endmacro %}
