/* Font */
/* otf 확장자 공유 받지 못함 */

/* [S] JP */
@font-face {
  font-family: 'Inter JP';
  font-style: normal;
  font-weight: normal;
  src: url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff2/InterJP-Regular.woff2) format('woff2'), url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff/InterJP-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Inter JP';
  font-style: normal;
  font-weight: bold;
  src: url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff2/InterJP-Bold.woff2) format('woff2'), url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff/InterJP-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: normal;
  src: url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff2/NotoSansJP-Regular.woff2) format('woff2'), url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff/NotoSansJP-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: bold;
  src: url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff2/NotoSansJP-Bold.woff2) format('woff2'), url(https://static-cdn-dev.onstove.com/0.0.1/font/jp/woff/NotoSansJP-Bold.woff) format('woff');
}
/* [E] JP */
