@import "./dialog";
@import "./../helpers/z-index";

@mixin dimmed(
    $position: fixed,
    $top: 0,
    $right: 0,
    $bottom: 0,
    $left: 0,
    $overflow-y: hidden,
    $z-index: $zindex-modal-backdrop
) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    overflow-y: $overflow-y;
    z-index: $z-index;
}