@import "./../helpers/z-index";
@import "./responsive";
@import "./../responsive";

@mixin layoutHeader(
    $order: 1,
    $height: $stds-fixed-depth1,
    $flex: 0 1 100%,
    $background: #ddd
    ) {
    order: $order;
    height: $height;
    flex: $flex;
    background: $background;
}

.layout-header {
    @include layoutHeader($background:#ddd);
    &.is-fixed-depth0 {
        position: fixed;
        top: $stds-fixed-depth0;
        width: 100%;
        z-index: $zindex-fixed;
    }

    &.is-fixed-depth1 {
        position: fixed;
        top: $stds-fixed-depth1;
        width: 100%;
        z-index: $zindex-fixed;
    }

    &.is-fixed-depth2 {
        position: fixed;
        top: $stds-fixed-depth2;
        width: 100%;
        z-index: $zindex-fixed;
    }

    &.is-fixed-depth3 {
        position: fixed;
        top: $stds-fixed-depth3;
        width: 100%;
        z-index: $zindex-fixed;
    }

    .is-fixed-depth0 {
        position: fixed;
        top: $stds-fixed-depth0;
        width: 100%;
        z-index: $zindex-fixed;
    }
    .is-fixed-depth1 {
        position: fixed;
        top: $stds-fixed-depth1;
        width: 100%;
        z-index: $zindex-fixed;
    }
    .is-fixed-depth2 {
        position: fixed;
        top: $stds-fixed-depth2;
        width: 100%;
        z-index: $zindex-fixed;
    }
    .is-fixed-depth3 {
        position: fixed;
        top: $stds-fixed-depth3;
        width: 100%;
        z-index: $zindex-fixed;
    }
}
/* mobile 0 */
@include mobile-end {}
/* mobile 360 */
@include mobile {}
/* tablet 768 */
@include tablet {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }
        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }
        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }
        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }
        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }
        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }
        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}
/* desktopSM 1024 */
@include desktopSM {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }

        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}
/* desktopM 1280 */
@include desktopM {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }

        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}
/* desktopL 1440 */
@include desktopL {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }

        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}
/* desktopXL 1600 */
@include desktopXL {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }

        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}
/* desktop2XL 1920 */
@include desktop2XL {
    // 0
    $stds-fixed-depth0: 0;
    // 1
    $stds-fixed-depth1: 6.8rem;
    // 2
    $stds-fixed-depth2: 13.6rem;
    // 3
    $stds-fixed-depth3: 20.4rem;

    .layout-header {
        height: $stds-fixed-depth1;
        &.is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        &.is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        &.is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        &.is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }

        .is-fixed-depth0 {
            top: $stds-fixed-depth0;
        }

        .is-fixed-depth1 {
            top: $stds-fixed-depth1;
        }

        .is-fixed-depth2 {
            top: $stds-fixed-depth2;
        }

        .is-fixed-depth3 {
            top: $stds-fixed-depth3;
        }
    }
}  