@import "./../space";
@import "./../responsive";
@import "./responsive";

/* layout */
@mixin layout (
    $position: relative,
    $display: flex,
    $width: 100%,
    $height: 100%
) {
    position: $position;
    display: $display;
        -webkit-display: $display;
        -moz-display: $display;
        -ms-display: $display;
    width: $width;
    height: $height;
}

/* layout Style */
@mixin layoutStyle
(
    $position: relative,
    $display: flex,
    $max-width: 100%,
    $min-width: 100%,
    $width: 100%,
    $height: 100%,
    $margin: 0 $stds-spacing-16
) {
    position: $position;
    max-width: $max-width;
    width: $width;
    height: $height;
    margin: $margin;
}

.layout-header {
    display: flex;
    width: 100%;
    height: 50px;
    background: red;
    flex-direction: column;
    position: absolute;
}

.layout-footer {
    
}

.layout {
    @include layout($width: null);
    .layout-basic {
        @include layoutStyle($max-width: null, $min-width: null, $margin: 0 $stds-spacing-16);
    }
}

/* layout container XL */
.lc-xl {
    justify-content: center;
    align-items: center;
    .layout-basic {
        width: $stds-breakpoint-xl;
    }
}
/* layout container L */
.lc-l {
    justify-content: center;
    align-items: center;
    .layout-basic {
        width: $stds-breakpoint-l;
    }
}
/* layout container M */
.lc-m {
    justify-content: center;
    align-items: center;
    .layout-basic {
        width: $stds-breakpoint-m;
    }
}


/* mobile 360 */
@include mobile {
  .layout {
      @include layout($width: null);
      .layout-basic {
          @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-16);
      }
  }
}

/* tablet 768 */
@include tablet {
   .layout {
       @include layout($width: null);
       .layout-basic {
           @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-32);
       }
   }
}

/* desktopM 1280 */
@include desktopM {
   .layout {
       @include layout($width: null);
       .layout-basic {
           @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-48);
       }
   }
}

/* desktopL 1440 */
@include desktopL {
  .layout {
      @include layout($width: null);
      .layout-basic {
          @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-52);
      }
  }
}

/* desktopXL 1600 */
@include desktopXL {
  .layout {
      @include layout($width: null);
      .layout-basic {
          @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-52);
      }
  }
}

/* desktop2XL 1920 */
@include desktop2XL {
  .layout {
      @include layout($width: null);
      .layout-basic {
          @include layoutStyle($max-width: null, $min-width: null, $width: null, $margin: 0 $stds-spacing-52);
      }
  }
}



