@import "./../space";
@import "./../responsive";
@import "./responsive";
@import "./gnb";
@import "./footer";


/* layout */
@mixin layout (
    $position: relative,
    $display: flex,
    $flex-flow: row wrap,
    $width: 100%,
    $height: 100%
) {
    position: $position;
    display: $display;
    flex-flow: $flex-flow;
    width: $width;
    height: $height;
    align-items: center;
    justify-content: center;
}

/* layout Style order 2 */
@mixin layoutStyle
(
    $position: relative,
    $display: flex,
    $max-width: auto,
    $min-width: auto,
    $width: auto,
    $max-height: auto,
    $height: auto,
    $min-height: auto,
    $margin: 0 $stds-spacing-16,
    $flex: 1,
    $order: 3
) {
    position: $position;
    max-width: $max-width;
    width: $width;
    height: $height;
    min-height: $min-height;
    margin: $margin;
    flex: $flex;
    order: $order;
}
.layout {
    @include layout($width: null);
    .layout-header {
        &.depth2 {
            .layout-basic {
                $margin: $stds-gnbDepth2 $stds-spacing-16 0
            }
            &~.layout-basic {
                margin-top: 96px;
                padding-top: 48px;
            }
        }
    }
    .layout-navigation {
        &+.layout-basic{
            margin-top: 48px;
            padding-top: 48px;
        }
    }
    .layout-basic {
        @include layoutStyle(
            $max-width: null, 
            $min-width: null, 
            $min-height: 100%, 
            $margin: $stds-gnbHeight $stds-spacing-16 0
        );
    }
}



// nav {
//   order:2;
//   flex: 0 1 200px;
// }
// aside {
//   order:4;
//   flex:0 1 200px;
// }

/* layout Max Size XL / L . M */
.lc-xl {
    .layout-basic {
        max-width: $stds-breakpoint-xl;
    }
}
.lc-l {
    .layout-basic {
        max-width: $stds-breakpoint-l;
    }
}
.lc-m {
    .layout-basic {
        max-width: $stds-breakpoint-m;
    }
}

/* mobile 360 */
@include mobile {
    .layout {
        @include layout($width: null);
        .layout-navigation {
            &+.layout-basic {
                margin-top: 48px;
                padding-top: 48px;
            }
        }
        .layout-header.depth2 ~ .layout-basic {
            margin-top: 96px;
            padding-top: 48px;
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null, 
                $min-height: 100%, 
                $margin: $stds-gnbHeight $stds-spacing-16
            );
        }
        .layout-footer {
            @include layoutFooter($top: $stds-spacing-80);
        }
    }
}

/* tablet 768 */
@include tablet {
    .layout {
        @include layout($width: null);
        .layout-navigation {
            &+.layout-basic {
                margin-top: 48px;
                padding-top: 48px;
            }
        }
        .layout-header.depth2~.layout-basic {
            margin-top: 96px;
            padding-top: 48px;
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null, 
                $min-height: 100%, 
                $margin: $stds-gnbHeight $stds-spacing-32
            );
        }
        .layout-footer {
            @include layoutFooter($top: $stds-spacing-80);
        }
    }
}

/* desktopM 1280 */
@include desktopM {
    $stds-gnbHeight: 68px;
    $stds-gnbDepth1: 68px;
    $stds-gnbDepth2: 136px;
    .layout {
        @include layout($width: null);
        .layout-header {
            @include layoutHeader($height: $stds-gnbHeight);
            &.depth2 {
                height: $stds-gnbDepth2;
                &~.layout-basic {
                    margin-top: $stds-gnbDepth2;
                    padding: 0;
                }
            }
        }
        .layout-navigation {
            &+.layout-basic {
                margin-top: $stds-gnbHeight;
                padding-top: 0;
            }
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null, 
                $min-height: 100%, 
                $margin: $stds-gnbHeight $stds-spacing-48
            );
        }
        .layout-footer {
            @include layoutFooter($top: $stds-spacing-200);
        }
    }
}

/* desktopL 1440 */
@include desktopL {
    $stds-gnbHeight: 68px;
    $stds-gnbDepth1: 68px;
    $stds-gnbDepth2: 136px;
    .layout {
        @include layout($width: null);
        .layout-header {
            @include layoutHeader($height: $stds-gnbHeight);
            &.depth2 {
                height: $stds-gnbDepth2;
                &~.layout-basic {
                    margin-top: $stds-gnbDepth2;
                    padding: 0;
                }
            }
        }
        .layout-navigation {
            &+.layout-basic {
                margin-top: $stds-gnbHeight;
                padding-top: 0;
            }
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null,
                $min-height: 100%, 
                $margin: 0 $stds-spacing-52
            );
        }
         .layout-footer {
             @include layoutFooter($top: $stds-spacing-200);
         }
    }
}

/* desktopXL 1600 */
@include desktopXL {
    $stds-gnbHeight: 68px;
    $stds-gnbDepth1: 68px;
    $stds-gnbDepth2: 136px;
    .layout {
        @include layout($width: null);
        .layout-header {
            @include layoutHeader($height: $stds-gnbHeight);
            &.depth2 {
                height: $stds-gnbDepth2;
                &~.layout-basic {
                    margin-top: $stds-gnbDepth2;
                    padding: 0;
                }
            }
        }
        .layout-navigation {
            &+.layout-basic {
                margin-top: $stds-gnbHeight;
                padding-top: 0;
            }
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null, 
                $min-height: 100%, 
                $margin: $stds-gnbHeight $stds-spacing-52
            );
        }
         .layout-footer {
             @include layoutFooter($top: $stds-spacing-200);
         }
    }
}

/* desktop2XL 1920 */
@include desktop2XL {
    $stds-gnbHeight: 68px;
    $stds-gnbDepth1: 68px;
    $stds-gnbDepth2: 136px;
    .layout {
        @include layout($width: null);
        .layout-header {
            @include layoutHeader($height: $stds-gnbHeight);
            &.depth2 {
                height: $stds-gnbDepth2;
                &~.layout-basic {
                    margin-top: $stds-gnbDepth2;
                    padding: 0;
                }
            }
        }
        .layout-navigation {
            &+.layout-basic {
                margin-top: $stds-gnbHeight;
                padding-top: 0;
            }
        }
        .layout-basic {
            @include layoutStyle(
                $max-width: null, 
                $min-width: null, 
                $width: null, 
                $min-height: 100%, 
                $margin: $stds-gnbHeight $stds-spacing-52 0
            );
        }
        .layout-footer {
             @include layoutFooter($top: $stds-spacing-200);
         }
    }
}