@import "~/src/sass/responsive";
@import "~/src/sass/color";

@mixin mobile-end {
    @media (min-width: #{0px}) and (max-width: #{$stds-breakpoint-xs - 1px}) {
        @content;
    }
}
@mixin mobile {
    @media (min-width: #{$stds-breakpoint-xs}) and (max-width: #{$stds-breakpoint-s - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$stds-breakpoint-s}) and (max-width: #{$stds-breakpoint-m - 1px}) {
        @content;
    }
}
@mixin desktopM {
    @media (min-width: #{$stds-breakpoint-m}) and (max-width: #{$stds-breakpoint-l - 1px}) {
        @content;
    }
}
@mixin desktopL {
    @media (min-width: #{$stds-breakpoint-l}) and (max-width: #{$stds-breakpoint-xl - 1px}) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: #{$stds-breakpoint-xl}) and (max-width: #{$stds-breakpoint-2xl - 1px}) {
        @content;
    }
}
@mixin desktop2XL {
    @media (min-width: #{$stds-breakpoint-2xl}) {
        @content;
    }
}

/* flex mixin */
@mixin flex(
    $x: flex-start,
    $y: flex-start,
    $d: row,
    $wrap: nowrap,
    $type: flex
) {
    display: $type;
    justify-content: $x;
    align-items: $y;
    flex-direction: $d;
    flex-wrap: $wrap;
    @content;
}
@mixin flexCenter() {
    @include flex($x: center, $y: center);
    @content;
}
@mixin flexBetween() {
    @include flex($x: space-between);
    @content;
}
@mixin flexBetweenCenter() {
    @include flex($x: space-between, $y: center);
    @content;
}

/* ratio */
@mixin aspectRatio($width: 1, $height: 1) {
    padding-bottom: percentage($height / $width);
}

/* box-type */
@mixin boxType(
    $width: auto,
    $bgc: $ui-input-bg-enabled,
    $borderSize: 1px,
    $borderType: solid,
    $borderColor: $ui-input-border-enabled,
    $borderColorActive: $ui-input-border-focused,
    $radius: 4px
) {
    width: $width;
    background-color: $bgc;
    border: $borderSize $borderType $borderColor;
    border-radius: $radius;

    &.active,
    &:hover,
    &:focus,
    &:focus-within {
        border-color: $borderColorActive;
    }

    @content;
}
