{% macro dialogBase(posClass) %}
<!-- posClass = pos-center / pos-top -->
<div class="dimmed-pos {{ posClass }}">
  <!-- [D] dialog size -->
  <div class="" style="width: 440px; height: 160px; border-radius: 4px; background: #fff;"></div>
</div>  
{% endmacro %}
