/*@import "../../sass/_shadow.scss";*/
@import "../../sass/shadow";

/* [D] 지워도 되는 CSS 예제로 사용한 CSS 입니다. */
.shadow-box-sample{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height:120px;
}