{% import "_include/partial/lnb-side/lnb-side.njk" as lnbSide %}

{% macro base(stateClass) %}
<div class="module-dimmed {{ stateClass }}">
 {{ lnbSide.lnbSide(posClass="pos-left", sidebarAlign="sidebar-left") }}
 <div class="dimmed"></div>
</div>
{% endmacro %} 