/* Font */
/* otf 확장자 공유 받지 못함 */

/* [S] Thai */
@font-face {
  font-family: 'Intel Thai';
  font-style: normal;
  font-weight: normal;
  src: url(woff2/InterThai-Regular.woff2) format('woff2'), url(woff/InterThai-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Intel Thai';
  font-style: normal;
  font-weight: bold;
  src: url(woff2/InterThai-Bold.woff2) format('woff2'), url(woff/InterThai-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: normal;
  src: url(woff2/NotoSansThai-Regular.woff2) format('woff2'), url(woff/NotoSansThai-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: bold;
  src: url(woff2/NotoSansThai-Bold.woff2) format('woff2'), url(woff/NotoSansThai-Bold.woff) format('woff');
}
/* [E] Thai */
