{% extends "_include/layout/guide/guide.njk" %}

{% import "_include/module/board/board.njk" as board %}
{% import "_include/module/write/write.njk" as write %}
{% import "_include/module/write/write-ui.njk" as writeUi %}
{% import "_include/module/detail/detail.njk" as detail %}
{% import "_include/module/detail/detail-part.njk" as detailPart %}
   
<!-- styles -->
{% block styles %}
    <!-- [D] Swiper Library -->
    <link rel="stylesheet" href="/static/lagarcy/vendors/swiper/swiper.min.css"/>
    <script src="/static/lagarcy/vendors/swiper/swiper.min.js"></script>
    <style type="text/css">
        body {
            background: #ddd;
        }
    </style>
{% endblock %}

<!-- styles -->
{% block content %}
<!-- [D]   -->
<div class="guide full">
    <h1 class="guide-tit">Detail Base</h1>
    <p class="tit"><b>Stove Detail Base Guide</b></p>
    <p class="desc">
    </p>
    {{ detail.detailBase( 
            title="동물의 숲 공포영화 ‘돈 피크’"
        ) 
    }}
</div>

{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}