{% extends "_include/layout/guide/guide.njk" %}

{% import "_include/module/list/list.njk" as list %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<!-- [D]   -->
<div class="guide full">
    <h1 class="guide-tit">List</h1>
    <p class="tit"><b>Stove List Guide</b></p>
    <p class="desc">
        Stove에서 사용하는 List를 정의합니다. <br />
        List는 디자인시스템에서 공식적으로 컨펌받은내용이 입니다.<br />
        반응형은 아직 적용하지 않았습니다 <br />
        <b>List</b> <br />
        ┗ Board Title <br />
        ┗ Board Notice <br />
        ┗ Board Select <br />
        순으로 정리했습니다. <br />
    </p>

    <p class="tit"><b>섬네일 - 디폴트(노출할 이미지 없을 경우)</b></p>
    {{ list.base(
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}

<script type="text/plain" class="language-markup">
    [D] List 기본형

    <div class="list-wrap" style="">
        <!-- [D] Image -->
        <div class="list-thumb">
            <div class="inner">
            </div>
        </div>
        <!-- [D] Contents -->
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
    </div>

</script>

    <div>
        {{ list.horizontal(
            listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
            listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
            listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
        ) }}
    </div>

<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-horizontal " style="">
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
        <div class="list-thumb">
            <div class="inner"></div>
        </div>
    </div>

</script>

    <div>
        {{ list.horizontal(
            reverse="reverse",
            listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
            listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
            listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
        ) }}
    </div>

<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-horizontal reverse" style="">
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
        <div class="list-thumb">
            <div class="inner"></div>
        </div>
    </div>
</script>

    <p class="tit"><b>섬네일</b></p>
    {{ list.base(
        img="thumb_large.jpg",
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap" style="">
        <div class="list-thumb">
            <div class="inner">
                <img src="/static/image/list/thumb_large.jpg" alt="">
            </div>
        </div>
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <<div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
    </div>

</script>

    {{ list.horizontal(
        img="thumb_small.jpg",
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-horizontal" style="">
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
        <div class="list-thumb">
            <div class="inner">
                <img src="/static/image/list/thumb_small.jpg" alt="">
            </div>
        </div>
    </div>
    
</script>

    {{ list.horizontal(
        img="thumb_small.jpg",
        reverse="reverse",
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listTxt="내용 노출됩니다. 최대 2줄까지만 노출하고 말줄임 처리합니다. 한줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해줄일 경우에도 컨텐츠 높이는 유지해주세요.",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-horizontal reverse" style="">
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-txt">본문영역</div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
        <div class="list-thumb">
            <div class="inner">
                <img src="/static/image/list/thumb_small.jpg" alt="">
            </div>
        </div>
    </div>

</script>

    <p class="tit"><b>Small 섬네일</b></p>
    {{ list.small(
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-small" style="">    
        <div class="list-thumb">
            <div class="inner"></div>
        </div>
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
    </div>

</script>
    
    {{ list.small(
        img="thumb_medium.jpg",
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-small" style="">
        <div class="list-thumb">
            <div class="inner">
                <img src="/static/image/list/thumb_medium.jpg" alt="">
            </div>
        </div>
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
                <div class="back">
                    <i class="ic-community-number-of-view-line"></i>
                    999
                </div>
            </div>
        </div>
    </div>

</script>

    <p class="tit"><b>Mini 섬네일</b></p>
    {{ list.mini(
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-mini" style="">
        <div class="list-thumb"></div>
        </div>
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
            </div>
        </div>
    </div>

</script>
    
    {{ list.mini(
        img="thumb_medium.jpg",
        listTitle="[TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다![TIG 퍼스트룩] 짧지만 무겁고, 심플하지만 길다!",
        listFront="닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다.닉네임 최대 20자까지입니다. 우측과 24px, 영역보다 길어지면 말줄임처리해주세요"
    ) }}
<script type="text/plain" class="language-markup">
    <div class="list-wrap list-type-mini" style="">
        <div class="list-thumb">
            <div class="inner">
                <img src="/static/image/list/thumb_medium.jpg" alt="">
            </div>
        </div>
        <div class="list-cont">
            <div class="list-tit">
                <strong>제목영역</strong>
            </div>
            <div class="list-info">
                <div class="front">유저 닉네임 영역</div>
                <!-- 
                    [D] a Tag 사용 시 다음과 같이 사용 가능합니다. 
                    <a href="#" class="front">유저 닉네임 영역</a>
                -->
            </div>
        </div>
    </div>

</script>
</div>

{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}