@use "./../fonts/stds-font-mixin";

/* Font reset */
html {
    font-size: 10px;
}

body {
    letter-spacing: $letterSpacing;
    word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $stdsWeightBold;
    letter-spacing: $letterSpacing;
}

h1.is-hidden,
h2.is-hidden,
h3.is-hidden,
h4.is-hidden,
h5.is-hidden,
h6.is-hidden {
    font-size: 0;
    text-indent: -99999rem;
}

/* fonts by lang */
/* Korea */
@include stds-font-mixin.stdsLang($lang: "ko", $name: "Spoqa Han Sans Neo KR");

/* English */
@include stds-font-mixin.stdsLang($lang: "en ", $name: "inter Global");

/* Chinese zh */
@include stds-font-mixin.stdsLang($lang: "zh ", $name: "Microsoft YaHei UI");

/* Chinese zh-tw */
@include stds-font-mixin.stdsLang($lang: "zh-tw ", $name: "Microsoft JhengHei UI");

/* Japan */
@include stds-font-mixin.stdsLang($lang: "ja ", $name: "Meiryo" "Yu Gothic UI");

/* French */
@include stds-font-mixin.stdsLang($lang: "fr ", $name: "inter Global");

/* Portugal */
@include stds-font-mixin.stdsLang($lang: "pt ", $name: "inter Global");

/* Spanish */
@include stds-font-mixin.stdsLang($lang: "es ", $name: "inter Global");

/* German */
@include stds-font-mixin.stdsLang($lang: "de ", $name: "inter Global");

/* Thailand */
@include stds-font-mixin.stdsLang($lang: "th ", $name: "Leelawadee UI");