@use "./../space";
@use "./../color";
@use "./../font";

/* Base S */
.fr-element {
    position: relative;
    &.fr-view {
        &.userselect {
            -ms-user-select: none;
            /* IE 10+ */
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        p {
            word-break: break-all;
            word-break: break-word;
            word-wrap: break-word;
        }
    }
}
/* Base E */

/* fr-view 초기화 S */
.fr-view {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1.6rem;
    p {
        font-size: 1.6rem;
    }

    a {
        &.name-link {
            color: color.$tint_indigo500;
            font-weight: font.$stdsWeightBold;
        }
    }

    ul {
        padding-left: 3.2rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        list-style: inherit;

        li {
            list-style: disc;
        }
    }

    ol {
        padding-left: 3.2rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;

        li {
            list-style: decimal;
        }
    }

    strong {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        font-weight: font.$stdsWeightBold;
    }

    em {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        font-style: italic;
    }

    u {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        text-decoration: underline;
    }

    s {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        text-decoration: line-through;
    }

    blockquote {
        border-left: solid 0.5rem #5e35b1;
        margin-left: 0;
        padding-left: 0.5rem;
        color: #5e35b1;
    }

    hr {
        clear: both;
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        page-break-after: always;
    }

    img {
        width: 100%;
        vertical-align: bottom !important;
    }

    span[style~='font-size:'] a {
        font-size: inherit !important;
    }

    table {
        width: 100%;
        table-layout: auto;

        td {
            word-break: break-all;
            vertical-align: top;

            iframe {
                width: 100%;
                height: 100%;
            }

            img {
                width: 100% !important;
                vertical-align: baseline;
            }
        }
    }

    .module-editor {
        margin: 20px 0 !important;
    }

    .fr-video {
        display: block !important;
        text-align: left !important;
    }

    .img-wrap {
        vertical-align: bottom !important;
        font-size: 0;
    }

    .emoji-wrap {
        vertical-align: bottom !important;
        font-size: 0;
    }
}
/* fr-view 초기화 E */

/* Emoji S */
.emoji-wrap {
    display: inline-block;
    margin: 4px 0;
    width: 100px !important;
    height: 100px !important;
    img {
        max-width: 100%;
        height: auto;
    }
}
.emoji__img {
    display: inline-block;
    margin: 4px 0;
    width: 100px;
    height: 100px;
}
/* Emoji E */

/* image S */
.img-wrap {
    display: inline-block;
    margin: 4px 0;
    max-width: 250px;
    max-height: 375px;
    overflow: hidden;
    vertical-align: top;
    img {
        max-width: 100% !important;
        height: auto;
    }
}
/* image E */

/* video S */
.video-wrap {
    position: relative;
    display: block;
    left: 0;
    width: 100% !important;
    padding-bottom: 59% !important;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        padding: 4px 0;
    }
    // .fr-view {
    //     .fr-video {
    //         position: unset !important;
    //     }
    // }
}
/* video E */

/* write-form 영향도 받는 fr-view S */
.write-form {
    .fr-wrapper {
        &.show-placeholder {
            box-shadow: none !important;
            /* border: 1px solid #dbdbdb !important; */
            border-radius: 0 !important;
            .fr-element {
                /* border: 1px solid #dbdbdb !important; */
                padding: 16px;
            }
        }
    }
    .fr-toolbar {
        &.fr-ltr {
            &.fr-desktop {
                &.fr-top {
                    &.fr-basic {
                        padding: 0 !important;
                        border-radius: 0 !important;
                        box-shadow: none !important;
                        border-top: 1px solid #dbdbdb !important;
                        border-left: 1px solid #dbdbdb !important;
                        border-right: 1px solid #dbdbdb !important;
                    }
                    // fr-basic 둘 중에 뭐가 나오는게 맞을까?
                    // &.fr-basic {
                    //     border-top: 0 !important;
                    //     border-left: 0 !important;
                    //     border-right: 0 !important;
                    //     border-bottom: 1px solid #ddd;
                    // }
                }
            }
        }
    }
    .fr-box {
        border: 1px solid #ddd !important;
        .fr-wrapper {
            box-shadow: none !important;
            border: 0 !important;
        }
    }
    .fr-element {
        &.fr-view {
            & > p {
                word-break: break-all;
                word-break: break-word;
                word-wrap: break-word;
            }
        }
    }
    .fr-view {
        .module-editor {
            margin: 20px 0 !important;
            ul {
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                list-style: none;
                li {
                    list-style: none;
                }
            }
            ol {
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                list-style-type: none;
                li {
                    list-style: none;
                }
            }
        }
        ul {
            padding-left: 32px;
            margin-top: 16px;
            margin-bottom: 16px;
            list-style: disc;
            li {
                list-style: disc;
            }
        }
        ol {
            padding-left: 32px;
            margin-top: 16px;
            margin-bottom: 16px;
            list-style-type: decimal;
            li {
                list-style: decimal;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
        s {
            text-decoration: line-through;
        }
        blockquote {
            border-left: solid 2px #5e35b1;
            margin-left: 0;
            padding-left: 5px;
            color: #5e35b1;
        }
        hr {
            clear: both;
            user-select: none;
            -o-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            page-break-after: always;
        }
    }
}
/* write-form 영향도 받는 fr-view E */

/* detail-content 영향도 받는 fr-view S */
.detail-content {
    .fr-element {
        &.fr-view {
            & > p {
                word-break: break-all;
                word-break: break-word;
                word-wrap: break-word;
            }
            .module-editor {
                ul {
                    padding-left: 0 !important;
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    list-style: none !important;
                    li {
                        list-style: none !important;
                    }
                }
                ol {
                    padding-left: 0 !important;
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    list-style: none !important;
                    li {
                        list-style: none !important;
                    }
                }
                &.editor-survey {
                    width: 480px;
                }
            }
        }
    }
    .fr-view {
        ul {
            padding-left: 32px;
            margin-top: 16px;
            margin-bottom: 16px;
            list-style: disc;
            li {
                list-style: disc;
                word-break: break-all;
            }
        }
        ol {
            padding-left: 32px;
            margin-top: 16px;
            margin-bottom: 16px;
            list-style-type: decimal;
            li {
                list-style: decimal;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
        s {
            text-decoration: line-through;
        }
        blockquote {
            border-left: solid 2px #5e35b1;
            margin-left: 0;
            padding-left: 5px;
            color: #5e35b1;
            p {
                color: #5e35b1;
            }
        }
        hr {
            clear: both;
            user-select: none;
            -o-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            page-break-after: always;
        }
        .module-editor {
            &.editor-join {
                margin: 0;
                padding: 0;
                border: 0;
                background: inherit;
                position: unset;
                z-index: inherit;
            }
        }
        .fr-video {
            position: unset !important;
        }
    }
    .video-wrap {
        .fr-view {
            .fr-video {
                position: unset !important;
            }
        }
    }
}
/* detail-content 영향도 받는 fr-view E */

/* .module-reply 영향도 받는 fr-view S */
.module-reply {
    .reply-fr-view {
        blockquote {
            p {
                color: #5e35b1;
            }
        }
    }
}
/* .module-reply 영향도 받는 fr-view E */

/* module-write 영향도 받는 fr-view S */
.module-write {
    .fr-view {
        .img-wrap {
            img {
                max-width: 100% !important;
            }
        }
    }
}
/* module-write 영향도 받는 fr-view E */

/* reply-txt 영향도 받는 fr-view S */
.reply-txt {
    .fr-view {
        p {
            font-size: 13px;
            color: #333;
            line-height: normal;
            word-break: break-word;
        }
        .fr-video {
            position: static !important;
        }
    }
    .video-wrap {
        .fr-view {
            .fr-video {
                position: static !important;
            }
        }
    }
}

/* reply-txt 영향도 받는 fr-view E */
.fr-view .module-editor:last-of-type {
    margin: 20px 0 0 !important;
}
