{% macro base(class, txt, width, height) %}
<span class="legacy-element-icon {{ class }}"
      style="{% if width %}width:{{ width }};{% endif %}{% if height %}height:{{ height }}{% endif %}">{{ txt }}</span>
{% endmacro %}