
{% macro tooltipBasic() %}
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-tl">툴팁내용이 등장합니다.</span>
</span>
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-tc">툴팁내용이 등장합니다.</span>
</span>
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-tr">툴팁내용이 등장합니다.</span>
</span>
<br />
<br />
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-bl">툴팁내용이 등장합니다.</span>
</span>
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-bc">툴팁내용이 등장합니다.</span>
</span>
<span class="legacy-module-tooltip">
    <span class="tooltip-txt arrow-br">툴팁내용이 등장합니다.</span>
</span>
{% endmacro %}

{% macro tooltipDate() %}
<span class="legacy-module-tooltip">
    <span class="write-time-tooltip">2019-03-14 15:24(UTC +9)</span>
</span>
{% endmacro %}