{% extends "src/layout/index/index.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<div class="guide">
    <p class="tit"><b>Stove Color Guide</b></p>
    <p class="desc">STOVE 컬러 시스템은 색상별 정의된 규칙 및 색상 팔레트를 제공하여 디자이너가 통일성있고 일관된 브랜드 경험을 만들 수 있도록 합니다.</p>
    <p class="tit"><b>Brand Color Theme</b></p>
    <p class="desc">STOVE 브랜드를 나타내는 고유색상으로 브랜드별 통일감을 부여하며 사용자에게 동일한 메시지를 지속적으로 전달하기에 효과적입니다. 브랜드 컬러는 Primary color 와 Secondary color 두가지를 제공하나, 국소적으로 사용하여 컨텐츠 중심의 디자인을 작업하기를 권장합니다.</p>
    
    <div class-="color">
        <ul class="light-mode">
            <li class=""><li>
        </ul>
        <ul class="dark-mode"></ul>
    </div>
</div>


<div class="test" style="width: 60px; height: 60px;"></div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}