{% extends "src/layout/guide/guide.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<!-- [D]   -->
<div class="guide guide-button">
    <p class="tit"><b>Stove Button Guide</b></p>
    <p class="desc">- 버튼의 기본 height은 <strong>48px</strong></p>
    <p class="desc">- 버튼의 사이즈(height) 변경 시 <strong>.size-N</strong> 클래스를 추가하여 적용</p>
    <p class="desc">- 모든 버튼은 <strong>&lt button &gt</strong> 태그와 <strong>&lt a &gt</strong>태그 모두 적용 가능.</p>
    <p class="desc">- <strong>&lt a &gt</strong>태그 disabled은 .disabled로 사용.</p>
    <p class="desc"></p>

    <div class="ex-button">
        <ul>
            <li></li>
            <li>
                <button class="element-btn  bg-primary size-default">
                    <span class="btn-txt">button 태그</span>
                </button>
                <a href="#" class="element-btn bg-primary size-default ">
                    <span class="btn-txt">a 태그</span>
                </a>
                <!--<span class="element-btn  bg-primary size-default">
                    <span class="btn-txt">확인</span>
                </span>-->
            </li>
            <li>
                <p class="list-tit">버튼 라운드 </p>
            </li>
            <li>
                <button class="element-btn  bg-primary size-large">
                    <span class="btn-txt">기본</span>
                </button>
                <button class="element-btn  bg-primary size-large btn-round">
                    <span class="btn-txt">btn-round</span>
                </button>
            </li>
            <li>
                <p class="list-tit">버튼 컬러</p>
            </li>
            <li>
                <button class="element-btn  bg-primary size-large">
                    <span class="btn-txt">bg-primary</span>
                </button>
                <button class="element-btn  bg-primary size-large" disabled>
                    <span class="btn-txt">bg-primary</span>
                </button>
            </li>
            <li>
                <button class="element-btn  bg-secondary size-large ">
                    <span class="btn-txt">bg-secondary</span>
                </button>
                <button class="element-btn  bg-secondary size-large" disabled>
                    <span class="btn-txt">bg-secondary</span>
                </button>
            </li>
            <li>
                <button class="element-btn  bg-gray size-large ">
                    <span class="btn-txt">bg-gray</span>
                </button>
                <button class="element-btn  bg-gray size-large" disabled>
                    <span class="btn-txt">bg-gray</span>
                </button>
            </li>
            <li>
                <div style="background-color:#dfdfdf;padding:10px;display:inline-block">
                    <button class="element-btn  bg-white size-large ">
                        <span class="btn-txt">bg-white</span>
                    </button>
                    <button class="element-btn  bg-white size-large" disabled>
                        <span class="btn-txt">bg-white</span>
                    </button>
                </div>
            </li>
            <li>
                <button class="element-btn  bg-ghost size-large">
                    <span class="btn-txt">bg-ghost</span>
                </button>
                <div style="background-color:#dfdfdf;padding:10px;display:inline-block">
                    <button class="element-btn  bg-ghost size-large">
                        <span class="btn-txt">bg-ghost</span>
                    </button>
                </div>
                <div style="background-color:yellowgreen;padding:10px;display:inline-block">
                    <button class="element-btn  bg-ghost size-large">
                        <span class="btn-txt">bg-ghost</span>
                    </button>
                </div>
            </li>
            <li>
                <button class="element-btn  bg-trans size-large">
                    <span class="btn-txt">bg-trans text Button</span>
                </button>
            </li>
            <li>
                <p class="list-tit">버튼 크기별 (56px 48px 40px 36px 32px)</p>
            </li>
            <li>
                <button class="element-btn  bg-primary size-xlarge">
                    <span class="btn-txt">X-large Button</span>
                </button>
                <button class="element-btn  bg-primary size-large">
                    <span class="btn-txt">large Button</span>
                </button>
                <button class="element-btn  bg-primary size-medium">
                    <span class="btn-txt">Medium Button</span>
                </button>
                <button class="element-btn  bg-primary size-small">
                    <span class="btn-txt">Small Button</span>
                </button>
                <button class="element-btn  bg-primary size-xsmall">
                    <span class="btn-txt">X-small Button</span>
                </button>
            </li>
            <li>
                <button class="element-btn  bg-secondary size-xlarge">
                    <span class="btn-txt">X-large Button</span>
                </button>
                <button class="element-btn  bg-secondary size-large">
                    <span class="btn-txt">large Button</span>
                </button>
                <button class="element-btn  bg-secondary size-medium">
                    <span class="btn-txt">Medium Button</span>
                </button>
                <button class="element-btn  bg-secondary size-small">
                    <span class="btn-txt">Small Button</span>
                </button>
                <button class="element-btn  bg-secondary size-xsmall">
                    <span class="btn-txt">X-small Button</span>
                </button>
            </li>
            <li>
                <p class="list-tit">버튼 아이콘 (아이콘 + 텍스트 : .with-icon ,아이콘 하나일 때: .only-icon 클래스)</p>
            </li>
            <li>
                <button class="element-btn bg-secondary size-xlarge with-icon">
                    <span class="element-icon" style="width:18px;height:18px;background-color:#dfdfdf"></span>
                    <span class="btn-txt">X-large Button</span>
                </button>
                <button class="element-btn bg-secondary size-large with-icon">
                    <span class="element-icon" style="width:18px;height:18px;background-color:#dfdfdf"></span>
                    <span class="btn-txt">large Button</span>
                </button>
                <button class="element-btn bg-secondary size-medium with-icon">
                    <span class="element-icon" style="width:14px;height:14px;background-color:#dfdfdf"></span>
                    <span class="btn-txt">Medium Button</span>
                </button>
                <button class="element-btn bg-secondary size-small with-icon">
                    <span class="element-icon" style="width:14px;height:14px;background-color:#dfdfdf"></span>
                    <span class="btn-txt">Small Button</span>
                </button>
                <button class="element-btn bg-secondary size-xsmall with-icon">
                    <span class="element-icon" style="width:10px;height:10px;background-color:#dfdfdf"></span>
                    <span class="btn-txt">X-small Button</span>
                </button>
            </li>
            <li>
                <button class="element-btn bg-secondary size-xlarge only-icon">
                    <span class="element-icon" style="width:18px;height:18px;background-color:#dfdfdf"></span>
                </button>
                <button class="element-btn bg-secondary size-large only-icon">
                    <span class="element-icon" style="width:18px;height:18px;background-color:#dfdfdf"></span>
                </button>
                <button class="element-btn bg-secondary size-medium only-icon">
                    <span class="element-icon" style="width:14px;height:14px;background-color:#dfdfdf"></span>
                </button>
                <button class="element-btn bg-secondary size-small only-icon">
                    <span class="element-icon" style="width:14px;height:14px;background-color:#dfdfdf"></span>
                </button>
                <button class="element-btn bg-secondary size-xsmall only-icon">
                    <span class="element-icon" style="width:10px;height:10px;background-color:#dfdfdf"></span>
                </button>
            </li>
            <li>
                <button class="element-btn  bg-secondary size-xlarge" disabled>
                    <span class="btn-txt">X-large Button</span>
                </button>
                <button class="element-btn  bg-secondary size-large" disabled>
                    <span class="btn-txt">large Button</span>
                </button>
                <button class="element-btn  bg-secondary size-medium" disabled>
                    <span class="btn-txt">Medium Button</span>
                </button>
                <button class="element-btn  bg-secondary size-small" disabled>
                    <span class="btn-txt">Small Button</span>
                </button>
                <button class="element-btn  bg-secondary size-xsmall" disabled>
                    <span class="btn-txt">X-small Button</span>
                </button>
            </li>
            <li>
                <a href="#" class="element-btn  bg-secondary size-xlarge disabled">
                    <span class="btn-txt">X-large Button</span>
                </a>
                <a href="#" class="element-btn  bg-secondary size-large disabled">
                    <span class="btn-txt">large Button</span>
                </a>
                <a href="#" class="element-btn  bg-secondary size-medium disabled">
                    <span class="btn-txt">Medium Button</span>
                </a>
                <a href="#" class="element-btn  bg-secondary size-small disabled">
                    <span class="btn-txt">Small Button</span>
                </a>
                <a href="#" class="element-btn  bg-secondary size-xsmall disabled">
                    <span class="btn-txt">X-small Button</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}