{% macro base(shapeClass, sizeClass, colorClass, shadowClass, txt, state) %}
    <button class="element-btn {{ shapeClass }} {{ colorClass }} {{ sizeClass }} {{shadowClass}}" {{ state }}>
        <span class="btn-txt">{{txt}}</span>
    </button>
{% endmacro %}
{% macro aLink(shapeClass, sizeClass, colorClass, shadowClass, txt, state) %}
    <a href="#" class="element-btn {{ shapeClass }} {{ colorClass }} {{ sizeClass }} {{shadowClass}} {{ state }}" >
        <span class="btn-txt">{{txt}}</span>
    </a>
{% endmacro %}
{% macro withIcon(shapeClass, sizeClass, colorClass, shadowClass, txt, withIcon, iconClass, state) %}
    <button class="element-btn {{ shapeClass }} {{ colorClass }} {{ sizeClass }} {{withIcon}} {{shadowClass}}" {{ state }}>
        <span class="stove-icon {{ iconClass }}" style=""></span>
        <span class="btn-txt">{{txt}}</span>
    </button>
{% endmacro %}
{% macro onlyIcon(shapeClass, sizeClass, colorClass, shadowClass, txt, onlyIcon, iconClass, state) %}
    <button class="element-btn {{ shapeClass }} {{ colorClass }} {{ sizeClass }} {{onlyIcon}} {{shadowClass}}" {{ state }}>
        <span class="stove-icon {{ iconClass }}" style=""></span>
    </button>
{% endmacro %}

