{% extends "_include/layout/index/index.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- content -->
{% block content %}
<div class="layout-two-rail">
    <div class="container">
        <aside class="aside-area" style="background: rgba(0, 160, 40, 0.2);"></aside>
        <nav class="nav-area" style="background: #6ecdff;"></nav>
        <div class="content-area" style="background: rgba(255, 130, 0, 0.2);"></div>
    </div>

    <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Layout Two Rail</b> <br>
    </p>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}