{% import "_include/layout/head/head.njk" as headLink %}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{ headLink.base(tit="Stove Core UI") }}
  {% block styles %}{% endblock %}
</head>
<!-- Guide Layout -->
<body class="layout-guide">
  {% block content %}{% endblock %}

  {% block dialog %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>
