{% import "_include/layout/head/head.njk" as headLink %}

<!DOCTYPE html>
<html lang="ko">
<head>
  {{ headLink.base(tit="Stove Core UI") }}
  {% block styles %}{% endblock %}
</head>
<!-- Guide Layout -->
<body class="layout-guide">

  <script type="text/plain" class="language-markup">
    <p>Example</p>
  </script>

  {% block content %}{% endblock %}

  {% block dialog %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>
