{% extends "_include/layout/guide/guide.njk" %}
{% import "_include/partial/navigation/navigation.njk" as navigation %}

<!-- styles -->
{% block styles %}
<style type="text/css">
    body {
        background: #ddd;
    }
</style>
{% endblock %}

<!-- styles -->
{% block content %}
<!-- [D]   -->
<div class="guide">
    <h1 class="guide-tit">Navigation</h1>
    <p class="tit"><b>Stove Navigation Guide</b></p>
    <p class="desc">
        base, notice, channeling, rating
    </p>
    <p class="desc">기본형</p>
    <div class="layout-navigation is-active">
        {{ navigation.base(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="%텍스트%", 
            menudepth2="%텍스트%", 
            itemActive2="is-active"
            ) 
        }}
    </div>

    <div class="layout-navigation is-active">
        {{ navigation.base(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="커뮤니티", 
            menudepth2="내 활동", 
            itemActive2="is-active"
            ) 
        }}
    </div>

    <p class="desc">메뉴형</p>
    <div class="layout-navigation is-active">
        {{ navigation.baseMenu(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="%텍스트%", 
            menudepth2="%텍스트%", 
            menudepth3="%텍스트%", 
            menudepth4="%텍스트%", 
            itemActive2="is-active"
            ) 
        }}
    </div>

    <p class="desc">좌우 버튼 Case</p>
    <div class="layout-navigation is-active">
        {{ navigation.baseStyle2(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="커뮤니티", 
            menudepth2="게임 커뮤니티", 
            itemActive2="is-active",
            iconRight1="ic-navigation-search-line"
            ) 
        }}
    </div>

    <p class="desc">리스트 Case</p>
    <div class="layout-navigation is-active">
        {{ navigation.listStyle(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="자유게시판", 
            itemActive1="is-active",
            iconRight1="ic-navigation-search-line",
            iconRight2="ic-community-write-line",
            iconRight3="ic-navigation-option-horizontal-fill",
            height="h24"
            ) 
        }}
    </div>

    <p class="desc">상세보기 - 닉네임활동 Case</p>
    <div class="layout-navigation is-active">
        {{ navigation.detailStyle(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="%텍스트%", 
            itemActive1="is-active",
            iconRight1="ic-community-share-line"
            ) 
        }}
    </div>

    <p class="desc">상세보기 - 공유버튼영역 Case</p>
    <!-- [D] is-fixed-bottom 추가하면 하단 고정이 됩니다. -->
    <!-- [D] ex) layout-navigation is-fixed-bottom -->
    <div class="layout-navigation is-active">
        {{ navigation.detailShare(
            leftText1="목록", 
            iconRight1="ic-community-reply-line", 
            rightText1="999", 
            iconRight2="ic-community-like-line", 
            rightText2="999"
            ) 
        }}
    </div>

    <p class="desc">글쓰기 Case</p>
    <div class="layout-navigation is-active">
        {{ navigation.writeStyle(
            iconLeft1="ic-control-close-line",
            navTextBtnState="is-active"
            ) 
        }}
    </div>

    <p class="desc">닉네임 검색 Case</p>
    <div class="layout-navigation is-active">
        {{ navigation.nameSearchStyle(
            iconLeft1="ic-navigation-menu-line", 
            menudepth1="커뮤니티", 
            menudepth2="%닉네임%님의 활동", 
            itemActive2="is-active"
            ) 
        }}
    </div>
    
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}