{% extends "src/layout/guide/guide.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- styles -->
{% block content %}
<div class="guide">
    <p class="tit"><b>Stove Font Icon</b></p>

    <p class="desc">Line Icon</p>
    <div class="ex-icon">
        <p class="desc">Badge</p>
        <div class="view">
            <span class="stove-icon ic-badge-cm-line"></span>
            <span class="name">ic-badge-cm-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-gm-line"></span>
            <span class="name">ic-state-block-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-new-line"></span>
            <span class="name">ic-badge-new-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-stove-official-line"></span>
            <span class="name">ic-badge-stove-official-line</span>
        </div>

        <p class="desc">Communication</p>
        <div class="view">
            <span class="stove-icon ic-communication-ar-effect-line"></span>
            <span class="name">ic-communication-ar-effect-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-emoji-line"></span>
            <span class="name">ic-communication-emoji-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-hand-up-line"></span>
            <span class="name">ic-communication-hand-up-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-disabled-line"></span>
            <span class="name">ic-communication-phone-disabled-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-line"></span>
            <span class="name">ic-communication-phone-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-off-line"></span>
            <span class="name">ic-communication-phone-off-line</span>
        </div>

        <p class="desc">Community</p>
        <div class="view">
            <span class="stove-icon ic-community-approve-line"></span>
            <span class="name">ic-community-approve-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-emoji-line"></span>
            <span class="name">ic-community-attach-emoji-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-file-line"></span>
            <span class="name">ic-community-attach-file-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-image-line"></span>
            <span class="name">ic-community-attach-image-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-music-line"></span>
            <span class="name">ic-community-attach-music-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-quotation-line"></span>
            <span class="name">ic-community-attach-quotation-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-survey-line"></span>
            <span class="name">ic-community-attach-survey-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-video-line"></span>
            <span class="name">ic-community-attach-video-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-board-line"></span>
            <span class="name">ic-community-board-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-board-write-line"></span>
            <span class="name">ic-community-board-write-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-bookmark-line"></span>
            <span class="name">ic-community-bookmark-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-calendar-line"></span>
            <span class="name">ic-community-calendar-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-filter-line"></span>
            <span class="name">ic-community-filter-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-forum-line"></span>
            <span class="name">ic-community-forum-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-acceptance-line"></span>
            <span class="name">ic-community-friend-acceptance-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-add-line"></span>
            <span class="name">ic-community-friend-add-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-cancel-line"></span>
            <span class="name">ic-community-friend-cancel-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-group-add-line"></span>
            <span class="name">ic-community-group-add-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-group-line"></span>
            <span class="name">ic-community-group-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-like-line"></span>
            <span class="name">ic-community-like-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-link-line"></span>
            <span class="name">ic-community-link-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-link-unlink-line"></span>
            <span class="name">ic-community-link-unlink-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-number-of-view-line"></span>
            <span class="name">ic-community-number-of-view-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-oppose-line"></span>
            <span class="name">ic-community-oppose-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pencil-line"></span>
            <span class="name">ic-community-pencil-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pencil-square-line"></span>
            <span class="name">ic-community-pencil-square-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-person-line"></span>
            <span class="name">ic-community-person-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pin-line"></span>
            <span class="name">ic-community-pin-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-reply-line"></span>
            <span class="name">ic-community-reply-line</span>
        </div>        
        <div class="view">
            <span class="stove-icon ic-community-send-line"></span>
            <span class="name">ic-community-send-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-share-line"></span>
            <span class="name">ic-community-share-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-sort-ascending-line"></span>
            <span class="name">ic-community-sort-ascending-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-sort-descending-line"></span>
            <span class="name">ic-community-sort-descending-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-star-half-line"></span>
            <span class="name">ic-community-star-half-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-star-line"></span>
            <span class="name">ic-community-star-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-tag-line"></span>
            <span class="name">ic-community-tag-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-lock-line"></span>
            <span class="name">ic-community-thumbnail-lock-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-music-line"></span>
            <span class="name">ic-community-thumbnail-music-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-pin-line"></span>
            <span class="name">ic-community-thumbnail-pin-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-survey-line"></span>
            <span class="name">ic-community-thumbnail-survey-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-video-line"></span>
            <span class="name">ic-community-thumbnail-video-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbs-down-line"></span>
            <span class="name">ic-community-thumbs-down-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbs-up-line"></span>
            <span class="name">ic-community-thumbs-up-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-view-card-line"></span>
            <span class="name">ic-community-view-card-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-view-list-line"></span>
            <span class="name">ic-community-view-list-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-view-webzine-line"></span>
            <span class="name">ic-community-view-webzine-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-write-line"></span>
            <span class="name">ic-community-write-line</span>
        </div>

        <p class="desc">Control</p>
        <div class="view">
            <span class="stove-icon ic-control-add-circle-line"></span>
            <span class="name">ic-control-add-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-add-line"></span>
            <span class="name">ic-control-add-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-down-line"></span>
            <span class="name">ic-control-arrow-down-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-left-circle-line"></span>
            <span class="name">ic-control-arrow-left-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-left-line"></span>
            <span class="name">ic-control-arrow-left-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-right-circle-line"></span>
            <span class="name">ic-control-arrow-right-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-right-line"></span>
            <span class="name">ic-control-arrow-right-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-up-line"></span>
            <span class="name">ic-control-arrow-up-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-check-circle-line"></span>
            <span class="name">ic-control-check-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-check-line"></span>
            <span class="name">ic-control-check-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-close-circle-line"></span>
            <span class="name">ic-control-close-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-close-line"></span>
            <span class="name">ic-control-close-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-left-circle-line"></span>
            <span class="name">ic-control-double-arrow-left-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-left-line"></span>
            <span class="name">ic-control-double-arrow-left-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-right-circle-line"></span>
            <span class="name">ic-control-double-arrow-right-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-right-line"></span>
            <span class="name">ic-control-double-arrow-right-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-enlarge-line"></span>
            <span class="name">ic-control-enlarge-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-down-circle-line"></span>
            <span class="name">ic-control-long-arrow-down-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-down-line"></span>
            <span class="name">ic-control-long-arrow-down-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-left-line"></span>
            <span class="name">ic-control-long-arrow-left-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-letf-circle-line"></span>
            <span class="name">ic-control-long-arrow-letf-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-right-circle-line"></span>
            <span class="name">ic-control-long-arrow-right-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-right-line"></span>
            <span class="name">ic-control-long-arrow-right-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-up-circle-line"></span>
            <span class="name">ic-control-long-arrow-up-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-up-line"></span>
            <span class="name">ic-control-long-arrow-up-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-up-right-line"></span>
            <span class="name">ic-control-long-arrow-up-right-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-maximize-line"></span>
            <span class="name">ic-control-maximize-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-minimize-line"></span>
            <span class="name">ic-control-minimize-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-preview-line"></span>
            <span class="name">ic-control-preview-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-redo-line"></span>
            <span class="name">ic-control-redo-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-refresh-2-line"></span>
            <span class="name">ic-control-refresh-2-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-refresh-line"></span>
            <span class="name">ic-control-refresh-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-top-line"></span>
            <span class="name">ic-control-top-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-undo-line"></span>
            <span class="name">ic-control-undo-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-web-link-line"></span>
            <span class="name">ic-control-web-link-line</span>
        </div>

        <p class="desc">Hardware</p>
        <div class="view">
            <span class="stove-icon ic-hardware-desktop-line"></span>
            <span class="name">ic-hardware-desktop-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-desktop-smartphone-line"></span>
            <span class="name">ic-hardware-desktop-smartphone-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-inspection-line"></span>
            <span class="name">ic-hardware-inspection-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-mouse-line"></span>
            <span class="name">ic-hardware-mouse-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-power-line"></span>
            <span class="name">ic-hardware-power-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-print-line"></span>
            <span class="name">ic-hardware-print-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-qr-code-line"></span>
            <span class="name">ic-hardware-qr-code-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-smartphone-line"></span>
            <span class="name">ic-hardware-smartphone-line</span>
        </div>

        <p class="desc">Logo</p>
        <div class="view">
            <span class="stove-icon ic-logo-apple-line"></span>
            <span class="name">ic-logo-apple-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-facebook-line"></span>
            <span class="name">ic-logo-facebook-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-google-line"></span>
            <span class="name">ic-logo-google-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-google-playstore-line"></span>
            <span class="name">ic-logo-google-playstore-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-instagram-line"></span>
            <span class="name">ic-logo-instagram-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-twitter-line"></span>
            <span class="name">ic-logo-twitter-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-window-line"></span>
            <span class="name">ic-logo-window-line</span>
        </div>

        <p class="desc">Media</p>
        <div class="view">
            <span class="stove-icon ic-media-av-10-forward-line"></span>
            <span class="name">ic-media-av-10-forward-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-10-rewind-line"></span>
            <span class="name">ic-media-av-10-rewind-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-fast-forward-line"></span>
            <span class="name">ic-media-av-fast-forward-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-fast-rewind-line"></span>
            <span class="name">ic-media-av-fast-rewind-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-fullscreen-exit-line"></span>
            <span class="name">ic-media-av-fullscreen-exit-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-fullscreen-line"></span>
            <span class="name">ic-media-av-fullscreen-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-mic-line"></span>
            <span class="name">ic-media-av-mic-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-mic-off-line"></span>
            <span class="name">ic-media-av-mic-off-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pause-circle-line"></span>
            <span class="name">ic-media-av-pause-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pause-line"></span>
            <span class="name">ic-media-av-pause-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pip-off-line"></span>
            <span class="name">ic-media-av-pip-off-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pip-on-line"></span>
            <span class="name">ic-media-av-pip-on-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-play-circle-line"></span>
            <span class="name">ic-media-av-play-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-play-line"></span>
            <span class="name">ic-media-av-play-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-replay-line"></span>
            <span class="name">ic-media-av-replay-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-sound-line"></span>
            <span class="name">ic-media-av-sound-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-sound-off-line"></span>
            <span class="name">ic-media-av-sound-off-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-file-line"></span>
            <span class="name">ic-media-av-video-file-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-line"></span>
            <span class="name">ic-media-av-video-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-off-line"></span>
            <span class="name">ic-media-av-video-off-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-auto-line"></span>
            <span class="name">ic-media-av-volume-auto-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-line"></span>
            <span class="name">ic-media-av-volume-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-off-line"></span>
            <span class="name">ic-media-av-volume-off-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-camera-line"></span>
            <span class="name">ic-media-image-camera-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-camera-switch-line"></span>
            <span class="name">ic-media-image-camera-switch-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-crop-line"></span>
            <span class="name">ic-media-image-crop-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-gif-line"></span>
            <span class="name">ic-media-image-gif-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-library-line"></span>
            <span class="name">ic-media-image-image-library-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-line"></span>
            <span class="name">ic-media-image-image-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-miss-line"></span>
            <span class="name">ic-media-image-image-miss-line</span>
        </div>

        <p class="desc">Navigation</p>
        <div class="view">
            <span class="stove-icon ic-navigation-alarm-disabled-line"></span>
            <span class="name">ic-navigation-alarm-disabled-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-alarm-line"></span>
            <span class="name">ic-navigation-alarm-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-authenticator-line"></span>
            <span class="name">ic-navigation-authenticator-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-board-timeline-line"></span>
            <span class="name">ic-navigation-board-timeline-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-cart-line"></span>
            <span class="name">ic-navigation-cart-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-community-line"></span>
            <span class="name">ic-navigation-community-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-coupon-line"></span>
            <span class="name">ic-navigation-coupon-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-home-line"></span>
            <span class="name">ic-navigation-home-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-language-line"></span>
            <span class="name">ic-navigation-language-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-login-line"></span>
            <span class="name">ic-navigation-login-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-logout-line"></span>
            <span class="name">ic-navigation-logout-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-menu-line"></span>
            <span class="name">ic-navigation-menu-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-message-line"></span>
            <span class="name">ic-navigation-message-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-my-activity-line"></span>
            <span class="name">ic-navigation-my-activity-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-option-horizontal-line"></span>
            <span class="name">ic-navigation-option-horizontal-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-option-vertical-line"></span>
            <span class="name">ic-navigation-option-vertical-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-profile-line"></span>
            <span class="name">ic-navigation-profile-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-quizpop-line"></span>
            <span class="name">ic-navigation-quizpop-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-search-line"></span>
            <span class="name">ic-navigation-search-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-security-line"></span>
            <span class="name">ic-navigation-security-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-setting-line"></span>
            <span class="name">ic-navigation-setting-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-stove-line"></span>
            <span class="name">ic-navigation-stove-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-sub-menu-line"></span>
            <span class="name">ic-navigation-sub-menu-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-toonspoon-line"></span>
            <span class="name">ic-navigation-toonspoon-line</span>
        </div>

        <p class="desc">Object</p>
        <div class="view">
            <span class="stove-icon ic-object-cabinet-line"></span>
            <span class="name">ic-object-cabinet-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-cash-circle-line"></span>
            <span class="name">ic-object-cash-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-cash-stove-line"></span>
            <span class="name">ic-object-cash-stove-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-clock-line"></span>
            <span class="name">ic-object-clock-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-coin-line"></span>
            <span class="name">ic-object-coin-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-delete-line"></span>
            <span class="name">ic-object-delete-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-download-line"></span>
            <span class="name">ic-object-download-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-game-line"></span>
            <span class="name">ic-object-game-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-help-center-line"></span>
            <span class="name">ic-object-help-center-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-lock-line"></span>
            <span class="name">ic-object-lock-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-notice-line"></span>
            <span class="name">ic-object-notice-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-payment-line"></span>
            <span class="name">ic-object-payment-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-report-line"></span>
            <span class="name">ic-object-report-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-trophy-line"></span>
            <span class="name">ic-object-trophy-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-unlock-line"></span>
            <span class="name">ic-object-unlock-line</span>
        </div>

        <p class="desc">State</p>
        <div class="view">
            <span class="stove-icon ic-state-block-line"></span>
            <span class="name">ic-state-block-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-help-circle-line"></span>
            <span class="name">ic-state-help-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-info-circle-line"></span>
            <span class="name">ic-state-info-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-warning-circle-line"></span>
            <span class="name">ic-state-warning-circle-line</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-warning-line"></span>
            <span class="name">ic-state-warning-line</span>
        </div>
    </div>

    <p class="desc">Fill Icon</p>
    <div class="ex-icon">
        <p class="desc">Badge</p>
        <div class="view">
            <span class="stove-icon ic-badge-cm-fill"></span>
            <span class="name">ic-badge-cm-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-gm-fill"></span>
            <span class="name">ic-badge-gm-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-new-fill"></span>
            <span class="name">ic-badge-new-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-badge-stove-official-fill"></span>
            <span class="name">ic-badge-stove-official-fill</span>
        </div>

        <p class="desc">Communication</p>
        <div class="view">
            <span class="stove-icon ic-communication-ar-effect-fill"></span>
            <span class="name">ic-communication-ar-effect-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-emoji-fill"></span>
            <span class="name">ic-communication-emoji-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-hand-up-fill"></span>
            <span class="name">ic-communication-hand-up-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-disabled-fill"></span>
            <span class="name">ic-communication-phone-disabled-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-fill"></span>
            <span class="name">ic-communication-phone-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-communication-phone-off-fill"></span>
            <span class="name">ic-communication-phone-off-fill</span>
        </div>

        <p class="desc">Community</p>
        <div class="view">
            <span class="stove-icon ic-community-approve-fill"></span>
            <span class="name">ic-community-approve-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-emoji-fill"></span>
            <span class="name">ic-community-attach-emoji-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-image-fill"></span>
            <span class="name">ic-community-attach-image-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-music-fill"></span>
            <span class="name">ic-community-attach-music-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-quotation-fill"></span>
            <span class="name">ic-community-attach-quotation-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-survey-fill"></span>
            <span class="name">ic-community-attach-survey-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-attach-video-fill"></span>
            <span class="name">ic-community-attach-video-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-board-fill"></span>
            <span class="name">ic-community-board-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-board-write-fill"></span>
            <span class="name">ic-community-board-write-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-bookmark-fill"></span>
            <span class="name">ic-community-bookmark-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-calendar-fill"></span>
            <span class="name">ic-community-calendar-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-forum-fill"></span>
            <span class="name">ic-community-forum-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-acceptance-fill"></span>
            <span class="name">ic-community-friend-acceptance-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-add-fill"></span>
            <span class="name">ic-community-friend-add-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-cancel-fill"></span>
            <span class="name">ic-community-friend-cancel-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-friend-now-fill"></span>
            <span class="name">ic-community-friend-now-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-group-add-fill"></span>
            <span class="name">ic-community-group-add-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-group-fill"></span>
            <span class="name">ic-community-group-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-like-fill"></span>
            <span class="name">ic-community-like-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-number-of-view-fill"></span>
            <span class="name">ic-community-number-of-view-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-oppose-fill"></span>
            <span class="name">ic-community-oppose-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pencil-fill"></span>
            <span class="name">ic-community-pencil-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pencil-square-fill"></span>
            <span class="name">ic-community-pencil-square-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-person-fill"></span>
            <span class="name">ic-community-person-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-pin-fill"></span>
            <span class="name">ic-community-pin-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-reply-fill"></span>
            <span class="name">ic-community-reply-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-send-fill"></span>
            <span class="name">ic-community-send-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-share-fill"></span>
            <span class="name">ic-community-share-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-star-fill"></span>
            <span class="name">ic-community-star-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-lock-fill"></span>
            <span class="name">ic-community-thumbnail-lock-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-music-fill"></span>
            <span class="name">ic-community-thumbnail-music-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-pin-fill"></span>
            <span class="name">ic-community-thumbnail-pin-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-survey-fill"></span>
            <span class="name">ic-community-thumbnail-survey-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbnail-video-fill"></span>
            <span class="name">ic-community-thumbnail-video-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbs-down-fill"></span>
            <span class="name">ic-community-thumbs-down-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-thumbs-up-fill"></span>
            <span class="name">ic-community-thumbs-up-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-community-write-fill"></span>
            <span class="name">ic-community-write-fill</span>
        </div>

        <p class="desc">Control</p>
        <div class="view">
            <span class="stove-icon ic-control-add-circle-fill"></span>
            <span class="name">ic-control-add-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-left-circle-fill"></span>
            <span class="name">ic-control-arrow-left-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-arrow-right-circle-fill"></span>
            <span class="name">ic-control-arrow-right-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-check-circle-fill"></span>
            <span class="name">ic-control-check-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-close-circle-fill"></span>
            <span class="name">ic-control-close-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-left-circle-fill"></span>
            <span class="name">ic-control-double-arrow-left-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-double-arrow-right-circle-fill"></span>
            <span class="name">ic-control-double-arrow-right-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-enlarge-fill"></span>
            <span class="name">ic-control-enlarge-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-down-circle-fill"></span>
            <span class="name">ic-control-long-arrow-down-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-letf-circle-fill"></span>
            <span class="name">ic-control-long-arrow-letf-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-right-circle-fill"></span>
            <span class="name">ic-control-long-arrow-right-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-long-arrow-up-circle-fill"></span>
            <span class="name">ic-control-long-arrow-up-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-preview-fill"></span>
            <span class="name">ic-control-preview-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-select-arrow-down-fill"></span>
            <span class="name">ic-control-select-arrow-down-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-control-select-arrow-up-fill"></span>
            <span class="name">ic-control-select-arrow-up-fill</span>
        </div>

        <p class="desc">Hardware</p>
        <div class="view">
            <span class="stove-icon ic-hardware-desktop-fill"></span>
            <span class="name">ic-hardware-desktop-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-desktop-smartphone-fill"></span>
            <span class="name">ic-hardware-desktop-smartphone-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-inspection-fill"></span>
            <span class="name">ic-hardware-inspection-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-mouse-fill"></span>
            <span class="name">ic-hardware-mouse-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-power-fill"></span>
            <span class="name">ic-hardware-power-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-print-fill"></span>
            <span class="name">ic-hardware-print-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-qr-code-fill"></span>
            <span class="name">ic-hardware-qr-code-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-hardware-smartphone-fill"></span>
            <span class="name">ic-hardware-smartphone-fill</span>
        </div>

        <p class="desc">Logo</p>
        <div class="view">
            <span class="stove-icon ic-logo-apple-fill"></span>
            <span class="name">ic-logo-apple-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-facebook-fill"></span>
            <span class="name">ic-logo-facebook-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-google-fill"></span>
            <span class="name">ic-logo-google-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-google-playstore-fill"></span>
            <span class="name">ic-logo-google-playstore-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-instagram-fill"></span>
            <span class="name">ic-logo-instagram-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-twitter-fill"></span>
            <span class="name">ic-logo-twitter-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-logo-window-fill"></span>
            <span class="name">ic-logo-window-fill</span>
        </div>

        <p class="desc">Media</p>
        <div class="view">
            <span class="stove-icon ic-media-av-fast-forward-fill"></span>
            <span class="name">ic-media-av-fast-forward-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-fast-rewind-fill"></span>
            <span class="name">ic-media-av-fast-rewind-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-mic-fill"></span>
            <span class="name">ic-media-av-mic-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-mic-off-fill"></span>
            <span class="name">ic-media-av-mic-off-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pause-circle-fill"></span>
            <span class="name">ic-media-av-pause-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pause-fill"></span>
            <span class="name">ic-media-av-pause-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pip-off-fill"></span>
            <span class="name">ic-media-av-pip-off-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-pip-on-fill"></span>
            <span class="name">ic-media-av-pip-on-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-play-circle-fill"></span>
            <span class="name">ic-media-av-play-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-play-fill"></span>
            <span class="name">ic-media-av-play-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-sound-fill"></span>
            <span class="name">ic-media-av-sound-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-sound-off-fill"></span>
            <span class="name">ic-media-av-sound-off-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-file-fill"></span>
            <span class="name">ic-media-av-video-file-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-fill"></span>
            <span class="name">ic-media-av-video-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-video-off-fill"></span>
            <span class="name">ic-media-av-video-off-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-auto-fill"></span>
            <span class="name">ic-media-av-volume-auto-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-fill"></span>
            <span class="name">ic-media-av-volume-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-av-volume-off-fill"></span>
            <span class="name">ic-media-av-volume-off-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-camera-fill"></span>
            <span class="name">ic-media-image-camera-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-camera-switch-fill"></span>
            <span class="name">ic-media-image-camera-switch-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-gif-fill"></span>
            <span class="name">ic-media-image-gif-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-fill"></span>
            <span class="name">ic-media-image-image-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-library-fill"></span>
            <span class="name">ic-media-image-image-library-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-media-image-image-miss-fill"></span>
            <span class="name">ic-media-image-image-miss-fill</span>
        </div>

        <p class="desc">Navigation</p>
        <div class="view">
            <span class="stove-icon ic-navigation-alarm-disabled-fill"></span>
            <span class="name">ic-navigation-alarm-disabled-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-alarm-fill"></span>
            <span class="name">ic-navigation-alarm-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-apps-fill"></span>
            <span class="name">ic-navigation-apps-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-authenticator-fill"></span>
            <span class="name">ic-navigation-authenticator-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-board-timeline-fill"></span>
            <span class="name">ic-navigation-board-timeline-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-cart-fill"></span>
            <span class="name">ic-navigation-cart-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-community-fill"></span>
            <span class="name">ic-navigation-community-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-coupon-fill"></span>
            <span class="name">ic-navigation-coupon-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-home-fill"></span>
            <span class="name">ic-navigation-home-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-language-fill"></span>
            <span class="name">ic-navigation-language-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-message-fill"></span>
            <span class="name">ic-navigation-message-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-my-activity-fill"></span>
            <span class="name">ic-navigation-my-activity-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-option-horizontal-fill"></span>
            <span class="name">ic-navigation-option-horizontal-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-option-vertical-fill"></span>
            <span class="name">ic-navigation-option-vertical-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-profile-fill"></span>
            <span class="name">ic-navigation-profile-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-quizpop-fill"></span>
            <span class="name">ic-navigation-quizpop-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-search-fill"></span>
            <span class="name">ic-navigation-search-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-security-fill"></span>
            <span class="name">ic-navigation-security-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-setting-fill"></span>
            <span class="name">ic-navigation-setting-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-stove-fill"></span>
            <span class="name">ic-navigation-stove-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-navigation-toonspoon-fill"></span>
            <span class="name">ic-navigation-toonspoon-fill</span>
        </div>

        <p class="desc">Object</p>
        <div class="view">
            <span class="stove-icon ic-object-cabinet-fill"></span>
            <span class="name">ic-object-cabinet-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-cash-circle-fill"></span>
            <span class="name">ic-object-cash-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-cash-stove-fill"></span>
            <span class="name">ic-object-cash-stove-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-clock-fill"></span>
            <span class="name">ic-object-clock-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-coin-fill"></span>
            <span class="name">ic-object-coin-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-delete-fill"></span>
            <span class="name">ic-object-delete-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-game-fill"></span>
            <span class="name">ic-object-game-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-help-center-fill"></span>
            <span class="name">ic-object-help-center-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-lock-fill"></span>
            <span class="name">ic-object-lock-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-notice-fill"></span>
            <span class="name">ic-object-notice-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-payment-fill"></span>
            <span class="name">ic-object-payment-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-report-fill"></span>
            <span class="name">ic-object-report-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-trophy-fill"></span>
            <span class="name">ic-object-trophy-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-object-unlock-fill"></span>
            <span class="name">ic-object-unlock-fill</span>
        </div>

        <p class="desc">State</p>
        <div class="view">
            <span class="stove-icon ic-state-block-fill"></span>
            <span class="name">ic-state-block-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-help-circle-fill"></span>
            <span class="name">ic-state-help-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-info-circle-fill"></span>
            <span class="name">ic-state-info-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-warning-circle-fill"></span>
            <span class="name">ic-state-warning-circle-fill</span>
        </div>
        <div class="view">
            <span class="stove-icon ic-state-warning-fill"></span>
            <span class="name">ic-state-warning-fill</span>
        </div>
    </div>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}