/* reply 기본형 S */
/* head */
.wrapper-reply.reply-basic .reply-head {
  position: relative;
  padding: 40px 0 12px;
  border-bottom: 1px solid #e4e4e4;
}
.wrapper-reply.reply-basic .reply-head::after {
  content: '';
  clear: both;
  display: block;
}
.wrapper-reply.reply-basic .reply-head .head-tit {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  float: left;
  line-height: 22px;
}
.wrapper-reply.reply-basic .reply-head .head-tit + .reply-bell {
  margin-left: 8px;
}
.wrapper-reply.reply-basic .reply-head .reply-bell .lagarcy-element-icon.ic-bell-s22-caaa:hover {
  background: url(../../images/svgnew/ic-bell-s22-active.svg) no-repeat;
}
.wrapper-reply.reply-basic .reply-head .reply-bell.is-active .lagarcy-element-icon.ic-bell-s22-caaa {
  background: url(../../images/svgnew/ic-bell-s22-active.svg) no-repeat;
}
.wrapper-reply.reply-basic .reply-head .reply-bell.is-disable {
  pointer-events: none;
}
.wrapper-reply.reply-basic .reply-head .reply-bell.is-disable .lagarcy-element-icon.ic-bell-s22-caaa {
  background: url(../../images/svgnew/ic-bell-s22-diabled.svg) no-repeat;
}
.wrapper-reply.reply-basic .reply-head .dropdown {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  color: #333;
  float: right;
  margin-top: 3px;
}
.wrapper-reply.reply-basic .reply-head .dropdown .dropdown-toggle {
  font-size: 13px;
  color: #666;
}
.wrapper-reply.reply-basic .reply-head .dropdown .dropdown-toggle .lagarcy-element-icon.ic-arrow-down-white {
  margin-top: 1px;
  margin-left: 2px;
}
.wrapper-reply.reply-basic .reply-head .dropdown .lagarcy-module-dropdown {
  position: absolute;
  top: 28px;
  right: 0;
  white-space: nowrap;
}

.wrapper-reply {
  position: relative;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply {
  border-bottom: 0;
}
.wrapper-reply.reply-basic .lagarcy-module-thread {
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
}

.wrapper-reply .txt-best {
  color: #6a5df8;
  font-weight: 700;
  margin-right: 4px;
}
.wrapper-reply .user-tag {
  display: inline-block !important;
  color: #627bba;
  font-weight: 700;
  margin-right: 4px;
}
.wrapper-reply.reply-basic {
  /* padding-bottom: 12px; */
  padding: 0 48px 12px;
}
.wrapper-reply.reply-basic .reply-more {
  padding-top: 20px;
  padding-left: 56px;
  font-size: 12px;
  color: #333;
}
.wrapper-reply.reply-basic .reply-more .lagarcy-element-icon.ic-arrow-down {
  margin-top: 1px;
}
.wrapper-reply.reply-basic.reply-thread .reply-list {
  border-top: 0;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}
.wrapper-reply.reply-basic.reply-thread .reply-list .lagarcy-module-reply {
  position: relative;
  border: 1px solid #e4e4e4;
  margin-top: 16px;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.reply-edit {
  margin-bottom: 1px;
}
.wrapper-reply.reply-basic .reply-list .reply-area.reply {
  border-top: 1px solid #e4e4e4;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.view-basic {
  padding-top: 0;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.best {
  background: #f7fbff;
  /* border-top: 1px solid #e4e4e4; */
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.best.reply-edit {
  margin-bottom: 1px;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.best.reply-edit .reply-write {
  padding: 0 0 24px;
  margin: 0;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.best.reply-edit .reply-write .lagarcy-module-write {
  margin: 0 24px 0;
  background: #f7fbff;
}
.lagarcy-module-write .write-textarea.reply-edit[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-text);
  font-size: 13px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}

.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.reply-edit .reply-write {
  padding: 0 0 24px;
  margin: 0;
}
.wrapper-reply.reply-basic .reply-list .lagarcy-module-reply.reply-edit .reply-write .lagarcy-module-write {
  margin: 0 24px 0;
  background: #f7fbff;
}
.wrapper-reply.reply-basic .reply-area {
  position: relative;
  /* padding-bottom: 17px; */
}
.wrapper-reply.reply-basic .reply-area .lagarcy-module-reply {
  background: #fff;
  padding: 0 24px;
}
.wrapper-reply.reply-basic .reply-info {
  padding: 20px 24px 8px;
  font-size: 0;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile {
  display: inline-block;
  vertical-align: top;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile a {
  font-size: 0;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile .profile-thumb {
  width: 28px;
  height: 28px;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile .profile-content {
  line-height: normal;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile .profile-content .mark {
  line-height: 26px;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile .profile-content .profile-name {
  display: inline-block;
  width: inherit;
  text-overflow: unset;
  white-space: unset;
  word-wrap: unset;
  overflow: unset;
  margin-right: 4px;
  line-height: 28px;
  font-size: 13px;
  color: #333;
}
.wrapper-reply.reply-basic .reply-info .lagarcy-module-profile .lagarcy-module-dropdown {
  position: absolute;
  top: 30px;
  left: 36px;
}
.wrapper-reply.reply-basic .reply-info .writer {
  font-size: 10px;
  color: #ff5000;
  border: 1px solid #ff5000;
  border-radius: 12px;
  padding: 1px 7px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 8px;
  line-height: 16px;
}
.wrapper-reply.reply-basic .reply-info .time-date {
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
}
.wrapper-reply.reply-basic .reply-info .time-date .write-time-tooltip {
  bottom: -32px;
}

.wrapper-reply.reply-basic .reply-txt {
  margin-left: 36px;
  margin-bottom: 12px;
  padding: 0 24px;
}
/*
.wrapper-reply.reply-basic .reply-txt .txt-contents {
  font-size: 13px;
  color: #333;
  line-height: 22px;
  word-break: break-word;
}
.wrapper-reply.reply-basic .reply-txt .txt-contents .emoji-contests {
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100%;
}
.wrapper-reply.reply-basic .reply-txt .txt-contents img {
  max-width: 100%;
  display: inline-block;
  margin: 4px;
}
.wrapper-reply.reply-basic .reply-txt .txt-contents img:first-of-type {
  margin-left: 0;
}
.wrapper-reply.reply-basic .reply-txt .txt-contents .txt-contents-image {
  display: inline-block;
  margin: 4px;
  max-width: 250px;
  max-height: 375px;
  overflow: hidden;
  vertical-align: top;
}
.wrapper-reply.reply-basic .reply-txt .txt-contents .txt-contents-image img {
  max-width: 100%;
  height: auto;
}
*/
.wrapper-reply.reply-basic .reply-tool {
  margin-left: 40px;
  padding: 0 24px 20px 21px;
}
.wrapper-reply.reply-basic .reply-tool::after {
  content: '';
  display: block;
  clear: both;
}
.wrapper-reply.reply-basic .reply-tool .tool-btn {
  float: left;
}
.wrapper-reply.reply-basic .reply-tool .tool-btn .lagarcy-element-btn.size-24 {
  min-width: 64px;
  vertical-align: top;
  margin-right: 4px;
}
.wrapper-reply.reply-basic .reply-tool .tool-more {
  position: relative;
  float: right;
  margin-top: 2px;
}
.wrapper-reply.reply-basic .reply-tool .tool-more .more-action .report {
  font-size: 13px;
  color: #999;
}
.wrapper-reply.reply-basic .reply-tool .tool-more .lagarcy-module-dropdown {
  position: absolute;
  top: 24px;
  right: 0;
  white-space: nowrap;
}
.wrapper-reply.reply-basic .pagination {
  margin: 24px 0;
}

/* 대댓글 */
.wrapper-reply.reply-basic .reply-area.reply {
  /* margin-top: 16px; */
  background: #fafafa;
  /* border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; */
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply {
  background: inherit;
  padding: 20px 24px 20px 20px;
  margin: -1px 0;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply:first-of-type {
  border-top: 0;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url(../../images/svg/ic-re-reply.svg) no-repeat;
  margin: 2px 8px 0 12px;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply::after {
  content: '';
  display: block;
  clear: both;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-info {
  padding: 0 0 8px 0;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-txt {
  margin-left: 72px;
  padding: 0;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-tool {
  margin-left: 73px;
  padding: 0 !important;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply.empty::before {
  content: none;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-write {
  padding: 0;
  margin: 16px 0 0;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply.reply-edit .reply-area {
  float: left;
  width: calc(100% - 36px);
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply.reply-edit .reply-area .reply-write {
  margin: 0;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply.reply-edit .reply-area .reply-write .lagarcy-module-write {
  margin: 0;
}
.wrapper-reply.reply-basic .reply-area.reply .lagarcy-module-reply .reply-area .reply-write {
  padding: 0;
  margin: 16px 0 0 74px;
}

/* 삭제, 숨김 댓글 */
.wrapper-reply.reply-basic .lagarcy-module-reply.empty {
  padding: 16px 0 0;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-empty {
  position: relative;
  padding-left: 40px;
  margin-left: 24px;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-empty .lagarcy-element-icon.ic-caution {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: cover;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-empty .empty-txt {
  /* margin-bottom: 16px; */
  padding: 2px 0;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-empty .empty-txt {
  font-size: 13px;
  color: #333;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-area .reply-tool.empty {
  margin-left: 40px;
}
.wrapper-reply.reply-basic .lagarcy-module-reply.empty .reply-tool.empty .tool-btn.empty {
  float: inherit;
  margin-top: 16px;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-empty {
  margin-left: 0;
  padding-left: 75px;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-empty .lagarcy-element-icon.ic-caution {
  left: 35px;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-tool.empty {
  margin-left: 76px !important;
}
.wrapper-reply.reply-basic.reply-thread .lagarcy-module-reply.empty {
  padding: 16px 32px 16px !important;
}
.wrapper-reply.reply-basic.reply-thread .lagarcy-module-reply.empty .reply-empty {
  margin: 0;
}
.wrapper-reply.reply-basic.reply-thread .reply-area.reply .reply-empty {
  padding-left: 72px;
}
.wrapper-reply.reply-basic.reply-thread .reply-area.reply .reply-tool.empty {
  margin-left: 72px !important;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply .reply-empty {
  margin-left: 0;
  padding-left: 70px;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply .reply-tool.empty {
  margin-left: 70px !important;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-empty::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url(../../images/svg/ic-re-reply.svg) no-repeat;
  margin: 2px 8px 0 12px;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply .reply-empty::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url(../../images/svg/ic-re-reply.svg) no-repeat;
  margin: 2px 8px 0 8px;
}

/* 삭제, 숨김 댓글 왼쪽 정렬 */
/* .wrapper-reply.reply-basic .reply-area.empty-left .reply-empty,
.wrapper-reply.reply-basic .reply-area.empty-left .tool-btn {
  text-align: left !important;
}

.wrapper-reply.reply-basic .reply-area.empty-left {
  padding-left: 24px;
}
.wrapper-reply.reply-basic .reply-area.empty-left .reply-empty {
  position: relative;
  padding-left: 36px;
}
.wrapper-reply.reply-basic .reply-area.empty-left .reply-tool.empty {
  padding-left: 36px;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-area.empty-left {
  padding-left: 36px;
}
.wrapper-reply.reply-basic .reply-area.reply .reply-area.empty-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url(../../images/svg/ic-re-reply.svg) no-repeat;
  margin: 2px 8px 0 12px;
} */

/* 글쓰기창 */
.wrapper-reply.reply-basic .reply-write {
  position: relative;
  padding: 0 24px 20px 17px;
  margin-left: 44px;
}
.wrapper-reply.reply-basic .reply-write .lagarcy-module-write {
  margin-top: 0 !important;
}
.wrapper-reply.reply-basic .reply-write .lagarcy-module-write:first-of-type {
  margin: 0;
}
/* reply 기본형 E */

/* 글쓰기 모듈 S */
.lagarcy-module-write {
  position: relative;
  width: auto;
  background: #fff;
  border: solid 1px #999;
  margin-top: 40px;
}
.lagarcy-module-write .write-textarea {
  position: relative;
  padding: 13px 20px 64px;
  outline: none;
  font-weight: normal;
  font-size: 13px;
  color: #333;
  line-height: 26px;
  background: #fff;
}
.lagarcy-module-write .write-textarea[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-text);
  font-size: 13px;
  color: #999;
  cursor: pointer;
}
/* fr-view 초기화 S */
.lagarcy-module-write .write-textarea .fr-box.fr-basic .fr-element {
  padding: 0 !important;
}
.lagarcy-module-write .write-textarea .fr-toolbar.fr-ltr.fr-desktop.fr-top.fr-basic {
  box-shadow: none !important;
}
.lagarcy-module-write .write-textarea .fr-wrapper.show-placeholder {
  box-shadow: none !important;
}
.lagarcy-module-write .write-textarea .fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: none !important;
}
/* fr-view 초기화 E */

.lagarcy-module-write .write-tool {
  border-top: solid 1px #e4e4e4;
  position: relative;
  background: #fff;
}
.lagarcy-module-write .write-tool::after {
  content: '';
  clear: both;
  display: block;
}
.lagarcy-module-write .write-tool .tool-action {
  float: left;
  padding: 10px 0 0 20px;
  position: relative;
}
.lagarcy-module-write .write-tool .tool-action .btn-contents {
  float: left;
  font-size: 0;
}
.lagarcy-module-write .write-tool .tool-action .btn-contents .btn-write {
  vertical-align: middle;
  margin-left: 18px;
}
.lagarcy-module-write .write-tool .tool-action .btn-contents .btn-write:first-of-type {
  margin-left: 0;
}
.lagarcy-module-write .write-tool .tool-action .btn-contents .btn-write .lagarcy-element-icon {
  vertical-align: middle;
}
.lagarcy-module-write .write-tool .tool-action .btn-contents .btn-write .btn-txt {
  font-size: 12px;
  color: #666;
  vertical-align: middle;
  margin-left: 6px;
}
.lagarcy-module-write .write-tool .tool-btn {
  float: right;
  position: relative;
}
.lagarcy-module-write .write-tool .tool-btn .lagarcy-element-btn {
  min-width: 100px;
  white-space: nowrap;
  float: left;
}
.lagarcy-module-write .write-tool .tool-btn .lagarcy-element-btn.btn-white {
  border-left: 1px solid #e4e4e4;
}
.lagarcy-module-write .write-tool .tool-btn .lagarcy-element-btn.btn-black {
  background: #666;
}
.lagarcy-module-write .write-tool .tool-btn .lagarcy-element-btn.btn-black:hover {
  background: #333;
}
.lagarcy-module-write .write-tool .tool-btn .byte {
  float: right;
  font-size: 12px;
  color: #999;
  margin-top: 4px;
  position: absolute;
  top: 10px;
  left: -86px;

  width: 86px;
  text-align: right;
  padding-right: 16px;
}
.lagarcy-module-write .lagarcy-module-editor {
  margin-top: 0 !important;
}
.lagarcy-module-write .lagarcy-module-editor .write-setting-area {
  border-top: 1px solid #dbdbdb;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* 로그인 하지 않았을 시 */
.lagarcy-module-write.empty {
  margin: 0;
}
.lagarcy-module-write.empty .empty-txt {
  text-align: center;
  padding: 66px 0;
}
.lagarcy-module-write.empty .empty-txt a {
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
.lagarcy-module-write.empty .empty-txt a em {
  color: #ff5000;
  text-decoration: underline;
}
.wrapper-reply.reply-basic .lagarcy-module-empty.empty-list {
  margin: 24px 0 0;
}
/* 글쓰기 모듈 E */

/* thread 댓글 S */
.wrapper-reply.reply-basic.reply-thread {
  padding: 0 12px 12px;
}
.wrapper-reply.reply-basic.reply-thread .reply-head {
  padding-bottom: 0;
  margin-top: 32px;
  margin-bottom: 0;
  border: 0;
}
.wrapper-reply.reply-basic.reply-thread .pagination {
  margin-top: 24px;
}
.wrapper-reply.reply-basic.reply-thread .reply-list {
  margin-top: 20px;
  /* border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4; */
  /* border-bottom: 1px solid #e4e4e4; */
}
.wrapper-reply.reply-basic.reply-thread .reply-list .reply-list {
  /* border-top: 1px solid #e4e4e4; */
  margin-left: -1px;
  margin-right: -1px;
}
.wrapper-reply.reply-basic.reply-thread .reply-list .reply-list .pagination {
  /* border-top: 1px solid #e4e4e4;
  padding-top: 24px; */
  margin: 0;
  padding: 20px 0;
}
.wrapper-reply.reply-basic.reply-thread .reply-list:first-of-type {
  margin-top: 0;
}
.wrapper-reply.reply-basic.reply-thread .reply-head .head-tit .lagarcy-element-icon.ic-alarm-round {
  margin-top: 4px;
}

.wrapper-reply.reply-basic.reply-thread .reply-info {
  padding: 24px 32px 6px;
}
.wrapper-reply.reply-basic.reply-thread .reply-txt {
  padding: 0 32px 0 28px;
  margin-bottom: 20px;
}
.wrapper-reply.reply-basic.reply-thread .reply-tool {
  padding: 0 32px 20px 28px;
}
.wrapper-reply.reply-basic.reply-thread .reply-write {
  padding: 0 32px 24px 32px;
  margin: 0;
}
.wrapper-reply.reply-basic.reply-thread .reply-more {
  padding-left: 56px;
}
.wrapper-reply.reply-basic.reply-thread .lagarcy-module-reply.empty .reply-area {
  /* padding-left: 8px; */
}
.wrapper-reply.reply-basic.reply-thread .reply-area.reply .lagarcy-module-reply {
  padding: 24px 24px 24px 28px;
}
.wrapper-reply.reply-basic.reply-thread .lagarcy-module-reply.empty .reply-area .reply-tool.empty {
  margin-left: 14px;
  padding: 0 0 0 28px;
}
.wrapper-reply.reply-basic.reply-thread .reply-info .lagarcy-module-profile .profile-thumb {
  margin-right: 5px;
}

/* thread 댓글 E */

/* 비동기톡 댓글 S */
.wrapper-reply.reply-basic.reply-talk {
  background: #fafafa;
  margin: 24px -24px -16px -24px;
  padding: 0;
}
.wrapper-reply.reply-basic.reply-talk .reply-head {
  border-top: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  background-color: #ffffff;
  padding: 12px 24px;
  margin: 0;
}
.wrapper-reply.reply-basic.reply-talk .reply-head .head-tit {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.wrapper-reply.reply-basic.reply-talk .reply-head .head-tit .lagarcy-element-icon.ic-alarm-round {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 4px;
}
.wrapper-reply.reply-basic.reply-talk .reply-head .dropdown {
  margin: 0;
}
.wrapper-reply.reply-basic.reply-talk .pagination {
  margin-top: 16px;
  margin-bottom: 16px;
}
.wrapper-reply.reply-basic.reply-talk .lagarcy-module-write.write-input {
  margin: 0 24px 0;
}

.wrapper-reply.reply-basic.reply-talk .reply-area.reply.reply-indent {
  margin: 0;
  padding: 0 24px;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply.reply-indent .reply-more {
  padding-left: 0;
  margin-left: 36px;
}
.wrapper-reply.reply-basic.reply-talk .reply-area.reply.reply-indent .lagarcy-module-reply {
  padding: 16px 0 16px 0;
}
.wrapper-reply.reply-basic.reply-talk .lagarcy-module-reply.empty .reply-area {
  margin-left: 4px;
}

/* 비동기톡 댓글 S */
