{% extends "_include/layout/index/index.njk" %}
{% import "_include/partial/footer/footer.njk" as footer %}
{% import "_include/layout/dialog/dialog.njk" as dialog %}
{% import "_include/layout/lnb-side/lnb-side.njk" as lnbSide %}
{% import "_include/layout/gnb-side/gnb-side.njk" as gnbSide %}
{% import "_include/layout/navigation/navigation.njk" as navigation %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- gnb -->
{% block gnb %}
<header class="layout-header ">
    % GNB 여기에 마크업을 해 주세요. %
</header>
{% endblock %}

<!-- navSection -->
{% block navSection %}
<div class="layout-navigation ">
   % Navigation 여기에 마크업을 해 주세요. %
</div>
{% endblock %}

<!-- tabSection -->
{% block tabSection %}
<div class="layout-tab">
   % Tab 여기에 마크업을 해 주세요. %
</div>
{% endblock %}

<!-- content -->
{% block content %}
<div class="layout-basic">
    % 여기에 마크업을 해 주세요. %
    <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Layout Basic</b> <br>
    </p>
</div>
{% endblock %}

<!-- footer -->
{% block footer %}
<footer class="layout-footer">
    {{ footer.base() }}
</footer>
{% endblock %}

<!-- dialog -->
{% block dialog %}
    <!-- [D] .is-opened 누르면 활성화됩니다.  -->
    {{ dialog.base(stateClass="") }}
{% endblock %}

<!-- lnb side -->
{% block lnbSide %}
    <!-- [D] .is-opened 누르면 활성화됩니다.  -->
    {{ lnbSide.base(stateClass="") }}
{% endblock %}

<!-- gnb side -->
{% block gnbSide %}
    <!-- [D] .is-opened 누르면 활성화됩니다.  -->
    {{ gnbSide.base(stateClass="") }}
{% endblock %}

<!-- scripts -->
{% block scripts %}
{% endblock %}