{% extends "_include/layout/index/index.njk" %}
{% import "_include/module/footer/footer.njk" as footer %}

<!-- styles -->
{% block styles %}
{% endblock %}

{% block gnb %}
<!-- [D] GNB가 두줄로 나올 경우 depth2 를 추가 해 주세요.   -->
<header class="layout-header"></header>
{% endblock %}

<!-- content -->
{% block content %}
<div class="layout-basic" style="background: rgba(255, 130, 0, 0.2);">
    <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Layout Basic</b> <br>
    </p>
</div>
{% endblock %}

{% block footer %}
<footer class="layout-footer">
    {{ footer.base() }}
</footer>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}