@font-face {
  font-family: 'StoveFontIcon';
  src: url('fonts/StoveFontIcon.eot?3hyuyp');
  src: url('fonts/StoveFontIcon.eot?3hyuyp#iefix') format('embedded-opentype'),
    url('fonts/StoveFontIcon.woff2?3hyuyp') format('woff2'),
    url('fonts/StoveFontIcon.ttf?3hyuyp') format('truetype'),
    url('fonts/StoveFontIcon.woff?3hyuyp') format('woff'),
    url('fonts/StoveFontIcon.svg?3hyuyp#StoveFontIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"],
[class*="ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'StoveFontIcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-sample:before {
  content: "\e908";
}

.ic-community-requotation-line:before {
  content: "\ea95";
}

.ic-community-requotation-fill:before {
  content: "\ea96";
}

.ic-communication-translate-line:before {
  content: "\e902";
}

.ic-communication-translate-fill:before {
  content: "\e903";
}

.ic-object-lock-check-line:before {
  content: "\e904";
}

.ic-object-lock-check-fill:before {
  content: "\e905";
}

.ic-logo-naver-fill:before {
  content: "\e906";
}

.ic-logo-naver-line:before {
  content: "\e907";
}

.ic-communication-translate-line1:before {
  content: "\e909";
}

.ic-communication-translate-fill1:before {
  content: "\e90a";
}

.ic-media-av-video-add-fill:before {
  content: "\e90b";
}

.ic-media-av-video-add-line:before {
  content: "\e90c";
}

.ic-state-warning-line:before {
  content: "\e90d";
}

.ic-state-warning-fill:before {
  content: "\e90e";
}

.ic-state-warning-circle-line:before {
  content: "\e90f";
}

.ic-state-warning-circle-fill:before {
  content: "\e910";
}

.ic-state-info-circle-line:before {
  content: "\e911";
}

.ic-state-info-circle-fill:before {
  content: "\e912";
}

.ic-state-help-circle-line:before {
  content: "\e913";
}

.ic-state-help-circle-fill:before {
  content: "\e914";
}

.ic-state-block-line:before {
  content: "\e915";
}

.ic-state-block-fill:before {
  content: "\e916";
}

.ic-object-unlock-line:before {
  content: "\e917";
}

.ic-object-unlock-fill:before {
  content: "\e918";
}

.ic-object-trophy-line:before {
  content: "\e919";
}

.ic-object-trophy-fill:before {
  content: "\e91a";
}

.ic-object-tag-line:before {
  content: "\e91b";
}

.ic-object-tag-fill:before {
  content: "\e91c";
}

.ic-object-report-line:before {
  content: "\e91d";
}

.ic-object-report-fill:before {
  content: "\e91e";
}

.ic-object-payment-line:before {
  content: "\e91f";
}

.ic-object-payment-fill:before {
  content: "\e920";
}

.ic-object-notice-line:before {
  content: "\e921";
}

.ic-object-notice-fill:before {
  content: "\e922";
}

.ic-object-lock-line:before {
  content: "\e923";
}

.ic-object-lock-fill:before {
  content: "\e924";
}

.ic-object-help-center-line:before {
  content: "\e925";
}

.ic-object-help-center-fill:before {
  content: "\e926";
}

.ic-object-game-line:before {
  content: "\e927";
}

.ic-object-game-fill:before {
  content: "\e928";
}

.ic-object-download-line:before {
  content: "\e901";
}

.ic-object-delete-line:before {
  content: "\e900";
}

.ic-object-delete-fill:before {
  content: "\e929";
}

.ic-object-crown-line:before {
  content: "\e92a";
}

.ic-object-crown-fill:before {
  content: "\e92b";
}

.ic-object-coin-line:before {
  content: "\e92c";
}

.ic-object-coin-fill:before {
  content: "\e92d";
}

.ic-object-clock-line:before {
  content: "\e92e";
}

.ic-object-clock-fill:before {
  content: "\e92f";
}

.ic-object-cash-stove-line:before {
  content: "\e930";
}

.ic-object-cash-stove-fill:before {
  content: "\e931";
}

.ic-object-cash-circle-line:before {
  content: "\e932";
}

.ic-object-cash-circle-fill:before {
  content: "\e933";
}

.ic-object-cabinet-line:before {
  content: "\e934";
}

.ic-object-cabinet-fill:before {
  content: "\e935";
}

.ic-navigation-toonspoon-line:before {
  content: "\e936";
}

.ic-navigation-toonspoon-fill:before {
  content: "\e937";
}

.ic-navigation-sub-menu-line:before {
  content: "\e938";
}

.ic-navigation-square-option-vertical-line:before {
  content: "\e939";
}

.ic-navigation-square-option-vertical-fill:before {
  content: "\e93a";
}

.ic-navigation-setting-line:before {
  content: "\e93b";
}

.ic-navigation-setting-fill:before {
  content: "\e93c";
}

.ic-navigation-security-line:before {
  content: "\e93d";
}

.ic-navigation-security-fill:before {
  content: "\e93e";
}

.ic-navigation-search-line:before {
  content: "\e93f";
}

.ic-navigation-search-fill:before {
  content: "\e940";
}

.ic-navigation-quizpop-line:before {
  content: "\e941";
}

.ic-navigation-quizpop-fill:before {
  content: "\e942";
}

.ic-navigation-profile-line:before {
  content: "\e943";
}

.ic-navigation-profile-fill:before {
  content: "\e944";
}

.ic-navigation-option-vertical-line:before {
  content: "\e945";
}

.ic-navigation-option-vertical-fill:before {
  content: "\e946";
}

.ic-navigation-option-horizontal-line:before {
  content: "\e947";
}

.ic-navigation-option-horizontal-fill:before {
  content: "\e948";
}

.ic-navigation-my-activity-line:before {
  content: "\e949";
}

.ic-navigation-my-activity-fill:before {
  content: "\e94a";
}

.ic-navigation-message-line:before {
  content: "\e94b";
}

.ic-navigation-message-fill:before {
  content: "\e94c";
}

.ic-navigation-menu-line:before {
  content: "\e94d";
}

.ic-navigation-logout-line:before {
  content: "\e94e";
}

.ic-navigation-login-line:before {
  content: "\e94f";
}

.ic-navigation-language-line:before {
  content: "\e950";
}

.ic-navigation-language-fill:before {
  content: "\e951";
}

.ic-navigation-home-line:before {
  content: "\e952";
}

.ic-navigation-home-fill:before {
  content: "\e953";
}

.ic-navigation-coupon-line:before {
  content: "\e954";
}

.ic-navigation-coupon-fill:before {
  content: "\e955";
}

.ic-navigation-community-line:before {
  content: "\e956";
}

.ic-navigation-community-fill:before {
  content: "\e957";
}

.ic-navigation-cart-line:before {
  content: "\e958";
}

.ic-navigation-cart-fill:before {
  content: "\e959";
}

.ic-navigation-board-timeline-line:before {
  content: "\e95a";
}

.ic-navigation-board-timeline-fill:before {
  content: "\e95b";
}

.ic-navigation-authenticator-line:before {
  content: "\e95c";
}

.ic-navigation-authenticator-fill:before {
  content: "\e95d";
}

.ic-navigation-apps-fill:before {
  content: "\e95e";
}

.ic-navigation-alarm-line:before {
  content: "\e95f";
}

.ic-navigation-alarm-fill:before {
  content: "\e960";
}

.ic-navigation-alarm-disabled-line:before {
  content: "\e961";
}

.ic-navigation-alarm-disabled-fill:before {
  content: "\e962";
}

.ic-media-image-png-line:before {
  content: "\e963";
}

.ic-media-image-png-fill:before {
  content: "\e964";
}

.ic-media-image-pdf-line:before {
  content: "\e965";
}

.ic-media-image-pdf-fill:before {
  content: "\e966";
}

.ic-media-image-jpg-line:before {
  content: "\e967";
}

.ic-media-image-jpg-fill:before {
  content: "\e968";
}

.ic-media-image-image-miss-line:before {
  content: "\e969";
}

.ic-media-image-image-miss-fill:before {
  content: "\e96a";
}

.ic-media-image-image-line:before {
  content: "\e96b";
}

.ic-media-image-image-library-line:before {
  content: "\e96c";
}

.ic-media-image-image-library-fill:before {
  content: "\e96d";
}

.ic-media-image-image-fill:before {
  content: "\e96e";
}

.ic-media-image-gif-line:before {
  content: "\e96f";
}

.ic-media-image-gif-fill:before {
  content: "\e970";
}

.ic-media-image-flash-on-line:before {
  content: "\e971";
}

.ic-media-image-flash-on-fill:before {
  content: "\e972";
}

.ic-media-image-flash-off-line:before {
  content: "\e973";
}

.ic-media-image-flash-off-fill:before {
  content: "\e974";
}

.ic-media-image-flash-auto-line:before {
  content: "\e975";
}

.ic-media-image-flash-auto-fill:before {
  content: "\e976";
}

.ic-media-image-crop-line:before {
  content: "\e977";
}

.ic-media-image-camera-switch-line:before {
  content: "\e978";
}

.ic-media-image-camera-switch-fill:before {
  content: "\e979";
}

.ic-media-image-camera-line:before {
  content: "\e97a";
}

.ic-media-image-camera-fill:before {
  content: "\e97b";
}

.ic-media-av-volume-off-line:before {
  content: "\e97c";
}

.ic-media-av-volume-off-fill:before {
  content: "\e97d";
}

.ic-media-av-volume-line:before {
  content: "\e97e";
}

.ic-media-av-volume-fill:before {
  content: "\e97f";
}

.ic-media-av-volume-down-line:before {
  content: "\e980";
}

.ic-media-av-volume-down-fill:before {
  content: "\e981";
}

.ic-media-av-volume-auto-line:before {
  content: "\e982";
}

.ic-media-av-volume-auto-fill:before {
  content: "\e983";
}

.ic-media-av-video-off-line:before {
  content: "\e984";
}

.ic-media-av-video-off-fill:before {
  content: "\e985";
}

.ic-media-av-video-line:before {
  content: "\e986";
}

.ic-media-av-video-fill:before {
  content: "\e987";
}

.ic-media-av-video-file-line:before {
  content: "\e988";
}

.ic-media-av-video-file-fill:before {
  content: "\e989";
}

.ic-media-av-sound-off-line:before {
  content: "\e98a";
}

.ic-media-av-sound-off-fill:before {
  content: "\e98b";
}

.ic-media-av-sound-line:before {
  content: "\e98c";
}

.ic-media-av-sound-fill:before {
  content: "\e98d";
}

.ic-media-av-replay-line:before {
  content: "\e98e";
}

.ic-media-av-play-line:before {
  content: "\e98f";
}

.ic-media-av-play-fill:before {
  content: "\e990";
}

.ic-media-av-play-circle-line:before {
  content: "\e991";
}

.ic-media-av-play-circle-fill:before {
  content: "\e992";
}

.ic-media-av-pip-on-line:before {
  content: "\e993";
}

.ic-media-av-pip-on-fill:before {
  content: "\e994";
}

.ic-media-av-pip-off-line:before {
  content: "\e995";
}

.ic-media-av-pip-off-fill:before {
  content: "\e996";
}

.ic-media-av-pause-line:before {
  content: "\e997";
}

.ic-media-av-pause-fill:before {
  content: "\e998";
}

.ic-media-av-pause-circle-line:before {
  content: "\e999";
}

.ic-media-av-pause-circle-fill:before {
  content: "\e99a";
}

.ic-media-av-mic-off-line:before {
  content: "\e99b";
}

.ic-media-av-mic-off-fill:before {
  content: "\e99c";
}

.ic-media-av-mic-line:before {
  content: "\e99d";
}

.ic-media-av-mic-fill:before {
  content: "\e99e";
}

.ic-media-av-fullscreen-line:before {
  content: "\e99f";
}

.ic-media-av-fullscreen-exit-line:before {
  content: "\e9a0";
}

.ic-media-av-fast-rewind-line:before {
  content: "\e9a1";
}

.ic-media-av-fast-rewind-fill:before {
  content: "\e9a2";
}

.ic-media-av-fast-forward-line:before {
  content: "\e9a3";
}

.ic-media-av-fast-forward-fill:before {
  content: "\e9a4";
}

.ic-media-av-5-rewind-line:before {
  content: "\e9a5";
}

.ic-media-av-5-forward-line:before {
  content: "\e9a6";
}

.ic-media-av-10-rewind-line:before {
  content: "\e9a7";
}

.ic-media-av-10-forward-line:before {
  content: "\e9a8";
}

.ic-logo-youtube-line:before {
  content: "\e9a9";
}

.ic-logo-youtube-fill:before {
  content: "\e9aa";
}

.ic-logo-window-line:before {
  content: "\e9ab";
}

.ic-logo-window-fill:before {
  content: "\e9ac";
}

.ic-logo-twitter-line:before {
  content: "\e9ad";
}

.ic-logo-twitter-fill:before {
  content: "\e9ae";
}

.ic-logo-stove-symbol-line:before {
  content: "\e9af";
}

.ic-logo-stove-symbol-fill:before {
  content: "\e9b0";
}

.ic-logo-stove-fill:before {
  content: "\e9b1";
}

.ic-logo-kakaotalk-line:before {
  content: "\e9b2";
}

.ic-logo-kakaotalk-fill:before {
  content: "\e9b3";
}

.ic-logo-instagram-line:before {
  content: "\e9b4";
}

.ic-logo-instagram-fill:before {
  content: "\e9b5";
}

.ic-logo-google-playstore-line:before {
  content: "\e9b6";
}

.ic-logo-google-playstore-fill:before {
  content: "\e9b7";
}

.ic-logo-google-line:before {
  content: "\e9b8";
}

.ic-logo-google-fill:before {
  content: "\e9b9";
}

.ic-logo-facebook-line:before {
  content: "\e9ba";
}

.ic-logo-facebook-fill:before {
  content: "\e9bb";
}

.ic-logo-apple-line:before {
  content: "\e9bc";
}

.ic-logo-apple-fill:before {
  content: "\e9bd";
}

.ic-hardware-smartphone-line:before {
  content: "\e9be";
}

.ic-hardware-smartphone-fill:before {
  content: "\e9bf";
}

.ic-hardware-qr-code-line:before {
  content: "\e9c0";
}

.ic-hardware-qr-code-fill:before {
  content: "\e9c1";
}

.ic-hardware-print-line:before {
  content: "\e9c2";
}

.ic-hardware-print-fill:before {
  content: "\e9c3";
}

.ic-hardware-power-line:before {
  content: "\e9c4";
}

.ic-hardware-power-fill:before {
  content: "\e9c5";
}

.ic-hardware-mouse-line:before {
  content: "\e9c6";
}

.ic-hardware-mouse-fill:before {
  content: "\e9c7";
}

.ic-hardware-inspection-line:before {
  content: "\e9c8";
}

.ic-hardware-inspection-fill:before {
  content: "\e9c9";
}

.ic-hardware-desktop-smartphone-line:before {
  content: "\e9ca";
}

.ic-hardware-desktop-smartphone-fill:before {
  content: "\e9cb";
}

.ic-hardware-desktop-line:before {
  content: "\e9cc";
}

.ic-hardware-desktop-fill:before {
  content: "\e9cd";
}

.ic-control-web-link-line:before {
  content: "\e9ce";
}

.ic-control-undo-line:before {
  content: "\e9cf";
}

.ic-control-top-line:before {
  content: "\e9d0";
}

.ic-control-square-arrow-right-line:before {
  content: "\e9d1";
}

.ic-control-square-arrow-left-line:before {
  content: "\e9d2";
}

.ic-control-select-arrow-up-fill:before {
  content: "\e9d3";
}

.ic-control-select-arrow-down-fill:before {
  content: "\e9d4";
}

.ic-control-refresh-line:before {
  content: "\e9d5";
}

.ic-control-refresh-2-line:before {
  content: "\e9d6";
}

.ic-control-redo-line:before {
  content: "\e9d7";
}

.ic-control-preview-line:before {
  content: "\e9d8";
}

.ic-control-preview-fill:before {
  content: "\e9d9";
}

.ic-control-minus-line:before {
  content: "\e9da";
}

.ic-control-minus-circle-line:before {
  content: "\e9db";
}

.ic-control-minus-circle-fill:before {
  content: "\e9dc";
}

.ic-control-minimize-line:before {
  content: "\e9dd";
}

.ic-control-maximize-line:before {
  content: "\e9de";
}

.ic-control-long-arrow-up-right-line:before {
  content: "\e9df";
}

.ic-control-long-arrow-up-line:before {
  content: "\e9e0";
}

.ic-control-long-arrow-up-circle-line:before {
  content: "\e9e1";
}

.ic-control-long-arrow-up-circle-fill:before {
  content: "\e9e2";
}

.ic-control-long-arrow-right-line:before {
  content: "\e9e3";
}

.ic-control-long-arrow-right-circle-line:before {
  content: "\e9e4";
}

.ic-control-long-arrow-right-circle-fill:before {
  content: "\e9e5";
}

.ic-control-long-arrow-letf-circle-line:before {
  content: "\e9e6";
}

.ic-control-long-arrow-letf-circle-fill:before {
  content: "\e9e7";
}

.ic-control-long-arrow-left-line:before {
  content: "\e9e8";
}

.ic-control-long-arrow-down-line:before {
  content: "\e9e9";
}

.ic-control-long-arrow-down-circle-line:before {
  content: "\e9ea";
}

.ic-control-long-arrow-down-circle-fill:before {
  content: "\e9eb";
}

.ic-control-enlarge-line:before {
  content: "\e9ec";
}

.ic-control-enlarge-fill:before {
  content: "\e9ed";
}

.ic-control-double-arrow-right-line:before {
  content: "\e9ee";
}

.ic-control-double-arrow-right-circle-line:before {
  content: "\e9ef";
}

.ic-control-double-arrow-right-circle-fill:before {
  content: "\e9f0";
}

.ic-control-double-arrow-left-line:before {
  content: "\e9f1";
}

.ic-control-double-arrow-left-circle-line:before {
  content: "\e9f2";
}

.ic-control-double-arrow-left-circle-fill:before {
  content: "\e9f3";
}

.ic-control-close-line:before {
  content: "\e9f4";
}

.ic-control-close-circle-line:before {
  content: "\e9f5";
}

.ic-control-close-circle-fill:before {
  content: "\e9f6";
}

.ic-control-check-line:before {
  content: "\e9f7";
}

.ic-control-check-circle-line:before {
  content: "\e9f8";
}

.ic-control-check-circle-fill:before {
  content: "\e9f9";
}

.ic-control-arrow-up-line:before {
  content: "\e9fa";
}

.ic-control-arrow-right-line:before {
  content: "\e9fb";
}

.ic-control-arrow-right-circle-line:before {
  content: "\e9fc";
}

.ic-control-arrow-right-circle-fill:before {
  content: "\e9fd";
}

.ic-control-arrow-left-line:before {
  content: "\e9fe";
}

.ic-control-arrow-left-circle-line:before {
  content: "\e9ff";
}

.ic-control-arrow-left-circle-fill:before {
  content: "\ea00";
}

.ic-control-arrow-down-line:before {
  content: "\ea01";
}

.ic-control-add-line:before {
  content: "\ea02";
}

.ic-control-add-circle-line:before {
  content: "\ea03";
}

.ic-control-add-circle-fill:before {
  content: "\ea04";
}

.ic-content-word-line:before {
  content: "\ea05";
}

.ic-content-word-fill:before {
  content: "\ea06";
}

.ic-content-storage-line:before {
  content: "\ea07";
}

.ic-content-storage-fill:before {
  content: "\ea08";
}

.ic-content-powerpoint-line:before {
  content: "\ea09";
}

.ic-content-powerpoint-fill:before {
  content: "\ea0a";
}

.ic-content-mail-line:before {
  content: "\ea0b";
}

.ic-content-mail-fill:before {
  content: "\ea0c";
}

.ic-content-inbox-line:before {
  content: "\ea0d";
}

.ic-content-inbox-fill:before {
  content: "\ea0e";
}

.ic-content-folder-line:before {
  content: "\ea0f";
}

.ic-content-folder-fill:before {
  content: "\ea10";
}

.ic-content-folder-add-line:before {
  content: "\ea11";
}

.ic-content-folder-add-fill:before {
  content: "\ea12";
}

.ic-content-file-line:before {
  content: "\ea13";
}

.ic-content-file-fill:before {
  content: "\ea14";
}

.ic-content-excel-line:before {
  content: "\ea15";
}

.ic-content-excel-fill:before {
  content: "\ea16";
}

.ic-community-write-line:before {
  content: "\ea17";
}

.ic-community-write-fill:before {
  content: "\ea18";
}

.ic-community-view-webzine-line:before {
  content: "\ea19";
}

.ic-community-view-webzine-fill:before {
  content: "\ea1a";
}

.ic-community-view-thread-line:before {
  content: "\ea1b";
}

.ic-community-view-thread-fill:before {
  content: "\ea1c";
}

.ic-community-view-photo-line:before {
  content: "\ea1d";
}

.ic-community-view-photo-fill:before {
  content: "\ea1e";
}

.ic-community-view-list-line:before {
  content: "\ea1f";
}

.ic-community-view-list-fill:before {
  content: "\ea20";
}

.ic-community-view-card-line:before {
  content: "\ea21";
}

.ic-community-view-card-fill:before {
  content: "\ea22";
}

.ic-community-thumbs-up-line:before {
  content: "\ea23";
}

.ic-community-thumbs-up-fill:before {
  content: "\ea24";
}

.ic-community-thumbs-down-line:before {
  content: "\ea25";
}

.ic-community-thumbs-down-fill:before {
  content: "\ea26";
}

.ic-community-thumbnail-video-line:before {
  content: "\ea27";
}

.ic-community-thumbnail-survey-line:before {
  content: "\ea28";
}

.ic-community-thumbnail-pin-line:before {
  content: "\ea29";
}

.ic-community-thumbnail-music-line:before {
  content: "\ea2a";
}

.ic-community-thumbnail-lock-line:before {
  content: "\ea2b";
}

.ic-community-tag-line:before {
  content: "\ea2c";
}

.ic-community-star-line:before {
  content: "\ea2d";
}

.ic-community-star-half-line:before {
  content: "\ea2e";
}

.ic-community-star-fill:before {
  content: "\ea2f";
}

.ic-community-sort-descending-line:before {
  content: "\ea30";
}

.ic-community-sort-ascending-line:before {
  content: "\ea31";
}

.ic-community-share-line:before {
  content: "\ea32";
}

.ic-community-share-fill:before {
  content: "\ea33";
}

.ic-community-send-line:before {
  content: "\ea34";
}

.ic-community-send-fill:before {
  content: "\ea35";
}

.ic-community-reply-line:before {
  content: "\ea36";
}

.ic-community-reply-fill:before {
  content: "\ea37";
}

.ic-community-quotation-fill:before {
  content: "\ea38";
}

.ic-community-pin-line:before {
  content: "\ea39";
}

.ic-community-pin-fill:before {
  content: "\ea3a";
}

.ic-community-person-line:before {
  content: "\ea3b";
}

.ic-community-person-fill:before {
  content: "\ea3c";
}

.ic-community-pencil-square-line:before {
  content: "\ea3d";
}

.ic-community-pencil-square-fill:before {
  content: "\ea3e";
}

.ic-community-pencil-line:before {
  content: "\ea3f";
}

.ic-community-pencil-fill:before {
  content: "\ea40";
}

.ic-community-oppose-line:before {
  content: "\ea41";
}

.ic-community-oppose-fill:before {
  content: "\ea42";
}

.ic-community-number-of-view-line:before {
  content: "\ea43";
}

.ic-community-number-of-view-fill:before {
  content: "\ea44";
}

.ic-community-link-unlink-line:before {
  content: "\ea45";
}

.ic-community-link-line:before {
  content: "\ea46";
}

.ic-community-like-line:before {
  content: "\ea47";
}

.ic-community-like-fill:before {
  content: "\ea48";
}

.ic-community-group-line:before {
  content: "\ea49";
}

.ic-community-group-fill:before {
  content: "\ea4a";
}

.ic-community-group-add-line:before {
  content: "\ea4b";
}

.ic-community-group-add-fill:before {
  content: "\ea4c";
}

.ic-community-friend-now-line:before {
  content: "\ea97";
}

.ic-community-friend-now-fill:before {
  content: "\ea4d";
}

.ic-community-friend-cancel-line:before {
  content: "\ea4e";
}

.ic-community-friend-cancel-fill:before {
  content: "\ea4f";
}

.ic-community-friend-add-line:before {
  content: "\ea50";
}

.ic-community-friend-add-fill:before {
  content: "\ea51";
}

.ic-community-friend-acceptance-line:before {
  content: "\ea52";
}

.ic-community-friend-acceptance-fill:before {
  content: "\ea53";
}

.ic-community-forum-line:before {
  content: "\ea54";
}

.ic-community-forum-fill:before {
  content: "\ea55";
}

.ic-community-filter-line:before {
  content: "\ea56";
}

.ic-community-filter-fill:before {
  content: "\ea57";
}

.ic-community-calendar-line:before {
  content: "\ea58";
}

.ic-community-calendar-fill:before {
  content: "\ea59";
}

.ic-community-bookmark-line:before {
  content: "\ea5a";
}

.ic-community-bookmark-fill:before {
  content: "\ea5b";
}

.ic-community-board-write-line:before {
  content: "\ea5c";
}

.ic-community-board-write-fill:before {
  content: "\ea5d";
}

.ic-community-board-line:before {
  content: "\ea5e";
}

.ic-community-board-fill:before {
  content: "\ea5f";
}

.ic-community-board-all-line:before {
  content: "\ea60";
}

.ic-community-board-all-fill:before {
  content: "\ea61";
}

.ic-community-attach-video-line:before {
  content: "\ea62";
}

.ic-community-attach-video-fill:before {
  content: "\ea63";
}

.ic-community-attach-survey-line:before {
  content: "\ea64";
}

.ic-community-attach-survey-fill:before {
  content: "\ea65";
}

.ic-community-attach-quotation-line:before {
  content: "\ea66";
}

.ic-community-attach-quotation-fill:before {
  content: "\ea67";
}

.ic-community-attach-music-line:before {
  content: "\ea68";
}

.ic-community-attach-music-fill:before {
  content: "\ea69";
}

.ic-community-attach-image-line:before {
  content: "\ea6a";
}

.ic-community-attach-image-fill:before {
  content: "\ea6b";
}

.ic-community-attach-file-line:before {
  content: "\ea6c";
}

.ic-community-attach-emoji-line:before {
  content: "\ea6d";
}

.ic-community-attach-emoji-fill:before {
  content: "\ea6e";
}

.ic-community-approve-line:before {
  content: "\ea6f";
}

.ic-community-approve-fill:before {
  content: "\ea70";
}

.ic-communication-stage-up-line:before {
  content: "\ea71";
}

.ic-communication-stage-up-fill:before {
  content: "\ea72";
}

.ic-communication-stage-line:before {
  content: "\ea73";
}

.ic-communication-stage-fill:before {
  content: "\ea74";
}

.ic-communication-stage-down-line:before {
  content: "\ea75";
}

.ic-communication-stage-down-fill:before {
  content: "\ea76";
}

.ic-communication-sound-sense-line:before {
  content: "\ea77";
}

.ic-communication-sound-sense-fill:before {
  content: "\ea78";
}

.ic-communication-screen-share-stop-line:before {
  content: "\ea79";
}

.ic-communication-screen-share-stop-fill:before {
  content: "\ea7a";
}

.ic-communication-screen-share-line:before {
  content: "\ea7b";
}

.ic-communication-screen-share-fill:before {
  content: "\ea7c";
}

.ic-communication-profile-sense-line:before {
  content: "\ea7d";
}

.ic-communication-profile-sense-fill:before {
  content: "\ea7e";
}

.ic-communication-phone-off-line:before {
  content: "\ea7f";
}

.ic-communication-phone-off-fill:before {
  content: "\ea80";
}

.ic-communication-phone-line:before {
  content: "\ea81";
}

.ic-communication-phone-fill:before {
  content: "\ea82";
}

.ic-communication-phone-disabled-line:before {
  content: "\ea83";
}

.ic-communication-phone-disabled-fill:before {
  content: "\ea84";
}

.ic-communication-lounge-line:before {
  content: "\ea85";
}

.ic-communication-lounge-fill:before {
  content: "\ea86";
}

.ic-communication-hand-up-line:before {
  content: "\ea87";
}

.ic-communication-hand-up-fill:before {
  content: "\ea88";
}

.ic-communication-emoji-line:before {
  content: "\ea89";
}

.ic-communication-emoji-fill:before {
  content: "\ea8a";
}

.ic-communication-ar-effect-line:before {
  content: "\ea8b";
}

.ic-communication-ar-effect-fill:before {
  content: "\ea8c";
}

.ic-badge-stove-official-line:before {
  content: "\ea8d";
}

.ic-badge-stove-official-fill:before {
  content: "\ea8e";
}

.ic-badge-new-line:before {
  content: "\ea8f";
}

.ic-badge-new-fill:before {
  content: "\ea90";
}

.ic-badge-gm-line:before {
  content: "\ea91";
}

.ic-badge-gm-fill:before {
  content: "\ea92";
}

.ic-badge-cm-line:before {
  content: "\ea93";
}

.ic-badge-cm-fill:before {
  content: "\ea94";
}
