{% macro base( isATag=true ) %}
<div class="pagination">
  {% if isATag %}
    <a href="#" class="stove-icon ic-control-double-arrow-left-line" style=""><span class="text-hidden">처음</span></a>
    <a href="#" class="stove-icon ic-control-arrow-left-line" style=""><span class="text-hidden">이전</span></a>
    <span class="pagination-num">
        <a href="#"><span>1</span></a>
        <a href="#"><span>2</span></a>
        <a href="#"><span>3</span></a>
        <a href="#"><span>4</span></a>
        <a href="#" class="active"><span>5</span></a>
        <a href="#"><span>6</span></a>
        <a href="#"><span>7</span></a>
        <a href="#"><span>8</span></a>
        <a href="#"><span>9</span></a>
        <a href="#"><span>10</span></a>
    </span>
    <a href="#" class="stove-icon ic-control-arrow-right-line disabled" style=""><span class="text-hidden">다음</span></a>
    <a href="#" class="stove-icon ic-control-double-arrow-right-line disabled" style=""><span class="text-hidden">마지막</span></a>
  {% else %}
    <button class="stove-icon ic-control-double-arrow-left-line" style=""><span class="text-hidden">처음</span></button>
    <button class="stove-icon ic-control-arrow-left-line" style=""><span class="text-hidden">이전</span></button>
    <span class="pagination-num">
        <button type="button"><span>1</span></button>
        <button type="button"><span>2</span></button>
        <button type="button"><span>3</span></button>
        <button type="button"><span>4</span></button>
        <button type="button" class="active"><span>5</span></button>
        <button type="button"><span>6</span></button>
        <button type="button"><span>7</span></button>
        <button type="button"><span>8</span></button>
        <button type="button"><span>9</span></button>
        <button type="button"><span>10</span></button>
    </span>
    <button class="stove-icon ic-control-arrow-right-line disabled" style=""><span class="text-hidden">다음</span></button>
    <button class="stove-icon ic-control-double-arrow-right-line disabled" style=""><span class="text-hidden">마지막</span></button>
  {% endif %}
</div>    
{% endmacro %}

{% macro bullet(sizeClass) %}
<div class="pagination-bullet {{ sizeClass }}">
  <a href="#" class="bullet-list"><span>1</span></a>
  <a class="bullet-list bullet-active"><span>2</span></a>
  <a href="#" class="bullet-list"><span>3</span></a>
  <a href="#" class="bullet-list"><span>4</span></a>
  <a href="#" class="bullet-list"><span>5</span></a>
</div>
{% endmacro %}
