{% extends "src/view/_include/layout/index/index.njk" %}

<!-- styles -->
{% block styles %}
{% endblock %}

<!-- content -->
{% block content %}
<div class="layout-b-one-rail">
    <div class="container">
        <nav class="nav-area" style="background: rgba(255, 0, 160, 0.2);"></nav>
        <div class="content-area" style="background: rgba(255, 130, 0, 0.2);"></div>
    </div>
    <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b style=" font-size: 24px;">Layout B One Rail</b> <br>
    </p>
</div>
{% endblock %}

<!-- dialog -->
{% block dialog %}{% endblock %}

<!-- scripts -->
{% block scripts %} 
{% endblock %}