{% import "_include/module/calendar/datepicker.njk" as datepicker %}

{% macro base(width, height, type, addClass, styleClass, active, txt, place, state) %}
    <input type="{{ type }}" class="element-input {{ width }} {{ height }} {{ addClass }} {{ styleClass }} {{ active }}" placeholder="{{ place }}"  value="{{ txt }}" {{ state }}/>
{% endmacro %}

{% macro icon(width, height, type, addClass, styleClass, active, txt, place, state, icon, round, calendar, dayMode, periodMode, monthMode, yearMode) %}
    <div class="element-input-icon {{ width }} {{ height }} {{ addClass }} {{ styleClass }} {{ active }} {{ round }} {{ state }}">
        <div class="element-input-wrap">
            <input type="{{ type }}" class="element-input" placeholder="{{ place }}"  value="{{ txt }}" {{ state }}/>
        </div>
        {% if icon %}
            <button class="{{ icon.first }}"></button>
            {% if icon.second %}
                <button class="{{ icon.second }}"></button>
            {% endif %}
        {% endif %}

        {% if calendar %}
            {{ datepicker.base(dayMode, periodMode, monthMode, yearMode) }}
        {% endif %}
    </div>
{% endmacro %}