/* view 에서 Guide 하기 위한 Css */
.ic-logo-apple-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-apple-color.svg);
    background-size: cover;
}

.ic-logo-facebook-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-facebook-color.svg);
    background-size: cover;
}

.ic-logo-google-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-google-color.svg);
    background-size: cover;
}

.ic-logo-google-playstore-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-google-playstore-color.svg);
    background-size: cover;
}

.ic-logo-instagram-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-instagram-color.svg);
    background-size: cover;
}

.ic-logo-kakaotalk-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-kakaotalk-color.svg);
    background-size: cover;
}

.ic-logo-stove-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-stove-color.svg);
    background-size: cover;
}

.ic-logo-stove-symbol-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-stove-symbol-color.svg);
    background-size: cover;
}

.ic-logo-twitter-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-twitter-color.svg);
    background-size: cover;
}

.ic-logo-window-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-window-color.svg);
    background-size: cover;
}

.ic-logo-youtube-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-youtube-color.svg);
    background-size: cover;
}

.ic-logo-naver-color {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-logo-naver-color.svg);
    background-size: cover;
}


.ic-follow-color-112 {
    width: 11.2rem;
    height: 11.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-follow-color-112.svg);
    background-size: cover;
}

.ic-game-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-game-color-160.svg);
    background-size: cover;
}

.ic-limit-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-limit-color-160.svg);
    background-size: cover;
}

.ic-post-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-post-color-160.svg);
    background-size: cover;
}

.ic-seach-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-seach-color-160.svg);
    background-size: cover;
}

.ic-subscribe-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-subscribe-color-160.svg);
    background-size: cover;
}

.ic-age-limit-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-age-limit-color-160.svg);
    background-size: cover;
}

.ic-allage-color-160 {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-allage-color-160.svg);
    background-size: cover;
}

.ic-basket-color-160 {
    width: 11.2rem;
    height: 11.2rem;
    margin: 0 auto;
    background-image: url(~/static/icon/icon/exception/ic-basket-color-160.svg);
    background-size: cover;
}