<html lang="ko">
<head>
    <title>Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">	
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Reset.css -->
    <link rel="stylesheet" href="../../../static/css/reset.css">
    <!-- Font.css -->
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/fonts/intel/StoveFont-Global.css">
    <link rel="stylesheet" href="../../../static/fonts/kr/StoveFont-KR.css">
    <link rel="stylesheet" href="../../../static/fonts/sc/StoveFont-SC.css">
    <link rel="stylesheet" href="../../../static/fonts/tc/StoveFont-TC.css">
    <link rel="stylesheet" href="../../../static/fonts/jp/StoveFont-JP.css">
    <link rel="stylesheet" href="../../../static/fonts/thai/StoveFont-Thai.css">
    <!-- layout.css -->
    <link rel="stylesheet" href="../../../static/css/layout.css">
    <!-- UI.css -->
    <link rel="stylesheet" href="../../../static/css/profile.css">
</head>
<body>
<!-- Layout 관련 Class Name -->
<!-- 
layout-basic
layout-information
layout-s-one-rail
layout-b-one-rail
layout-two-rail
layout-side-rail
-->
<div class="layout">
    <div class="layout-side-rail">
        <div class="head">
            <h1>Stove Typography Heading 1</h1>
            <h2>Stove Typography Heading 2</h2>
            <h3>Stove Typography Heading 3</h3>
            <h4>Stove Typography Heading 4</h4>
            <h5>Stove Typography Heading 5</h5>
            <h6>Stove Typography Heading 6</h6>
        </div>
        <div class="container">
            <aside class="aside-area" style="background: rgba(0, 160, 40, 0.2);">
                <div class="module-profile">
                    <a href="#">
                        <div class="profile-thumb">
                            <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                        </div>
                        <div class="profile-content">
                            <span class="mark official">OFFICIAL</span>
                            <span class="mark gm">GM</span>
                            <span class="mark cm">CM</span>
                            <span href="#" class="profile-name">아이디노출최대20자아이디노출최대20자</span>
                        </div>
                    </a>
                </div>
            </aside>
            <div class="content-area" style="background: rgba(255, 130, 0, 0.2);">
                <div class="module-profile">
                    <a href="#">
                        <div class="profile-thumb">
                            <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                        </div>
                        <div class="profile-content">
                            <span class="mark official">OFFICIAL</span>
                            <span class="mark gm">GM</span>
                            <span class="mark cm">CM</span>
                            <span href="#" class="profile-name">아이디노출최대20자아이디노출최대20자</span>
                        </div>
                    </a>
                </div>
            </div>
            <nav class="nav-area" style="background: rgba(255, 0, 160, 0.2);">
                <div class="module-profile">
                    <a href="#">
                        <div class="profile-thumb">
                            <img src="https://dummyimage.com/600x600/00eaff/040b6b" alt="images">
                        </div>
                        <div class="profile-content">
                            <span class="mark official">OFFICIAL</span>
                            <span class="mark gm">GM</span>
                            <span class="mark cm">CM</span>
                            <span href="#" class="profile-name">아이디노출최대20자아이디노출최대20자</span>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>