{% macro onlyIcon(iconClass,txt,linkType,state,hasQuantity) %}
  {% if linkType %}
    <a href="#" class="element-icon{% if hasQuantity %} type-cart{% endif %} {{ iconClass }} {{ state }}" >{{ txt }}
      {% if hasQuantity %}
        <span class="cart-badge">{{ hasQuantity }}</span>
      {% endif %}
    </a>
  {% else %}
    <button type="button" class="element-icon{% if hasQuantity %} type-cart{% endif %} {{ iconClass }}" {{ state }}>{{ txt }}
      {% if hasQuantity %}
        <span class="cart-badge">{{ hasQuantity }}</span>
      {% endif %}
    </button>
  {% endif %}
{% endmacro %}