<html lang="ko">
<head>
    <title>Layout Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">	
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Reset.css -->
    <link rel="stylesheet" href="../../../static/css/reset.css">
    <!-- Font.css -->
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/fonts/intel/StoveFont-Global.css">
    <link rel="stylesheet" href="../../../static/fonts/kr/StoveFont-KR.css">
    <link rel="stylesheet" href="../../../static/fonts/sc/StoveFont-SC.css">
    <link rel="stylesheet" href="../../../static/fonts/tc/StoveFont-TC.css">
    <link rel="stylesheet" href="../../../static/fonts/jp/StoveFont-JP.css">
    <link rel="stylesheet" href="../../../static/fonts/thai/StoveFont-Thai.css">
    <!-- layout.css -->
    <link rel="stylesheet" href="../../../static/css/layout.css">
    <!-- UI.css -->
</head>
<body>
<!-- Layout 관련 Class Name -->
<!-- 
layout-basic
layout-information
layout-s-one-rail
layout-b-one-rail
layout-two-rail
layout-side-rail
-->
<div class="layout">
    <div class="layout-information">
        <div class="margin-blue"></div>
        <div class="margin-blue"></div>

        <div class="container">
            <nav class="nav-area" style="background: rgba(255, 130, 0, 0.2);"></nav>
            <div class="content-area" style="background: rgba(255, 130, 0, 0.2);"></div>
        </div>
        
        <p class="pc" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <b style=" font-size: 24px;">Layout Information</b> <br>
            width: 1280px; <br>
            padding: 48px; <br>
            정보형 (1280해상도만 사용)<br>
        </p>
        
        <p class="tablet" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <b style=" font-size: 24px;">Tablet</b>
        </p>
        <p class="mobile" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <b style=" font-size: 24px;">Mobile</b>
        </p>    
    </div>
</div>
</body>
</html>